extends ../framework/layout

block head

    link(rel='stylesheet', href='/stylesheets/apps/classes.css')
    link(rel='stylesheet', href='/stylesheets/custom/classes.css')
    
    script(src='/javascripts/apps/classes.js')
    script(src='/javascripts/custom/classes.js')

block body

    body.surface-level-1.no-summary
        
        #header.dark
            #header-logo
            #header-title= title
            #header-subtitle.hidden
            #header-toolbar
                .button#toggle-classes.with-toggle.toggle-off.hidden(title='Toggle class tree on the left side on / off') Toggle Class Tree
                .button#toggle-summary.with-toggle.toggle-off(title='Toggle details panel on the right side on / off') Toggle Details Panel
                #header-avatar
        
        #landing.screen 

            .surface-level-3#classes.pos-abs-left
            .surface-level-2#filters
            .surface-level-1#contents
            .surface-level-3#summary.pos-abs-right