extends ../framework/layout

block head

    link(rel='stylesheet', href='/stylesheets/apps/dashboard.css')
    link(rel='stylesheet', href='/stylesheets/custom/dashboard.css')
    script(src='https://cdn.jsdelivr.net/npm/chart.js')
    script(src='/javascripts/apps/dashboard.js')
    script(src='/javascripts/custom/dashboard.js')
    script.
        config = !{JSON.stringify(config)}
        menu   = !{JSON.stringify(menu)};

block body

    body.surface-level-1.no-new

        #header.dark
            #header-logo
            #header-title
            #header-toolbar
                #header-search-icon.icon.xs search
                input#header-search
                #header-avatar

        #profiles.screen 
            .screen-content
                .screen-title Select Profile
                .screen-message Please select a configuration profile from the list below to open the matching dashboard
                .screen-list

        #main.screen.hidden

            #new.panel.surface-level-2
                .panel-header
                    .panel-title
                        .panel-title-main Initiate New Process
                .panel-message You encountered an issue? Please provide a few details below and let us fix the problem. You can provide more details and also upload files in the next step.
                .panel-content#new-sections

            #list.surface-level-1
                .panel-header
                    .panel-title
                        .panel-title-main Track Your Processes
                    .panel-controls
                        select.button#view(name='view') 
                            option(value='recents') List Recent Proceses
                            option(value='bookmarks') List Pinned Proceses
                            option(value='mow') List Proceses Requiring Action
                            option(value='all') List All Processes
                            option(value='calendar') Browse By Creation Date
                            option(value='progress') View Processes By Progress
                            option(value='timeline') View Process Timeline Chart
                .panel-content#views.surface-level-1

                    #recents.list.tiles.l
                    #bookmarks.list.tiles.l
                    #mow.list.tiles.l
                    #all.list.tiles.l

                    #progress

                    #timeline
                        canvas#chart

                    #calendar
                        .panel-content-left#calendar-months
                            #calendar-month-3.month     
                            #calendar-month-2.month     
                            #calendar-month-1.month 
                        .panel-content-right#calendar-list
                            table#calendar-table
                                thead#calendar-table-head 
                                    tr 
                                        th Process 
                                        th Creation Date 
                                        th Last Modification Date 
                                        th Status
                                tbody#calendar-table-body

        #item.screen