extends ../framework/layout

block head

    link(rel='stylesheet', href='/stylesheets/apps/explorer.css')
    link(rel='stylesheet', href='/stylesheets/custom/explorer.css')
    script(src='/javascripts/apps/explorer.js')
    script(src='/javascripts/custom/explorer.js')
    script.
        config = !{JSON.stringify(config)}
        menu   = !{JSON.stringify(menu)};

block body

    body.surface-level-1.text-selection-off.no-attachments.screen-startup

        #header.dark
            #header-logo
            #header-title= title
            #header-subtitle.main
            #header-toolbar
                .landing#button-toggle-recents.button.with-icon.icon-toggle-on.filled(title='Click to toggle Recently Viewed & Bookmarks panel on/off') Show Recents &amp; Bookmarks
                .landing#button-toggle-search.button.with-icon.icon-toggle-on.filled(title='Click to toggle Search panel on/off') Show Search
                select.explorer#select-version.button.main
                .explorer#button-home.button.with-icon.icon-home(title='Browse availalbe products') Home
                .explorer#button-toggle-dashboard.button.with-icon.icon-dashboard(title='Click to toggle dashboard panel on/off') Dashboard
                .explorer#button-toggle-bom.button.with-icon.icon-bom(title='Click to switch BOM display form tree to table and back') BOM
                .explorer#button-toggle-attachments.button.with-icon.icon-pdf(title='Click to toggle files panel on/off') Files
                .explorer#button-toggle-details.button.with-icon.icon-panel(title='Click to toggle details panel on/off') Details
                .explorer#button-toggle-processes.button.with-icon.icon-workflow(title='Click to toggle processes panel on/off') Processes
                #header-avatar
        
        .screen#landing

            #recents.surface-level-2
            #search.surface-level-2
            #products.surface-level-1
            #bookmarks.surface-level-2

        .screen#main

            #dashboard.no-toolbar.surface-level-2
                .panel-header
                    .panel-title
                        .panel-title-main#dashboard-title Dashboard
                    .panel-controls#dashboard-toolbar
                        .button.icon.xs.icon-clear#dashboard-reset
                        .button.icon.xs.icon-fold#collapse-all-kpis
                        .button.icon.xs.icon-unfold#expand-all-kpis 
                        .button.icon.xs.icon-refresh#dashboard-refresh(title='Click to reload KPIs')
                #dashboard-panel.no-scrollbar
                #dashboard-counter
                    

            #bom
                .panel-header
                    .panel-title
                        .panel-title-main Bill of Materials
                    .panel-controls
                        .button.default#save-bom-changes(title='Save changes') Save
                        .button.icon.bom-action.icon-send#send-selected(title='Create new Supplier Package for selected items')
                        .button.icon.bom-action.icon-north-east#go-there(title='Open explorer for selected BOM item')
                        .button.icon.icon-clear.bom-action.xs#bom-reset(title='Click to deselect BOM item and to reset viewer')
                        .button.with-icon.icon-filter
                            input#bom-search-input(placeholder='Filter')
                .panel-content#bom-tree.no-colors.no-scrollbar
                    table#bom-table-tree(cellspacing='0')
                .panel-content#flat-bom.no-colors
                    table#bom-table-flat(cellspacing='0')

            #viewer.viewer          

            #attachments.surface-level-1

            #create.dialog

            .panel.surface-level-2#details
                .panel-header   
                    .panel-title Details 
                    .panel-toolbar 
                        .button.icon.icon-bookmark#bookmark
                        .button.icon.icon-open#open
                        .button.default#save(title='Save changes') Save
                .panel-content.surface-level-2.no-scrollbar#details-sections

            .panel.surface-level-2#processes
            
            .dialog#create-connect
                .dialog-header Create Supplier Package
                .dialog-content#create-connect-sections.no-scrollbar.surface-level-1
                .dialog-footer
                    #create-connect-confirm.button.default Confirm
                    #create-connect-cancel.button Cancel