extends ../framework/layout

block head
    
    link(rel='stylesheet', href='/stylesheets/framework/addins.css')
    link(rel='stylesheet', href='/stylesheets/apps/instances.css')
    link(rel='stylesheet', href='/stylesheets/custom/instances.css')

    script(src='/javascripts/framework/addins.js')
    script(src='/javascripts/apps/instances.js')
    script(src='/javascripts/custom/instances.js')

block body

    body.surface-level-1.no-details.screen-landing.no-ecad

        #header.dark
            #header-logo
            #header-title= title
            #header-subtitle
            #header-toolbar
                select#mode.button.disabled
                    option(value='all') Display All Items
                    option(value='tab') Selected Tab / Type
                    option(value='mat') Matched Items
                    option(value='not') Non-Matched Items
                #bom-sync.disabled.button.default.with-icon.icon-refresh.hidden(title="Synchronize grid entries with the BOM tree") Sync with BOM
                #excel-export.disabled.button.with-icon.icon-download(title="Download the grid to an Excel sheet") Download Excel
                #toggle-layout.button(title="Toggle between horizontal and vertical layout") Toggle Layout
                #toggle-bom.button.with-toggle.toggle-on(title="Toggle BOM display to the left on and off") Display BOM
                #toggle-ecad-bom.button.with-toggle.toggle-on.hidden(title="Toggle BOM display to the right on and off") Electrical BOM
                #toggle-details.button.with-toggle.toggle-off(title="Toggle Item Details panel on and off") Display Details
                #header-avatar
        
        #landing.screen.no-header

            #results.surface-level-1

        #main.screen

            #bom.surface-level-2
            #details.surface-level-2
            #viewer.surface-level-1.viewer
            #contents.surface-level-1
                #tabs.tabs
                #items
            #ecad.surface-level-2.pos-abs-right

            #sync.dialog.review-changes
                .dialog-header 
                    .dialog-title Synchronize instances tables with Bill of Materials
                    .dialog-close.icon.icon-close.button.sync-close
                .dialog-content
                    table#sync-table
                        thead#sync-thead
                            tr#sync-throw
                                th(colspan='2')
                        tbody#sync-tbody
                            tr#sync-matches
                                td.sync-icon 
                                    .icon.icon-checkmark.filled
                                td Matching Instances
                            tr#sync-update
                                td.sync-icon  
                                    .icon.icon-product-alert.filled
                                td Instances with path update
                            tr#sync-new
                                td.sync-icon 
                                    .icon.icon-create.filled
                                td New Instances
                            tr#sync-ecad
                                td.sync-icon 
                                    .icon.icon-cpu.filled
                                td ECAD Instances
                            tr#sync-mismatch
                                td.sync-icon  
                                    .icon.icon-warning.filled
                                td Entries requiring action (mapping / removal)
                    #sync-message 
                        #sync-no-changes There are no changes required. You can close this dialog.
                        #sync-review-changes Multiple changes are required as can be seen above. 
                            br 
                            |These changes have not been saved in PLM yet, you have to confirm by clicking the Save button.
                            br
                            |You can also close this dialog and review the outcome first before saving changes in each tab individually.
                .dialog-footer
                    #sync-close.button.sync-close.default Close
                    #sync-save.button Save New &amp; Updated Entries

            iframe#frame-download(name='frame-download' style="display:none")