extends ../framework/layout

block head
    
    link(rel='stylesheet', href='/stylesheets/apps/portal.css')
    script(src='/javascripts/apps/portal.js')
    script.
        config = !{JSON.stringify(config)}
        menu   = !{JSON.stringify(menu)};

block body

    body.surface-level-1.no-attachments.no-bom

        #header.dark
            #header-logo
            #header-title= title
            #header-subtitle
            #header-toolbar
                .button.with-icon.icon-toggle-on.filled#toggle-search(title='Toggle search panel') Search
                .button.with-icon.icon-toggle-off#toggle-bom(title='Toggle BOM panel') BOM
                .button.with-icon.icon-toggle-off#toggle-attachments(title='Toggle files panel') Files
                #header-avatar
        
        #main.screen

            .surface-level-2#search
            .surface-level-2#recents

            .surface-level-1.item-panel#bom
            .surface-level-1.item-panel#viewer.viewer
            .surface-level-2.item-panel#details
            .surface-level-2.item-panel#attachments