extends ../framework/layout

block head

    link(rel='stylesheet', href='/stylesheets/apps/projects.css')

    script(src='https://cdn.jsdelivr.net/npm/chart.js')
    script(src='https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js')
    script(src='../javascripts/apps/projects.js')

    script.
        config = !{JSON.stringify(config)}
        menu   = !{JSON.stringify(menu)};

block body

    body.surface-level-3 

        #header
            #header-logo
            #header-title= title
            #header-subtitle Track your active NPI projects progression and status in real time
            #header-toolbar
                #header-avatar

        #charts.dashboard
            div
                .title Gates Timeline
                #gates.chart-graphic
            div.half
                .title Status Report
                table#table-status
                    tr
                        th Project
                        th Schedule
                        th Resources
                        th Budget
                        th Risks
            div.half
                .title KPIs
                table#table-kpis
                    tr
                        th Project
                        th Progress
                        th Budget
                        th Phase Progress
            div
                .title Planned Efforts
                #efforts.chart-graphic
            div
                .title Project Deviation
                #deviations.chart-graphic
