extends ../framework/layout

block head

    link(rel='stylesheet', href='/stylesheets/apps/reports.css')
    link(rel='stylesheet', href='../javascripts/libs/DataTables-1.12.1/datatables.min.css')
    
    script(src='../javascripts/libs/DataTables-1.12.1/datatables.min.js')
    script(src='https://cdn.jsdelivr.net/npm/chart.js')
    script(src='../javascripts/apps/reports.js')

    script.
        config = !{JSON.stringify(config)}
        menu   = !{JSON.stringify(menu)};

block body

    body.surface-level-2 

        #header
            #header-logo
            #header-title= title
            #header-toolbar
                #add.button.default Select Reports
                #header-avatar

        #reports.dashboard.no-scrollbar
        
        .dialog
            .dialog-header Select reports to display in dashboard
            .dialog-content.surface-level-1.tiles.grid.m#list 
            .dialog-footer
                .button.clear Deselect All
                .button.default#submit Apply 
                .button.cancel Cancel