extends ../framework/layout

block head

    link(rel='stylesheet', href='/stylesheets/apps/service.css')
    link(rel='stylesheet', href='/stylesheets/custom/service.css')
    script(src='/javascripts/apps/service.js')
    script(src='/javascripts/custom/service.js')
    script.
        config = !{JSON.stringify(config)};

block body

    body.text-selection-off.surface-level-1.screen-landing.no-attachments

        #header.dark
            #header-logo
            #header-title= title
            #header-subtitle
            #header-toolbar
                #home.button.with-icon.icon-home.requires(title='Close this product display and return to landing page') Home
                #toggle-bom.button.with-icon.icon-bom-tree(title='Toggle BOM display on/off') Toggle BOM
                #toggle-attachments.button.with-icon.icon-pdf(title='Toggle selected items files list on/off') Toggle Files
                #toggle-details.button.with-icon.icon-details(title='Toggle selected item details on/off') Toggle Details
                #toggle-panel.button.with-icon.icon-tiles-list(title='Toggle right hand side panel on and off') Toggle Panel
                #header-avatar

        .screen#landing 
            .panel#products.surface-level-1 
            .panel#requests.surface-level-2

        .screen#main

            .panel#bom.surface-level-1

            #viewer.viewer.surface-level-1

            #attachments           

            #details.panel
                .panel-header   
                    .panel-title Details 
                    .panel-toolbar 
                        .button.icon.icon-bookmark#bookmark
                        .button.icon.icon-open#open
                .panel-content.surface-level-2.compact#details-sections

            .panel#panel
                #cart.surface-level-3.collapsed
                    #cart-header
                        #cart-title.with-icon Your Cart
                        #cart-toolbar   
                            .button.icon.icon-viewer#filter-cart(title='Display items of cart in viewer only')
                            .button.icon.icon-cart-clear#clear-cart(title='Clear cart, remvoe all parts')
                            .button.with-icon.icon-cart-checkout.default#submit-request(title='Review and confirm list of selected spare parts before submitting the request') Send Request
                    #cart-list.tiles.list.m
                    #cart-counter
                .tabs#tabs(data-tab-group="tab-group-main")
                    div#tab-spare-parts.selected(data-id='items') Spare Parts
                    div#tab-processes(data-id='processes') Problem Reports
                    div#tab-charts.hidden(data-id='charts') Maintenance
                .panel-content.tab-group-main#items
                    #items-toolbar.panel-content-toolbar
                        .button.icon.icon-viewer#filter-list(title='Display this list of items in viewer only')
                        .button.icon.icon-stock#color-stock(title='Display spare part availability in viewer')
                        .button.with-icon.icon-search-list
                            input#spare-parts-search-input(placeholder="Search")
                    #items-list.list.tiles.l.no-scrollbar.surface-level-1
                .panel-content.tab-group-main#processes
                .panel-content.tab-group-main#charts
                    #charts-list
                        .chart-title Wear Parts
                        .wear-parts#wear-parts
                        .chart-title Print Jobs
                        .chart
                            canvas#chart-jobs(width='400' height='200') 
                        .chart-title Supplies
                        .chart
                            canvas#chart-supplies 
                        .chart-title Temperature
                        .chart
                            canvas#chart-temperature
                        .toolbar 
                            #remote-control.button Remote Control
                            #qr-code.button 
                                img.qr-code

            #request-creation.dialog.surface-level-1
                .dialog-header New Spare Parts Request
                .dialog-content
                    .col-left 
                        .col-header Contact Details
                        #contact-details
                            .field 
                                .field-label Company
                                input.field-value#request-company
                            .field 
                                .field-label Name
                                input.field-value#request-name
                            .field 
                                .field-label E-Mail
                                input.field-value#request-e-mail
                            .field 
                                .field-label Address
                                input.field-value#request-address
                            .field 
                                .field-label City
                                input.field-value#request-city
                            .field 
                                .field-label Postal Code
                                input.field-value#request-postal
                            .field 
                                .field-label Country Code
                                input.field-value#request-country
                        #contact-comments
                            div
                                .col-header#header-shipping-address Shipping Address
                                textarea#request-shipping-address
                            div
                                .col-header#header-comments Comments
                                textarea#reqeust-comments
                    .col-right
                        .col-header Selected Spare Parts
                        #request-list
                .dialog-footer
                    #request-creation-submit.button.default Submit
                    #request-creation-cancel.button Cancel

        .screen#request.surface-level-2 

            .item-header
                .item-title
                    .item-descriptor 
                    .item-details 
                        .item-status
                        .item-summary Created by 
                            span.item-created-by 
                            |  on 
                            span.item-created-on
                            |. Last modified by 
                            span.item-modified-by 
                            |  on 
                            span.item-modified-on 
                            |.
                .item-toolbar.panel-toolbar#item-toolbar
                    select.button#workflow-actions
                    .button#bookmark.icon.icon-bookmark
                    .button.icon.icon-close#close-item

            .item-content 
                #request-workflow-history.surface-level-1 
                #request-details.surface-level-1 
                #request-grid.surface-level-1 
                #request-attachments.surface-level-1 