/*  VARIABLES */
/* ----------------------------------------------------------------------------- */
:root {

    --border-h      : 32px;
    --border-v      : 24px;
    --width-bom     : 600px;
    --width-details : 400px;
    --width-viewer  : 600px;
    --height-viewer : 400px;
}


/*  MASTER LAYOUT */
/* ----------------------------------------------------------------------------- */
#results {
    border-width    : var(--border-v) var(--border-h);
    top             : 0px;
    bottom          : 0px;
    left            : 0px;  
    right : 0px;
}
#bom {
    border-width    : var(--border-v) var(--border-h);
    top             : 0px;
    bottom          : 0px;
    left            : 0px;
    width           : var(--width-bom);
    z-index         : 1;
}
#details {
    border-width    : var(--border-v) var(--border-h) var(--border-v) 0px;
    top             : 0px;
    bottom          : 0px;
    left            : calc(var(--width-bom) + (2 * var(--border-h)));;
    width           : var(--width-details);
}
.viewer {
    top     : 0px;
    right   : 0px;
    bottom  : 60%;
    left    : calc(var(--width-bom) + var(--width-details) + (3 * var(--border-h)));
}
#contents {
    border-width    : var(--border-v) var(--border-h);
    top             : 40%;
    right           : 0px;
    left            : calc(var(--width-bom) + var(--width-details) + (3 * var(--border-h)));
    bottom          : 0px;
}
#items {
    position : absolute;
    top      : 58px;
    right    : 0px;
    left     : 0px;
    bottom   : 0px;
}


.layout-h .viewer {
    right  : unset;
    bottom : 0px;
    width  : var(--width-viewer);
}
.layout-h #contents {
    top  : 0px;
    left : calc(var(--width-bom) + var(--width-viewer) + (2 * var(--border-h)));
}

.no-bom .viewer,
.no-bom #contents { left : calc(var(--width-details) + (2 * var(--border-h))); }
.no-bom #bom      { left : calc(-1px - var(--width-bom) - (2 * var(--border-h))); }
.no-bom #details  { left : 0px; border-left-width : var(--border-h); }

.no-bom.layout-h #contents {
    left : calc(var(--width-viewer) + (1 * var(--border-h)));
}

.no-details #details  { left : calc(-1px - var(--width-details) - (2 * var(--border-h)));}
.no-details .viewer   { left : calc(var(--width-bom) + (2 * var(--border-h)));}
.no-details #contents { left : calc(var(--width-bom) + (2 * var(--border-h)));}

.no-bom.no-details .viewer,
.no-bom.no-details #contents {
    left : 0px;
}
.no-bom.no-details #bom { left : calc(-1px - var(--width-bom) - (2 * var(--border-h))); }

.screen-landing #main,
.screen-landing #header-subtitle,
.screen-landing #header-toolbar .button { display : none; }
.screen-main #landing { display : none; }

.embedded #bom { display : none; }
.embedded .viewer {  right : unset; bottom : 0px; left : 0px; width : 400px; }
.embedded #contents { top : 0px; left : 400px; }
.embedded #message { 
    right   : 0px; 
    bottom  : 0px; 
    left    : 0px; 
    padding : 10px 20px 10px 64px;
}
.embedded #message::after {
    font-size   : 30px;
    font-weight : 200;
    top         : 16px;
    left        : 16px;
}

.panel-actions .with-toggle::after { line-height : 36px; }


/*  BOM */
/* ----------------------------------------------------------------------------- */
.column-icon {
    text-align  : center;
    width       : 34px;
}
td.column-icon {
    font-size       : 22px;
    font-weight     : 200;
    line-height     : 34px;
    padding-bottom  : 0px !important;
    padding-top     : 0px !important;
}



/*  TABS */
/* ----------------------------------------------------------------------------- */
#tabs > div {
    display         : flex;
    gap             : 6px;
    justify-content : center;
}
#tabs > div::before {
    font-weight : 300;
} 



/*  ITEMS */
/* ----------------------------------------------------------------------------- */
 table.row-hovering tr.highlighted:hover > td,
table.row-hovering tbody tr.highlighte:hover > td,
tr.highlighted > td {
    border-color : var(--color-status-red) !important;
    background   : var(--color-status-red) !important;
}
#items .panel-actions {
    justify-content : end;
}

#items .column-NUMBER {
    max-width : 140px;
    min-width : 140px;
    width     : 140px;
}
#items .column-SERIAL {
    max-width : 140px;
    min-width : 140px;
    width     : 140px;
}
#items .column-INSTALLATION_DATE {
    max-width : 106px;
    min-width : 106px;
    width     : 106px;
}
#items .column-INSTANCE_ID {
    display : none;
}
.panel-action-remove {
    order : -2;
}
.panel-action-clone {
    order : -1;
}
.sync-status > .icon-remove { color : var(--color-status-red   ); }
.sync-status > .icon-info   { color : var(--color-status-yellow); }
.sync-status > .icon-check  { color : var(--color-status-green ); }
/*
#items td {
    background : var(--color-surface-level-2);

}
#items td input {
    background : var(--color-surface-level-2);
    width : auto;
}

#items .column-INSTANCE_ID {
    display : none;
}
#items .column-BOM_PATH {
    min-width : 26px;
}
#items .column-BOM_PATH input {
    min-width : 260px;
}
#items .table.s td {
    padding : 2px !important;
}
#items .table.s input {
    padding : 4px;
} */