:root {

    --height-recents    : 324px;
    --width-panel       : 400px;
    --width-filters     : 400px;
    --height-restore    : 168px;
    --padding-main-h    : 50px;
    --padding-main-v    : 30px;
    
    /* --width-new             : 450px;
    --margin-main           : 40px;
    --padding-panel         : 40px;
    --margin-item           : 30px;
    --margin-item-panels    : 24px;
    --padding-item          : 30px;
    --width-workflow        : 200px;
    --width-details         : 360px;
    --width-attachments     : 300px;
    --height-markups        : 140px;
    --height-attachments    : 160px; */

}

/* .processing { position: unset;} */



/* ADDITIONS */
/* ----------------------------------------------------------------------------- */
/* .panel { background : white; border-radius : 3px; padding : 20px var(--padding-panel) 28px; } */
.panel.collapsed { padding-bottom : 20px; }
.panel.expanded  .icon-expand { display : none; }
.panel.collapsed .icon-collapse { display : none; }
.panel.collapsed .panel-header { border: none; }
.panel.collapsed .panel-title { padding-bottom : 14px; }
.panel.collapsed .panel-content { display : none !important; }
/* .panel-title > .icon { margin-right : 8px; } */
/* .panel-content { position: unset; } */
#attachments-upload { display : none; }
/* .attachments-list {
    top     : 76px;
    right   : var(--padding-item);
    bottom  : var(--padding-item);
    left    : var(--padding-item);
} */

#progress .tile-status {
    display : none;
}


/* MASTER LAYOUT */
/* ----------------------------------------------------------------------------- */
#recents {
    border-width    : var(--padding-main-v) var(--padding-main-h);
    top             : 0px;
    left            : 0px;
    height          : var(--height-recents);
    width           : var(--width-panel);
}
#bookmarks {
    border-width    : var(--padding-main-v) var(--padding-main-h);
    top             : calc(var(--height-recents) + (2 * var(--padding-main-v)));
    bottom          : 0px;
    left            : 0px;
    width           : var(--width-panel);
}
#search {
    border-width    : var(--padding-main-v) var(--padding-main-h);
    top             : 0px;
    right           : 0px;
    bottom          : 0px;
    left            : calc(var(--width-panel) + (2 * var(--padding-main-h)));
}
#filters {
    top         : 0px;
    bottom      : var(--height-restore);
    left        : 0px;
    width       : var(--width-filters);
    position    : absolute;
}
#restore {
    position    : absolute;
    bottom      : 0px;
    left        : 0px;
    width       : calc(var(--width-filters) - 40px);

}
#results {
    position    : absolute;
    top         : 0px;
    right       : 0px;
    bottom      : 0px;
    left        : calc(var(--width-filters) + var(--padding-main-h));
}

body.no-panel #recents,
body.no-panel #bookmarks { left : calc(0px - var(--width-panel) - (2 * var(--padding-main-h))); }
body.no-panel #search { left : 0px; }


/* FILTERS */
/* ----------------------------------------------------------------------------- */
#filters-list {
    padding : 20px 0px;
}
.filter {
    margin-bottom : 20px;
}
.filter-name {
    padding-bottom : 6px;
}
.filter-select {
    background      : var(--color-surface-level-2) !important;
    border          : none;
    border-bottom   : 1px solid var(--color-surface-level-4);
    height          : unset;
    width           : 100%;
}
.filter-text,
.filter-numeric {
    display         : flex;
    justify-content : space-between;
    gap             : 10px;
}
.filter-text > input,
.filter-numeric > input {
    flex-grow   : 1;
    text-align  : center;
    width       : 33%;
}


/* RESOTRE */
/* ----------------------------------------------------------------------------- */
#restore {
    padding : 10px 20px;
}
#restore > div {
    display         : flex;
    gap             : 20px;
    line-height     : 36px;
    padding         : 10px 0px;
}
#restore > div > div {
    flex-grow       : 1;
    flex-basis      : auto;
    justify-content : space-between;
    white-space     : nowrap;
}
#select-filter {
    height  : 38px;
    width   : 100%;
}
#restore-save {
    display : flex;
    gap     : 10px;
}
#save-new-filter {
    min-width   : unset;
    width       : 100%;
}
#restore input {
    background      : var(--color-surface-level-1);
    border-color    : var(--color-surface-level-5);
    padding         : 2px 8px;
}
input {
    background : var(--color-surface-level-2);
    border-color : var(--color-surface-level-4);
}



#profiles { display : none; }
#new {
    width   : var(--width-new);
    top     : 0px;
    right   : 0px;
    bottom  : 0px;
}




#details-sections .section-fields .field-label {
    width : unset;
}
body.no-viewer #details-sections .section-fields .field {
    flex-direction : row;
}
body.no-viewer #details-sections .section-fields .field .field-label {
    text-align : right;
    width: var(--width-field-label);
}
body.no-viewer .attachment { height : 58px !important; }
body.no-viewer .attachment-details > div { display : block; }
body.no-viewer .attachment-graphic { width : 64px; }
body.no-viewer .tiles.list.files { gap: var(--spacer-xs); }

body.no-markup #viewer { bottom : 0px !important; }
body.no-markup #markups { display : none; }
body.no-new #new {    display: none;}
body.no-new #list {right : var(--margin-main);}

body.no-profile #header,
body.no-profile #main,
body.no-profile #item { display : none; }
body.no-profile #profiles { display : block; }


/* PROFILES */
/* ----------------------------------------------------------------------------- */
.screen-content {
    display         : flex;
    flex-direction  : column;
    gap             : 30px;
    text-align      : center;
    top             : calc(50% - 400px);
    right           : calc(50% - 475px);
    width           : 950px;
}
.screen-title {
    border-bottom   : 2px solid var(--color-surface-level-5);
    font-size       : 32px;
    font-weight     : 800;
    padding         : 0px 0px 24px;
}
.screen-list {
    display         : flex;
    gap             : 10px;
    padding         : 20px;
    justify-content : center;
    flex-wrap       : wrap;
}
.screen-list-tile {
    cursor      : pointer;
    min-width   : 160px;
    max-width   : 160px;
    padding     : 30px;
}
.screen-list-tile:hover {
    background : var(--color-surface-level-5);
}
.screen-list-tile-icon {
    font-size       : 60px;
    line-height     : 60px;
    font-weight     : 200;
    margin-bottom   : 10px;
}


/* NEW */
/* ----------------------------------------------------------------------------- */
#new {
    border-width : var(--margin-main) 
}
.panel-message {
    padding: 20px 14px;
    margin: 0px 0px;
    border-radius: 4px;
    line-height: 18px;
}
#new-sections {
    /* border-top : 16px solid #f5f5f5; */
    /* border-bottom : 16px solid #f5f5f5; */
    overflow-y: auto;
    padding: 16px;
    position : absolute;
    top: 140px;
    right : 0px;
    bottom: 54px;
    left: 0px;
}
#new-sections .section-fields {
    padding : 0px;
}
#new-sections .field {
    border : none;
    padding : 6px 0px;
}
#new-sections .field-label {
    color : var(--color-font) !important;
    width : 120px
}
#new-sections .field-value {
    width : calc(100% - var(--padding-field-label) - 120px);
}
#new-sections .section,
#new-sections .field {
    display : none;
}
#new .panel-toolbar {
    padding : 0px;
    position : absolute;
    right : 0px;
    bottom : 0px;
}
#continue {
    display : flex;
    margin : 0px;
    padding-left : 30px;
}
#continue::after {
    font-size: 24px;
    font-weight: 200;
    line-height: 20px;
    content: '\e5cc';
    font-family: 'Material Symbols Sharp';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}



/* LIST */
/* ----------------------------------------------------------------------------- */
#list {
    display         : flex;
    flex-direction  : column;
    gap             : 16px;
    overflow-y      : auto;
}
#list > .panel-content > div {
    display : none;
}


/* PROGRESS COLUMNS */
/* ----------------------------------------------------------------------------- */
#progress {
    background      : var(--color-surface-level-2);
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
}
#progress > div {
    border-left     : 5px solid var(--color-surface-level-1);
    border-right    : 5px solid var(--color-surface-level-1);
    flex-grow       : 1;
    width           : 25%;
}
#progress > div:first-of-type {
    border-left : none;
}
#progress > div:last-of-type {
    border-right : none;
}
.progress-title {
    color : white;
    font-weight : bold;
    padding : var(--spacer-xxs);
    text-align : center;
}
.progress-column {
    margin-top : 8px;
    min-height : 36px;
}
.progress-column.tiles.list.l .tile-image {
    width : 36px;
}
.progress-column.tiles.list.l .tile-image > span {
    font-size : 24px;
}
.progress-column.tiles.list.l .tile-details {
    width : calc(100% - 74px);
}
.tile-title,
.tile-subtitle {
    white-space : nowrap;
    overflow : hidden;
    text-overflow: ellipsis;
}


/* ITEM */
/* ----------------------------------------------------------------------------- */
#item {
    border-width : 40px;
}
#workflow-actions {
    padding : 8px 12px;
}