:root {

    --border-h : 28px;
    --border-v : 14px;

    --height-related : 400px;
    --width-details  : 600px;
}



/* MASTER LAYOUT */
/* ----------------------------------------------------------------------------- */

#details,
#tree,
#related { border-width : var(--border-v) var(--border-h); }
#tree {
    top    : 0px;
    right  : calc(var(--width-details ) + (2 * var(--border-h)));
    bottom : calc(var(--height-related) + (2 * var(--border-v)));
    left   : 0px;
}
#details { width : var(--width-details); }
#related { height : var(--height-related); }

.no-details #tree { right : 0px; }
.no-details #details { right : calc(-1px - var(--width-details) - (2 * var(--border-h))); }

.no-related #tree { bottom : 0px; }



/* TREE COLUMNS */
/* ----------------------------------------------------------------------------- */
.content-item-check-box,
.tree-color,
.tree-first-col { background : var(--color-surface-level-3) !important; }


/* STATUS COLUMN */
/* ----------------------------------------------------------------------------- */
.column-status {
    max-width : 120px;
    min-width : 120px;
    width : 120px;
    text-align : center;
}


/* MATRIX COLUMNS */
/* ----------------------------------------------------------------------------- */
th .matrix-head { 
    cursor : pointer;
    display : flex;
    flex-direction : column;
    font-size : 12px;
    font-weight : normal;
    line-height : 18px;
        padding-top : 6px;
    padding-bottom : 6px;
}

.column-status.failed  { background : var(--color-status-red)   !important; }
.column-status.success { background : var(--color-status-green) !important; }
.column-status.pending { background : var(--color-blue-500)     !important; }

td.column-matrix { font-weight : bold; }
.column-matrix.failed  { color : var(--color-status-red)   !important; }
.column-matrix.success { color : var(--color-status-green) !important; }