/* VARIABLES */
/* ----------------------------------------------------------------------------- */
:root {

    --border-h      : 36px;
    --border-v      : 24px;
    --width-bom     : 600px;
    --width-panel   : 500px;
    --width-details : 300px;

}


/*  MASTER LAYOUT */
/* ----------------------------------------------------------------------------- */
.viewer {
    top     : 0px;
    right   : calc(var(--width-bom) + var(--width-panel) + var(--width-details) + (6 * var(--border-h)));
    bottom  : 0px;
    left    : 0px;
}
#bom {
    border-width : var(--border-h) var(--border-h) var(--border-v);
    top     : 0px;
    right   : calc(var(--width-panel) + var(--width-details) + (4 * var(--border-h)));
    bottom  : 0px;
    width   : var(--width-bom);
    z-index : 5;
}
#panel {
    border-width : var(--border-h) var(--border-h) var(--border-v);
    top     : 0px;
    right   : calc(var(--width-details) + (2 * var(--border-h)));
    bottom  : 0px;
    width   : var(--width-panel);
}
#details {
    border-width : var(--border-h) var(--border-h) var(--border-v);
    top     : 0px;
    right   : 0px;
    bottom  : 0px;
    width   : var(--width-details);
}


/* .no-viewer .viewer { left : 0px; right : 50%; width : unset; } */
.no-viewer #bom    { left : 0px; right : 50%; width : unset; }
.no-viewer #panel  { left : 50%; right : 0px; width : unset; }

.no-details .viewer  { right : calc(var(--width-bom) + var(--width-panel) + (4 * var(--border-h))); }
.no-details #bom     { right : calc(var(--width-panel) + (2 * var(--border-h)));  }
.no-details #panel   { right : 0px; }
.no-details #details { right : calc(-1px - var(--width-details) - (2 * var(--border-h))); }

.viewcubeWrapper { display : none !important; }


/*  SERVICES */
/* ----------------------------------------------------------------------------- */
#serivce-offerings {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.service {
    border-width : 20px;
}
.service-header {
    display : flex;
    gap : 20px;
    height : 36px;
    justify-content: space-between;
}
.service-actions {
    display : none;
    gap : 4px;
}
.service-operations {
    min-height : 80px;
    margin : 20px 0px;
}
.service-items {
    padding : 8px 0px 8px 36px;
    width : 100%;
}
.service-new-operation {
    width : calc(100% - 16px);
}

.service:hover .service-actions {
    display : flex;
}


/*  Serial Numbers */
/* ----------------------------------------------------------------------------- */
/* #grid {
    opacity : 0.85;
    z-index : 5;
} */