:root {

    --width-requests        : 800px;
    --padding-landing-top   : 24px;
    --padding-landing-side  : 40px;
    --padding-landing-bottom: 16px;
    --width-bom             : 500px;
    --width-viewer-wide     : 800px;
    --width-details         : 400px;
    /* --width-panel           : 500px; */
    --height-viewer         : 400px;
    /* --height-attachments    : 184px; */
    --padding-panel         :  24px;

}

#grid { display : none; }


th.instance-path,
td.instance-path { display : none;}

.flat-bom-column-number,
.flat-bom-column-item_number { 
    max-width:  90px !important; 
    min-width :  90px !important; 
    width :  90px !important;}

.flat-bom-item.collapsed .icon-collapse { display : none; }
.flat-bom-item.expanded .icon-expand { display : none; }
.application-data-cell {
    background : transparent !important;
    padding : 20px !important;
    display : none;
}
.application-data-instance.selected td {
    border-color : var(--color-status-red);
    background : var(--color-status-red) !important;
    /* background : var(--color-red-800) !important; */
}
.icon-expand::before,
.icon-collapse::before {
    font-size: 19px;
}


/* .flat-bom-column-m_nenn, */
/* .flat-bom-column-io, */
/* .flat-bom-column-imp_n, */
/* .flat-bom-column-p_nenn,
.flat-bom-column-n_nenn_motor,
.flat-bom-column-n_nenn_motor {
    text-align : right;
} */

.flat-bom-table { width : unset; max-width: 100%; }


/* .flat-bom-column-description input { width : calc(100% - 8px); }*/
.flat-bom-column-m_nenn        input, 
.flat-bom-column-io            input,
.flat-bom-column-imp_n         input,
.flat-bom-column-p_nenn        input ,
.flat-bom-column-n_nenn_motor  input,
.flat-bom-column-brake_voltage input { text-align : right; } 
/* .flat-bom-column-imp_n  input { text-align : right; width :  50px; } */
/* .flat-bom-column-p_nenn input { text-align : right; width :  66px; } */
/* .flat-bom-column-n_nenn_motor input { text-align : right; width :  66px; } */


/* .flat-bom-column-description  { max-width: unset; min-width : 220px; width : 220px; }
.flat-bom-column-m_nenn       { max-width:  70px; min-width :  70px; width :  70px; }
.flat-bom-column-io           { max-width:  54px; min-width :  54px; width :  54px; }
.flat-bom-column-imp_n        { max-width:  54px; min-width :  54px; width :  54px; }
.flat-bom-column-p_nenn       { max-width:  54px; min-width :  54px; width :  54px; }
.flat-bom-column-n_nenn_motor { max-width:  54px; min-width :  54px; width :  54px; } */

.flat-bom-thead th { white-space : normal !important; }

.tabs > div { font-size : 14px;  }
#panel { display : none; }

/* MASTER LAYOUT */
/* ----------------------------------------------------------------------------- */
#landing { display : none; }
#products {
    top     : 0px;
    bottom  : 0px;
    left    : 0px;
    right   : 0px;
    border-width : var(--padding-landing-top) var(--padding-landing-side) var(--padding-landing-bottom);
}
#main { display : none; }
#bom, #panel {
    
    bottom  : var(--padding-panel);
}
#bom {
    top     : var(--padding-panel);
    bottom  : var(--padding-panel);
    left    : var(--padding-panel);
    width   : var(--width-bom);
}
.viewer {
    top     : var(--padding-panel);
    right   : var(--padding-panel);
    left    : calc(var(--width-bom)   + (2 * var(--padding-panel)));
    height  : var(--height-viewer);
}
/* .viewer, */
/* #attachments {
    right  :  calc(var(--width-panel) + (2 * var(--padding-panel)));
    left   :  calc(var(--width-bom)   + (2 * var(--padding-panel)));
}
#attachments {
    display : none;
    bottom : var(--padding-panel);
    height : var(--height-attachments);
} */
#panel {
    top   :  calc(var(--height-viewer) + (2 * var(--padding-panel)));
    right   : var(--padding-panel);
    bottom  : var(--padding-panel);
    left    : calc(var(--width-bom)   + (2 * var(--padding-panel)));
}
#details, #attachments {
    top    : var(--padding-panel);
    right  : calc(0px - (2 * var(--padding-panel)) - var(--width-details));
    bottom : var(--padding-panel);
    width  : var(--width-details); 
}


.screen-landing #landing { display : block; }
.screen-landing #header-subtitle,
.screen-landing #header-toolbar .button { display : none; }
.screen-main #main { display : block; }

.no-panel .viewer           { right : var(--padding-panel); }
.no-panel #attachments      { right : var(--padding-panel); }
.no-panel #details          { right : var(--padding-panel); } 
.no-panel #panel            { right : calc(2 * var(--width-panel) * -1); }

.no-bom #bom         { left : calc(2 * var(--width-bom) * -1); }
.no-bom .viewer      { left : var(--padding-panel); }
.no-bom #attachments { left : var(--padding-panel); }
.no-bom #panel { left : var(--padding-panel); }

/* .no-attachments .viewer      { bottom : var(--padding-panel); }
.no-attachments #attachments { bottom : calc(2 * var(--height-attachments) * -1); } */

.with-details .viewer      { right : calc(var(--width-details) + (3 * var(--padding-panel))); }
.with-details #panel      { right : calc(var(--width-details) + (3 * var(--padding-panel))); }
/* .with-details #attachments { right : calc(var(--width-details) + var(--width-panel) + (3 * var(--padding-panel))); } */
.with-details #details     { right : var(--padding-panel); }


.with-attachments .viewer      { right : calc(var(--width-details) + (3 * var(--padding-panel))); }
.with-attachments #panel      { right : calc(var(--width-details) + (3 * var(--padding-panel))); }
.with-attachments #attachments { right : var(--padding-panel); }

/* .with-details #details     { right : var(--padding-panel); } */

.no-panel.with-details .viewer,
.no-panel.with-details #attachments  { right : calc(var(--width-details) + (3 * var(--padding-panel))); }


.wide-layout #bom { left : calc(2 * var(--width-bom) * -1); }
/* .wide-layout .viewer      { left : var(--padding-panel); height :  unset; bottom : var(--padding-panel); width : var(--width-viewer-wide); } */
.wide-layout .viewer      { left : 0px; height :  unset; bottom : 0px; width : var(--width-viewer-wide); top : 0px; }
.wide-layout #panel { top : 0px; left : calc(var(--width-viewer-wide) + (0 * var(--padding-panel))); bottom : 0px; right : 0px; border-width : var(--padding-panel); }



/* HEADER TOOLBAR */
/* ----------------------------------------------------------------------------- */
#counter {
    background      : var(--color-status-red);
    border-radius   : 50%;
    color           : white;
    display         : none;
    font-size       : 12px;
    font-weight     : 600;
    height          : 24px;
    line-height     : 24px;
    text-align      : center;
    position        : absolute;
    top             : 10px;
    right           : 238px;
    width           : 24px;
}
/* #done { margin-left : 12px; } */
#header-save { margin-right : 12px; }



/* BOM */
/* ----------------------------------------------------------------------------- */
.is-spare-part .bom-first-col { 
    color       : var(--color-status-yellow);
    font-weight : 700; 
}
.spare-part-custom .bom-first-col { color : var(--color-blue-500); }



/* VIEWER */
/* ----------------------------------------------------------------------------- */
.viewer {
    bottom : calc(var(--height-attachments) + (2 * var(--padding-panel)));
}
.adsk-viewing-viewer > .viewcubeWrapper,
#navTools,
#toolbar-modelStructureTool,
#toolbar-propertiesTool,
#toolbar-settingsTool { display : none; }



/* PANEL */
/* ----------------------------------------------------------------------------- */
#panel .tabs {
    position    : absolute;
    top         : 0px;
    left        : 0px;
    right       : 600px;
    z-index     : 5;
}
.tab-group-main { top : 0px; }
#panel table input,
#panel table select {
    background : var(--color-surface-level-2);
}



/* ATTACHMENTS */
/* ----------------------------------------------------------------------------- */
/* #attachments {
    padding     : var(--padding-panel) 0px 0px;
    text-align : center;
}
#attachments-list {
    display         : flex;
    gap             : var(--spacer-xs);
    justify-content : center;
    overflow-x      : auto;
    padding-top     : 8px;
}
.attachment-graphic,
.attachment-graphic > img { width : 100%; }
.attachment img {
    height        : 40px;
    margin-bottom : 10px;
}
#attachments-processing { top : 120px; }
#attachments-list .attachment { width : auto !important;}
#attachments-list .attachment-details { max-width : unset; } */


/* REQUEST CREATON DIALOG */
/* ----------------------------------------------------------------------------- */
#request {
    height  : 600px;
    left    : calc(50% - 500px);
    top     : calc(50% - 350px);
    width   : 1000px;
}
#request .dialog-content {
    display : flex;
}
.col-header {
    margin-bottom : 16px;
}
.col-left {
    width : 250px;
}
.col-right {
    width : calc(100% - 250px);
}
#comments {
    background  : var(--color-surface-level-2);
    height      : 330px;
    padding     : 10px 20px;
    width       : 200px;
}
#request-list {
    display         : flex;
    flex-direction: column;
    gap             : 8px;
    height          : 370px;
    width           : 100%;
}
#request-list > div {
    background      : var(--color-surface-level-3);
    display         : flex;
    height          : 28px;
    line-height     : 28px;
    padding         : 10px 20px;
}
.request-item {
    margin-right    : var(--spacer-m);
    overflow        : hidden;
    text-overflow   : ellipsis;
    white-space     : nowrap;
    width           : calc(100% - 248px);
}
.request-quantity {
    width : 70px;
}
.request-input {
    background      : var(--color-surface-level-2);
    border-radius   : 2px;
    padding         : 4px 8px;
    text-align      : right;
    width           : 30px;
}
.request-stock {
    width : 120px;
}
.button.request-delete {
    height      : 28px;
    line-height : 28px;
}
.button.request-delete:hover {
    background      : var(--color-status-red-bright);
    border-color    : var(--color-status-red-bright);
    color           : white;
}




.flat-bom-column-descriptor {
    white-space : nowrap;
    overflow: hidden;
    width : 20px;
}




/* PROCESSES */
/* ----------------------------------------------------------------------------- */
.process-workspace {
    height : 18px;
}
.process-descriptor {
    font-size: 16px;
    font-weight: bold;
    height : 24px;
    margin: 2px 0px;
}
.process-footer {
    display : flex;
    line-height : 22px;
    margin-top : 4px;
}
.process-priority {
    height : 22px;
    margin-left : 10px;
    min-width : 25px;
}
.process-status {
    height : 22px;
    min-width : 120px;
}
.process .tile-title { width : 60%; height : 20px;}
.process .tile-subtitle { width : 100%; height : 14px;}

.process.animation .tile-image,
.process.animation .tile-title,
.process.animation .tile-subtitle,
.process.animation .process-description,
.process.animation .process-priority,
.process.animation .process-status {
    background: linear-gradient(270deg, var(--color-gray-300) 40%, var(--color-gray-200) 50%, var(--color-gray-300) 60%);
    background-size: 200% 200%;
    -webkit-animation: AnimationName 1s ease infinite;
    -moz-animation: AnimationName 1s ease infinite;
    animation: AnimationName 1s ease infinite;
}
@-webkit-keyframes AnimationName {
    1000%{background-position:0% 50%}
    0%{background-position:100% 50%}
}
@-moz-keyframes AnimationName {
    100%{background-position:0% 50%}
    0%{background-position:100% 50%}
}
@keyframes AnimationName { 
    100%{background-position:0% 50%}
    0%{background-position:100% 50%}
}
#processes {
    overflow : hidden;
}
#processes-toolbar {
    display : flex;
    margin  : 10px;
    gap     : 10px;
    justify-content : flex-end;
}
#processes-sections {
    display     : none;
    overflow-y  : auto;
    position    : absolute;
    top         : 64px;
    right       : 0px;
    bottom      : 0px;
    left        : 0px;
}
.process-dialog { display : none; }



/* Responsive Layout */
@media (max-width : 1900px)  {

    #header-toolbar .button.with-icon {
        min-width : unset;
        max-width : 22px;
        overflow : hidden;
    }

    #header-toolbar .button.with-icon::before {
        margin-right : 20px;
    }

}




/* IOT ADDITIONS */
/* ----------------------------------------------------------------------------- */
/* #charts-list {
    overflow-y : auto;
    display : grid;
    grid-template-columns : 100%;
    grid-template-rows : 40px auto 40px 240px 40px 240px 40px 240px 80px;
}
.chart-title {
    font-weight : 800;
    line-height : 40px;
    text-align : center;
}
.toolbar {
    display : flex;
    margin-top : 40px;
}
#remote-control {
    width : 100%;
}
#qr-code {
    width: 24px;
    min-width: unset;
    padding: 8px;
}
#qr-code img {
    height : 24px;
}
#qr {
    height: 540px;
    left: calc(50% - 235px);
    top: calc(50% - 270px);
    width: 470px;
}
#qr .qr-code {
    width : 400px;
}
.wear-parts {
    display : flex;
    gap: 12px;
    justify-content: center;
    margin-bottom : 20px;
}
.wear-part {
    background : var(--color-gray-100);
    border : 1px solid var(--color-gray-100);
    cursor : pointer;
    flex-basis : 0;
    flex-grow : 1;
    height : 132px;
}
.wear-part:hover {
    background : rgba(0,0,0,0.25);
}
.wear-part-image {
    background : var(--color-gray-200);
    height : 100px;
    text-align : center;
}
.wear-part-descriptor {
    font-size : 12px;
    padding : 5px;
    text-align : center;
}
.wear-part-image img {
    cursor : pointer;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.wear-part-health {
    height : 6px;
} */