/*  MASTER LAYOUT */
/* ----------------------------------------------------------------------------- */
:root {

    --panel-border-width-v  : 36px;
    --panel-border-width-h  : 72px;
    --width-console         : 550px;
    --width-panel           : calc((100% - var(--width-console) - (6 * var(--panel-border-width-h))) / 3);
    --height-selected       : 240px;

}

/* #panels {
    border-width    : var(--panel-border-width-v) var(--panel-border-width-h);
    top             : 0px;
    right           : calc(var(--width-console) + (2 * var(--panel-border-width-h)));
    bottom          : 0px;
    left            : 0px;
} */
#views {
    border-width    : var(--panel-border-width-v) 0px var(--panel-border-width-v) var(--panel-border-width-h);
    top             : 0px;
    bottom          : 0px;
    left            : 0px;
    width           : var(--width-panel);
}
#recipients {
    border-width    : var(--panel-border-width-v) 0px var(--panel-border-width-v) var(--panel-border-width-h);
    top             : 0px;
    bottom          : 0px;
    left            : calc(var(--width-panel) + (1 * var(--panel-border-width-h)));
    width           : var(--width-panel);
}
#controls {
    border-width    : var(--panel-border-width-v) var(--panel-border-width-h);
    top             : 0px;
    right           : calc(var(--width-console) + (2 * var(--panel-border-width-h)));
    bottom          : 0px;
    width           : var(--width-panel);
}

#console {
    border-width    : var(--panel-border-width-v) var(--panel-border-width-h);
    top             : 0px;
    right           : 0px;
    bottom          : 0px;
    width           : var(--width-console);
}


body.no-console #views,
body.no-console #recipients,
body.no-console #controls {
    width : calc((100% - (5 * var(--panel-border-width-h))) / 3);
}
body.no-console #recipients {
    left :  calc(((100% - (5 * var(--panel-border-width-h))) / 3) + var(--panel-border-width-h));
}
body.no-console #controls {
    right : var(--panel-border-width-h);
}
body.no-console #console {
    right : calc(0px - var(--width-console) - var(--panel-border-width-h));
}




/*  CONTROL PANELS */
/* ----------------------------------------------------------------------------- */
#panels {
    display : flex;
    gap : var(--panel-border-width-h);
}
#panels > div {
    flex-grow : 1;
}
.col-title {
    font-size : 20px;
    font-weight : 800;
    line-height : 42px;
}
.col-controls {
    position : absolute;
    top      : 110px;
    right    : 0px;
    bottom   : 0px;
    left     : 0px;
}
.col-controls > div {
    overflow-y : auto;
    position   : absolute;
    left       : 0px;
    right      : 0px;
}
.col-selected {
    height : var(--height-selected);
    top : 0px;
}
.col-all { 
    top : calc(100px + var(--height-selected));
    bottom : 0px;
}
/* #views-selected {
    height : 200px;
} */
/* #views-all {
    display : table;

} */
.workspace-view {
    cursor  : pointer;
    display : table-row;
}
.workspace-view:hover {
    background-color : red;
}
.workspace-view > div {
    display : table-cell;
    padding : 4px 12px;
}


/*  COMPARISON CONSOLE */
/* ----------------------------------------------------------------------------- */
#console {
    font-family : monospace;
}
#console-header {
    font-size : 18px;
    line-height : 42px;
}
/* #console {
    overflow-y      : auto;
    scroll-behavior : smooth;
    position        : absolute;
    top             : 50px;
    right           : 0px;
    bottom          : 00px;
    left            : 0px;
} */
#console-content > div {
    font-size     : 12px;
    line-height   : 16px;
    overflow      : hidden;
    white-space   : nowrap;
    text-overflow : ellipsis;
    
}
.console-text.head { 
    font-weight   : bold; 
    margin-bottom : 4px; 
}
.console-text.diff  span { color : var(--color-status-red);   }
.console-text.match span { color : var(--color-status-green); }
.console-text b {
    font-weight : normal !important;
}
.console-separator {
    padding : 6px 0px;
}
.console-text.stop { 
    font-weight   : bold; 
    margin-top    : 24px; 
}
#console-toggle {
    border          : 2px solid var(--color-surface-level-2);
    border-radius   : 50%;
    position        : absolute;
    top             : -9px;
    right           : calc(var(--width-console) - 19px + (1 * var(--panel-border-width-h)));
}


/*  COMPARISON RESULTS */
/* ----------------------------------------------------------------------------- */
#comparison-results {
    display         : flex;
    flex-direction  : column;
    gap             : 12px;
    overflow-y      : auto;
}
#comparison-results > div {
    background  : var(--color-surface-level-1);
    display     : flex;
    padding     : 0px;
}
.result-icon {
    font-weight : 200;
    height      : 36px;
    line-height : 36px;
    text-align  : center;
    width       : 60px;
}
.result-label { 
    height      : 36px;
    line-height : 36px;
    width       : 190px;
}
.result-summary {
    font-size   : 12px;
    line-height : 36px;
    text-align  : right;
    width       : 210px;
}
.result-color {
    color       : var(--color-surface-level-1);
    padding-right : 10px;
    text-align  : center;
    width       : 48px;
    height      : 36px;
    line-height : 36px;
}
.match  .icon-radio-unchecked::before { color : var(--color-status-green)  !important; }
.diff   .icon-radio-unchecked::before { color : var(--color-status-red)    !important; }
.varies .icon-radio-unchecked::before { color : var(--color-status-yellow) !important; }
.result-actions {
    display         : flex;
    flex-direction  : column;
    flex-grow       : 1;
    gap             : 1px;
    max-width       : calc(100% - 518px);    
}
.action {
    display : flex;
    gap     : 0px;
}
.action-text.button {
    background      : var(--color-surface-level-3);
    border-color    : var(--color-surface-level-3);
    border-radius   :  0px;
    max-width       : calc(100% - 96px);
}
.action-instructions {
    overflow        : hidden;
    text-overflow   : ellipsis;
}
.action-icon.button {
    background    : var(--color-surface-level-4);
    border-color  : var(--color-surface-level-4);
    border-radius : 0px;
    width         : 60px;
}
.action-text {
    display : flex;
    gap     : 10px;
}
.action-text.button {
    flex-grow  : 1;
    text-align : left;
}
.action-text b {
    background    : var(--color-surface-level-2);
    border-radius : 6px;
    font-family   : monospace;
    font-size     : 12px;
    font-weight   : normal;
    margin        : 0px 6px;
    padding       : 4px 18px;
}
.action-text,
.action-text:hover,
.action-icon,
.action-icon:hover {
    box-shadow : none !important
}
.action-text:hover,
.action-icon:hover {
    background : var(--color-surface-level-5) !important;
}


/*  LIMITATIONS */
/* ----------------------------------------------------------------------------- */
#dialog-limitations {

    height  : 800px;
    width   : 900px;
    top     : calc(50% - 400px);
    left    : calc(50% - 450px);

}
#limitations .header {
    font-size   : 18px;
    font-weight : 700;
    margin      : 24px 0px 5px;
}


/*  REPORT */
/* ----------------------------------------------------------------------------- */
#dialog-report {
    width   : 700px;
    top     : 20px;
    left    : calc(50% - 350px);
    bottom  : 50px;
}
#report-content {
    display: flex;
    flex-direction: column;
    gap: 1px;

}
.report-header {
    background  : var(--color-surface-level-2);
    display       : flex;
    margin-top    : 40px;
}
.report-header:first-of-type {
    margin-top : 0px;
}
.report-header > div {
    line-height : 24px;
    padding     : 10px;
}
.report-header > .icon {
    font-weight : 200;
    padding     : 10px 10px 10px 20px;
}
.report-detail {
    display     : flex;
    font-size   : 12px;
    line-height : 24px;
}
.report-detail > div {
    padding : 2px 12px;
}
.report-section {
    background : var(--color-surface-level-4);
    width      : 200px;
}
.report-value {
    background  : var(--color-surface-level-3);
    flex-grow   : 1;
}
.report-icon {
    color       : white;
    font-size   : 22px;
    font-weight : 200;
}
.report-icon.match { background  : var(--color-status-green); }
.report-icon.diff { background  : var(--color-status-red); }

@media (max-width: 1920px) {

    #comparison-controls {
        flex-direction: column;
        gap : 14px;
    }
    #comparison-controls > div {
        height : unset;
    }
    #comparison-text {
        width : 100%;
    }
    #comparison-results {
        top : 410px;
    }
    #comparison-buttons {
        flex-direction: row-reverse;
        display: flex;
        background: none !important;
        gap: 20px;
        width : unset;
    }
  

}