/*  MASTER LAYOUT */
/* ----------------------------------------------------------------------------- */
:root {

    --height-comparison-controls : 154px;
    --panel-border-width-v : 42px;
    --panel-border-width-h : 60px;
    --width-comparison-text : 350px;
    --width-console : 442px;
    --width-buttons : 160px;
    --width-results : 500px;

}

#comparison-controls {
    border-width    : var(--panel-border-width-v) var(--panel-border-width-h) 0px;
    top             : 0px;
    right           : calc(var(--width-console) + (2 * var(--panel-border-width-h)));
    left            : 0px;
}
#console {
    border-width    : var(--panel-border-width-v) var(--panel-border-width-h);
    right           : 0px;
}
#comparison-results {
    border-width    : 0px var(--panel-border-width-h) var(--panel-border-width-v);
    top             : calc(var(--height-comparison-controls) + (3 * var(--panel-border-width-v)));
    right           : calc(var(--width-console) + (2 * var(--panel-border-width-h)));
    bottom          : 0px;
    left            : 0px;
}

body.no-console #comparison-controls,
body.no-console #comparison-results { right : var(--panel-border-width-h);}
body.no-console #console {
    right : calc(0px - var(--width-console) - var(--panel-border-width-h));
}


/*  COMPARISON CONTROLS */
/* ----------------------------------------------------------------------------- */
#comparison-controls {
    display         : flex;
    gap             : var(--panel-border-width-h);

}
#comparison-controls > div {
    height          : var(--height-comparison-controls);
    padding-top     : 8px;
    padding-bottom  : 8px;
}
#comparison-text {
    display         : flex;
    flex-direction  : column;
    gap             : 12px;
    line-height     : 18px;
    width           : var(--width-comparison-text);
}
#comparison-options {
    display                 : grid;
    flex-grow               : 1;
    height                  : calc( var(--height-comparison-controls) - 30px) !important;
    grid-template-columns   : 110px 1fr 1fr;
    column-gap              : 20px;
    row-gap                 : 4px;
    padding                 : 22px 32px !important;
    /* padding-left          : 12px; */
    /* padding-right         : 32px; */
}
#comparison-buttons {
    align-content   : space-evenly;
    display         : grid;
    gap             : 2px;
    height          : calc(var(--height-comparison-controls) - 22px) !important;
    padding         : 18px 36px !important;
    white-space     : normal;
    width           : var(--width-buttons);
}
#comparison-options .header {
    padding-top : 8px;
    text-align  : center;
}
#comparison-options .label {
    line-height : 38px;
    text-align  : right;
}
#comparison-options input {
    background      : var(--color-surface-level-3);
    /* border-color    : var(--color-surface-level-3); */
    height          : 22px;
    text-align      : center;
    width           : calc(100% - 16px);
}
#comparison-options select {
    height : 38px;
    width  : 100%;

}
#comparison-stop {
    background : var(--color-status-red);
    color      : white;
}
#comparison-stop:hover {
    background : var(--color-red-700);
}
#comparison-stop:hover.disabled,
#comparison-stop.disabled {
    background : unset;
}


/*  COMPARISON RESULTS */
/* ----------------------------------------------------------------------------- */
#comparison-results {
    display         : flex;
    flex-direction  : column;
    gap             : 12px;
    overflow-y      : auto;
}
#comparison-results > div {
    background  : var(--color-surface-level-1);
    display     : flex;
    padding     : 0px;
}
.result-icon {
    font-weight : 200;
    height      : 38px;
    line-height : 38px;
    text-align  : center;
    max-width   : 60px;
    min-width   : 60px;
    width       : 60px;
}
.result-label { 
    height      : 38px;
    line-height : 38px;
    max-width   : 190px;
    min-width   : 190px;
    width       : 190px;
}
.result-summary {
    font-size   : 12px;
    line-height : 38px;
    text-align  : right;
    max-width   : 250px;
    min-width   : 250px;
    width       : 250px;
}
.result-color {
    color       : var(--color-surface-level-1);
    padding-right : 10px;
    text-align  : center;
    height      : 38px;
    line-height : 38px;
    max-width   : 48px;
    min-width   : 48px;
    width       : 48px;
}
.match  .comparison-result::before, .match  > span { color : var(--color-status-green)  !important; content : '\e86c'; }
.diff   .comparison-result::before, .diff   > span { color : var(--color-status-red)    !important; content : '\e5c9'; }
.varies .comparison-result::before, .varies > span { color : var(--color-status-yellow) !important; content : '\e5c9'; }
.result-actions {
    display         : flex;
    flex-direction  : column;
    flex-grow       : 1;
    gap             : 1px;
    max-width       : calc(100% - 606px);    
    min-width       : calc(100% - 606px);    
    width           : calc(100% - 606px);    
}
.result-compare {
    background    : var(--color-surface-level-2);
    display       : none;
    padding-left  : 8px;
    padding-right : 2px;
}
.action {
    display : flex;
    gap     : 1px;
}
.action-text.button {
    background      : var(--color-surface-level-3);
    border-color    : var(--color-surface-level-3);
    border-radius   :  0px;
    max-width       : calc(100% - 72px);
}
.action.with-comparison-button > .action-text.button {
    max-width       : calc(100% - 112px);
}
.action-instructions {
    overflow        : hidden;
    text-overflow   : ellipsis;
}
.action-icon.button {
    background    : var(--color-surface-level-4);
    border-color  : var(--color-surface-level-4);
    border-radius : 0px;
}
.action-text {
    display : flex;
    gap     : 10px;
}
.action-text.button {
    flex-grow  : 1;
    text-align : left;
}
.action-text b {
    background    : var(--color-surface-level-2);
    border-radius : 6px;
    font-family   : monospace;
    font-size     : 12px;
    font-weight   : normal;
    margin        : 0px 6px;
    padding       : 4px 18px;
}
.action-text,
.action-text:hover,
.action-icon,
.action-icon:hover {
    box-shadow : none !important
}
.action-text:hover,
.action-icon:hover {
    background : var(--color-surface-level-5) !important;
}


/*  LIMITATIONS */
/* ----------------------------------------------------------------------------- */
#dialog-limitations {

    height  : 800px;
    width   : 900px;
    top     : calc(50% - 400px);
    left    : calc(50% - 450px);

}
#limitations .header {
    font-size   : 18px;
    font-weight : 700;
    margin      : 24px 0px 5px;
}


/*  REPORT */
/* ----------------------------------------------------------------------------- */
#dialog-report {
    width   : 700px;
    top     : 20px;
    left    : calc(50% - 350px);
    bottom  : 50px;
}
#report-content {
    display: flex;
    flex-direction: column;
    gap: 1px;

}
.report-header {
    background  : var(--color-surface-level-2);
    display       : flex;
    margin-top    : 40px;
}
.report-header:first-of-type {
    margin-top : 0px;
}
.report-header > div {
    line-height : 24px;
    padding     : 10px;
}
.report-header > .icon {
    font-weight : 200;
    padding     : 10px 10px 10px 20px;
}
.report-detail {
    display     : flex;
    font-size   : 12px;
    line-height : 24px;
}
.report-detail > div {
    padding : 2px 12px;
}
.report-section {
    background : var(--color-surface-level-4);
    width      : 200px;
}
.report-value {
    background  : var(--color-surface-level-3);
    flex-grow   : 1;
}
.report-icon {
    color       : white;
    font-size   : 22px;
    font-weight : 200;
}
.report-icon.match { background : var(--color-status-green); }
.report-icon.diff  { background : var(--color-status-red);   }



@media (max-width: 1920px) {

    #comparison-controls {
        flex-direction: column;
        gap : 14px;
    }
    #comparison-controls > div {
        height : unset;
    }
    #comparison-text {
        width : 100%;
    }
    #comparison-results {
        top : 410px;
    }
    #comparison-buttons {
        flex-direction: row-reverse;
        display: flex;
        background: none !important;
        gap: 20px;
        width : unset;
    }

}