/keys/*.pem
/node_modules
/public/javascripts/dev
/public/stylesheets/dev
/public/cache/*
/uploads/*
/views/dev
package-lock.json
settings.*.js
!.gitkeep
.DS_Store*
public/stylesheets/common/custom.css
