/keys/*.pem
/node_modules
/uploads/*
/settings/*
/storage/cache/*
/storage/excel-export/*
/storage/exports/*
/storage/imports/*
/storage/uploads/*
/views/custom/*
/views/.DS_Store
package-lock.json
!.gitkeep
.DS_Store*
run.sh