/* CONTEXT BROWSER */
/* ----------------------------------------------------------------------------- */
#parents .panel-header  { display: none;}
#parents .panel-content { top : 0px }


.child.bom { width : 100%; }
.child.bom > .panel-content { position : unset; }
.child.bom .bom-tbody tr:last-of-type td { border-bottom : 1px solid transparent; }

#roots-list { top : 0px; }