:root {
    
    --width-field-label : 128px;

}


/* MASTER LAYOUT */
/* ----------------------------------------------------------------------------- */
#item {
    border-top-width : 6px;
    top     : 0px;
    right   : 0px;
    bottom  : 0px;
    left    : 0px;
}


/* OVERRIDE */
/* ----------------------------------------------------------------------------- */
#item-title {
    padding-left : 8px;
}
#item-close,
#theadfields {
    display : none;
}
#theadfields {
    display : none;
}
.section-fields .field {
    padding : 4px 0px;
}
.addin .table-actions { top : 0px; }