#basic-clear {
    cursor      : pointer;
    font-size   : 16px;
    left        : 244px;
    line-height : 22px;
    position    : relative;
}
#basic-clear:hover {
    color : var(--color-blue-500);
}
#basic-search {
    border-width    : 14px;
    top             : 0px;
    right           : 0px;
    bottom          : 0px;
    left            : 0px;
}
#basic-search > .panel-header {
    border          : none;
    gap             : 10px;
    height          : 22px;
    justify-content : center;
    padding         : 14px 0px;
}
#basic-search > .panel-content {
    top    : 60px;
    bottom : 38px;
}
#basic-input { 
    background    : var(--color-surface-level-2);
    border-bottom : 1px solid var(--color-surface-level-3);
    height        : 24px;
    line-height   : 24px;
    max-width     : 200px;
    min-width     : 200px;
    width         : 200px;
    padding       : 0px 30px 0px 14px;
    text-align    : left;
}
.search-result-message {
    display     : none;
    padding-top : 100px;
    text-align  : center;
}
#basic-list .vault-tile-user,
#basic-list .vault-tile-date {
    display : none;
}
#basic-total {
    height      : 24px;
    line-height : 24px;
}
