:root {
    
    --border-v     : 12px;
    --border-h     : 18px;

}

#input-configuration { border : none; padding-top : 9px; padding-bottom : 9px;}
/* .standalone #button-load { display : none; } */
#features-tbody .bom-descriptor { display : none; }

/* MASTER LAYOUT */
/* ----------------------------------------------------------------------------- */
#project,
#projects {
    border-width : var(--border-v) var(--border-h);
    top     : 0px;
    right   : 0px;
    bottom  : 0px;
    left    : 0px;
}


 #project { display : none; }
.display-project #project { display : block; }
.display-project #projects { display : none; }




#viewer { 
    top     : 80px;
    bottom  : var(--padding-panel);
    left    : var(--padding-panel);
    width   : calc(100% - (3 * var(--padding-panel)) - var(--width-tabs));
}
.standalone .tabs { 
    top         : 88px !important; 
    right       : var(--padding-panel);
    width       : var(--width-tabs);
}
.standalone .tab-group-main {
    top     : 140px !important;
    right   : var(--padding-panel);
    bottom  : var(--padding-panel);
    left    : unset;
    width   : calc(var(--width-tabs) - (2 * var(--padding-panel)));
}
/* .standalone #bom {
    top     : 88px !important; 
    right   : calc(var(--width-tabs) + (2 * var(--padding-panel)));
    bottom  : var(--padding-panel);
    width   : var(--width-bom);
} */
.standalone #bom-content {
    bottom  : 44px;
    padding : 0px;
    top     : 80px;
}
.standalone.fixed-ebom #bom-content { top : 52px; bottom: 44px; }
.standalone .icon-new-window { display : none; }

.standalone.fixed-ebom #viewer { width   : calc(100% - (4 * var(--padding-panel)) - var(--width-bom) - var(--width-tabs)); }
.standalone.fixed-ebom #tab-ebom { display : none; }
.standalone.fixed-ebom #bom {
    top     : 88px !important; 
    right   : calc(var(--width-tabs) + (2 * var(--padding-panel)));
    bottom  : var(--padding-panel);
    width   : var(--width-bom);
}


/* HEADER */
/* ----------------------------------------------------------------------------- */
#header-toggle-ebom { display : none; }


/* PRODUCTS */
/* ----------------------------------------------------------------------------- */
.standalone #products-content { padding-top : 20px; top : 74px; }
.standalone .tiles.wide.s > .tile { width : 550px; }



/* VIEWER */
/* ----------------------------------------------------------------------------- */
#viewer {
    display : none;
    position : absolute;
}



/* TABS */
/* ----------------------------------------------------------------------------- */
.standalone .tabs {
    /* background  : var(--color-surface-level-3); */
    /* font-size : 14px; */
    /* line-height : 22px; */
    border-color : var(--color-surface-level-4);
}
.standalone .tabs > div {
    height : 34px;
}

/* MODULES */
/* ----------------------------------------------------------------------------- */
#modules-toolbar {
    display         : flex;
    justify-content : flex-end;
    gap             : 4px;
}
#modules {
    position : absolute;
    top : 80px;
    right : var(--padding-main-right);
    bottom : var(--padding-main-bottom);
    left : var(--padding-main-left);    
}
.module-toolbar {
    display : flex;
    gap : 4px;
}
#modules > .tile > .tile-details { width : calc(100% - 180px); }
.toggle-module-grid.selected { 
    background   : var(--color-status-yellow); 
    border-color : var(--color-status-yellow); 
    color        : white; 
}
.module-grid {
    display     : grid;
    column-gap  : 3px;
    row-gap     : 3px;
    font-size   : 11px;
    line-height : 14px;
}
.module-grid-feature { background : var(--color-surface-level-4); padding : 4px; text-align : center;}
.module-grid-variant { background : var(--color-surface-level-3); padding : 4px; white-space : nowrap; overflow:hidden; text-overflow: ellipsis;}
.module-grid-cell { background : var(--color-surface-level-2); }
.module-grid-link { background : var(--color-status-green); justify-content: center; line-height:36px;}
.module-grid-link::before { font-size : 14px; }
#bom-modules { display : none; }
.module.collapsed {
    border : none !important;
}
.module.collapsed .module-toolbar {
    display : none;
}





/* DETAILS */
/* ----------------------------------------------------------------------------- */
#details > .panel-content {
    top : 78px;
}


/* FEATURES */
/* ----------------------------------------------------------------------------- */
#features .bom-first-col        { max-width : 24px; width : 24px; }
#features .bom-column-id        { max-width : 60px; width : 60px; }
#features .bom-column-revision  { max-width : 40px; width : 40px; }
#features .bom-tree-actions     { max-width : 96px; width : 96px; }
.standalone #configurations { background : var(--color-surface-level-3); }




#features-tbody .node:hover td {
    background          : transparent !important;
    border-top-color    : transparent !important;
    border-right-color  : transparent !important;
    border-left-color   : transparent !important;
    border-bottom-color : white !important;
}





#products-search-input, .bom-search-input {
    width       : 50px;
}
#details {
    display : none;
}
/* #details > .panel-content {
    top     : 86px;
    right   : calc(-1 * var(--padding-main)); 
    bottom  : calc(-1 * var(--padding-main)); 
    left    : calc(-1 * var(--padding-main)); 
} */
#context.selected {
    background : var(--color-status-yellow);
}
/* .standalone .bom-tree-actions > div {
    display : none;
} */
.bom-tree-actions {
    border-right : 1px solid transparent;
}


/*  BOM */
/* ----------------------------------------------------------------------------- */
.standalone #bom td { height : 38px; }
#bom-thead {
    display : none !important;
}
#bom-table .bom-tree-actions {
    max-width   : 120px;
    width       : 120px;
}
#bom td {
    padding-top    : 1px;
    padding-bottom : 1px;
}
/* #bom-toolbar {
    padding : 15px 30px;
} */
.bom-item.result .bom-first-col {
    border-left-color : var(--color-status-red) !important;
}
.bom-item.module {
    color       : var(--color-status-yellow-brighter);
    font-weight : bold;
}
.bom-item.variant {
    color       : var(--color-status-yellow);
    font-weight : bold;
}
.tiles.wide.s > .tile {
    width : 400px;
}
.tiles.wide.s .tile-image {
    width : 128px;
}

#bom-title { display : none; }
#bom-header { justify-content: right; border-width : 0px; }
.fixed-ebom #bom-header { 
    border-width : 2px;
    justify-content: space-between; 
}



/*  MODULES */
/* ----------------------------------------------------------------------------- */
/* #modules {
    position    : absolute;
    top         : var(--padding-main); 
    right       : var(--padding-main); 
    bottom      : var(--padding-main); 
    left        : var(--padding-main);
} */
#modules > .module {
    border-bottom : 1px solid white;
    display : flex;
    justify-content: space-between;
    font-weight : bold;
    line-height : 30px;
    padding : 10px;
    margin-top : 30px;
    margin-bottom : 10px;
    text-align : center;
    width  : calc(100% - 20px);
    /* width : 100%; */
}
#modules > .module:first-of-type { margin-top : 0px; }
#modules .module-title {
    overflow        : hidden;
    text-overflow   : ellipsis;
    white-space     : nowrap;
}

.module-title { cursor : pointer; }


/* #products-content > .tile {
    width: 500px;
} */

#products-content .tile-image {
    min-width   : 150px;
    max-width   : 150px;
    width       : 150px;
}




/*  FEATURES */
/* ----------------------------------------------------------------------------- */
#features-tbody tr:first-of-type > td {
    padding-top : 4px !important;
}
#features-content {
    /* right   : var(--padding-main); 
    bottom  : var(--padding-main); 
    left    : var(--padding-main);     */
}
/* #features-toolbar {
    padding : 15px 30px;
} */
#features .bom-color,
#features .bom-title {
    display : none;
}
#features th:first-of-type {
    color : transparent;
}
#features th:first-of-type,
#features td:first-of-type {
    max-width   : 28px;
    width       : 28px;
}
#features tr.node > td {
    background      : transparent;
    border-bottom   : 1px solid var(--color-font);
    border-top      : none;
    padding-top     : 30px;
}
#features tr.node:hover > td {
    border-right-color : transparent !important;
    border-left-color : transparent !important;
}

#features .leaf .icon-check-box-checked {
    display : none;
}
#features .leaf.selected .icon-check-box-checked {
    display : block;
}
#features .leaf .icon-check-box {
    display : block;
}
#features .leaf.selected .icon-check-box {
    display : none;
}
#features .icon-check-box,
#features .icon-check-box-checked {
    font-size   : 18px;
    font-weight : 400;
}
#features .bom-nav {
    padding-right : 0px;
}
#features .leaf .bom-first-col {
    height       : 24px;
    padding-left : 6px;
}

.feature-actions {
    display : flex;
    gap     : 2px;
    height  : 24px;
}
.feature-actions > .button {
    margin : 0px;
}
.feature-items {
    width : 40px;
    max-width : 40px;
    text-align : right;
}

/* .bom-level-1.leaf td, */
/* .bom-level-1.first-leaf td {
    border-top : 40px solid transparent;
} */
.feature-items > td {
    background : var(--color-surface-level-1);
    border : none;
    padding : 1px 0px 16px 32px;
}
.feature-items-list {
    display : flex;
    flex-direction: column;
    gap : var(--spacer-xxxs);
}

.feature-item {
    background  : var(--color-surface-level-2);
    display     : flex;
    gap         : var(--spacer-s);
    height      : 28px;
    line-height : 28px;
    padding     : 4px 6px 4px 16px;
    text-align  : left;
}
.feature-item-part-number {
    font-weight     : bold;
    overflow        : hidden;
    text-overflow   : ellipsis;
    white-space     : nowrap;
    /* width           : 140px; */
}
.feature-item-path {
    white-space : nowrap;
    overflow : hidden;
    text-overflow : ellipsis;
    flex-grow : 1;
}
.feature-item-actions {
    display : flex;
    gap : var(--spacer-xxxs);
    justify-content: end;
    width : 62px;
}
.feature-item-actions > div {
    font-size: 18px !important;
    height: 26px !important;
    line-height: 26px !important;
    width: 26px !important;
}
.feature-item-delete {
    background-color : var(--color-status-red) !important; 
}
.feature-items-list-empty {
    padding : 8px;
    text-align : center;
}
.feature-item-actions .button{
    display : none;
}
.feature-item:hover .feature-item-actions .button {
    display : block;
}



/*  FEATURES */
/* ----------------------------------------------------------------------------- */
#configurations {
    /* background : var(--color-surface-level-5); */
    display: flex;
    flex-direction: column;
    gap : 10px;
    padding : 20px  40px;
    position : absolute;
    right : 0px;
    bottom : 0px;
    left : 0px;
}
.configurations-line {
    display : flex;
    gap : 10px;
}
.configurations-label {
    line-height : 24px;
    width : 180px;
}
.configurations-control {
    display : flex;
    flex-grow : 1;
    gap : 10px;
}
.configurations-control input {
    height : 18px;
    width : calc(100% - 142px);
}
.configuration-action {
    display : none;
}
#select-configuration {
    height : 24px;
}
.standalone #select-configuration {
    height: 38px;
    padding-top: 0px;
    padding-bottom: 0px;
    border: none;
    line-height: 38px;
}
.standalone .configurations-label {
    line-height : 38px;
}
#select-configuration {
    width : calc(100% - 178px);
}
.bom-tree-actions {
    text-align : center;
}
.standalone #features-content {
    top : 60px;
}
#features-header { 
    border-bottom : none !important;
}
.standalone .feature-actions > .button {
    margin: 0px;
    height: 24px;
    width: 24px;
    line-height: 24px;
    font-size: 20px;
}
.standalone #mbom-table td {
    height: 38px;
    padding-top: 0;
    padding-bottom: 0px;
    line-height: 30px;
}
.standalone #mbom-content { padding : 0px; }


.feature-item-details {
    display : flex;
    gap : 12px;
    width : calc(100% - 74px);
}
.feature-item-details > div {
    white-space : nowrap;
    overflow : hidden;
    text-overflow : ellipsis;
}
.feature-item-part-number {
    width : 200px;

}
.feature-item-title { width : 200px; }
.standalone #modules > .tile { height : 40px !important; }
.standalone #modules > .tile > .tile-image { height : 40px !important; width : 40px !important;}
.standalone #modules > .tile > .tile-image > span { line-height : 40px !important; }
.standalone #modules > .tile > .tile-details > .tile-title { line-height : 32px !important; }