/*  WORKSPACE VIEWS */
/* ----------------------------------------------------------------------------- */
#views-content {
    top     : 46px;
    right   : 0px;
    bottom  : 0px;
    left    : 0px;
}


/*  RECENTS */
/* ----------------------------------------------------------------------------- */
#recents-recents {
    top     : 0px;
    right   : 0px;
    bottom  : 0px;
    left    : 0px;
}


/*  BOOKMARKS */
/* ----------------------------------------------------------------------------- */
#bookmarks-bookmarks {
    top     : 0px;
    right   : 0px;
    bottom  : 0px;
    left    : 0px;
}