.panel {
    top : 60px;
}

/*  MASTER LAYOUT */
/* ----------------------------------------------------------------------------- */
#basic-search {
    border-width    : 14px;
    top             : 0px;
    right           : 0px;
    bottom          : 0px;
    left            : 0px;
}


/*  BASIC SEARCH */
/* ----------------------------------------------------------------------------- */
#basic-search > .panel-header {
    border          : none;
    justify-content : center;
    padding         : 12px;
}
#basic-search > .panel-content {
    top    : 60px;
    bottom : 40px;
}
.search-input { 
    max-width   : 300px;
    text-align  : center;
    width       : calc(100% - 180px); 
}
.search-result-message {
    display     : none;
    padding-top : 100px;
    text-align  : center;
}
#materials-list .tile-details {
    width : calc(100% - 150px);
}
#basic-list {
    gap : 4px;
}
#basic-list .vault-tile-user,
#basic-list .vault-tile-date {
    display : none;
}

