doctype html
html
    head
        title= title
        meta(name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no")
        meta(charset="utf-8")
        link(rel='stylesheet', href='/stylesheets/common.css')
        script(src='/javascripts/libs/jquery-3.6.1.min')
        script(src='/javascripts/common.js')
        block head
    block content
