extends common/layout
 
block head
    link(rel='stylesheet', href='/stylesheets/impactanalysis.css')
    script(src='/javascripts/impactanalysis.js') 
    script.
        config = !{JSON.stringify(config)};


block content

    body.surface-level-1
        
        #header.dark
            #header-logo
            #header-title=title
            #header-subtitle
                #header-descriptor
                #header-description
            #header-toolbar
                #toggle-nav.button.with-icon.icon-list(title='Click to toggle affected items panel on/off') Affected Items
                //- #toggle-comparison.button.with-icon.icon-list Toggle Comparison
                #toggle-viewer.button.with-icon.icon-viewer(title='Click to toggle viewer on/off') Viewer
                #toggle-tabs.button.with-icon.icon-tabs(title='Click to toggle tabs at bottom on/off') Tabs
                #toggle-details.button.with-icon.icon-panel(title='Click to toggle details panel on/off') Details
                #header-avatar 

        .screen
            #nav.surface-level-2
                .panel-header
                    .panel-title#nav-header 
                        span#nav-counter 
                        span Affected Items
                .panel-content#nav-list.tiles.list.xs
            
            #item.panel
                .panel-header
                    .panel-title#item-title
                    .panel-toolbar#item-actions
                        #save.button.default Save
                        #bookmark.button.icon.icon-bookmark
                        #open.button.icon.icon-open

                .surface-level-2#item-change
                    
            
                #viewer.viewer
                
                .tabs.surface-level-1#tabs
                    div(title='Review change log of selected affected item') 
                        span.label Log
                    div(title='Review changes in the BOM')
                        span.lavel BOM 
                        span#bom-counter.counter.value
                    div(title='Review list of BOM items which got changed but are not listed as affected item in this CO') 
                        span.label BOM Updates 
                        span#related-counter.counter.value
                    div(title='Review list of root items being impacted by expanding the usage in BOMs') 
                        span.label Where Used
                        span#roots-counter.counter.value
                    div(title='Review list of relevant items being connected via relationships tab') 
                        span.label Related
                        span#impacted-counter.counter.value
                    div(title='Review list of files of this item for changes') 
                        span.label Files 
                        span#attachments-counter.counter.value
                    div(title='Review list of all change processes of this item')
                        span.label Processes
                        span#changes-counter.counter.value
                    div(title='List of pending Production Orders managed in ERP')
                        span.label Orders (ERP)
                        span#orders-counter.counter.value
                
                .panel-content.surface-level-2#logs
                    table#logs-table.content-table
                        thead
                            tr
                                th Date
                                th User
                                th Action
                                th Description
                        tbody                
                .panel-content.surface-level-2#bom.content
                    .content-area.with-actions
                        table#bom-table.content-table
                    .panel-content-actions.surface-level-2
                        div
                            span BOM View
                            #bom-views.panel-toggles
                        div
                            span Status Filter
                            #bom-status
                                #bom-status-additional.bar(data-filter="additional" title='Click to filter EBOM for items not containted in MBOM yet')
                                #bom-status-different.bar(data-filter="different" title='Click to filter EBOM and MBOM for items where total quantity does not match')
                                #bom-status-match.bar(data-filter="match" title='Click to filter EBOM and MBOM for items that match')
                                #bom-status-removed.bar(data-filter="removed" title='Click to filter EBOM and MBOM for items where total quantity does not match')
                            #bom-color-toggle
                                input(type="checkbox" id="apply-to-viewer" name="apply-to-viewer" value="apply-to-viewer")
                                label(for="apply-to-viewer") Apply to viewer
                .panel-content.surface-level-2#related.content
                    .content-area.with-actions
                        #related-list.content-list
                    .panel-content-actions.surface-level-2
                        #related-add-all.button.default Add All
                        #related-add-selected.button Add Selected
                        #related-select-all.button Select All
                        #related-deselect-all.button Deselect All  
                .panel-content.surface-level-2#roots.content
                    table#roots-table.content-table
                        thead
                            tr
                                th Item
                                th Status
                                th Quantity
                                th Hierarchy
                        tbody
                .panel-content.surface-level-2#impacted.content
                    table#impacted-table.content-table
                        thead
                            tr
                                th.tiny Linked
                                th Workspace
                                th Name
                                th Description
                                th Actions
                        tbody#impacted-tbody
                .panel-content.surface-level-2#attachments.content
                    table#attachments-table.content-table.hovering-enabled
                        thead
                            tr
                                th.tiny Icon
                                th File Name
                                th Status
                                th.align-right Version
                                th Date
                                th User
                                th Description
                                th Type
                        tbody
                .panel-content.surface-level-2#changes.content
                    table#changes-table.content-table.hovering-enabled
                        thead
                            tr
                                th Name
                                th Status
                                th Last Action Date
                                th By User
                                th Creation Date
                                th By User
                        tbody

                .panel-content.surface-level-2#orders.content
                    table#orders-table.content-table.hovering-enabled
                        thead
                            tr
                                th ID
                                th Site
                                th Quantity
                                th Date
                        tbody
                
            .panel#details
                .panel-header
                    .panel-title Details
                .panel-content.surface-level-2#details-sections
                .panel-content.surface-level-2#details-prev-sections
