extends common

block head
    link(rel='stylesheet', href='/stylesheets/landing.css')
    script(src='/javascripts/landing.js') 

block content
    body.surface-level-2
        span.material-symbols-sharp.l.hover#close-app close
        .split.left-250.surface-level-2
            .split-left.padding-100
                h1#title Custom PLM User Experiences
                .divider.horizontal.heavy
                p Unleash the power of Fusion 360 Manage by utilizing its REST API to provide custom built frontends based on Autodesk Platform Services. 
                p All data still will be managed in PLM only and all business rules of PLM as well as access permissions apply.
                p Version of September 2022
            .split-right.tiles.xxl.padding-80
                .tile 
                    .tile-image.border(style="background: url('images/app-product-data-explorer.png') no-repeat;background-size:contain;")
                    .tile-details
                        .tile-title Product Data Explorer
                        .tile-subtitle Review and manage your product's data in easy manner using automated KPIs
                    .instructions
                        h1 Prerequisites
                        p This app works best with the 'Vault Items &amp; BOMs' workspace but can also be used with 'Items &amp; BOMs' for example if viewable files exist in this workspace.
                        h1 Features
                        p Users can navigate the BOM of a product by filtering for components of interest (i.e. in work items) and update item master data (i.e. store purchasing information)
                        ul  
                            li Open the explorer from any record in the Vault Items &amp; BOMs workspace
                            li Filter BOM items based on KPIs
                            li Toggle BOM structure and flat table mode
                            li Review design in 3D and color components to match the selected KPIs
                            li Access and download attachments of a selected item 
                            li Review &amp; edit details of selected records
                        h1 Adjust Workspace Vault Items &amp; BOMs 
                        p Create a new BOM view named 'Explorer' for this workspace and add the following columns (if you omit some of these columsn, the given KPIs will be hidden automatically): 
                        ul 
                            li Item Lifecycle 
                            li Pending Change
                            li Descriptor 
                            li Number
                            li Vault Category
                            li Make or Buy
                            li Spare Wear Part 
                            li Material
                            li Vault Folder 
                            li Last Updated By 
                            li Last Updated
                        p If the field DMS_ID does not exist yet in your workspace, add it as Single Line Text (length 20, not visible). Let this field be set upon item creation using the following script code: 
                        p.code item.DMS_ID = dmsID;
                        p Add a new computed field to Item Details which renders a button to open the explorer for the current record. Use the following formula and adjust the server name as well as teh workspace ID (79) to match your environment.
                        p.code &lt;a style="font-size:0.9em;color: #0a131c;border: 1px solid #bec8d2;border-radius:3px;padding:4px 12px;text-align:center;text-decoration:none !important;line-height:16px;white-space:nowrap;" target="_blank" href ="https://www.forge.tools:9000/explorer?wsId=79&amp;dmsId='||DMS_ID||'"&gt;Explorer&lt;/a&gt;
                .tile 
                    .tile-image.border(style="background: url('images/app-product-catalog.png') no-repeat;background-size:contain;")
                    .tile-details
                        .tile-title Product Catalog
                        .tile-subtitle Browse the Product Portfolio in real time to retrieve latest product data
                    .instructions
                        h1 Prerequisites
                        p Your tenant must have the Product Portfolio Management app installed (providing the workspaces Product Categories, Product Lines and Products).
                        h1 Features
                        p Users can navigate the various level of the portfolio from Product Categories down to Products in an easy manner. Once a product is selected, users can retrieve a couple of information: 
                        ul  
                            li The Marketing Text managed in section 'Product Catalog Definition' can be used to describe the product's features
                            li The images managed in section 'Product Catalog Images' can be opened 
                            li If Classification section is added to the Products workspace, the given technical specification can be seen 
                            li The product attachments can be downloaded 
                            li If an engineering BOM item is linked to the product, the given BOM can be accessed and the given root item's viewable will be rendered
                        h1 Adjust Workspace Products 
                        p Add the Classification section to the Products workspace to enable management of technical specification based on product type:
                        img(src='images/apps/product-catalog-1.png' style='width:736px;')
                        p Set the field 'Engineering BOM' to be a pick list, enabling references to the 'Vault Items and BOMs' or the 'Items and BOMs' workspace (the choice is yours, both will work). Only if a given item is selected in this pick list, the product catalog will be able to render the 3D design of the product (as this will render the related item's dwf). Also, this given item will be used to retrieve the product Bill of Materials.
                        img(src='images/apps/product-catalog-2.png' style='width:736px;')
                        h1 Provide Workspace Names
                        p If you changed the workspace names of the standard Product Portfolio Management app, you will have to provide the given list of names in file /public/javascripts/portfolio.js in the very first line: 
                        p.code let hierarchy   = ['Product Categories', 'Product Lines', 'Products'];
                        h1 Access the Dashboard
                        p You can access the dashboard with the /portfolio enpoint
                        a(href="portfolio" target="_blank")
                .tile
                    .tile-image(style="background: url('images/app-mobile-client.png') no-repeat;background-size:contain;")
                    .tile-details
                        .tile-title Mobile Client
                        .tile-subtitle Have PLM with you all the time in your pocket. Visualize product data and trigger new processes whenever needed.
                    .instructions
                        h1 Prerequisites
                        p This solution does not require any changes to your tenant, all information is retrieved dynamically. However, in order to make the solution accessible on your mobile device, your server must be available from the Internet and use https connections instead of http.
                        h1 Access the Mobile Client
                        p You can access the client with the /client enpoint:
                        a(href="client" target="_blank")
                .tile.xxl
                    .tile-image.border(style="background: url('images/app-services-portal.png') no-repeat;background-size:contain;")
                    .tile-details
                        .tile-title Services Portal
                        .tile-subtitle Access latest product data, access documentation and order spare parts when needed
                    .instructions
                        h1 Prerequisites
                        p This solution is based on the standard 'Vault Items &amp; BOMs' workspace. However, in order to process the spare part request processes, you have to add a workspace 'Spare Part Requests'.
                        h1 Limitations 
                        p Note that there is no capability to track the progress of Spare Part Requests in this app. The given button 'Pending Requests' has no function.
                        h1 Canges to workspace Vault Items
                        h2 Bill of Materials Tab
                        p Create a new BOM view 'Service' with the fields shown below. The sequence of fields does not matter and you may add further fields if needed.
                        img(src='images/apps/services-portal-1.png' style='max-width:calc(100% - 30px);margin:10px 0px 30px;padding:10px;border:1px solid #eee;')
                        table(style='margin:10px 0px 30px')
                            tr
                                th Source
                                th Source Field 
                                th Display Name 
                            tr  
                                td System
                                td Descriptor
                                td Descriptor
                            tr  
                                td Item Details
                                td Title
                                td Title
                            tr  
                                td Item Details
                                td Number 
                                td Number 
                            tr  
                                td Item Details
                                td Spare Wear Part
                                td Spare Wear Part
                            tr  
                                td Item Details
                                td Material
                                td Material
                            tr  
                                td Item Details
                                td Mass 
                                td Mass 
                            tr  
                                td Item Details
                                td Dimensions/Size 
                                td Dimensions/Size 
                        h1 New Workspace Spare Parts Requests
                        h2 Add Workspace
                        p Users can trigger requests for spare parts in the given portal. This is made possible with a new workspace named 'Spare Parts Requests' which you have to add before using all features this solution. Use the settings shown in the following screenshot.
                        img(src='images/apps/services-portal-2.png' style='width:100%;max-width:900px;margin:10px 0px;padding:10px;border:1px solid #eee;')
                        h2 Item Details Tab
                        p Add the following fields to the new workspace. Keep the layout of two sections as shown in the following screenshot:
                        img(src='images/apps/services-portal-3.png' style='width:100%;max-width:513px;margin:10px 0px 30px;padding:10px;border:1px solid #eee;')
                        table(style='margin:10px 0px 30px')
                            tr
                                th Label 
                                th Field ID 
                                th Type 
                                th Details 
                                th Editable
                            tr  
                                td ID 
                                td ID 
                                td Auto Number
                                td Formula: AUTONUMBER('', ID__AUTO_INC, 6) 
                                td false
                            tr  
                                td Linked Item 
                                td LINKED_ITEM 
                                td Pick List (Vault Items &amp; BOMs, Single Selection)
                                td length: 200
                                td Creation Only
                            tr  
                                td Requested By 
                                td REQUESTED_BY 
                                td Single Line Text
                                td length: 200
                                td false
                            tr  
                                td Request Date 
                                td REQUEST_DATE
                                td Date
                                td -
                                td false
                            tr  
                                td Comments 
                                td COMMENTS
                                td Paragraph
                                td Length: 100000
                                td true
                            tr  
                                td Total Cost 
                                td TOTAL_COST
                                td Money
                                td Length: 10, Field Precision: 0
                                td true
                            tr  
                                td Shipment Date 
                                td SHIPMENT_DATE
                                td Date
                                td -
                                td true
                            tr  
                                td Tracking # 
                                td TRACKING
                                td Single Line Text
                                td Length : 200
                                td true
                            tr  
                                td Notes 
                                td NOTES
                                td Paragraph
                                td Length: 100000
                                td true
                        h2 Descriptor
                        p Set the descriptor for this workspace as you like (i.e. ID - Requested By)
                        h2 Grid Tab
                        p Add the following fields to the grid tab
                        img(src='images/apps/services-portal-4.png' style='width:100%;max-width:900px;margin:10px 0px 30px;padding:10px;border:1px solid #eee;')
                        table(style='margin:10px 0px 30px')
                            tr
                                th Label 
                                th Field ID 
                                th Type 
                                th Details 
                                th Editable
                            tr  
                                td Item 
                                td ITEM
                                td Pick List
                                td Pick List [WS] Vault Items and BOMs (Single Selection)
                                td Creation Only
                            tr  
                                td Quantity
                                td QUANTITY 
                                td Integer
                                td length: 10
                                td Creation Only
                            tr  
                                td Unit Cost
                                td UNIT_COST 
                                td Money
                                td Length: 10, Field Precision: 2
                                td true
                            tr  
                                td Total Cost
                                td TOTAL_COST 
                                td Money
                                td Formula: QUANTITY * UNIT_COST; Add aggregation type 'Sum'
                                td false
                            tr  
                                td Remarks 
                                td REMARKS
                                td Single Line Text
                                td Length: 200
                                td true
                        h2 Tab Names 
                        p Adjust the tab names for ease of use:
                        ul 
                            li Item Details &gt; Request
                            li Grid &gt; Part List
                            li Workflow Actions &gt; Workflow
                        h2 Scripts
                        p Create a new Action script 'Spare Parts Requests WF Actions' with the code shown below. Make sure to select library script 'getUserName' for the Imports.
                        p.code item.REQUESTED_BY = getUserName(); 
                            br
                            span item.REQUEST_DATE = new Date();
                        h2 Workflow
                        p Provide a workflow for this new workspace. While the workflow logic does not matter for this solution, make sure to attach the script 'Spare Parts Requests WF Actions' as action script to the initial transition.
                        img(src='images/apps/services-portal-5.png' style='width:100%;max-width:768px;margin:10px 0px;padding:10px;border:1px solid #eee;')
                        h2 Access Permission 
                        p Add a role for this new workspace and assign this given role to your users to enable access. Grant full access (add, delete, edit and view) to the tabs Attachments, Grid, and Workflow.
                        h1 Access the Services Portal
                        p You can access the Services Portal portal with the /service enpoint. Provide the ID of workspace 'Vault Items' as well as the DMSID of the root Vault Item as parameters. The following link will work in tenants based on the template of 2021 still having the default demo data available:
                        a(href="service?wsId=79&dmsId=11143" target="_blank")
                .tile.xxl
                    .tile-image.border(style="background: url('images/app-class-browser.png') no-repeat;background-size:contain;")
                    .tile-details
                        .tile-title Class Browser
                        .tile-subtitle Identify similar parts based on item classfication data to increase reuse of components
                    .instructions
                        h1 Prerequisites
                        p You can use this solution with any workspace that has the Classification section enabled. The installation instructions below describe how to enable this extension for 'Items &amp; BOMs', but you can also enable it for 'Vault Items and BOMs' for example.
                        h1 Configuration Changes for workspace 'Items &amp; BOMs'
                        h2 Item Details Tab 
                        p Use the Workspace Manager to add the following fields to workspace 'Items &amp; BOMs'. You may add all these fields to the same (new) section 'Classification Summary' and position them in a matrix, but both is not technically required. These fields will be set by script, so their placement does not matter.
                        img(src='images/apps/class-browser-1.png' style='width:100%;max-width:900px;margin:10px 0px')
                        table(style='margin:10px 0px 30px')
                            tr
                                th Label 
                                th Field ID 
                                th Type 
                                th Details 
                                th Editable
                            tr
                                td DMS_ID 
                                td DMS_ID 
                                td Single Line Text 
                                td Field Length: 20; set visibility to Never 
                                td False
                            tr  
                                td Root Class
                                td ROOT_CLASS
                                td Single Line Text
                                td Field Length : 200
                                td False
                            tr  
                                td Class Path
                                td CLASS_PATH 
                                td Single Line Text
                                td Field Length : 1000
                                td False
                            tr  
                                td Class Name
                                td CLASS_NAME
                                td Single Line Text
                                td Field Length : 200
                                td False
                            tr  
                                td Class Browser
                                td CLASS_BROWSER
                                td Single Line Text
                                td Inser the computed field formula shown below (update the given url according to your server)
                                td False
                        p.code CASE WHEN (CLASS_NAME is null) THEN '' ELSE '&lt;a style="color: #0a131c;border: 1px solid #bec8d2;border-radius:3px;padding:2px 20px;text-align:center;text-decoration:none !important;line-height:20px;white-space:nowrap;width:160px;" target="_blank" href ="http://localhost:8080/classes?wsId=57&amp;dmsId='||DMS_ID||'"&gt;Find Similar Parts&lt;/a&gt;' END
                        p Note that the formula for the 'Class Browser' field must contain the right workspace id (wsId); 57 matches the 'Items &amp; BOMs' workspaces in default tenants.
                        h2 Scripts
                        p The fields that were created just before must be updated by scripts every time a new record gets created or when it gets modified. Make sure that the following code is invoked at item creation and during item edit events. In the standard tenant, you will have to modify both the scripts 'Items and BOMs onCreate' and 'Items and BOMs onEdit'.
                        p.code updateClassDetails();
                            br
                            br
                            span // Store classification information for Class Browser extension
                            br
                            span function updateClassDetails() {
                            br
                            br
                            span(style="padding-left : 20px;") if(item.DMS_ID !== dmsID) item.DMS_ID = dmsID;
                            br
                            br
                            span(style="padding-left : 20px;") var rootClass = "";
                            br
                            span(style="padding-left : 20px;") var classPath = "";
                            br
                            span(style="padding-left : 20px;") var className = "";
                            br
                            br
                            span(style="padding-left : 20px;") if(Object.keys(item.classification).length > 0) {
                            br
                            br
                            span(style="padding-left : 40px;") var path = item.classificationSection.getClassificationPath();
                            br    
                            br
                            span(style="padding-left : 40px;") if(path.length > 0) {
                            br
                            br
                            span(style="padding-left : 60px;")  rootClass = path[0];
                            br
                            span(style="padding-left : 60px;") className = path[path.length - 1];
                            br
                            span(style="padding-left : 60px;") classPath = rootClass;
                            br
                            br
                            span(style="padding-left : 60px;") if(path.length > 1) {
                            br
                            span(style="padding-left : 80px;") for(var i = 1; i < path.length; i++) {
                            br
                            span(style="padding-left : 100px;") classPath += ' / ' + path[i];
                            br
                            span(style="padding-left : 80px;") }
                            br
                            span(style="padding-left : 60px;") }
                            br
                            span(style="padding-left : 40px;") }
                            br
                            span(style="padding-left : 20px;") }
                            br
                            br
                            span(style="padding-left : 20px;") if(item.ROOT_CLASS !== rootClass) item.ROOT_CLASS = rootClass;
                            br
                            span(style="padding-left : 20px;") if(item.CLASS_PATH !== classPath) item.CLASS_PATH = classPath;
                            br
                            span(style="padding-left : 20px;") if(item.CLASS_NAME !== className) item.CLASS_NAME = className;
                            br
                            br
                            span }
                        h1 Access the Class Browser
                        p Once an item get classified, the field 'Class Browser' will display a button to open the browser in a new tab.
                .tile.xxl
                    .tile-image(style="background: url('images/app-design-review.png') no-repeat;background-size:contain;")
                    .tile-details
                        .tile-title Design Reviews
                        .tile-subtitle Portal to involve (external) stakeholders in the Design Review Process, providing markups to drive corrective actions
                    .instructions
                        h1 Prerequisites
                        p You must have the latest Design Review app installed from the App Store. If your tenant is based on the April 2021 template, this given app is included already. To validate if your tenant contains this latest app, please validate if the workspaces 'Design Review Tasks' is available in your tenant.
                        p Make sure that the Design Reviews workspace has the state 'In Progress' defined within its workflow. Only Design Reviews in this given state will be displayed in the landing page of the Design Review Portal.
                        p If there is a transition 'Close review' available to the user for the given Design Review process, the button 'Finish' will be displayed when reviewing a design, allowing to move the review to the next workflow status and to close the review.
                        h1 Configuration Changes
                        p Use the Workspace Manager to perform the following changes to your tenant:
                        ol 
                            li Add field 'VAULT_ITEM' to workspace 'Design Reviews': Make this a linking pick list field to allow selection of items in 'Vault Items and BOMs'
                            li Add field 'THUMBNAIL' to workspace 'Design Reviews': Set this as derived field for the previous field and let it derive the Thumbnail field.
                            li In workspace 'Design Review Tasks' add two fields of type paragraph: 'MARKUPSTATE' and 'MARKUPSVG'. Set maximum lenght to 1000000 for both fields and set their visibility setting to 'Never'. Add these two fields to the first section of Item Details.
                            li The following fields have to be set to editable 'at creation' in workspace 'Design Review Tasks': TITLE, DESCRIPTION, DESIGN_REVIEW, TARGET_COMPLETION_DATE
                            li Field 'ASSIGNEE' in workspace 'Design Review Tasks' must not be mandatory
                            li Disable 'Workflow Locking' for all sections in workspace 'Design Review Tasks'
                            li Grant permission to 'Add Items' in workspace 'Design Review Tasks' for the users which will use the Design Review Portal.
                        h1 Script Changes
                        p Let new Design Review Tasks be connected to the related 'Design Review' by adding the following script to the initial workflow transition (from the Start Node) in workspaces 'Design Review Tasks':
                        p.code if(item.DESIGN_REVIEW !== null) { item.DESIGN_REVIEW.project.addTask(item); }
                        p Adjust the script 'Design Reviews WF Actions' by extending the if statement in line with the following condition: 
                        p.code item.project.children.length === 0
                        img(src='images/apps/design-review-1.jpg' style='width:100%;max-width:900px;border:1px solid #333;margin-bottom:10px;')
                        h1 Access the Design Review Portal
                        p You can access the design review portal with the /reviews enpoint. Provide the ID of workspace 'Design Reviews' as parameter:
                        a(href="reviews?wsId=76" target="_blank")
                .tile.xxl
                    .tile-image(style="background: url('images/app-reports-dashboard.png') no-repeat;background-size:contain;")
                    .tile-details
                        .tile-title Reports Dashboard
                        .tile-subtitle Dedicated dashboard to access real time reports of PLM in advanced manner
                    .instructions
                        h1 Instructions
                        p The dashboard makes use of the reports defined in PLM. Make sure that you have valid reports defined in the reports panel. The first two out of these reports will get displayed on the dashboard automatically.
                        p The button 'Select Reports' enables users to select a different set of reports for the dashboard. Note: This given selection will not be saved.
                        p Users can click on the rows in table based reports to navigate to the given record in PLM.
                        h1 Limitations
                        p This solution only support non-stacked column charts and pie charts. All other charts require further developoments.
                        h1 Access the Dashboard
                        p You can access the reports dashboard /reports enpoint:
                        a(href="reports" target="_blank")
                .tile.xxl
                    .tile-image(style="background: url('images/app-impact-analysis.png') no-repeat;background-size:contain;")
                    .tile-details
                        .tile-title Impact Analysis Dashboard
                        .tile-subtitle Open this dashboard from a Change Order to reveal the impact of changes to given Affected Items
                    .instructions
                        h1 Features
                        p Users can better assess the impact of changes by reviewing all details of the given Change Order's list of affected items. To do so, multiple information is retrieved in parallel and devided in various tabls. So for each affected item, users can easily review the following information:
                        ul  
                            li 3D view of the attached dwf
                            li Change Log tab reveals the item's change log
                            li The Item tab shows details defined in the affected items tab itself
                            li All Item Details can be checked in the Details tab 
                            li The flat BOM can be listed in the BOM tab, where items that got changed will be highlighted by color
                            li Users can select items in the BOM tab and have the given component highlighted in the 3D view
                            li The Where Used tab will be used to retrieve all End Items of an item (the root item nodes not having any further parents). Using the Add buttons, users can add the given nodes to the CO's list of Affected Items.
                            li In tab Impacted, users can see all records linked to the affected item within its Relationships tab. This tab also will show all BOM root nodes which are neither managed in the 'Items and BOMs' nor in the 'Vault Items and BOMs' workspace. The latter one will for example show if a component is used within a product's BOM.
                            li Inside the Impacted tab, users can easily link given records of interest to the current Change Order's References tab for later reuse 
                            li In tab Changed Items, users can get the list of all BOM sub items where the working version got modified and which are not listed in the list of Affected Items yet
                            li The item's Attachments can be opened in the Files tab
                            li All item related change processes are listed in tab Processes
                        h1 Configuration Changes
                        ol
                            li Store DMSID
                            p In order to make this button work, you also have to add a (hidden) field DMS_ID which holds the dmsID of the current Change Order. Use the following script code at Change Order creation to capture the given dmsID (attach this script to the initial workflow transition):
                            p.code item.DMS_ID = dmsID;
                            li Action Button
                            p Add a button to your Change Orders workspace to open the given report in context:
                            img(src='images/apps/impact-analysis-1.jpg' style='height:240px;border:1px solid #333;')
                            p To provide this shortcut, add a computed field with the following formula. Replace Workspace ID of 84 with the ID of your Change Orders workspace!
                            p.code '&lt;a style="color: #0a131c;border: 1px solid #bec8d2;border-radius:3px;padding:2px 20px;text-align:center;text-decoration:none !important;line-height:20px;white-space:nowrap;width:160px;" target="_blank" href ="LOCATIONimpactanalysis?wsId=84&dmsId='||DMS_ID||'"&gt;Impact Analysis&lt;/a&gt;'
                        h1 Access the Dashboard
                        p You can access the dashboard with the /insights endpoint:
                        a(href="impactanalysis?wsId=84&dmsId=11013" target="_blank")
                        p Please note that the dashboard will retrieve the system log information in small packages and it will take some time until all information is available. There is a progress inidicator in top right corner to inform you about the data retrieval progress.
                .tile.xxl
                    .tile-image.border(style="background: url('images/app-mbom-editor.png') no-repeat;background-size:contain;")
                    .tile-details
                        .tile-title MBOM Editor
                        .tile-subtitle Transform an EBOM managed in Vault Items and BOMs to a MBOM managed in the standard Items and BOMs workspace
                    .instructions
                        h1 Prerequisites
                        p This app requires both the workspaces 'Vault Items and BOMs' and 'Items and BOMs'.
                        h1 Configuration Changes
                        p Use the Workspace Manager to perform the changes listed below in your tenant.
                        h3 Item Details of workspace 'Vault Items and BOMs'
                        p A new section 'MBOM Transition' is required which contains all the fields driving the editor business logic
                        img.border(src='images/apps/mbom-editor-1.jpg' style='width:100%;max-height:150px;')
                        ol 
                            li Add computed field 'MBOM_EDITOR' with the following formula
                                p.code CASE 
                                    br
                                    span WHEN (DMS_ID is null) THEN '<span style="white-space:nowrap;color:#bbb;font-style:italic;">Item ID is not set</span>'
                                    br
                                    span WHEN (END_ITEM = true) THEN '<span style="white-space:nowrap;color:#bbb;font-style:italic;">Not available for end items</span>'
                                    br
                                    span WHEN (CATEGORY is null) THEN '<span style="white-space:nowrap;color:#bbb;font-style:italic;">Item is not of category Assembly</span>'
                                    br
                                    span WHEN (CATEGORY != 'Assembly') THEN '<span style="white-space:nowrap;color:#bbb;font-style:italic;">Item is not of category Assembly</span>'
                                    br
                                    span ELSE '&lt;a style="color: #0a131c;border: 1px solid #bec8d2;border-radius:3px;text-align:center;text-decoration:none !important;line-height:16px;white-space:nowrap;width:100px;font-weight:600;font-size:0.8em;" target="_blank" href ="http://localhost:8080/mbom?options=57,121,122&wsId=79&dmsId='||DMS_ID||'"&gt;Open&lt;/a&gt;'
                                    br
                                    span END
                            li Add field 'MBOM' as linking pick list to workspace 'Items and BOMs' (Single Selection, not editable)
                            li Add date field 'LAST_MBOM_SYNC' (not editable)
                            li Add Single Line Text field 'OPERATION_CODE' (editable)
                            li Add checkbox 'END_ITEM' (editable)
                            li Add checkbox 'IGNORE_IN_MBOM' (editable)
                            li Add Single Line Text field 'DMS_ID' (not editable, hidden)
                        h3 Bill of Materials tab of workspace 'Vault Items and BOMs'
                        p Add a new BOM view 'MBOM Transition' to workspace 'Vault Items and BOMs' with the following columns: 
                        ol  
                            li Thumbnail
                            li Descriptor
                            li CC
                            li Category
                            li Quantity
                            li Number
                            li MBOM Editor
                            li MBOM
                            li Last MBOM Sync
                            li Operation Code
                            li End Item
                            li Ignore in MBOM
                            li Revision
                            li Quantity
                            li any further column you like
                        h3 Item Details of workspace 'Items and BOMs'
                        p A new section 'Engineering BOM' is required which contains all the fields driving the editor business logic
                        img.border(src='images/apps/mbom-editor-2.jpg' style='width:100%;max-height:150px;')
                        ol 
                            li Add field 'EBOM' as linking pick list to workspace 'Vault Items and BOMs' (Single Selection, editable)
                            li Add date field 'LAST_EBOM_SYNC' (editable)
                            li Add Single Line Text field 'OPERATION_CODE' (length 10, editable)
                            li Add checkbox 'IS_OPERATION' (editable)
                        h3 Bill of Materials tab of workspace 'Items and BOMs'
                        p Add a new BOM view 'MBOM Transition' to workspace 'Vault Items and BOMs' with the following columns: 
                        ol  
                            li EBOM
                            li Operation Code
                            li Is Operation
                            li Descriptor
                            li Revision
                            li Quantity
                            li any further column you like
                        h3 Workspace Relationships
                        p Make sure that connections to workspace 'Vault Items and BOMs' are possible in the Bill of Materials tab 
                        img.border(src='images/apps/mbom-editor-4.jpg' style='width:100%;')
                        h3 Scripts
                        p Add the following script code to creation event of workspace 'Vault Items and BOMs'
                        p.code
                            span item.DMS_ID = dmsID;
                        p Add the following script code to creation event of workspace 'Items and BOMs'
                        p.code
                            span updateEBOM();
                            br
                            span function updateEBOM() {
                            br
                            span    if(item.EBOM === null) return;
                            br
                            span    item.EBOM.MBOM = item;
                            br
                            span }
                        p Add the following script code to edit event of workspace 'Items and BOMs'
                        p.code
                            span if(item.EBOM !== null) {
                            br
                            span if(item.EBOM.LAST_MBOM_SYNC !== item.LAST_EBOM_SYNC) item.EBOM.LAST_MBOM_SYNC = item.LAST_EBOM_SYNC;
                            br
                            span }
                        h3 Provide correct IDs
                        p The server requires certain internal IDs of sections and workspaces in order to pull and update data in Fusion 360 Manage. These settings can be changed to allow the usage of this server with any tenant. While these settings also could be determined with the API on the fly, this would slow down the editor startup even more every time. This is why the following settings have to be provided manually instead.
                        p Review the computed formula of field MBOM_EDITOR in workspace 'Vault Items and BOMs'. This formula contains the following string: 
                        p.code href ="LOCATIONmbom?options=57,121,122&wsId=79&dmsId=
                        p You have to change the name and port of your server in this link, but also the following IDs:
                        ul
                            li 57 = ID of workspace 'Items and BOMs'
                            li 121 = ID of BOM View 'MBOM Transition' in workspace 'Vault Items and BOMs'
                            li 122 = ID of BOM View 'MBOM Transition' in workspace 'Items and BOMs'
                            li 79 = ID of workspace 'Vault Items and BOMs'
                        p Please use the network tab of your browser to reveal the IDs of the required BOM views and sections: 
                        img.border(src='images/apps/mbom-editor-3.jpg' style='width:100%;')
                .tile.xxl
                    .tile-image.border(style="background: url('images/app-insights.png') no-repeat;background-size:contain;")
                    .tile-details
                        .tile-title Tenant Insights
                        .tile-subtitle Reveal insights of your tenant to track user activity and data modifications
                    .instructions
                        h1 Prerequisites
                        p Your user must have admin privileges in order to have access to the system Log    
                        h1 Maximum Log Entries  
                        p To make this solution compatible with large environments, it will take into account a maximumg of 500.000 log entries. This number can be changed in file /public/javascripts/insights.js if needed:
                        p.code let maxLogEntries = 500000;
                        h1 Access the Dashboard
                        p You can access the dashboard with the /insights enpoint. If you want users to be excluded from the report, provide their display names with the options parameter:
                        a(href="insights?options=Integration%20User;ERP%20Connector;Job%20User" target="_blank")
                        p Please note that the dashboard will retrieve the system log information in small packages. This process takes some time. There is a progress inidicator in top right corner to inform you about the data retrieval progress.
                .tile.xxl
                    .tile-image(style="background: url('images/app-projects-dashboard.png') no-repeat;background-size:contain;")
                    .tile-details
                        .tile-title Projects Dashboard
                        .tile-subtitle Track progress of all your projects in a single dashboard
                    .instructions
                        h1 Prerequisites
                        p Your tenant must have the latest NPI solution installed (providing the workspaces Projects, Project Tasks, Teams and so on).
                        h1 Features
                        p The dashboard will provide insights in all projects that are accessible to the current user and display the following reports:
                        ul
                            li The timeline of each projects by showing all Gates' target dates
                            li The Status Reports of each projects
                            li Current progress, project budget and progress of current phase of each project
                            li The planned effort for each project's phase
                            li Deviations of project end dates
                        h1 Access the Dashboard
                        p You can access the dashboard with the /projects enpoint. Append the ID of your Projects workspace at the end
                        a(href="projects?wsId=86" target="_blank")