extends common

block head
  script(src='/javascripts/redirect.js')

block content
    script.
        clientId="#{clientId}"
        redirectUri="#{redirectUri}"
    #progress(style="position:absolute;top:calc(50% - 15px);left:calc(50% - 33px);")
        .bounce1
        .bounce2
        .bounce3