extends common/layout

block head
    link(rel='stylesheet', href='/stylesheets/training.css')
    script(src='/javascripts/training.js')
    script.
        config = !{JSON.stringify(config)};

block content

    body

        #header.dark
            #header-logo
            #header-title= title
            #header-subtitle
            #header-toolbar
                #button-settings.button.with-icon.icon-settings(title='Click to open settings') Settings 
                #header-avatar
        
        #main.screen

            //- iframe(id="iframe" width="560" height="315" src="https://www.youtube.com/embed/q1LxqVtVDD8?si=97Vn3zW9vgvKGJX8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen)

            .viewer#viewer     

            //- .panel#create
            //-     .panel-header
            //-         .panel-title Create new item
            //-         .panel-toolbar
            //-             .button.default#create-continue Continue
            //-     .panel-content#create-sections

            .panel#details
                .panel-header   
                    .panel-title Details 
                    .panel-toolbar 
                        .button.icon.icon-bookmark#bookmark
                        .button.icon.icon-open#open
                .panel-content#details-sections
            
            .panel#attachments
                .panel-header
                    .panel-title Attachments
                .panel-content.tiles.list.s#attachments-list

            //- .panel#recents
            //-     .panel-header 
            //-         .panel-title Recently Viewed
            //-     .panel-content#recents-list.tiles.list.xs



