extends layout

block head

    link(rel='stylesheet', href='/stylesheets/framework/docs.css')
    script(src='/javascripts/framework/docs.js') 

block body

    body
        .split.left-350.surface-level-5
            .split-left.padding-100.surface-level-3
                h1 User Experiences Developer Guide
                .nav-subtitle You can use this package to also build your own applications based on modular components being used for the preconfigured apps as well
                .nav-header Navigation Views
                .nav-description The capabilities of nav.js enable displaying multiple records to let users navigate to information of interest
                .nav-contents
                    .nav-content(data-id='nav-mow') My Outstanding Work
                    .nav-content(data-id='nav-recent-items') Recently Viewed Items
                    .nav-content(data-id='nav-bookmarks') Bookmarks
                    .nav-content(data-id='nav-workspace-views') Workspace Views
                    .nav-content(data-id='nav-workspace-items') Workspace Items
                .nav-header Item Contents
                .nav-description Insert data of a given record using the functions defined in item.js
                .nav-contents
                    .nav-content(data-id='item-attachments') Attachments
                    .nav-content(data-id='item-bom') BOM
                    .nav-content(data-id='item-workflow-actions') Workflow Actions
            #doc-contents.split-right.padding-80.surface-level-1.no-scrollbar(name='doc-contents')
                include ../docs/nav-mow.pug
                include ../docs/nav-recent-items.pug
                include ../docs/nav-bookmarks.pug
                include ../docs/nav-workspace-views.pug
                include ../docs/nav-workspace-items.pug
                include ../docs/item-attachments.pug
                include ../docs/item-bom.pug
                include ../docs/item-workflow-actions.pug
                