extends layout

block head

    link(rel='stylesheet', href='/stylesheets/framework/error.css')

block body

    .wrapper.centered.light
        .error-code= error.status
        .error-title= message
        .error-message= error.stack
