extends layout

block head

    link(rel='stylesheet', href='/stylesheets/framework/gallery.css')
    script(src='/javascripts/framework/gallery.js')
    script.
        config = !{JSON.stringify(config)};

block body

    body.surface-level-1

        #header.dark
            #header-logo
            #header-title= title
            #header-toolbar
                .button(data-id='item-colors') Item Colors
                .button(data-id='bom-colors' ) BOM Colors
                .button(data-id='columns'    title='Columns').icon.icon-columns
                .button(data-id='home'       title='Landing Page').icon.icon-home
                .button(data-id='find'       ).icon.icon-search
                .button(data-id='views'      title='Worspace Views and Workspace Items').icon.icon-table
                .button(data-id='item-1'     ) Item
                .button(data-id='item-2'     ) BOM
                .button(data-id='item-3'     ) Where Used
                .button(data-id='item-4'     title='Reference data including change log').icon.icon-link
                .button(data-id='summary'    ).icon.icon-toggle-layout
                .button(data-id='tabs'       ).icon.icon-tabs
                .button(data-id='lists'      title='List layout in all sizes'   ).icon.icon-list
                .button(data-id='grids'      title='Grid layout in all sizes'   ).icon.icon-tiles-list
                .button(data-id='galleries'  title='Gallery layout in all sizes').icon.icon-dashboard
                .button(data-id='rows'       title='Rows layout in all sizes'   ).icon.icon-filter-empty
                .button(data-id='files'      ).icon.icon-pdf
                .button(data-id='edit'       ) Edit
                span Select 
                    br
                    |Profile:
                select#profiles.main
                .button(data-id='theme').icon.icon-highlight#toggle-theme
                #header-avatar

        .screen#item-colors 

            #item-color-1.surface-level-1.panel-20
            #item-color-2.surface-level-2.panel-40
            #item-color-3.surface-level-3.panel-60
            #item-color-4.surface-level-4.panel-80
            #item-color-5.surface-level-5.panel-100

        .screen#bom-colors 

            #bom-color-1.surface-level-1.panel-20
            #bom-color-2.surface-level-2.panel-40
            #bom-color-3.surface-level-3.panel-60
            #bom-color-4.surface-level-4.panel-80
            #bom-color-5.surface-level-5.panel-100

        .screen#columns 

            .surface-level-1#left
            .surface-level-1#center
            .surface-level-1#right

        .screen#home 

            .surface-level-1#mow
            .surface-level-1#bookmarks
            .surface-level-1#recents

        .screen#views 

            .surface-level-1#workspace-views
            .surface-level-2#workspace-items

        .screen#find

            .surface-level-2#search
            .surface-level-1#results

        .screen#item-1

            .surface-level-2#details
            .surface-level-1#attachments
            .surface-level-1#grid
            .surface-level-3#workflow-history
            .surface-level-3#sourcing

        .screen#item-2

            .surface-level-1#viewer.viewer            
            .surface-level-1#bom            
            .surface-level-2#flat-bom            
            .surface-level-3#bom-parts-list         

        .screen#item-3


            .surface-level-1#roots           
            .surface-level-1#parents          
            .surface-level-1#changes  

        .screen#item-4

            .surface-level-1#change-log
            .surface-level-1#relationships
            .surface-level-1#processes
            .surface-level-1#managed-items

        .screen#edit 

            .surface-level-2#itemedit
            .surface-level-3#itemcreate 
            .button.default#showcreate Create Item
            .button.default#showclone Clone Item

        .screen#summary.surface-level-1

        .screen#tabs
        
            .surface-leel-2#item-tabs
            .surface-levl-2#item-sections

        .screen#lists 

            .surface-level-1#list-xxs
            .surface-level-1#list-xs
            .surface-level-1#list-s
            .surface-level-1#list-m
            .surface-level-1#list-l
            .surface-level-1#list-xl
            .surface-level-1#list-xxl

        .screen#grids 

            .surface-level-1#grid-xxs
            .surface-level-1#grid-xs
            .surface-level-1#grid-s
            .surface-level-1#grid-m
            .surface-level-1#grid-l
            .surface-level-1#grid-xl
            .surface-level-1#grid-xxl

        .screen#galleries 

            .surface-level-1#gallery-xxs
            .surface-level-1#gallery-xs
            .surface-level-1#gallery-s
            .surface-level-1#gallery-m
            .surface-level-1#gallery-l
            .surface-level-1#gallery-xl
            .surface-level-1#gallery-xxl

        .screen#rows 

            .surface-level-1#row-xxs
            .surface-level-1#row-xs
            .surface-level-1#row-s
            .surface-level-1#row-m
            .surface-level-1#row-l
            .surface-level-1#row-xl
            .surface-level-1#row-xxl

        .screen#files

            .surface-level-1#files-row-xxs
            .surface-level-1#files-row-xs
            .surface-level-1#files-row-s
            .surface-level-1#files-row-m
            .surface-level-1#files-row-l
            .surface-level-1#files-row-xl
            .surface-level-1#files-row-xxl

            .surface-level-1#files-list-xxs
            .surface-level-1#files-list-xs
            .surface-level-1#files-list-s
            .surface-level-1#files-list-m
            .surface-level-1#files-list-l
            .surface-level-1#files-list-xl
            .surface-level-1#files-list-xxl

            .surface-level-1#files-grid-xxs
            .surface-level-1#files-grid-xs
            .surface-level-1#files-grid-s
            .surface-level-1#files-grid-m
            .surface-level-1#files-grid-l
            .surface-level-1#files-grid-xl
            .surface-level-1#files-grid-xxl

        .dialog#create-dialog
        
        .dialog#clone-dialog