extends layout

block head

    link(rel='stylesheet', href='/stylesheets/framework/landing.css')
    script(src='/javascripts/framework/landing.js') 

block body

    body
        .split.left-350
            .split-left.padding-100.surface-level-2(style='overflow-y:auto')
                h1#title Custom PLM 
                    br
                    |User Experiences
                p Unleash the power of Fusion Manage by utilizing its REST API to provide custom built frontends based on Autodesk Platform Services. All solutions manage data in PLM only. All business rules of PLM as well as access permissions still apply.
                div.left-toolbar
                    .button#version Version of 
                        span#version-name July 2024
                    .button#tenant Connected to 
                        span#tenant-name
                p This  version has been optimized for the tenant template released in 2023 using a single Items workspace. While the solutions can be used with any tenant thanks to their configuration capabilities, using this new tenant reduces configuration efforts. In addition, most of the solutions can be tested with the given demo datasets immediately.
                p#themes 
                    span Select Theme:
                    select#theme-selector.button 
                        option(value='light-theme') Light Theme
                        option(value='dark-theme') Dark Theme
                        option(value='black-theme') Black Theme
                p#disclaimer These solutions are provided by Autodesk Technical Sales without warranty and support. There should be no assumption that updates, patches, bug fixes and / or new features will be delivered to you. There will also be no support available either through Autodesk Support channels or by the Autodesk Pre-sales Technical Team. Please feel free to take the source code and ideas from this tool to develop your own production ready tool and products. Change and reuse the source code as you like.
                p Reuse this framework and its examples to build your own custom solutions. The Developer Guide provides documentation for key library functionality, the main framework asset and includes tutorials to get started quickly:
                div.left-toolbar
                    .button#docs Explore the    
                        span#docs-name Developer Guide
            .split-right.tiles.xxl.padding-80.surface-level-2.no-scrollbar
                .log#framework-changes 
                    h1 Framework Changes
                    table 
                        tr 
                            td 2. May 2024
                            td Enhancement 
                            td Users can now switch between 3D and 2D viewables within the viewer if given files exist in the item's attachment tab and if this feature has not been disabled for the given user with setting 
                                span.code selectFile
                        tr 
                            td 29. April 2024
                            td Enhancement 
                            td Paramter 
                                span.code path 
                                |has been added to 
                                span.code insertBOM() 
                                |enabling quick navigation to currently selected component's parent(s). This feature now is available in the apps Design Review and Service Portal.
                        tr 
                            td 18. April 2024
                            td Enhancement 
                            td insertAttachments() now can display folders as well, depending on parameter folders (true / false)
                        tr 
                            td 
                            td Enhancement 
                            td insertBookmarks() and insertRecentItems() now can display tile images for given records by reetrieving the first image field having a value.
                        tr 
                            td 11. April 2024
                            td Enhancement 
                            td Default theme now can be defined in settings.js. Select from light, dark and black.
                        tr 
                            td 15. March 2024
                            td Framework 
                            td Most standard apps now can be extended easier thanks to dedicated css and js files in subfolders custom. 
                                br
                                |Override standard javascript code and css  by adding your custom contents to these empty files in /javascripts/custom as well as /stylesheets/custom. 
                                br
                                |For example, if the styling of the MBOM-Editor should be adjusted, add your custom css styling to /public/stylesheets/custom/mbom.css. 
                        tr 
                            td 29. February 2024
                            td BOM Displays 
                            td New options have been added to collapse the BOM at startup and to prevent expansion of defined items (parameter endItem)
                        tr 
                            td 
                            td BOM Displays
                            td If users do not have access to sub items, the parent item BOM will display a lock icon with tooltip
                        tr 
                            td 
                            td Attachments
                            td The attachments panels have been reworked and provide new configurable features like version information, various layouts and sizes. See the developer documentation for details.
                        tr 
                            td 15. February 2024
                            td BOM Displays 
                            td New options have been added to the BOM display (counters) and the Flat BOM display (filterEmpty)
                        tr 
                            td 10. January 2024
                            td Theme Support
                            td Use alternate color for this landing page and all the apps by passing the parameter 'theme' when accessing an application. You can choose from the following themes: dark,black and light. The latter one is default if no theme parameter is provided.
                        tr 
                            td 13. December 2023
                            td File Management
                            td To allow further additions, files in folders public and views have been moved to new folders. Some css and js files in folder public got renamed.
                        tr 
                            td 
                            td Settings Files
                            td Alternate settings files enabling to switch between multiple tenants now must be stored in folder settings. 
                                br 
                                | These files no longer need the prefix 'settings.' but must keep the suffix '.js'.
                .tiles-group.first
                    .tiles-group-title Ready-To-Use Applications
                    .tiles-group-subtitle Applications that do neither require configurations settings nor demo data. They will work immediately and can be used to validate the server setup.
                .tile(data-name='Reports Dashboard')
                    .tile-image(style="background: url('images/app-reports-dashboard.png') no-repeat;background-size:contain;")
                    .tile-details
                        .tile-title Reports Dashboard
                        .tile-endpoint /reports
                        .tile-subtitle Provides (managers) easy access to real time reports of PLM. This dashboard enables combining multiple graphic reports with multiple table reports. The latter ones enable to open the given records in PLM directly.
                    .instructions
                        h1 Features
                        ul
                            li The dashboard makes use of the reports defined in PLM. Make sure that you have valid reports defined in the reports panel. 
                            li The first two out of these reports will get displayed in the dashboard automatically.
                            li The button 
                                strong Select Reports
                                |  enables users to select a different set of reports for the dashboard. Note: This given selection will not be saved.
                            li Users can click on the rows in table based reports to navigate to the given record in PLM.
                        h1 Limitations
                        p This solution only supports non-stacked column charts and pie charts. All other charts require further developoments.
                        h1 Configure Startup Reports 
                        p The dashboard will automatically load a defined set of reports at startup before users can select their preferred reports using the 
                            strong Select Reports
                            | button. These startup reports can be defined in the 
                            strong settings.js
                            | file.
                        p.code
                            span 'reports' : {
                            span.indent 'startupReportNames' : ['Audits by Workflow State', 'CR approval status', 'DR: Rework Required', 'EX: Change Requests'],
                            span.indent 'startupReportNames' : 5
                            span }
                        p The list of startup repports can be defined by their names using the setting 
                            strong startupReportNames
                            |. In addition, 
                            strong startupReportNames 
                            | can be set to define a minimum number of reports to be loaded if none of the report names match for the current user. In this case, when set to 5, the system will display the first five reports (in alphabetical order) if none of the report names were found.
                        h1 Access the Dashboard
                        p You can access the reports dashboard using the 
                            strong /reports 
                            | endpoint:
                        a(href="reports" target="_blank")
                    .log 
                        h1 Reports Dashboard Change Log 
                        table 
                            tr 
                                td 9. January 2023
                                td Library Update 
                                td The charting library chart.js has been update to most recent version
                            tr 
                                td 7. July 2023
                                td New Feature 
                                td Reports can be removed from the dashboard with a new X icon
                            tr 
                                td 7. July 2023
                                td New Feature
                                td Automatic pagination has been enabled for table reports to improve usability
                include ../docs/app-insights.pug
                .tile(data-name='Workspace Navigator')
                    .tile-image(style="background: url('images/app-workspace-navigator.png') no-repeat;background-size:contain;")
                    .tile-details
                        .tile-title Workspace Navigator
                        .tile-endpoint /navigator
                        .tile-subtitle All contributors and decison makers can manage multiple records easier with this app. It provides mass edits and comparison of properties based on the user's workspace views, bookmarks &amp; recently viewed records.
                    .instructions
                        h1 Features
                        p Access data of relevance easily by having 
                            strong Workspaces Views
                            |, your 
                            strong Bookmarks
                            |, 
                            strong Recent Items 
                            | and entries of your 
                            strong My Outstanding Work 
                            | list combined in a single view. In these views, benefit from various additional features:
                        ul
                            li Item style instead of table style
                            li Filter using type ahead
                            li Mass Edit Item Details 
                            li Compare and highlight
                            li Hide / Unhide records in the views 
                            li Perform Workflow Actions on multiple records
                            li Clone items from the overviews
                            li Archive multiple records in one action
                            li Navigate to workspace of interest
                            li Bookmarks view will be selected automatically if the user bookmarks contain items of the selected workspace
                        h1 Limitations 
                        p You cannot modify fields of type Image and Multiple Picklists in this utility. Also, there are no options when cloning records.
                        h1 Access the Dashboard
                        p You can access the Workspace Navigator using the 
                            strong /navigator 
                            |  endpoint. You can also access the Workspace Navigator also for a defined workspace directly by passing the given Workspace ID wihtin the URL. Changing the workspace then is still possible:
                        div(style='display:flex;gap:20px;')
                            a(href="navigator" target="_blank")
                            a(href="navigator?wsId=149" target="_blank")
                    .log 
                        h1 Workspace Navigator Change Log 
                        table 
                            tr 
                                td 7. July 2023
                                td Enhancement
                                td Read-only fields are shown as read-only now
                            tr 
                                td 
                                td Enhancement
                                td Button 'Toggle Panel' has been replaced with dedicated close buttons to improve usability
                .tile(data-name='Mobile Client')
                    .tile-image(style="background: url('images/app-mobile-client.png') no-repeat;background-size:contain;")
                    .tile-details
                        .tile-title Mobile Client
                        .tile-endpoint /client
                        .tile-subtitle Have PLM with you all the time in your pocket. Visualize product data, enrich data, manage documents, perform workflow actions and trigger new processes whenever needed.
                    .instructions
                        h1 Prerequisites
                        p This solution does not require any changes to your tenant, all information is retrieved dynamically. However, in order to make the solution accessible on your mobile device, your server must be available from the Internet. For security reasons, it is highly recommended to https connections instead of http.
                        p You can use this mobile client on any mobile platform (Android and Apple) as it does not require installation of an app. Instead, this client is provided as responsive web site that adapts to the screen size automatically.
                        h1 Features
                        p Users benefit from PLM features on a mobile device: 
                        ul  
                            li Browse Workspaces and given views 
                            li Access Bookmarks and Recently Viewed items 
                            li Create &amp; Search records 
                            li Manage Item Details 
                            li View 3D data 
                            li Upload &amp; download attachments
                            li Browse the flat BOM of items 
                            li View relationships of a record 
                            li Track related change processes
                            li Perform Workflow Actions 
                            li Archive &amp; Unarchive items
                            li Share links to items using mail
                            li Review the Change Log
                        p The Mobile Client also can be used to navigate to a given record directly. This enables to scan a QR code to be directed to the matching record in PLM. See instructions for accesing the client below for details.
                        p While a lot of features are supported, the client also has limitations. It does not provide access to the following tabs: 
                        ul 
                            li Workflow 
                            li Grid 
                            li Project
                        h1 Mobile Device Simulation 
                        p If you want to test this solutions, but cannot access the server online from your phone, your browser can be of help. Open the Mobile Client using the instructions shown below. Once opened, right click the page and select 
                            strong Inspect 
                            | in Chrome. This will open the developer tools in which you can toggle the device for testing. Just select your preferred mobile device and reload the page. This enables to render the page like on a mobile device.
                        img(src='images/apps/mobile-client-1.png' style='width:100%;max-width:900px;margin:10px 0px 30px;padding:0px;')
                        h1 Access the Mobile Client
                        p You can access the client with the 
                            strong /client
                            |  endpoint, just click the first button. In order to navigate to a defined record, you can also pass the Workspace ID and DMS ID of a record as parameters. See the second button example which opens a demo dataset item automatically.
                        div(style='display:flex;gap:20px;')
                            a(href='client' target='_blank') Mobile Client
                            a(href='client?wsId=79&dmsId=11143' target='_blank')
                    .log 
                        h1 Mobile Client Change Log 
                        table 
                            tr 
                                td 26. October 2023
                                td Enhancement
                                td Search performance has been improved and styling has been updated for better ease of use
                            tr 
                                td 7. July 2023
                                td -
                                td No changes in this release
                .tiles-group 
                    .tiles-group-title Preconfigured Applications
                    .tiles-group-subtitle Applications requiring demo data and basic configuration in settings file. However, they will work immediately when using the default demo tenant.
                include ../docs/app-product-data-explorer.pug
                .tile(data-name='Process Dashboard')
                    .tile-image(style="background: url('images/app-process-dashboard.png') no-repeat;background-size:contain;")
                    .tile-details
                        .tile-title Process Dashboard
                        .tile-endpoint /dashboard
                        .tile-subtitle Manufacturing, Services, Suppliers and Customers can be involved in business processes easily with this application focussing on management of one defined business process only (i.e. to capture PRs)
                    .instructions
                        h1 Features
                        p Users can track progression of processes, update existing processes and create new processes with ease using this dashboard. The dashboard provides access to a single workspace only to reduce complexity.
                        ul  
                            li Create new processes by providing basic data only (only if create permission is granted)
                            li Review history of selected processes 
                            li Update status of a given process 
                            li Download and upload process attachments
                            li Use 3D markups to document process
                            li Access bookmarked and recent processes 
                            li Track proces progression in Kanban 
                            li Review process updates in a chart
                            li Access defined dashboard directly (by providing valid wsId as parameter) or select from configured profiles
                        h1 Configuration Settings
                        p This dashboard can be used with any workspace but requires the matching configuration in file 
                            strong settings.js
                            |. This application is preconfigured for the workspaces 
                            strong Problem Reports 
                            |, 
                            strong Change Requests 
                            | and 
                            strong Project Tasks 
                            |of default tenants. Additional workspace configuration profiles can be added by copying one of the existing configurations shown below.
                        p.code
                            span 'dashboard' : [{
                            span.indent 'title'             : 'Problem Reporting Dashboard',
                            span.indent 'wsId'              : 82,
                            span.indent 'icon'              : 'account_tree', // Use https://fonts.google.com/icons to search for icons
                            span.indent 'fieldIdSubtitle'   : 'DESCRIPTION',
                            span.indent 'fieldIdItem'       : 'AFFECTED_ITEM',
                            span.indent 'imageFieldsPrefix' : 'IMAGE_',
                            span.indent 'workflowHistory'   : {
                            span.indent-2 'showNextActions'       : true,
                            span.indent-2 'excludedTransitions'   : ['Close Report'],
                            span.indent-2 'finalStates'           : ['Completed']
                            span.indent  },
                            span.indent 'progress' : [
                            span.indent-2 { 'label' : 'New',         'color' : colors.red,    'states' : ['Create'] },
                            span.indent-2 { 'label' : 'Analysis',    'color' : colors.yellow, 'states' : ['Review', 'Technical Analysis'] },
                            span.indent-2 { 'label' : 'Improvement', 'color' : colors.yellow, 'states' : ['CAPA in progress', 'Change Request in progress'] },
                            span.indent-2 { 'label' : 'Completed',   'color' : colors.green,  'states' : ['Completed'] }
                            span.indent ]
                            span },{
                            span.indent 'title' : 'Change Requests Management',
                            span.indent 'wsId'  : 83,
                            span.indent 'icon'  : 'rebase_edit',
                            span.indent 'progress' : [
                            span.indent-2 { 'label' : 'Planning',    'color' : '#000000',     'states' : ['Create']  },
                            span.indent-2 { 'label' : 'Review',      'color' : colors.red,    'states' : ['Review & Impact Analysis', 'Peform Tasks', 'Change Control Board Review']  },
                            span.indent-2 { 'label' : 'In Work',     'color' : colors.yellow, 'states' : ['Change Order in progress']   },
                            span.indent-2 { 'label' : 'Completed',   'color' : colors.green,  'states' : ['Completed'] }
                            span.indent ]
                            span },{
                            span.indent 'title' : 'Project Actitivity Management',
                            span.indent 'wsId'  : 90,
                            span.indent 'icon'  : 'account_tree',
                            span.indent 'progress' : [
                            span.indent-2 { 'label' : 'Planning',    'color' : colors.red,    'states' : ['Planning']  },
                            span.indent-2 { 'label' : 'Assigned',    'color' : colors.red,    'states' : ['Assigned']  },
                            span.indent-2 { 'label' : 'In Work',     'color' : colors.yellow, 'states' : ['In Work']   },
                            span.indent-2 { 'label' : 'Review',      'color' : colors.green,  'states' : ['Review']    },
                            span.indent-2 { 'label' : 'Completed',   'color' : colors.green,  'states' : ['Completed'] }
                            span.indent ]
                            span }]
                        p Each profile requires the settings listed below.
                            table   
                                tr 
                                    th Setting 
                                    th Example Value    
                                    th Description
                                tr 
                                    td title 
                                    td Problem Reporting Dashboard
                                    td Sets the application title shown in the main toolbar and tab name 
                                tr 
                                    td wsId 
                                    td 82
                                    td ID of PLM workspace to use for the dashboard
                                tr 
                                    td icon 
                                    td account_tree
                                    td Google font icon to use for the business process type (Use https://fonts.google.com/icons to search for icons)
                                tr 
                                    td fieldIdSubtitle 
                                    td DESCRIPTION
                                    td Use this setting to select the field which will be used as subtitle for the tiles of business processes
                                tr 
                                    td fieldIdItem 
                                    td AFFECTED_ITEM
                                    td Provide ID of the field that is used to connect the business process to a context item. If this optional field is defined and has a value, the given item's viewable will be shown to the right.
                                tr 
                                    td imageFieldsPrefix 
                                    td IMAGE_
                                    td Provide the prefix of Image fields to be used to store markups. If this setting is omitted, the markup feature will not be enabled when opening a selected process.
                                tr 
                                    td progress 
                                    td [..]
                                    td Maps the business process workflow states to a linear sequene of steps to provide a better overview of the process progression. Each entry of this array must contain a label that will be used in the applcation, a color code to use for this state as well as the list of workflow 'states' that match to this step.
                                tr 
                                    td workflowHistory 
                                    td {..}
                                    td These optional parameters can be used to suppress the workflow history display. It also enables to hide certain transitions and to define the final states (which will be shown with a different icon).
                                
                        h1 Access the Dashboard
                        p You can access the process dashboard with the 
                            strong /dashboard
                            |  endpoint by providing the workspace profile to use. The value of parameter wsId has to match the wsId property value of the configuration profile to use. If you're connected to a default tenant of 2023 or later, you can use these links:
                        div(style='display:flex;gap:10px;') 
                            a(href='dashboard?wsId=82' target='_blank') Problem Reporting Dashboard (wsId 82)
                            a(href='dashboard?wsId=98' target='_blank') Non Conformances Dashboard (wsId 98)
                        p You can also omit the workspaceId and select from the list of configured profiles instead:
                        a(href='dashboard?' target='_blank') Process Dashboard Profiles
                    .log 
                        h1 Process Dashboard Change Log 
                        table 
                            tr 
                                td 8. March 2024
                                td Extension
                                td Users now can access a landing page with all available dashboard configurations by omitting the wsId parameter
                            tr 
                                td 6. March 2024
                                td Extension
                                td The dashboard now validates the user's access permissions and only shows the create panel if the 'Add Items' permission is granted to the user in PLM
                            tr 
                                td 
                                td Extension
                                td Added a new configuration profile in settings.js to support the 'Supplier Deliverables' workspace of the 2023 default tenants
                            tr 
                                td 16. November 2023
                                td Extension
                                td Added configuration profile for management of Non Conformances (incl. given button in documentation)
                            tr 
                                td 6. October 2023
                                td Release
                                td Initial release of this new app
                .tile(data-name='Product Portfolio Catalog') 
                    .tile-image(style='background: url("images/app-product-catalog.png") no-repeat;background-size:contain;')
                    .tile-details
                        .tile-title Product Portofolio Catalog
                        .tile-endpoint /portfolio
                        .tile-subtitle The sales team can browse the Product Portfolio by Product Categories and Product Lines and retrieve latest product data including technical specification, documentation and Bill of Materials
                    .instructions
                        h1 Prerequisites
                        p Your tenant must have the 
                            strong Product Portfolio Management 
                            | app installed (providing the workspaces Product Categories, Product Lines and Products). If your tenant has been created after April 2021, changes are high that it meets this requirement.
                        h1 Features
                        p Users can navigate the various level of the portfolio from Product Categories down to Products in an easy manner. Once a product is selected, users can retrieve a couple of information: 
                        ul  
                            li The Marketing Text managed in section 'Product Catalog Definition' can be used to describe the product's features
                            li The images managed in section 'Product Catalog Images' can be opened 
                            li If Classification section is added to the Products workspace, the given technical specification can be seen 
                            li The product attachments can be downloaded 
                            li If an engineering BOM item is linked to the product, the given BOM can be accessed and the given root item's viewable will be rendered
                        h1 Adjust Workspace Products 
                        p If your tenant has been created in 2023 or later, the Products workspace should meet the following requirements already, so the following changes might not be required!
                        p Add the 
                            strong Classification 
                            | section to the 
                            strong Products 
                            | workspace. This enables the management of technical specification based on the product type. The given information will be displayed in the catalog as well.
                        img(src='images/apps/product-catalog-1.png' style='width:736px;')
                        p Set the field 
                            strong Engineering BOM 
                            | to be a pick list, enabling references to the workspace 
                            strong Items 
                            | (if existent, otherwise use 
                            strong Vault Items and BOMs
                            | ). When using the app, only if an item is selected in this field, the product catalog will be able to render the 3D design of the product (as this will render the related item's dwf). Also, this given item will be used to retrieve the product 
                            strong Bill of Materials
                            | .
                        img(src='images/apps/product-catalog-2.png' style='max-width:736px;')
                        h1 Configuration Settings
                        p A couple of settings can be adjusted in file 
                            strong settings.js 
                            | to match your environment if needed:
                        p.code
                            span export.config = {
                            span.indent 'portfolio' : {
                            span.indent-2 'bomViewName' : 'Basic',
                            span.indent-2 'hierarchy' : ['Product Categories', 'Product Lines', 'Products']
                            span.indent }
                            span }                         
                        ul 
                            li In setting 
                                strong bomViewName
                                |, provide the name of a BOM view of your items workspace which contains the Number field as column. If this column is missing, the highlighting of BOM items in the viewer will fail. Make sure that this number's Field ID is also properly defined in 
                                strong viewer.fieldIdPartNumber 
                                | within the settings file.
                            li If you renamed the standard workspaces of 
                                strong Product Portfolio Management
                                |, you can provide the new names in parameter 
                                strong hierarchy
                                |.
                        h1 Access the Portfolio Catalog
                        p You can access the extension with the 
                            strong /portfolio 
                            | endpoint, just click this link:
                        a(href='portfolio' target='_blank')
                    .log 
                        h1 Product Portfolio Catalog Change Log 
                        table 
                            tr 
                                td 26. September 2023
                                td Enhancement
                                td Once a product got selected, a new button in the toolbar enables to open the related Services Portal for this product
                            tr 
                                td 7. July 2023
                                td Enhancement
                                td Better demo datasets in the default tenant to match this app (i.e. Marketing Names and Marketing Texts on Product Lines and Product Categories)
                .tile(data-name='Projects Dashboard')
                    .tile-image(style="background: url('images/app-projects-dashboard.png') no-repeat;background-size:contain;")
                    .tile-details
                        .tile-title Projects Dashboard
                        .tile-endpoint /projects
                        .tile-subtitle (Project) Managers can track progression of all projects in a single, predefined dashboard
                    .instructions
                        h1 Prerequisites
                        p Your tenant must have the latest NPI solution installed (providing the workspaces Projects, Project Tasks, Teams and so on).
                        h1 Features
                        p The dashboard will provide insights in all projects that are accessible to the current user and display the following reports:
                        ul
                            li The timeline of each projects by showing all Gates' target dates
                            li The Status Reports of each projects
                            li Current progress, project budget and progress of current phase of each project
                            li The planned effort for each project's phase
                            li Deviations of project end dates
                        h1 Configuration Settings
                        p Provide the ID of your Projects workspace in file 
                            strong settings.js.
                            |  Adjust the value of the following variable which is set to 86 to match the default Projects workspace.
                        p.code
                            span export.config = {
                            span.indent 'projects' : {
                            span.indent-2 'wsIdProjects' : '86',
                            span.indent }
                            span }   
                        h1 Access the Dashboard
                        p You can access the dashboard with the 
                            strong /projects
                            |  endpoint, just click this link:
                        a(href="projects" target="_blank")
                    .log 
                        h1 Projects Dashboard Change Log 
                        table 
                            tr 
                                td 21. November 2023
                                td Enhancement
                                td Add configuration setting config.projects.query to settings file, enabling to filter of projects
                            tr 
                                td 7. July 2023
                                td -
                                td No changes in this release
                .tiles-group 
                    .tiles-group-title Setup Required
                    .tiles-group-subtitle Applications requiring configuration changes using the Workspace Manager and/or even changes to scripts. 
                include ../docs/app-design-reviews.pug
                include ../docs/app-service-portal.pug
                include ../docs/app-change-impact-analysis.pug                
                include ../docs/app-mbom-editor.pug
                include ../docs/app-variants-manager.pug
                .tile(data-name='Class Browser')
                    .tile-image(style="background: url('images/app-class-browser.png') no-repeat;background-size:contain;")
                    .tile-details
                        .tile-title Class Browser
                        .tile-endpoint /classes
                        .tile-subtitle Engineers can use item classification data to easily browse for similar components. This helps increasing reuse of existing items and thus reducing development efforts.
                    .instructions
                        h1 Prerequisites
                        p You can use this solution with any workspace that has the 
                            strong Classification 
                            |section enabled. The installation instructions below describe how to enable this extension for workspace 
                            strong Items
                            |, but you can also enable it for any other workspace (including 
                            strong Items and BOMs 
                            |and 
                            strong Vault Items and BOMs
                            |).
                        h1 Required Changes
                        h2 Item Details Tab 
                        p Use the 
                            strong Workspace Manager 
                            | to add the fields described below to your context workspace. It is recommended to add all these fields to the same (new) section 
                            strong Classification Summary 
                            | and position them in a matrix, but both is not required. These fields will be set by script, so their placement does not matter. Tenants created mid 2023 or later will have all these fields already, only the last one 
                            strong Class Browser 
                            | should be missing.
                        img(src='images/apps/class-browser-1.png' style='width:100%;max-width:900px;margin:10px 0px 20px')
                        table(style='margin:10px 0px 30px')
                            tr
                                th Label 
                                th Field ID 
                                th Type 
                                th Details 
                                th Editable
                            tr
                                td DMS_ID 
                                td DMS_ID 
                                td Single Line Text 
                                td Field Length: 20; set visibility to Never 
                                td False
                            tr  
                                td Top Level Class
                                td TOP_LEVEL_CLASS
                                td Single Line Text
                                td Field Length : 200
                                td False
                            tr  
                                td Class Path
                                td CLASS_PATH 
                                td Single Line Text
                                td Field Length : 1000
                                td False
                            tr  
                                td Class Name
                                td CLASS_NAME
                                td Single Line Text
                                td Field Length : 200
                                td False
                            tr  
                                td Class Browser
                                td CLASS_BROWSER
                                td Single Line Text
                                td Insert the computed field formula shown below
                                td False
                        p.code CASE WHEN (CLASS_NAME is null) THEN '' ELSE '&lt;a style="border: 1px solid #bec8d2;border-radius:3px;padding:4px 20px;color: #0a131c;font-weight:600;line-height:26px;text-align:center;text-decoration:none !important;white-space:nowrap;width:160px;" target="_blank" href="
                            span.url http://localhost:8080
                            |classes?wsId=57&amp;dmsId='||DMS_ID||'"&gt;Find Similar Parts&lt;/a&gt;' END
                        p Note that this formula must contain the right workspace ID (..wsId=57..) to match the ID of workspace 
                            strong Items 
                            | in your tenant (57 is valid for the default tenant).
                        p Of course, the classification section also must be present in this workspace :-)
                        h2 Scripts
                        p The fields that were created just before must be updated by scripts every time a new record gets created or when it gets modified. Make sure that the following code is invoked at item creation and during item edit events. 
                            br 
                            | In the standard tenants of mid 2023 and later, this should already be included in script 
                            strong Items onCreate onEdit
                            |.
                        p.code 
                            span if(item.DMS_ID !== dmsID) item.DMS_ID = dmsID;
                            br 
                            span setClassSummary();
                            br
                            span function setClassSummary() {
                            span.indent var rootClass = "";
                            span.indent var classPath = "";
                            span.indent var className = "";
                            span.indent if(Object.keys(item.classification).length > 0) {
                            span.indent-2 var path = item.classificationSection.getClassificationPath();
                            span.indent-2 if(path.length > 0) {
                            span.indent-3  rootClass = path[0];
                            span.indent-3 className = path[path.length - 1];
                            span.indent-3 classPath = rootClass;
                            span.indent-3 if(path.length > 1) {
                            span.indent-4 for(var i = 1; i < path.length; i++) {
                            span.indent-5 classPath += ' / ' + path[i];
                            span.indent-4 }
                            span.indent-3 }
                            span.indent-2 }
                            span.indent }
                            span.indent if(item.TOP_LEVEL_CLASS !== rootClass) item.TOP_LEVEL_CLASS = rootClass;
                            span.indent if(item.CLASS_PATH !== classPath) item.CLASS_PATH = classPath;
                            span.indent if(item.CLASS_NAME !== className) item.CLASS_NAME = className;
                            span }
                        h1 Access the Class Browser
                        p From now on, once an item gets classified, there will be a button 
                            strong Find Similar Parts 
                            | in section 
                            strong Classification Summary 
                            | to open the Class Browser in a new tab:
                        img(src='images/apps/class-browser-2.png' style='margin:10px 0px;')
                    .log 
                        h1 Class Browser Change Log 
                        table 
                            tr 
                                td 7. July 2023
                                td Enhancement
                                td New default tenant now contains required fields of this extension to reduce implementation efforts and provide value for all users