p This application enables configuration of features within the viewer by using parameter viewerFeatures. By using the settings listed below, you can control the availability of given icons in the viewer toolbar. These feaatures can be enabled and disabled for all users in general by setting the value to true or false. As an alternative, you can also provide an array of groups to grant access. Only users being assigned to any of the defined groups will then get access to the feature. Examples: 
    ul 
        li viewerFeatures.measure = true &gt; Measurements will be possible for all users
        li viewerFeatures.measure = false &gt; Measurements will not be possible for any user
        li viewerFeatures.measure = ['Employees','Service Technician'] &gt; The measurements button will only be shown for users in group Employees or Service Technician
p
    table
        tr 
            th Setting 
            th Icon 
            th Description 
        tr 
            td cube 
            td   
            td Enables the cube / home button in top right corner of the viewer. Parameter 'views' can be used instead, providing dedicated buttons.
        tr 
            td orbit 
            td
                .adsk-button-icon.adsk-icon-orbit-constrained
            td Enables the orbit controls
        tr 
            td firstPerson 
            td
                .adsk-button-icon.adsk-icon-first-person
            td Enables first person view
        tr 
            td camera 
            td
                .adsk-button-icon.adsk-icon-camera
            td Enables camera interactions
        tr 
            td measure 
            td
                .adsk-button-icon.adsk-icon-measure
            td Enables the measurements toolbar
        tr 
            td section 
            td
                .adsk-button-icon.adsk-icon-section-analysis
            td Enables sectioning
        tr 
            td explodedView 
            td
                .adsk-button-icon.adsk-icon-explode
            td Enables exploded views
        tr 
            td modelBrowser 
            td
                .adsk-button-icon.adsk-icon-structure
            td Enables browsing the model hierarchy within the viewer
        tr 
            td properties 
            td
                .adsk-button-icon.adsk-icon-properties
            td Enables access to the selected component's properties stored in the viewable file
        tr 
            td settings 
            td
                .adsk-button-icon.adsk-icon-settings
            td Enables viewer settings
        tr 
            td fullscreen 
            td
                .adsk-button-icon.adsk-icon-fullscreen
            td Enables fullscreen toggle
        tr 
            td markup 
            td
                .adsk-button-icon.icon.icon-markup(style="font-size:14px;")
            td Enables markup toolbar
        tr 
            td hide 
            td
                .adsk-button-icon.icon.icon-remove(style="font-size:14px;")
            td Enables easy hiding of (selected) components
        tr 
            td ghosting 
            td
                .adsk-button-icon.icon.icon-show(style="font-size:14px;")
            td Enables toggling ghosting mode on/off
        tr 
            td highlight 
            td
                .adsk-button-icon.icon.icon-highlight(style="font-size:14px;")
            td Enables toggling highlight of selected models on/off
        tr 
            td single 
            td
                .adsk-button-icon.icon.icon-first(style="font-size:14px;")
            td Enables fitting of first instance to viewer
        tr 
            td fitToView 
            td
                .adsk-button-icon.icon.icon-viewer(style="font-size:14px;")
            td Enables reframing all visible items
        tr 
            td reset 
            td
                .adsk-button-icon.icon.icon-reset(style="font-size:14px;")
            td Enables to deselect all, invoking viewerClickReset()
        tr 
            td views 
            td
                .adsk-button-icon.icon.icon-home(style="font-size:14px;")
            td Enables toolbar to quickly access main views
        tr 
            td selectFile 
            td
                .adsk-button-icon.icon.icon-folder(style="font-size:14px;")
            td Enables switching between multiple viewable files for the given item  (3D and 2D)