/*  DEFAULT FONTS */
/* ----------------------------------------------------------------------------- */
@font-face {
    font-family: ArtifaktElement;
    font-style: normal;
    src: url(../fonts/ArtifaktElementRegular.woff) format('woff2');
}
@font-face {
    font-family: 'Material Symbols Sharp';
    font-style: normal;
    font-weight: 100 700;
    src: url(../fonts/MaterialSymbolsSharp.ttf) format('woff2');
}




/*  MATERIAL FONT */
/* ----------------------------------------------------------------------------- */
.material-symbols-sharp {
    font-family: 'Material Symbols Sharp';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.material-symbols-sharp.xxxl { font-size : 64px; }
.material-symbols-sharp.xxl  { font-size : 48px; }
.material-symbols-sharp.xl   { font-size : 42px; }
.material-symbols-sharp.l    { font-size : 36px; }
.material-symbols-sharp.m    { font-size : 32px; }
.material-symbols-sharp.s    { font-size : 28px; }
.material-symbols-sharp.xs   { font-size : 24px; }
.material-symbols-sharp.xxs  { font-size : 20px; }
.material-symbols-sharp.xxxs { font-size : 16px; }

.material-symbols-sharp.hover:hover {
    color : #0696D7;
    cursor : pointer;
}

.ms::before {
    font-family: 'Material Symbols Sharp';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.ms-3d::before { content : '\e9fe'; }
.ms-calendar::before { content : '\ebcc'; }
.ms-close::before { content : '\e5cd'; }
.ms-hide::before { content : '\e8f5'; }
.ms-user::before { content : '\e7fd'; }
.ms-status::before { content : '\ea50'; }
.ms-show::before { content : '\e8f4'; }
.ms-type::before { content : '\e574'; }
.ms-home::before { content : '\e88a'; }
.ms-markup::before { content : '\e560'; }
.ms-north::before { content : '\f1e0'; }
.ms-north-east::before { content : '\f1e1'; }
.ms-east::before { content : '\f1df'; }
.ms-south:before { content : '\f1e3'; }
.ms-south-west::before { content : '\f1e5'; }
.ms-west::before { content : '\f1e6'; }



/*  DEFAULT COLORS AND SPACERS */
/* ----------------------------------------------------------------------------- */
:root {

    --color-status-green  : #6a9728;
    --color-status-yellow : #faa21b;
    --color-status-red    : #dd2222;
    --color-status-new    : #fe8d55;

    --color-status-green-bright  : #87b340;
    --color-status-yellow-bright : #fbb549;
    --color-status-red-bright    : #eb5555;
    --color-status-new-bright    : #fe8d55;

    --color-status-green-brighter  : #D2e9b0;
    --color-status-yellow-brighter : #f7cc93;
    --color-status-red-brighter    : #fbd4d4;

    --color-gray-100 : #eeeeee;
    --color-gray-200 : #dcdcdc;
    --color-gray-300 : #cccccc;
    --color-gray-400 : #bbbbbb;
    --color-gray-500 : #999999;
    --color-gray-600 : #808080;
    --color-gray-700 : #666666;
    --color-gray-800 : #4d4d4d;
    --color-gray-900 : #3c3c3c;

    --color-blue-100 : #cdeaf7;
    --color-blue-200 : #9bd5ef;
    --color-blue-300 : #6ac0e7;
    --color-blue-400 : #38abdf;
    --color-blue-500 : #0696d7;
    --color-blue-600 : #007fc6;
    --color-blue-700 : #006EAF;
    --color-blue-800 : #074b78;
    --color-blue-900 : #0a324d;

    --color-red-100 : #faeded;
    --color-red-200 : #f7d6d6;
    --color-red-300 : #f9b4b4;
    --color-red-400 : #f48686;
    --color-red-500 : #eb5555;
    --color-red-600 : #dd2222;
    --color-red-700 : #af1b1b;
    --color-red-800 : #800f0f;
    --color-red-900 : #520404;

    --color-yellow-100 : #feecd1;
    --color-yellow-200 : #fddaa4;
    --color-yellow-300 : #fcc776;
    --color-yellow-400 : #fbb549;
    --color-yellow-500 : #faa21b;
    --color-yellow-600 : #ed8d16;
    --color-yellow-700 : #d9730b;
    --color-yellow-800 : #bf5808;
    --color-yellow-900 : #8c3401;

    --color-green-100 : #e7f2d9;
    --color-green-200 : #cfe4b3;
    --color-green-300 : #b7d78c;
    --color-green-400 : #9fc966;
    --color-green-500 : #87b340;
    --color-green-600 : #6a9728;
    --color-green-700 : #507b16;
    --color-green-800 : #385e08;
    --color-green-900 : #234200;

    --color-turquoise-100 : #d6f2ef;
    --color-turquoise-200 : #ade4de;
    --color-turquoise-300 : #84d7ce;
    --color-turquoise-400 : #5bc9bd;
    --color-turquoise-500 : #32bcad;
    --color-turquoise-600 : #23a597;
    --color-turquoise-700 : #168576;
    --color-turquoise-800 : #0c665b;
    --color-turquoise-900 : #04403d;

    --color-dark-blue-100 : #e1ebf7;
    --color-dark-blue-200 : #bcd3ee;
    --color-dark-blue-300 : #8babdc;
    --color-dark-blue-400 : #5f8bcb;
    --color-dark-blue-500 : #3970b9;
    --color-dark-blue-600 : #1858a8;
    --color-dark-blue-700 : #064285;
    --color-dark-blue-800 : #003163;
    --color-dark-blue-900 : #0c2c54;

    --spacer-xxs :  4px;
    --spacer-xs  :  8px;
    --spacer-s   : 12px;
    --spacer-m   : 16px;
    --spacer-l   : 24px;
    --spacer-xl  : 32px;
    --spacer-xxl : 48px;

    --color-selected-border : #76B5D5;
    --color-selected : #e1f2fa;
    --color-hover : #B9E1F4;

}



/*  STANDARD ELEMENTS
/* ----------------------------------------------------------------------------- */
html { 
    /* PREVENT IOS BOUNCING */
    height: 100%;
    overflow: hidden;
    position: fixed;
}
body {
    /* color : #3c3c3c; */
    font-family: 'Artifakt Element';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
}
body.text-selection-off {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently not supported by any browser */    
}
body.dark-theme {
    color : #F5F5F5;
}
body.blue-theme {
    color : #F5F5F5;
}
h1 {
    font-weight: 800;
    font-size: 28px;
    line-height: 36px;
}
h2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
}
h3 {
    font-weight: 600;
    font-size: 18px;
    line-height: 26px;
}
a {
    color : #006EAF;
    text-decoration: none;
}
input, input:disabled {
    background : none;
    border : none;
}
input {
    border-bottom : 1px solid var(--color-gray-100);
}
input:focus {
    outline: 0;
    border-color : var(--color-blue-500) !important;
    box-shadow : 0px 3px 0px 0px rgba(6, 150, 215, 0.35) !important;
}
input[type='checkbox'] { width : 16px; }
input[type='checkbox']:focus {
    border-color : transparent !important;
    box-shadow : none !important;
}
textarea {
    outline : 0;
}
table {
    border-spacing : 0;
    width : 100%;
}
th {
    background : #eeeeee;
    padding : 10px 5px;
    text-align : left;
    white-space : nowrap;
}
.fixed-header > thead > tr > th,
.fixed-header > tbody > tr > th,
.fixed-header > tr > th { position : sticky; top : 0; }
tr:hover td {
    background : var(--color-hover) !important;
}
tr.selected td {
    background : var(--color-selected) !important;
    /* border-color : var(--color-selected-border); */
}
td {
    border-top : 1px solid transparent;
    border-bottom : 1px solid var(--color-gray-100);
    line-height : 16px;
    padding : 10px 5px;
}
tr:last-of-type > td {
    border-bottom : 1px solid transparent;
}
td.link {
    color : var(--color-blue-500);
    cursor : pointer;
}
.surface-level-2 > table > thead > tr > th { border-bottom : 1px solid white; }
.surface-level-2 > table > tbody > tr > td { border-bottom : 1px solid white; }
input[type=number] {
    -moz-appearance: textfield;
  }


/*  PREVENT TEXT SELECTION */
/* ----------------------------------------------------------------------------- */
div, button {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently not supported by any browser */    
} 



/*  DEFAULT CLASSES */
/* ----------------------------------------------------------------------------- */
.clear {
    clear : both;
}
.left {
    float : left;
}
.right {
    float : right;
}
.align-right {
    text-align : right;
}
.nowrap {
    overflow : hidden;
    text-overflow: ellipsis;
    white-space : nowrap;
}
.hidden { display : none !important; }
.invisible.hide-left {
    left : -100%;
    right : 100%;
}
.invisible.hide-right {
    left : 100%;
    right : -100%;
}
.columns { display : flex; }



/*  LAYOUT : SPLIT (Landing Page) */
/* ----------------------------------------------------------------------------- */
.split {
    position : absolute;
    top : 0px;
    right : 0px;
    bottom : 0px;
    left : 0px;
}
.split-left {
    position: absolute;
    top: 60px;
    bottom: 60px;
    left: 60px;
}
.split-right {
    position: absolute;
    top: 60px;
    right: 60px;
    bottom: 60px;
}
.split-divider {
    position : absolute;
    top : 0px;
    bottom : 0px;
}
.split.left-250 > .split-left  { width : 250px; }
.split.left-250 > .split-right { width : calc(100% - 520px); overflow-y : auto; }
.split.left-250 > .split-divider { left : 250px; }
.split.left-300 > .split-left  { padding : 40px; width : 300px; }
.split.left-300 > .split-right { width : calc(100% - 450px); overflow-y : auto; }
.split.left-300 > .split-divider { left : 300px; }

.split-left.padding-80  { top :  80px; bottom :  80px; left :  80px; }
.split-left.padding-100 { top : 100px; bottom : 100px; left : 100px; }
.split-right.padding-80  { top :  80px; bottom :  80px; right :  80px; }
.split-right.padding-100 { top : 100px; bottom : 100px; right : 100px; }




/*  AVATARS */
/* ----------------------------------------------------------------------------- */
.avatar {
    border-radius : 50%;
}
.avatar.xl { height : 64px; width : 64px; }
.avatar.l  { height : 48px; width : 48px; }
.avatar.m  { height : 32px; width : 32px; }
.avatar.s  { height : 24px; width : 24px; }
.avatar.xs { height : 16px; width : 16px; }



/*  SURFACE COLORS */
/* ----------------------------------------------------------------------------- */
.surface-level-1   { background : #ffffff; }
.surface-level-2   { background : #f5f5f5; }
.surface-level-2-5 { background : #eeeeee; }
.surface-level-3   { background : #d9d9d9; }
.surface-level-3-5 { background : #cccccc; }

.blue-theme .surface-level-1   { background : #454f61; }
.blue-theme .surface-level-2   { background : #3b4453; }
.blue-theme .surface-level-2-5 { background : #2e3440; }
.blue-theme .surface-level-3   { background : #222933; }
.blue-theme .surface-level-3-5 { background : #1a1f26; }

.dark-theme .surface-level-1   { background : #535353; }
.dark-theme .surface-level-2   { background : #474747; }
.dark-theme .surface-level-2-5 { background : #373737; }
.dark-theme .surface-level-3   { background : #2a2a2a; }
.dark-theme .surface-level-3-5 { background : #202020; }



/*  DIVIDERS */
/* ----------------------------------------------------------------------------- */
.divider.horizontal { height : 1px; width : 100%; }
.divider.vertical { width : 1px; }
.divider.light { background: rgba(60, 60, 60, 0.1); }
.divider.heavy { background: rgba(60, 60, 60, 0.25); }
.divider.color { background: #0696D7; }

.blue-theme .divider.light { background: rgba(209, 222, 238, 0.1); }
.blue-theme .divider.heavy { background: rgba(209, 222, 238, 0.25); }
.blue-theme .divider.color { background: #0696D7; }

.dark-theme .divider.light { background: rgba(255, 255, 255, 0.1); }
.dark-theme .divider.heavy { background: rgba(255, 255, 255, 0.25); }
.dark-theme .divider.color { background: #0696D7; }



/*  TILES */
/* ----------------------------------------------------------------------------- */
.tiles {
    align-content: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    overflow-y : auto;
}
.tiles > div { 
    background: rgba(128, 128, 128, 0.15);
    border : 1px solid transparent;
    cursor : pointer; 
    overflow : hidden;
}
.tiles > div:hover { background: rgba(128, 128, 128, 0.25); }
.tiles > div.selected {
    background : var(--color-selected) !important;
    border-color : var(--color-selected-border);
}

.surface-level-1   > .tiles > div { background: rgba(128, 128, 128, 0.15); }
.surface-level-2   > .tiles > div { background: rgba(128, 128, 128, 0.15); }
.surface-level-2-5 > .tiles > div { background: rgba(255, 255, 255, 0.5);  }
.surface-level-3   > .tiles > div { background: rgba(255, 255, 255, 0.5);  }
.surface-level-3-5 > .tiles > div { background: rgba(255, 255, 255, 0.5);  }

.surface-level-1   > .tiles > div:hover { background: rgba(128, 128, 128, 0.25); }
.surface-level-2   > .tiles > div:hover { background: rgba(128, 128, 128, 0.25); }
.surface-level-2-5 > .tiles > div:hover { background: rgba(255, 255, 255, 0.7);  }
.surface-level-3   > .tiles > div:hover { background: rgba(255, 255, 255, 0.7);  }
.surface-level-3-5 > .tiles > div:hover { background: rgba(255, 255, 255, 0.7);  }

.tiles > div:hover img { opacity : 0.9; }

.tiles.xxl        { gap : var(--spacer-xl); }
.tiles.xl         { gap : var(--spacer-l); }
.tiles.wide.s     { gap : var(--spacer-s); }
.tiles.list.l     { gap : var(--spacer-s); }
.tiles.list.m     { gap : var(--spacer-s); }
.tiles.list.s     { gap : var(--spacer-s); }
.tiles.list.xs    { gap : var(--spacer-xs); }
.tiles.list.files { gap : var(--spacer-xs); } /* DESIGN REVIEWS, CLASS BROWSER */

.tiles.xxl > div { height : 344px; width : 384px; }
.tiles.xl  > div { height : 440px; width : 228px; } .tiles.xl  .tile-details { height : 270px; }
.tiles.l   > div { height : 300px; width : 171px; }
.tiles.m   > div { height : 300px; width : 114px; }
.tiles.s   > div { height : 200px; width :  86px; }

.tiles.xxl .tile-image { height :    216px; width : 384px; }
.tiles.xl  .tile-image { height : 128.25px; width : 228px; } 
.tiles.l   .tile-image { height :  96.19px; width : 171px; }
.tiles.m   .tile-image { height :  64.12px; width : 114px; }
.tiles.s   .tile-image { height :  48.38px; width :  86px; }

.tiles.wide.xxl > div { height : 200px; width : 800px; }
.tiles.wide.xl  > div { height : 200px; width : 500px; }
.tiles.wide.l   > div { height : 128px; width : 600px; }
.tiles.wide.m   > div { height :  96px; width : 600px; }
.tiles.wide.s   > div { height :  64px; width : 350px; }

.tiles.list.l     > div { height : 96px; width : 100%; }
.tiles.list.m     > div { height : 64px; width : 100%; }
.tiles.list.s     > div { height : 64px; width : 100%; }
.tiles.list.xs    > div { height : 48px; width : 100%; }
.tiles.list.files > div { height : 58px; width : 100%; } /* DESIGN REVIEWS APP */

.tile-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 
.tile-image > span {
    font-size : 42px;
    font-weight : 200;
    line-height : 64px;
}

.tiles.wide.xxl .tile-image { height : 200px; width : 356px; } .tiles.wide.xxl .tile-details { width : calc(100% - 416px); } .tiles.wide.xxl .tile-image > span { font-size : 96px; line-height : 200px; }
.tiles.wide.xl  .tile-image { height : 200px; width : 200px; } .tiles.wide.xl  .tile-details { width : calc(100% - 260px); }
.tiles.wide.l   .tile-image { height : 128px; width : 128px; }
.tiles.wide.m   .tile-image { height :  96px; width :  96px; }
.tiles.wide.s   .tile-image { height :  64px; width :  64px; } .tiles.wide.s   .tile-details { gap : 2px; margin : 16px 20px 12px; width : calc(100% -  88px); }

.tiles.list.l   .tile-image { height :  96px; width :  96px; } .tiles.list.l  .tile-details { margin : 10px 20px; width : calc(100% - 136px); }
.tiles.list.m   .tile-image { height :  64px; width :  64px; } .tiles.list.m  .tile-details { margin : 10px 20px; width : calc(100% - 104px); }
.tiles.list.s   .tile-image { height :  64px; width :  64px; } .tiles.list.s  .tile-details { margin : 10px 20px; width : calc(100% - 104px); }
.tiles.list.xs  .tile-image { height :  48px; width :  48px; } .tiles.list.xs .tile-details { margin :  8px 16px; width : calc(100%  - 98px); } .tiles.list.xs .tile-title { font-size : 14px; line-height : 16px; text-overflow : ellipsis; white-space : nowrap; } .tiles.list.xs .tile-image span { font-size : 36px; line-height : 48px; }

.tiles.wide > div,
.tiles.list > div {
    display : flex;
}
.tiles.reverse > div { flex-direction: reverse; }
.tiles.wide.reverse > div { flex-direction: row-reverse; }
.tiles.no-title-wrap .tile-title {
    text-overflow: ellipsis;
    white-space : nowrap;
}

.tile-image {
    background : var(--color-gray-400);
    color : black;
    text-align: center;
}

.tiles > .selected .tile-image { background : var(--color-selected-border); }
.tile-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y : auto;
    margin: 20px 30px 20px;
    gap: 12px;
}
.tiles.list .tile-details {
    font-size : 12px;
    gap : 2px;
    line-height : 14px;
}
.tile-title {
    font-weight: 800;
    font-size: 16px;
    line-height: 18px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    overflow : hidden;
}
.tile-subtitle {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
    overflow : hidden;
}
.tile-subtitle p {
    margin : 0px;
    padding : 0px;
}
.tile-data {
    display : flex;
    flex-direction: column;
    font-size : 12px;
    line-height : 12px;
    gap : var(--spacer-xxs);
    order : 2;
}
.tile-data > .ms::before {
    margin-right : var(--spacer-xxs);
    position: relative;
    top: 2px;
}
.tile-link {
    color : #006EAF;
    cursor : pointer;
    flex: none;
    order: 2;
    align-self: stretch;
    flex-grow: 0;
}
.tiles.wide.s .tile-title { 
    font-size : 14px;
    font-weight : 700;
}
.tiles.wide.s .tile-title,
.tiles.wide.s .tile-subtitle {
    overflow : hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}


/*  ATTACHMENTS */
/* ----------------------------------------------------------------------------- */
.attachment {
    border-bottom : 1px solid var(--color-gray-100) !important;
    cursor : pointer;
    padding : 8px 10px 8px;
}
.attachment:last-of-type { border-bottom : none !important; }
.attachment:hover {
    background-color : var(--color-hover) !important;
}
.attachment-graphic { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 64px;
}
.attachment-graphic > img { 
    height : 80%;
    object-fit: contain;
    width : 80%;
}
.attachment-details {
    font-size: 12px;
    line-height: 16px;
}
.attachment-name {
    font-weight : 800;
    line-height : 22px;
}




/*  Flat BOM */
/*  Used by Design Review and Product Portfolio */
/* ----------------------------------------------------------------------------- */
.bom-item {
    border-top : 1px solid transparent;
    border-bottom : 1px solid var(--color-gray-100);
    border-left : 1px solid transparent;
    border-right : 1px solid transparent;
    cursor : pointer;
    display : flex;
    padding : 4px 15px;
}
.bom-item:last-of-type {
    border-bottom : none;
}
.bom-item:hover {
    background-color : var(--color-hover) !important;
}
.bom-item.selected {
    background-color : var(--color-selected);
    border : 1px solid var(--color-selected-border);
}
.bom-item-title {
    line-height : 26px;
    overflow : hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width : calc(100% - 90px);
}
.bom-item-qty {
    line-height : 26px;
    text-align : right;
    width : 50px;
}
.bom-item.unread { font-weight : bold; }
.bom-item-actions > span {
    border: 1px solid #808080;
    border-radius : 2px;
    color: #3C3C3C;
    display : none;
    float: right;
    line-height: 24px;
    margin-left: var(--spacer-s);
    text-align: center;
}
.bom-item:hover .bom-item-actions > span {
    display : block;
}
.no-actions .bom-item-title { width : calc(100% - 50px); }



/*  THUMBNAILS */
/* ----------------------------------------------------------------------------- */
.thumbnail-square-xl    { height:    128px; width: 128px; }
.thumbnail-square-l     { height:     96px; width:  96px; }
.thumbnail-square-m     { height:     64px; width:  64px; }
.thumbnail-square-s     { height:     48px; width:  48px; }
.thumbnail-square-xs    { height:     32px; width:  32px; }
.thumbnail-square-xxs   { height:     24px; width:  24px; }
.thumbnail-43-xl        { height:  127.5px; width: 170px; }
.thumbnail-43-l         { height:     96px; width: 128px; }
.thumbnail-43-m         { height:  63.75px; width:  85px; }
.thumbnail-43-s         { height:     48px; width:  64px; }
.thumbnail-43-xs        { height:   31.5px; width:  42px; }
.thumbnail-43-xxs       { height:     24px; width:  32px; }
.thumbnail-wide-xl      { height: 128.25px; width: 228px; }
.thumbnail-wide-l       { height:  96.19px; width: 171px; }
.thumbnail-wide-m       { height:  64.12px; width: 114px; }
.thumbnail-wide-s       { height:  48.38px; width:  86px; }
.thumbnail-wide-xs      { height:  32.06px; width:  57px; }
.thumbnail-wide-xxs     { height:  24.19px; width:  43px; }
.thumbnail-32-xl        { height: 126.67px; width: 190px; }
.thumbnail-32-l         { height:  94.67px; width: 142px; }
.thumbnail-32-m         { height:  63.33px; width:  95px; }
.thumbnail-32-s         { height:     48px; width:  72px; }
.thumbnail-32-xs        { height:     32px; width:  48px; }
.thumbnail-32-xxs       { height:     24px; width:  36px; }



/*  HEADER */
/* ----------------------------------------------------------------------------- */
#header {
    background : white;
    display : flex;
    height : 28px;
    padding : 20px 56px 20px; 
    position : absolute;
    top : 0px;
    right : 0px;
    left : 0px;
}
#header-logo {
    background-image: url(../images/autodesk-logo-black.png);
    background-size: 66px;
    cursor : pointer;
    float: left;
    height: 28px;
    width: 48px;
    position: absolute;
    top: 18px;
    left: 8px;
}
#header-title {
    cursor : pointer;
    font-size : 22px;
    font-weight : 800;
    line-height : 28px;
    margin-left : 10px;
}
#header-subtitle {
    border-left : 1px solid black;
    font-size : 20px;
    line-height : 28px;
    margin-left : 24px;
    padding-left : 24px;
}
#header-descriptor {
    font-size : 18px;
    font-weight : 700;
    line-height : 16px;
}
#header-description {
    font-size : 11px;
    line-height : 18px;
}
#header-toolbar {
    display : flex;
    position: absolute;
    top: 13px;
    right: 32px;
    height: 42px;
}
#header-toolbar .material-symbols-sharp {
    font-weight : 200;
}
#header-search {
    background : none;
    font-size : 16px;
    height : 26px;
    padding : 6px 16px 2px 42px;
    width : 120px;
}
#header-search-icon {
    position : relative;
    left : 34px;
    top : 8px;
}
#header-avatar {
    font-family: 'Material Symbols Sharp';
    font-size: 58px;
    font-weight: 200;
    line-height: 42px;
    display: inline-block;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    margin-left : var(--spacer-xl);
}
#header-avatar::before { content: '\e853';
    position: relative;
    left: -8px;}
#header-avatar.no-icon::before { content : '';}
#header .button {
    margin-top : 2px;
}
#header.dark {
    background : black;
    border-color : black;
    color : white;
}
#header.dark #header-logo {
    background-image: url(../images/autodesk-logo-white.png);
}
#header.dark #header-subtitle {
    border-color : white;
}
#header.dark .button {
    background : none;
    border-color : white;
    color : white;
}
#header.dark .button:hover {
    color : var(--color-blue-500) ;
    border-color : var(--color-blue-500);
    box-shadow : none;
}
#header.dark .button.disabled,
#header.dark .button.disabled:hover {
    border-color : rgba(128, 128, 128, 0.5);
    color : #808080;
}
#header.dark .button.default {
    background : #0696D7;
    border-color : transparent;
}
#header.dark .button.default:hover {
    color : white;
}
#header.dark #header-search {
    background : rgb(33, 33, 33);
    border-color : white;
    color : white;
}






/*  SCREENS & PANELS */
/* ----------------------------------------------------------------------------- */
.screen {
    padding : 0px;
    position : absolute;
    top : 68px;
    right : 0px;
    bottom : 0px;
    left : 0px;
} 
.screen.with-footer {
    bottom : 74px;
}
.screen > div {
    position : absolute;
    transition: all ease 0.25s;
}
.screen-divider {
    background : var(--color-gray-100);
    position : absolute;
}
.screen-divider.vertical {
    top : 0px;
    bottom : 0px;
    width : 4px;
}
.screen-divider.horizontal {
    left : 0px;
    right : 0px;
    height : 4px;
}
.panel-title {
    border-bottom : 2px solid black;
    font-size : 18px;
    font-weight : 800;
    line-height : 18px;
    padding : 10px 14px 20px;
}
.panel-toolbar {
    display : flex;
    position : absolute;
    top : 0px;
    right : 24px;
}
.panel-item-toolbar {
    display : flex;
    position : absolute;
    top : 20px;
    right : 20px;
}
.panel-toolbar > .button.material-symbols-sharp,
.panel-item-toolbar > .button.material-symbols-sharp {
    line-height: 36px;
    width: 36px;
    height: 36px;
    min-width : auto;
    padding: 0px;
    margin: 0px 0px 0px 8px;
    text-align : center;
}

.panel-tabs {
    border-bottom : 2px solid black;
    display : flex;
    font-size : 18px;
    line-height : 18px;
    padding : 10px 0px 0px;
}
.panel-tabs > div {
    border-bottom : 4px solid transparent;
    cursor : pointer;
    flex-grow : 1;
    flex-basis: 0;
    height : 34px;
    overflow : hidden;
    text-align : center;
    text-overflow: ellipsis;
    transition : all .25s ease;
    white-space : nowrap;
}
.panel-tabs > div.selected {
    border-color : var(--color-blue-500);
    font-weight : 800;
}
.panel-tabs.dark > div.selected {
    border-color : black;
}
.panel-content {
    overflow-y : auto;
    position : absolute;
    top : 56px;
    right : 0px;
    bottom : 0px;
    left : 0px;
}
.panel-content.tab {
    display : none;
}
.panel-content.toggle {
    display : none;
}
.panel-loading {
    margin: 0 auto;
    left : calc(50% - 50px);
    text-align: center;
    position : absolute;
    top : calc(50% - 12px);
    width: 100px;
    z-index : 20;
}
.panel-loading > div {
    background-color: var(--color-blue-500);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bounced 1.4s infinite ease-in-out both;
    animation: bounce 1.4s infinite ease-in-out both;
}
.panel-header {
    padding : 40px 0px 40px 40px;
}
.panel-header-sub { height : 20px; }
.panel-header-sub > span {
    border-left : 2px solid black;
    padding : 0px 10px;
}
.panel-header-sub > span:first-of-type {
    border-left : none;
    padding-left : 0px;
}
.panel-header-main {
    font-size: 24px;
    font-weight: 800;
    line-height: 24px;
    margin-top: var(--spacer-xs);
}
.no-subheader > .panel-header-main { margin-top : 0px; }
.panel-toggles {
    border: 1px solid var(--color-gray-200);
    border-radius: 3px;
    display: flex;
    flex-flow: row;
    width: calc(100% - 80px);
    margin: auto;
}
.panel-toggles > div {
    border-right : 1px solid var(--color-gray-200);
    cursor: pointer;
    /* color: white; */
    flex-grow: 1;
    line-height: 32px;
    text-align: center;
    width: 100%;
}
.panel-toggles > div:first-of-type { border-radius: 3px 0px 0px 3px; }
.panel-toggles > div:last-of-type { 
    border-radius: 0px 3px 3px 0px; 
    border-right : none;
}
.panel-toggles > div:hover { font-weight : bold;}
.panel-toggles > div.selected {
    background : black;
    color : white;
}




/*  DASHBOARD */
/*  (Projects Dashboard, Tenant Insighes Reports Dashboard) */
/* ----------------------------------------------------------------------------- */
.dashboard {
    display : flex;
    flex-wrap: wrap;
    gap : 20px;
    overflow-y : auto; 
    padding : 35px;
    position : absolute;
    top : 68px;
    right : 0px;
    bottom : 0px;
    left : 0px;
}
.dashboard > div {
    background : white;
    border-radius : 4px;
}
.dashboard > div > .title {
    font-size : 18px;
    font-weight : 800;
    padding : 0px 0px 20px;
    text-align : center;
}




/*  FOOTER */
/* ----------------------------------------------------------------------------- */
#footer {
    position : absolute;
    right : 0px;
    bottom : 0px;
    left : 0px;
    padding : 20px 40px;
}



/*  BUTTONS */
/* ----------------------------------------------------------------------------- */
div.button {
    background: #fff;
    border-radius : 2px;
    border: 1px solid #808080;
    color: #3C3C3C;
    cursor : pointer;
    float : right;
    font-weight : 600;
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin-left : var(--spacer-s);
    min-width : 80px;
    padding : 8px 16px;
    text-align : center;
}
div.button.default {
    background : #0696D7;
    border-color : transparent;
    color : white;
}
div.button:hover {
    box-shadow:  0 0 0 3px #e3e3e3;
}
div.button.disabled {
    border-color : rgba(128, 128, 128, 0.5);
    color : #808080;
    cursor : not-allowed;
}
div.button.default.disabled {
    color : #ffffff;
    opacity : 0.4;
}
div.button.disabled:hover {
    box-shadow : none !important;
}
div.button.material-symbols-sharp {
    font-weight : 400;
    padding : 0px;
}
.button.icon::before {
    font-family: 'Material Symbols Sharp';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.button.with-icon { display : flex; }
.button.with-icon .material-symbols-sharp {
    line-height : 20px; 
    margin-right : 6px;
}



/*  PANEL ELEMENTS (MBOM Editor) */
/* ----------------------------------------------------------------------------- */
.panel-nav {
    border-left : 2px solid transparent;
    cursor : pointer;
    font-size : 14px;
    font-weight : 700;
    line-height : 20px;
    margin-bottom : var(--spacer-m);
}
.panel-nav:hover {
    color : var(--color-blue-500);
}
.panel-nav.selected {
    color : var(--color-blue-500);
    border-color : var(--color-blue-500);
}
/* .panel-title {
    font-size: 18px;
    font-weight: 800;
    line-height: 18px;
}
.panel-toolbar {
    position: absolute;
    top: 0px;
    right: 20px
} */
/* .panel-contents {
    overflow-y: auto;
    position: absolute;
    top: 58px;
    left: 28px;
    right: 28px;
    bottom: 0px;
}
.panel-left {
    padding : 28px 0px 28px 28px;
    position : absolute;
    top : 0px;
    bottom : 0px;
    left : 0px;
    overflow-y : auto;
}
.panel-left.nav {
    border-right : 1px solid var(--color-gray-100);
    width : 250px;
}

.panel-right {
    overflow-y : auto;
    padding: 28px;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 280px;
} */



/*  DIALOGS */
/* ----------------------------------------------------------------------------- */
#overlay, .overlay {
    background : rgba(0,0,0,0.5);
    display : none;
    position : absolute;
    top : 0px;
    right : 0px;
    bottom : 0px;
    left : 0px;
    z-index : 9;
    transition : transform .25s ease;
}
#overlay .progress > div {
    background : white;
} 
.dialog {
    background : #fff;
    border-radius : 4px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.2);
    display: none;
    position : absolute;
    transition : transform .25s ease;
    z-index : 10;
}
.dialog > div { background : white; }
.dialog-arrow-up {
    background : none !important;
    width: 0; 
    height: 0; 
    border-bottom: 20px solid #fff;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    position : relative;
}
.dialog-header {
    border-bottom : 1px solid var(--color-gray-200);
    border-radius : 4px 4px 0px 0px;
    display : flex;
    font-size : 22px;
    font-weight : 800;
    height : 22px;
    padding : 24px 40px 24px;
    position : absolute;
    top : 0px;
    right : 0px;
    left : 0px;
    white-space : nowrap;
}
.dialog-subheader {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 14px;
}
.dialog-close {
    color : #0a131c;
    cursor : pointer;
    font-size : 32px !important;
    position : absolute;
    top : 18px;
    right : 36px;
}
.dialog-content {
    position : absolute;
    top : 71px;
    right : 0px;
    bottom : 98px;
    left : 0px;
    overflow-y : auto;
    padding : 30px 40px;
}
.dialog.no-footer .dialog-content {
    bottom : 0px;
}
.dialog-footer {
    border-radius : 0px 0px 4px 4px;
    height: 38px;
    padding : 30px 40px;
    position : absolute;
    right : 0px;
    bottom : 0px;
    left : 0px;
}
.dialog-footer > div {
    float : right;
    margin-left : 10px;
}
.dialog-footer.single-button > div {
    float : none;
    margin : 0px;
}



/*  PROGRESS INDICATOR */
/* ----------------------------------------------------------------------------- */
.progress {
    position : absolute;
    top : calc(50% - 15px);
    left:calc(50% - 33px);
    z-index : 9;
}
.progress > div {
    background-color: var(--color-blue-500);
    width: 25px;
    height: 25px;
    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bounced 1.4s infinite ease-in-out both;
    animation: bounce 1.4s infinite ease-in-out both;
}
.bounce1 {
    -webkit-animation-delay: -.32s !important;
    animation-delay: -.32s  !important;
}
.bounce2 {
    -webkit-animation-delay: -.16s  !important;
    animation-delay: -.16s  !important;
}
@-webkit-keyframes bounce{
   0%,80%,to{
       -webkit-transform:scale(0)
   }40%{
       -webkit-transform:scale(1)
   }
}
@keyframes bounce{
    0%,80%,to{
        -webkit-transform:scale(0);
        transform:scale(0)
    } 40% {
        -webkit-transform:scale(1);
        transform:scale(1)
    }
}



/*  ITEM DETAILS DISPLAY */
/* ----------------------------------------------------------------------------- */
.section {
    background : var(--color-gray-100);
    cursor : pointer;
    margin : 4px 0px;
    padding : 6px 12px;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
}
.section:hover { background: rgba(128, 128, 128, 0.25); }
.section:first-of-type {
    margin-top : 0px;
}
.section::before {
    /* color : var(--color-gray-700); */
    font: normal normal normal 14px/1 'Material Symbols Sharp';
    margin-right : 6px;
    position: relative;
    top : 2px;
}
.section.collapsed::before {
    content : '\e5cc';
}
.section.expanded::before {
    content : '\e5cf';
}

.section-fields {
    padding : 6px 6px 18px;
    transition: all 3s ease;
}
.section-fields .field {
    border-bottom : 1px solid var(--color-gray-100);
    display : flex;
    padding : 4px 0px;
}
.section-fields .field:last-child {
    border-bottom : none;
}

.section-fields date,
.section-fields input,
.section-fields select,
.section-fields textarea {
    border-bottom : 1px solid var(--color-gray-300);
}
.section-fields select { width : calc(100% - 154px); }
.section-fields textarea:disabled,
.section-fields input:disabled {
    background : white;
    border : none !important;
    resize : none;
}
.field-label {
    padding: 3px 8px;
    width: 140px;
    text-align: right;
    font-size: 12px;
    font-weight : bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.field-value {
    background: white;
    border: none;
    font-size: 12px;
    padding: 3px 6px;
    width: calc(100% - 168px);
}
.field-value.link {
    color : var(--color-blue-500);
    cursor : pointer;
}
.field-value.image { padding : 0px; }
.field-value.image > img { width : 100%; }
.field-value.computed,
.field-value.image,
.field-value.radio { background : none; }

#sections.view-only .field-label {
    font-size : 12px;
    font-weight : bold;
    padding : 0px 10px;
    text-align : right;
    width : 120px;
}
#sections.view-only .field-value {
    background: none;
    border: none;
    font-family: 'ArtifaktElement';
    font-size: 12px;
    resize: none;
    width: calc(100% - 140px);
}
#sections.view-only .field-value > img {
    max-width : 100%;
}
.field.with-text .field-value {
    width : calc(100% - 250px);    
}
#sections.view-only input.field-value {
    background : none;
    border : none;
    padding : 0px;
}
.field.with-text .field-text {
    font-size: 12px;
    width: 48px;
    padding-left: 2px 4px 2px 6px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.surface-level-2 > .section { background : var(--color-gray-200); }
.surface-level-2 > .section:hover { background : var(--color-gray-400); }
.surface-level-2 > .section-fields .field { border-bottom : none; }
.surface-level-2 .section-fields textarea:disabled, 
.surface-level-2 .section-fields input:disabled { background : none; }


/*  FORGE VIEWER */
/* ----------------------------------------------------------------------------- */
#viewer-empty {
    display: flex;
    flex-flow: column;
    gap: 10px;
    justify-content: center;
    text-align: center;
    height: 100%;
}
#viewer-empty .material-symbols-sharp {
    font-size: 100px;
    color: var(--color-blue-500);
}
.adsk-viewing-viewer {
    background : white !important;
}
#guiviewer3d-toolbar > div {
    background : transparent;
    box-shadow : none !important;
    color : black !important;
}
#guiviewer3d-toolbar .adsk-button {
    background : white;
    border: 1px solid #808080 !important;
    border-radius : 2px !important;
}
#guiviewer3d-toolbar .adsk-button:hover {
    border-color : var(--color-selected) !important;
    color : var(--color-selected) !important;
    box-shadow:  0 0 0 3px #e3e3e3;
}
#guiviewer3d-toolbar .adsk-button.active {
    box-shadow:  0 0 0 3px #A1D5EA;
}
#guiviewer3d-toolbar .adsk-button .adsk-button-icon::before {
    color : #3C3C3C;
}
#toolbar-measureTool-done, #toolbar-measureTool-done > label {
    background : #0696D7 !important;
    padding : 5px 10px;
}
#guiviewer3d-toolbar .docking-panel {
    background-color: white !important;
    box-shadow: none !important;
}
#modelTools .explode-slider {
    border : none !important;
    box-shadow : none !important;
}
#toolbar-sectionToolarrow { display : none !important; }
.adsk-control-tooltip {  
    font-family : 'Artifakt Element';
    padding : 8px 16px !important;
}
.adsk-viewing-viewer.dark-theme .adsk-control-tooltip { background : black !important; }

#custom-toolbar-ghosting.ghosting    #button-toggle-ghosting-on  { display : none; }
#custom-toolbar-ghosting.no-ghosting #button-toggle-ghosting-off { display : none; }