:root {

    --padding-main-top      : 22px;
    --padding-main-right    : 20px;
    --padding-main-bottom   : 20px;
    --padding-main-left     : 20px;

}

.embedded {

    --padding-main-top      :  6px;
    --padding-main-right    : 10px;
    --padding-main-bottom   :  0px;
    --padding-main-left     : 10px;

}


/*  MASTER LAYOUT */
/* ----------------------------------------------------------------------------- */
.embedded #header {
    display : none;
}
.screen > div {
    /* right : 0px;
    left  : 0px; */
    /* border-top-width    : var(--padding-main-top);
    border-right-width  : var(--padding-main-right);
    border-bottom-width : var(--padding-main-bottom);
    border-left-width   : var(--padding-main-left); */
}
.embedded .screen { top : 0px; }
.panel {
    /* top     : 0px;
    right   : var(--padding-main-right);
    bottom  : var(--padding-main-bottom);
    left    : var(--padding-main-left); */
    top     : 0px;
    right   : 0px;
    bottom  : 0px;
    left     : 0px;
}
.panel-header {
    top     : var(--padding-main-top);
    right   : var(--padding-main-right);
    left    : var(--padding-main-left); 
}
.panel-content {
    top     : 0px;
    right   : 0px;
    bottom  : 0px;
    left     : 0px;
    padding-top     : var(--padding-main-top);
    padding-right   : var(--padding-main-right);
    padding-bottom  : var(--padding-main-bottom);
    padding-left    : var(--padding-main-left); 
}
.embedded .panel { top : 40px; }



/*  INPUTS */
/* ----------------------------------------------------------------------------- */
body.embedded, 
.embedded input, 
.embedded select { font-size : 11px; }

.embedded input  { padding : 2px 4px; }
.embedded select { padding : 2px 4px; }



/*  PANELS */
/* ----------------------------------------------------------------------------- */
.embedded .panel-header {
    border : none;
    padding-right: var(--padding-main-right);
    padding-left: var(--padding-main-left);
}
.embedded .panel-title {
    font-size   : 14px;
    font-weight : normal;
    line-height : 18px;
    padding     : 10px 4px;
}
.embedded .panel-toolbar {
    padding-top   : 6px;
    padding-right : 2px;
}
.embedded .panel-toolbar > select {
    height      : 24px;
    line-height : 24px;
}
.embedded .panel-content {
    top : 46px;
}
.embedded .workspace-view-search-input { width : 60px; }
.panel-subtitle {
    background  : rebeccapurple;
    margin      : 5px 0px;
    padding     : 2px 10px;
    text-align  : center;
}



/*  TABS */
/* ----------------------------------------------------------------------------- */
.embedded .tabs {
    right : 0px;
    left  : 0px;
}
.embedded .tabs {
    border-right    : 12px solid var(--color-surface-level-2);
    border-bottom   : none;
    border-left     : 12px solid var(--color-surface-level-2);
    font-size       : 12px;
    line-height     : 28px;
    padding-top     : 6px;
    top             : 0px;
    right           : 0px;
    left            : 0px;
}
.embedded .tabs > div {
    border-bottom   : none;
    border-radius   : 3px 3px 0px 0px;
    border-top      : 2px solid transparent;
    height          : 30px;
}
.embedded .tab.selected {
    background  : var(--color-surface-level-1);
    border-top  : 2px solid var(--color-blue-500);
    font-weight : normal;
} 



/*  BUTTONS */
/* ----------------------------------------------------------------------------- */
.embedded div.button {
    font-size   : 12px;
    height      : 22px;
    line-height : 22px;
    padding     : 0px 8px;
}
.embedded .button.icon {
    height      : 22px;
    width       : 26px;
    line-height : 22px;
    font-size   : 16px;
    padding     : 0px;
}
.embedded .button.with-icon { padding-left : 8px; }
.embedded .button.with-icon::before { font-size : 20px; line-height : 20px; }
.embedded .panel-toolbar { gap : 4px; }
.embedded #bookmark { line-height : 22px; }



/*  TILES */
/* ----------------------------------------------------------------------------- */
.embedded .tile-title { font-size : 12px !important;}
.embedded .tile-subtitle { font-size : 11px !important; }
.embedded .tiles.list.xxs .tile-details { margin: 6px 10px; }
.embedded .tiles.wide.s { padding-top: var(--spacer-s); }

.tile-actions {
    display      : none;
    gap          : var(--spacer-xxxs);
    margin-top   : 1px;
    margin-right : 4px;
    /* padding-left : 10px;
    position     : absolute;
    right        : 10px; */
}
.tile:hover .tile-actions {
    display : flex;
}
.tile-actions > div:hover {
    background   : var(--color-blue-500) !important;
    border-color : var(--color-blue-500) !important;
    box-shadow   : none !important;
    color        : white;
}

/*  TABLES */
/* ----------------------------------------------------------------------------- */
.embedded th { padding : 3px 2px; }
.embedded td { padding : 1px 2px; }



/*  MOW */
/* ----------------------------------------------------------------------------- */
.embedded .mow-icon::before { font-size : 16px; }


/*  BOM */
/* ----------------------------------------------------------------------------- */
.bom-tree-actions > div {
    display         : none;
    gap             : 2px;
    justify-content : end;
}
.bom-item:hover .bom-tree-actions > div {
    display : flex;
}
.bom-tree-actions .button:hover {
    background   : var(--color-blue-500) !important;
    border-color : var(--color-blue-500) !important;
    box-shadow   : none !important;
    color        : white;
}


/*  ATTACHMENTS */
/* ----------------------------------------------------------------------------- */
.embedded .attachment {
    width : calc(100% - 22px) !important;
}



/*  DIALOGS */
/* ----------------------------------------------------------------------------- */
.embedded .dialog-content {
    padding-right : 20px;
    padding-left  : 20px;
}

/*  SEARCH */
/* ----------------------------------------------------------------------------- */
/* 
.list-results {
    position : absolute;
    top : 130px;
    right : var(--padding-main);
    bottom : var(--padding-main);
    left : var(--padding-main);
}

 */



/*  PANELS */
/* ----------------------------------------------------------------------------- */
/* .panel { 
    top     : 50px;
    right   : var(--padding-main);
    bottom  : var(--padding-main);
    left    : var(--padding-main);
}
.panel-header {
    border : none;
    display : flex;
    justify-content: space-between;
}
.panel.with-subtitle .panel-header {
    flex-direction: column;
}
.panel.with-subtitle .panel-toolbar {
    position : absolute;
    top : 12px;
    right : 0px;
}

.panel-subtitle { 
    height : 20px; 
    padding : 0px 14px;
}
.panel-subtitle > span {
    border-left : 2px solid black;
    padding : 0px 10px;
}
.panel-subtitle > span:first-of-type {
    border-left : none;
    padding-left : 0px;
}
.panel-title {
    padding-left : 0px;
    padding-right : 0px;
    /* font-size : 18px;
    font-weight : 800;
    height : 18px;
    line-height : 18px;
    overflow : hidden;
    white-space: nowrap;
    padding : 10px 14px 20px;
    text-overflow : ellipsis; */
/* } */
/*.panel-title.centered {
    text-align : center;
    width : 100%;
}

.panel-toolbar > select {
    background : var(--color-blue-500);
    border-radius : 2px;
    border : none;
    color : white;
    cursor : pointer;
    font-size: 12px;
    height: 24px;
    line-height: 24px;
    padding: 0px 12px;
}
.panel-content {
    top : 34px;
}
.panel-content-top {
    overflow-y : auto;
    position : absolute;
    top : 90px;
    right : var(--padding-main);
    bottom : calc(50% + (3 * var(--padding-main)));
    left : var(--padding-main);
}
.panel-content-bottom {
    position : absolute;
    top : calc(50% + var(--padding-main));
    right : var(--padding-main);
    bottom : var(--padding-main);
    left : var(--padding-main);
}
.panel-content-toggle {
    position : absolute;
    right : var(--padding-main);
    bottom : 50%;
    left : var(--padding-main);
}
.panel-content-toggle {
    border: 1px solid var(--color-gray-200);
    border-radius: 3px;
    display: flex;
}
.panel-content-toggle > div {
    border-right : 1px solid var(--color-gray-200);
    cursor: pointer;
    flex-grow: 1;
    line-height: 32px;
    padding : 0px 8px;
    text-align: center;
    width: 100%;
}
.panel-content-toggle > div:first-of-type { border-radius: 3px 0px 0px 3px; }
.panel-content-toggle > div:last-of-type { 
    border-radius: 0px 3px 3px 0px; 
    border-right : none;
}
.panel-content-toggle > div:hover { font-weight : bold;}
.panel-content-toggle > div.selected {
    background : black;
    color : white;
    font-weight : bold;
} */



/*  TILES */
/* ----------------------------------------------------------------------------- */
/* .tile-title {
    font-weight : bold;
}
.tiles.list.xs .tile-title {
    font-size : 12px;
    line-height : 14px;
}

.dark-theme .tile-actions > div {
    background   : var(--color-surface-level-2) !important;
    border-color : var(--color-surface-level-2) !important;
}
.tile-actions > div:hover {
    background   : var(--color-blue-500) !important;
    border-color : var(--color-blue-500) !important;
    box-shadow   : none !important;
    color        : white;
}
.icon-new-window::before {
    content : '\e062';
}
.tiles.list.xxs .tile-image span { font-size : 20px; }
.tiles.list.xxxs .tile-image span { font-size : 14px; }


.tiles.list.xxxs .tile .tile-details { display : flex; margin : 0px; }
.tiles.list.xxxs .tile .tile-actions { margin-top : 2px; margin-right : 2px; }
.tiles.list.xxxs .tile .button.icon  { font-size : 14px; }
.tiles.list.xxxs .tile-details { width : calc(100%  - 26px); }
.tiles.list.xxxs .tile-title { line-height : 26px; padding : 0px 10px; }
.tiles.list.xxxs  .tile-actions { right : 1px; padding-left : 0px; }
.tiles.list.xxxs  .tile-actions > .button {
    border-radius: 0px;
    height : 20px;
    line-height : 20px;
    margin-left : 0px;
    width : 30px;
} */



/*  MOW */
/* ----------------------------------------------------------------------------- */
/* .mow-row > div { border-color : #ffffff; } */
/* .mow-row {
    line-height : 30px;
}
.mow-row > div {
    padding: 0px 10px;
} */

/*  WORKSPACE VIEWS */
/* ----------------------------------------------------------------------------- */
/* .workspace-view-item-descriptor {
    font-weight : normal;
} */


/*  ITEM DETAILS */
/* ----------------------------------------------------------------------------- */
/* .section-fields .field {
    border : none;
    padding : 0px;
}
.field-label {
    padding-top : 2px;
}
.field-value.computed {
    padding-top: 2px;
    padding-left : 10px;
    width : calc(100% - var(--padding-field-label) - var(--width-field-label) - 10px);
}
.field-value > input {
    padding-top : 4px;
    padding-bottom : 2px;
}
.field-value.image > img {
    margin-top : 10px;
    max-width : 200px;
} */



/*  ATTACHMENTS */
/* ----------------------------------------------------------------------------- */
/* .attachment { display : flex; }
.attachment-name { font-weight : bold; } */


/*  BOM */
/* ----------------------------------------------------------------------------- */
/* .bom-tree-nav {
    font-size   : 16px;
    top         : 3px;
}

.bom-tree-actions .button {
    font-size   : 18px !important;
    height      : 26px !important;
    line-height : 26px !important;
    width       : 26px !important;
}

.dark-theme .bom-tree-actions .button {
    background   : var(--color-surface-level-4) !important;
    border-color : var(--color-surface-level-4) !important;
}



.dark-theme .flat-bom-item > td.changed {
    background: var(--color-status-red-bright) !important;
}
div.button { min-width : 40px; } */