/*  GENERAL */
/* ----------------------------------------------------------------------------- */
.addin, 
.addin input, 
.addin textarea,
.addin select,
.addin th,
.addin td.addin .attachment-version,
.addin .attachment-size, 
.addin .attachment-user, 
.addin .attachment-date { 
    font-size   : 11px; 
    line-height : 16px;
}
.addin th,
.addin td {
    padding : 4px 6px;
}
.addin th {
    height  : 20px;
}
.addin td {
    height  : 18px;
}
.addin input  { 
    padding : 2px 4px; 
}
.addin select { 
    height      : 24px !important; 
    line-height : 24px !important; 
    padding     : 1px 4px; 
}
.addin .screen { 
    top : 0px;
}
.addin .section {
    font-size : 12px;
    padding   : 2px 12px;
}
.addin .section-fields .field {
    padding: 1px 0px;
}
.addin .field-label {
    padding: 0px 12px;
}
.addin .panel-search {
    padding-left : 2px !important;
}
.addin .panel-search-input {
    margin-left : 2px;
    width       : 78px;
}
.addin .attachments-content.list .attachment-summary {
    gap : var(--spacer-xs);
}
.attachments-content.tiles.m {
    gap: var(--spacer-xxxs);
}
.addin .attachments-content.tiles .attachment-size {
    min-width : 50px;
    max-width : 50px;
}
.addin-actions .button:hover {
    background   : var(--color-blue-500) !important;
    border-color : var(--color-blue-500) !important;
    box-shadow   : none !important;
    color        : white;
}


/*  BUTTONS */
/* ----------------------------------------------------------------------------- */
.addin div.button {
    font-size   : 12px;
    height      : 22px;
    line-height : 22px;
    padding     : 0px 8px;
}
.addin .button.icon {
    height      : 22px;
    width       : 26px;
    line-height : 22px;
    font-size   : 16px;
    padding     : 0px;
}
.addin .button.with-icon { padding-left : 8px; }
.addin .button.with-icon::before { 
    font-size   : 20px; 
    line-height : 22px; 
}



/*  PANEL HEADER & CONTENT */
/* ----------------------------------------------------------------------------- */
.addin .panel-title {
    gap       : 10px;
    padding   : 12px 0px 0px 18px;
    min-width : calc(100% - 36px);
    width     : calc(100% - 36px);
}
.addin .panel-title-main {
    font-size   : 14px;
    font-weight : 600;
    height      : 16px;
    line-height : 16px;
}
.addin .panel-title-sub {
    font-size   : 11px;
    line-height : 14px;
}
.addin .panel-title-sub .panel-status {
    font-size   : 9px;
    height      : 14px;
}
.addin .panel-summary {
    overflow        : hidden;
    text-overflow   : ellipsis;
    min-width       : unset;
    width           : unset;
}
.addin .panel-controls {
    gap      : 4px;
    padding  : 8px 18px;
    position : absolute;
    top      : 0px;
    right    : 0px;
    z-index  : 5;
}
.addin .panel-controls > .panel-search > .button {
    height      : 16px;
    font-size   : 16px;
    line-height : 16px;
    margin-top  : 2px;
    width       : 16px;
}
.addin .panel-top.with-sub-title > .panel-header > .panel-title {
    padding-top : 12px;
}
.addin .panel-top.with-tabs > .panel-content > .panel-top > .panel-header > .panel-controls {
    padding : 0px 6px 0px 0px;
}
.addin .panel-top.with-tabs > .panel-content > .panel-top > .panel-content {
    top : 34px;
}


/*  TABS */
/* ----------------------------------------------------------------------------- */
.addin .item.with-tabs > .panel-tabs,
.addin .panel-tabs {
    top : 66px;
}
.addin .panel-top.with-tabs > .panel-content {
    border-width : 12px;
    top          : 100px;
    right        : 0px;
    bottom       : 0px;
    left         : 0px;
}



/*  PANELS */
/* ----------------------------------------------------------------------------- */
.panel-subtitle {
    background  : rebeccapurple;
    margin      : 5px 0px;
    padding     : 2px 10px;
    text-align  : center;
}
.addin .no-data { 
    margin-top  : 0px;
    position    : absolute;
    top         : calc(50% - 44px);
    left        : calc(50% - 100px);
    text-align  : center;
    width       : 200px;
  }



/*  TILES */
/* ----------------------------------------------------------------------------- */
.addin .tiles.list.xs .tile-image { width : 72px; }
.addin .tile-title { 
    display     : flex;
    font-size   : 11px !important;
    gap         : 12px;
    line-height : 12px;
}
.addin .tile-entity { 
    display     : flex; 
    font-weight : normal;
    gap         : 4px;
}
.addin .tile-entity .icon {
    font-size   : 12px;
    line-height : 14px;
}
.addin .tile-subtitle { font-size : 11px !important; }
.addin .tiles.wide.s { padding-top: var(--spacer-s); }

/* Tile Actions */
.tile-actions {
    display         : none;
    gap             : 4px;
    justify-content : end;
    position        : relative;
}
.tile:hover .tile-actions {
    display : flex;
}
.tile-actions > div:hover {
    background   : var(--color-blue-500) !important;
    border-color : var(--color-blue-500) !important;
    box-shadow   : none !important;
    color        : white;
}

.addin .tiles.list.m > .tile { gap: 14px; height: 48px; }
.addin .tiles.list.m .tile-counter { line-height : 48px; font-size : 22px; }
.addin .tiles.list.m .tile-image { height: 48px; line-height: 48px; font-size: 28px; max-width: 48px; min-width: 48px; width: 48px; }
.addin .tiles.list.m .attachment-graphic > img { height: 28px; width: 28px; }
.addin .tiles.list.m .tile-details { margin: 6px 12px 0px 0px; }
.addin .tiles.list.m .tile-title { line-height: 20px; }

.addin .tiles.list.xxs .tile-actions { top :  1px; right :  2px; gap : 2px; }
.addin .tiles.list.xs  .tile-actions { top :  5px; right :  5px; gap : 5px; }
.addin .tiles.list.m   .tile-actions { top : 12px; right : 12px;            }




/*  TABLES */
/* ----------------------------------------------------------------------------- */
.addin .content-column-number {
    max-width : 28px;
    width     : 28px;
}



/*  BOM */
/* ----------------------------------------------------------------------------- */
/* .addin .bom-nav {
    font-size   : 16px;
    line-height : 26px;
    top         : 0px;
}
.addin .bom-first-col {
    display        : flex;
    height         : 24px;
    line-height    : 24px;
    padding-top    : 0px;
    padding-bottom : 0px;
} */
.addin .table-actions {
    display  : none;
    gap      : 2px;
    position : absolute;
    right    : 4px;
    z-index  : 5;
}
.addin .tree-item:hover .table-actions {
    display : flex;
}
.addin .bom-number,
.addin .bom-descriptor {
    padding : 0px;
}
.addin .panel-counters {
    font-size : 11px;
    padding   : 2px 12px;
}
.addin .panel-top.with-panel-counters.with-bom-path > .panel-content {
    bottom : 64px;
}
.addin .panel-top.with-panel-counters.with-bom-path > .bom-path {
    bottom : 30px;
}



/*  DETAILS */
/* ----------------------------------------------------------------------------- */
.addin .section-fields {
    gap : 4px;
}
.addin .field-value.radio {
    display         : flex;
    flex-direction  : column;
    gap             : 4px;
}
.addin .radio-label {
    top : 0px;
}



/*  ATTACHMENTS */
/* ----------------------------------------------------------------------------- */
.addin .attachment-version, 
.addin .attachment-size, 
.addin .attachment-user, 
.addin .attachment-date {
    font-size   : 10px;
    line-height : 12px;
}
.addin .attachment-user > .icon {
    font-size   : 10px;
    line-height : 12px;
}
.addin .attachments-separator {
    margin-top : 16px;
    width      : 100%;
}


/*  ROOT PARENTS */
/* ----------------------------------------------------------------------------- */
.content-tbody > .content-item:hover .path-actions > div {
    color : white;
}
.path-actions {
    display : flex;
    gap     : 4px;
}
.path-actions > div {
    color : var(--color-surface-level-4);
}