/*  GENERAL */
/* ----------------------------------------------------------------------------- */
.addin, 
.addin input, 
.addin textarea,
.addin select,
.addin th,
.addin td.addin .attachment-version,
.addin .attachment-size, 
.addin .attachment-user, 
.addin .attachment-date { 
    font-size   : 12px; 
    line-height : 16px;
}
.addin th,
.addin td {
    padding : 4px 6px;
}
.addin th {
    height  : 20px;
}
.addin td {
    height  : 18px;
}
.addin input  { 
    max-height : 22px;
    min-height : 22px;
    height     : 22px;
}
.addin select.button { 
    height      : 24px !important; 
    line-height : 24px !important; 
    padding     : 1px 4px; 
}
.addin .screen { 
    top : 42px;
}
.addin .screen.no-header { 
    top : 0px;
}
.addin .section {
    font-size   : 12px;
    padding     : 2px 12px;
}
.addin .section,
.addin .section::before {
    height      : 22px !important;
    line-height : 22px !important;
}
.addin .section-fields .field {
    padding: 1px 0px;
}
.addin .field-label {
    padding: 0px 12px;
}
.addin .panel-search {
    padding-left : 2px !important;
}
.addin .panel-search-input {
    margin-left    : 2px;
    padding-top    : 0px;
    padding-bottom : 0px;
    width          : 78px;
}
.addin .attachments-content.list .attachment-summary {
    gap : var(--spacer-xs);
}
.attachments-content.tiles.m {
    gap: var(--spacer-xxxs);
}
.addin .attachments-content.tiles .attachment-size {
    min-width : 50px;
    max-width : 50px;
}
.addin-actions .button:hover {
    background   : var(--color-blue-500) !important;
    border-color : var(--color-blue-500) !important;
    box-shadow   : none !important;
    color        : white;
}


/*  HEADER */
/* ----------------------------------------------------------------------------- */
.addin.light-theme #header,
.addin.dark-theme  #header,
.addin.black-theme #header {
    background : transparent;
}
.addin.dark-theme #header.dark .button,
.addin.black-theme #header.dark .button {
    background   : var(--color-surface-level-4);
    border-color : var(--color-surface-level-4);
}
.addin #header {
    height : 42px;
}
.addin #header-logo,
.addin #header-title,
.addin #header-avatar {
    display : none;
}
.addin #header-subtitle {
    border       : none;
    font-size    : 14px;
    font-weight  : 800;
    height       : 42px;
    line-height  : 42px;
    margin       : 0px;
    padding-left : 24px;
}
.addin #header-toolbar {
    height  : 24px;
    margin  : 0px;
    padding : 9px 24px;
}
.addin #header .button {
    margin : 0px;
}
.light-theme #header.dark .button,
 .dark-theme #header.dark .button,
.black-theme #header.dark .button {
    color : var(--color-font);
}
.light-theme #header.dark .button.default,
 .dark-theme #header.dark .button.default,
.black-theme #header.dark .button.default {
    color : white;
}


/*  BUTTONS */
/* ----------------------------------------------------------------------------- */
.addin div.button {
    font-size   : 12px;
    height      : 22px;
    line-height : 22px;
    padding     : 0px 8px;
}
.addin .button.icon {
    height      : 22px;
    line-height : 22px;
    font-size   : 16px;
    padding     : 0px;
    max-width   : 22px;
    min-width   : 22px;
    width       : 22px;
}
.addin .button.with-icon { padding-left : 8px; }
.addin .button.with-icon::before,
.addin .button.with-toggle::after { 
    font-size   : 20px; 
    line-height : 22px; 
    margin-left : 0px;
}
.addin .button.with-toggle { 
    gap       : 8px;
    min-width : unset;
}


/*  PANEL HEADER & CONTENT */
/* ----------------------------------------------------------------------------- */
.addin .panel-title {
    gap       : 10px;
    padding   : 12px 0px 0px 18px;
    min-width : calc(100% - 36px);
    width     : calc(100% - 36px);
}
.addin .panel-title-main {
    font-size   : 14px;
    font-weight : 600;
    height      : 16px;
    line-height : 16px;
}
.addin .panel-title-sub {
    display     : none;
    font-size   : 11px;
    line-height : 14px;
}
.addin .panel-title-sub .panel-status {
    font-size   : 9px;
    height      : 14px;
    line-height : 14px;
}
.addin .panel-summary {
    overflow        : hidden;
    text-overflow   : ellipsis;
    min-width       : unset;
    width           : unset;
}
.addin .panel-controls,
.addin .panel-actions {
    gap      : 4px;
    padding  : 8px 18px 0px;
    position : absolute;
    top      : 0px;
    right    : 0px;
    z-index  : 5;
}
.addin .panel-controls > .panel-search > .button {
    height      : 16px;
    font-size   : 16px;
    line-height : 16px;
    margin-top  : 2px;
    width       : 16px;
}
.addin .panel-top.with-sub-title > .panel-header > .panel-title {
    padding-top : 12px;
}
.addin .panel-top.with-tabs > .panel-content > .panel-top > .panel-header > .panel-controls {
    height  : 22px;
    padding : 0px 6px 0px 0px;
}
.addin .panel-top.with-tabs > .panel-content > .panel-top > .panel-actions {
    left    : 6px;
    right   : unset;
    padding : 0px;
}
.addin .panel-top.with-tabs > .panel-content > .panel-top > .panel-content {
    top : 34px;
}


/*  TABS */
/* ----------------------------------------------------------------------------- */
.addin .item.with-tabs > .panel-tabs,
.addin .panel-tabs {
    top : 46px;
}
.addin .panel-top.with-tabs > .panel-content {
    border-width : 12px;
    top          : 80px;
    right        : 0px;
    bottom       : 0px;
    left         : 0px;
}
.addin .tabs {
    font-size   : 12px;
    padding-top : 0px;
}
.addin .tabs,
.addin .tabs > div {
    height : 28px;
}



/*  PANELS */
/* ----------------------------------------------------------------------------- */
.panel-subtitle {
    background  : rebeccapurple;
    margin      : 5px 0px;
    padding     : 2px 10px;
    text-align  : center;
}
.addin .no-data { 
    margin-top  : 0px;
    position    : absolute;
    top         : calc(50% - 44px);
    left        : calc(50% - 100px);
    text-align  : center;
    width       : 200px;
  }



/*  TILES */
/* ----------------------------------------------------------------------------- */
.addin .tiles.list.xs .tile-image { width : 72px; }
.addin .tile-title { 
    display     : flex;
    font-size   : 12px !important;
    gap         : 12px;
    line-height : 12px;
}
.addin .tile-entity { 
    display     : flex; 
    font-weight : normal;
    gap         : 4px;
}
.addin .tile-entity .icon {
    font-size   : 12px;
    line-height : 14px;
}
.addin .tile-subtitle { font-size : 12px !important; }
.addin .tiles.wide.s { padding-top: var(--spacer-s); }

/* Tile Actions */
.tile-actions {
    display         : none;
    gap             : 4px;
    justify-content : end;
    position        : relative;
}
.tile:hover .tile-actions {
    display : flex;
}
.tile-actions > div:hover {
    background   : var(--color-blue-500) !important;
    border-color : var(--color-blue-500) !important;
    box-shadow   : none !important;
    color        : white;
}

.addin .tiles.list.m > .tile { gap: 14px; height: 48px; }
.addin .tiles.list.m .tile-counter { line-height : 48px; font-size : 22px; }
.addin .tiles.list.m .tile-image { height: 48px; line-height: 48px; font-size: 28px; max-width: 48px; min-width: 48px; width: 48px; }
.addin .tiles.list.m .attachment-graphic > img { height: 28px; width: 28px; }
.addin .tiles.list.m .tile-details { margin: 6px 12px 0px 0px; }
.addin .tiles.list.m .tile-title { line-height: 20px; }

.addin .tiles.list.xxs .tile-actions { top :  1px; right :  2px; gap : 2px; }
.addin .tiles.list.xs  .tile-actions { top :  5px; right :  5px; gap : 5px; }
.addin .tiles.list.m   .tile-actions { top : 12px; right : 12px;            }




/*  TABLES */
/* ----------------------------------------------------------------------------- */
.addin .content-column-number {
    max-width : 28px;
    width     : 28px;
}
.addin .table-check-box {
    max-width : 24px;
    min-width : 24px;
    width     : 24px;
}
.addin .table-group-title::before {
    font-size : 16px;
    top       : 4px;
}
.addin .panel-content.s th.table-check-box > .icon,
.addin .panel-content.s tr.content-item > td > .icon {
    font-size : 16px;
}
.addin .panel-content.s thead th {
    height      : 22px;
    line-height : 22px;
    padding     : 0px 4px;
}
.addin .panel-content.s tr > td, 
.addin .panel-content.s tr.content-item > td > input, 
.addin .panel-content.s tr.content-item > td > select, 
.addin .panel-content.s tr.content-item > td > textarea {
    font-size   : 12px;
    height      : 22px;
    line-height : 22px;
    padding     : 0px 6px;
    min-height  : 22px;
    max-width   : calc(100% - 12px);
    min-width   : calc(100% - 12px);
    width       : calc(100% - 12px);
}



/*  BOM */
/* ----------------------------------------------------------------------------- */
/* .addin .bom-nav {
    font-size   : 16px;
    line-height : 26px;
    top         : 0px;
}
.addin .bom-first-col {
    display        : flex;
    height         : 24px;
    line-height    : 24px;
    padding-top    : 0px;
    padding-bottom : 0px;
} */
.addin .bom-descriptor {
    flex-grow : 1;
}
.addin .table-actions {
    display  : none;
    gap      : 2px;
    /* position : absolute; */
    /* right    : 4px; */
    z-index  : 5;
}
.addin .tree-item:hover .table-actions {
    display : flex;
}
.addin .bom-number,
.addin .bom-descriptor {
    padding : 0px;
}
.addin .panel-counters {
    font-size : 11px;
    padding   : 2px 12px;
}
.addin .bom-path { 
    height : 24px; 
    right  : 52px; 
}
.addin .bom-path > div {
    height      : 24px;
    line-height : 24px;
}
.addin .panel-counters {
    padding-top    : 1px;
    padding-bottom : 0px;  
}
.addin .panel-counters > div {
    padding-top    : 2px;
    padding-bottom : 1px;
}
.addin .panel-top.with-panel-counters.with-bom-path > .panel-content {
    bottom : 54px;
}
.addin .panel-top.with-panel-counters.with-bom-path > .bom-path,
.addin .panel-top.with-panel-counters.with-bom-path > .bom-go-to {
    bottom : 26px;
}


/*  DETAILS */
/* ----------------------------------------------------------------------------- */
.addin .field-value.radio {
    display         : flex;
    flex-direction  : column;
    gap             : 4px;
}
.addin .radio-label {
    top : 0px;
}
.addin .field-label,
.addin .field-value,
.addin .field-value .field-unit {
    height: 22px;
    line-height: 22px !important;
    padding-top: 0px !important;
}
.addin .field-value .field-unit {
    padding : 0px 0px 0px 8px !important;
}
.addin .field-value.field-type-image,
.addin .field-value.field-type-radio {
    height : unset;
}
.addin .field-value.field-editable {
    margin-bottom : 6px !important;
}
.addin .radio-option {
    gap : 4px;
}
.addin .radio-option > * {
    line-height : 18px;
}
.addin .radio-icon {
    font-size : 16px;
}


/*  ATTACHMENTS */
/* ----------------------------------------------------------------------------- */
.addin .attachment-version, 
.addin .attachment-size, 
.addin .attachment-user, 
.addin .attachment-date {
    font-size   : 10px;
    line-height : 12px;
}
.addin .attachment-user > .icon {
    font-size   : 10px;
    line-height : 12px;
}
.addin .attachments-separator {
    margin-top : 16px;
    width      : 100%;
}


/*  ROOT PARENTS */
/* ----------------------------------------------------------------------------- */
.content-tbody > .content-item:hover .path-actions > div {
    color : white;
}
.path-actions {
    display : flex;
    gap     : 4px;
}
.path-actions > div {
    color : var(--color-surface-level-4);
}



/*  RESPONSIVE LAYOUT */
/* ----------------------------------------------------------------------------- */
@media (max-width: 1440px) {
   
    #header-toolbar .button.with-icon {
        min-width : 80px;
        max-width : unset;
        overflow  : visible;
    }
 
    #header-toolbar .button.with-icon::before {
        margin-right: 4px;
    }

}
@media (max-width: 640px) {
    
    #header-toolbar .button.with-icon {
        min-width: unset;
        max-width: 22px;
        overflow: hidden;
    }
    
    #header-toolbar .button.with-icon::before {
        margin-right: 24px;
    }

}