.wrapper {
    /* border : 4px solid var(--color-status-red); */
    background      : black;
    border-radius   : 4px;
    color           : white;
    height          : 420px;
    width           : 650px;
    padding         : 30px 40px;
    position        : absolute;
    top             : calc(50% - 300px);
    left            : calc(50% - 355px);
}
.wrapper.centered > div {
    text-align : center;
}
.wrapper.light {
    background : white;
    color      : black;
}
.wrapper.s {
    height : 240px;
    top    : calc(50% - 120px);
}
.wrapper.m {
    height : 320px;
    top    : calc(50% - 186px);
}
.error-icon {
    color       : var(--color-blue-500);
    display     : block;
    font-size   : 128px;
    line-height : 96px;
    font-weight : 300;

}
.error-code {
    color       : var(--color-blue-500);
    font-size   : 128px;
    font-weight : 800;
    line-height : 96px;
    padding     : 10px;
}
.error-title {
    font-size   : 32px;
    font-weight : 800;
    line-height : 48px;
    padding     : 10px;
}
.error-message {
    display         : flex;
    flex-direction  : column;
    gap             : 10px;
    line-height     : 18px;
    padding         : 10px;

}
.error-details {
    margin-bottom : 10px;
}
.error-details th,
.error-details td {
    background  : none;
    border      : none;
    padding     : 2px 10px;
}
.error-url {
    -webkit-user-select:text;
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: all;
}
#error-retry {
    display : table;
    margin  : 32px auto 0px;
}
.admin {
    font-size   : 18px;
    font-weight : 800;
    line-height : 28px;
}