.screen {
    top : 0px;
}
#create-screen {
    display : none;
}

#search-processing {
    top : calc(50% + 60px);
}
.processing > div {
    background : var(--color-blue-500) !important
}
.message {
    left       : calc(50% - 150px);
    margin     : auto;
    position   : absolute;
    text-align : center;
    width      : 300px;
}
#search-message {
    display : flex;
    gap     : 6px;
    top     : calc(50% + 110px);
    justify-content : center;
}
.number {
    font-weight : 800;
}
#create-message {
    display : none;
    top     : 100px;
}
#create-action {
    float      : unset;
    margin-top : 24px;
}
#create {
    top    : 60px;
    right  : calc(50% - 300px);
    bottom : 60px;
    left   : calc(50% - 300px);
}