/*  DEFAULT FONTS (Material & Artifakt) */
/* ----------------------------------------------------------------------------- */
@font-face {
    font-family: 'Material Symbols Sharp';
    font-style: normal;
    font-weight: 100 700;
    src: url(../../fonts/MaterialSymbolsSharp.ttf) format('truetype');
}
@font-face {
    font-family: ArtifaktElement;
    font-style: normal;
    font-weight: 100;
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Hair.eot);
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Hair.eot?#iefix) format("embedded-opentype"),local("Artifakt Element Hair"),local("ArtifaktElement-Hair"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF2/Artifakt%20Element%20Hair.woff2) format("woff2"),local("Artifakt Element Hair"),local("ArtifaktElement-Hair"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF/Artifakt%20Element%20Hair.woff) format("woff"),local("Artifakt Element Hair"),local("ArtifaktElement-Hair"),url(https://fonts.autodesk.com/ArtifaktElement/TTF/Artifakt%20Element%20Hair.ttf) format("truetype")
}
@font-face {
    font-family: ArtifaktElement;
    font-style: normal;
    font-weight: 200;
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Thin.eot);
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Thin.eot?#iefix) format("embedded-opentype"),local("Artifakt Element Thin"),local("ArtifaktElement-Thin"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF2/Artifakt%20Element%20Thin.woff2) format("woff2"),local("Artifakt Element Thin"),local("ArtifaktElement-Thin"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF/Artifakt%20Element%20Thin.woff) format("woff"),local("Artifakt Element Thin"),local("ArtifaktElement-Thin"),url(https://fonts.autodesk.com/ArtifaktElement/TTF/Artifakt%20Element%20Thin.ttf) format("truetype")
}
@font-face {
    font-family: ArtifaktElement;
    font-style: normal;
    font-weight: 300;
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Light.eot);
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Light.eot?#iefix) format("embedded-opentype"),local("Artifakt Element Light"),local("ArtifaktElement-Light"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF2/Artifakt%20Element%20Light.woff2) format("woff2"),local("Artifakt Element Light"),local("ArtifaktElement-Light"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF/Artifakt%20Element%20Light.woff) format("woff"),local("Artifakt Element Light"),local("ArtifaktElement-Light"),url(https://fonts.autodesk.com/ArtifaktElement/TTF/Artifakt%20Element%20Light.ttf) format("truetype")
}
@font-face {
    font-family: ArtifaktElement;
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Regular.eot);
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Regular.eot?#iefix) format("embedded-opentype"),local("Artifakt Element Regular"),local("ArtifaktElement-Regular"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF2/Artifakt%20Element%20Regular.woff2) format("woff2"),local("Artifakt Element Regular"),local("ArtifaktElement-Regular"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF/Artifakt%20Element%20Regular.woff) format("woff"),local("Artifakt Element Regular"),local("ArtifaktElement-Regular"),url(https://fonts.autodesk.com/ArtifaktElement/TTF/Artifakt%20Element%20Regular.ttf) format("truetype")
}
@font-face {
    font-family: ArtifaktElement;
    font-style: normal;
    font-weight: 500;
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Book.eot);
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Book.eot?#iefix) format("embedded-opentype"),local("Artifakt Element Book"),local("ArtifaktElement-Book"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF2/Artifakt%20Element%20Book.woff2) format("woff2"),local("Artifakt Element Book"),local("ArtifaktElement-Book"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF/Artifakt%20Element%20Book.woff) format("woff"),local("Artifakt Element Book"),local("ArtifaktElement-Book"),url(https://fonts.autodesk.com/ArtifaktElement/TTF/Artifakt%20Element%20Book.ttf) format("truetype")
}
@font-face {
    font-family: ArtifaktElement;
    font-style: normal;
    font-weight: 600;
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Medium.eot);
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Medium.eot?#iefix) format("embedded-opentype"),local("Artifakt Element Medium"),local("ArtifaktElement-Medium"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF2/Artifakt%20Element%20Medium.woff2) format("woff2"),local("Artifakt Element Medium"),local("ArtifaktElement-Medium"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF/Artifakt%20Element%20Medium.woff) format("woff"),local("Artifakt Element Medium"),local("ArtifaktElement-Medium"),url(https://fonts.autodesk.com/ArtifaktElement/TTF/Artifakt%20Element%20Medium.ttf) format("truetype")
}
@font-face {
    font-family: ArtifaktElement;
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Bold.eot);
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Bold.eot?#iefix) format("embedded-opentype"),local("Artifakt Element Bold"),local("ArtifaktElement-Bold"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF2/Artifakt%20Element%20Bold.woff2) format("woff2"),local("Artifakt Element Bold"),local("ArtifaktElement-Bold"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF/Artifakt%20Element%20Bold.woff) format("woff"),local("Artifakt Element Bold"),local("ArtifaktElement-Bold"),url(https://fonts.autodesk.com/ArtifaktElement/TTF/Artifakt%20Element%20Bold.ttf) format("truetype")
}
@font-face {
    font-family: ArtifaktElement;
    font-style: normal;
    font-weight: 800;
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Black.eot);
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Black.eot?#iefix) format("embedded-opentype"),local("Artifakt Element Black"),local("ArtifaktElement-Black"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF2/Artifakt%20Element%20Black.woff2) format("woff2"),local("Artifakt Element Black"),local("ArtifaktElement-Black"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF/Artifakt%20Element%20Black.woff) format("woff"),local("Artifakt Element Black"),local("ArtifaktElement-Black"),url(https://fonts.autodesk.com/ArtifaktElement/TTF/Artifakt%20Element%20Black.ttf) format("truetype")
}
@font-face {
    font-family: ArtifaktElement;
    font-style: normal;
    font-weight: 900;
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Heavy.eot);
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Heavy.eot?#iefix) format("embedded-opentype"),local("Artifakt Element Heavy"),local("ArtifaktElement-Heavy"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF2/Artifakt%20Element%20Heavy.woff2) format("woff2"),local("Artifakt Element Heavy"),local("ArtifaktElement-Heavy"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF/Artifakt%20Element%20Heavy.woff) format("woff"),local("Artifakt Element Heavy"),local("ArtifaktElement-Heavy"),url(https://fonts.autodesk.com/ArtifaktElement/TTF/Artifakt%20Element%20Heavy.ttf) format("truetype")
}
@font-face {
    font-family: ArtifaktElement;
    font-style: italic;
    font-weight: 100;
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Hair%20Italic.eot);
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Hair%20Italic.eot?#iefix) format("embedded-opentype"),local("Artifakt Legend Hair"),local("ArtifaktElement-Hair"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF2/Artifakt%20Element%20Hair%20Italic.woff2) format("woff2"),local("Artifakt Legend Hair"),local("ArtifaktElement-Hair"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF/Artifakt%20Element%20Hair%20Italic.woff) format("woff"),local("Artifakt Legend Hair"),local("ArtifaktElement-Hair"),url(https://fonts.autodesk.com/ArtifaktElement/TTF/Artifakt%20Element%20Hair%20Italic.ttf) format("truetype")
}
@font-face {
    font-family: ArtifaktElement;
    font-style: italic;
    font-weight: 200;
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Thin%20Italic.eot);
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Thin%20Italic.eot?#iefix) format("embedded-opentype"),local("Artifakt Legend Thin"),local("ArtifaktElement-Thin"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF2/Artifakt%20Element%20Thin%20Italic.woff2) format("woff2"),local("Artifakt Legend Thin"),local("ArtifaktElement-Thin"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF/Artifakt%20Element%20Thin%20Italic.woff) format("woff"),local("Artifakt Legend Thin"),local("ArtifaktElement-Thin"),url(https://fonts.autodesk.com/ArtifaktElement/TTF/Artifakt%20Element%20Thin%20Italic.ttf) format("truetype")
}
@font-face {
    font-family: ArtifaktElement;
    font-style: italic;
    font-weight: 300;
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Light%20Italic.eot);
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Light%20Italic.eot?#iefix) format("embedded-opentype"),local("Artifakt Legend Light"),local("ArtifaktElement-Light"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF2/Artifakt%20Element%20Light%20Italic.woff2) format("woff2"),local("Artifakt Legend Light"),local("ArtifaktElement-Light"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF/Artifakt%20Element%20Light%20Italic.woff) format("woff"),local("Artifakt Legend Light"),local("ArtifaktElement-Light"),url(https://fonts.autodesk.com/ArtifaktElement/TTF/Artifakt%20Element%20Light%20Italic.ttf) format("truetype")
}
@font-face {
    font-family: ArtifaktElement;
    font-style: italic;
    font-weight: italic;
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Regular%20Italic.eot);
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Regular%20Italic.eot?#iefix) format("embedded-opentype"),local("Artifakt Legend Regular"),local("ArtifaktElement-Regular"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF2/Artifakt%20Element%20Regular%20Italic.woff2) format("woff2"),local("Artifakt Legend Regular"),local("ArtifaktElement-Regular"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF/Artifakt%20Element%20Regular%20Italic.woff) format("woff"),local("Artifakt Legend Regular"),local("ArtifaktElement-Regular"),url(https://fonts.autodesk.com/ArtifaktElement/TTF/Artifakt%20Element%20Regular%20Italic.ttf) format("truetype")
}
@font-face {
    font-family: ArtifaktElement;
    font-style: italic;
    font-weight: 500;
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Book%20Italic.eot);
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Book%20Italic.eot?#iefix) format("embedded-opentype"),local("Artifakt Legend Book"),local("ArtifaktElement-Book"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF2/Artifakt%20Element%20Book%20Italic.woff2) format("woff2"),local("Artifakt Legend Book"),local("ArtifaktElement-Book"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF/Artifakt%20Element%20Book%20Italic.woff) format("woff"),local("Artifakt Legend Book"),local("ArtifaktElement-Book"),url(https://fonts.autodesk.com/ArtifaktElement/TTF/Artifakt%20Element%20Book%20Italic.ttf) format("truetype")
}
@font-face {
    font-family: ArtifaktElement;
    font-style: italic;
    font-weight: 600;
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Medium%20Italic.eot);
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Medium%20Italic.eot?#iefix) format("embedded-opentype"),local("Artifakt Legend Medium"),local("ArtifaktElement-Medium"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF2/Artifakt%20Element%20Medium%20Italic.woff2) format("woff2"),local("Artifakt Legend Medium"),local("ArtifaktElement-Medium"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF/Artifakt%20Element%20Medium%20Italic.woff) format("woff"),local("Artifakt Legend Medium"),local("ArtifaktElement-Medium"),url(https://fonts.autodesk.com/ArtifaktElement/TTF/Artifakt%20Element%20Medium%20Italic.ttf) format("truetype")
}
@font-face {
    font-family: ArtifaktElement;
    font-style: italic;
    font-weight: 700;
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Bold%20Italic.eot);
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Bold%20Italic.eot?#iefix) format("embedded-opentype"),local("Artifakt Legend Bold"),local("ArtifaktElement-Bold"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF2/Artifakt%20Element%20Bold%20Italic.woff2) format("woff2"),local("Artifakt Legend Bold"),local("ArtifaktElement-Bold"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF/Artifakt%20Element%20Bold%20Italic.woff) format("woff"),local("Artifakt Legend Bold"),local("ArtifaktElement-Bold"),url(https://fonts.autodesk.com/ArtifaktElement/TTF/Artifakt%20Element%20Bold%20Italic.ttf) format("truetype")
}
@font-face {
    font-family: ArtifaktElement;
    font-style: italic;
    font-weight: 800;
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Black%20Italic.eot);
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Black%20Italic.eot?#iefix) format("embedded-opentype"),local("Artifakt Legend Black"),local("ArtifaktElement-Black"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF2/Artifakt%20Element%20Black%20Italic.woff2) format("woff2"),local("Artifakt Legend Black"),local("ArtifaktElement-Black"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF/Artifakt%20Element%20Black%20Italic.woff) format("woff"),local("Artifakt Legend Black"),local("ArtifaktElement-Black"),url(https://fonts.autodesk.com/ArtifaktElement/TTF/Artifakt%20Element%20Black%20Italic.ttf) format("truetype")
}
@font-face {
    font-family: ArtifaktElement;
    font-style: italic;
    font-weight: 900;
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Heavy%20Italic.eot);
    src: url(https://fonts.autodesk.com/ArtifaktElement/EOT/Artifakt%20Element%20Heavy%20Italic.eot?#iefix) format("embedded-opentype"),local("Artifakt Legend Heavy"),local("ArtifaktElement-Heavy"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF2/Artifakt%20Element%20Heavy%20Italic.woff2) format("woff2"),local("Artifakt Legend Heavy"),local("ArtifaktElement-Heavy"),url(https://fonts.autodesk.com/ArtifaktElement/WOFF/Artifakt%20Element%20Heavy%20Italic.woff) format("woff"),local("Artifakt Legend Heavy"),local("ArtifaktElement-Heavy"),url(https://fonts.autodesk.com/ArtifaktElement/TTF/Artifakt%20Element%20Heavy%20Italic.ttf) format("truetype")
} 


/*  MATERIAL FONT */
/* ----------------------------------------------------------------------------- */
.icon {
    font-family: 'Material Symbols Sharp';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}
.icon.xxxl { font-size : 64px; }
.icon.xxl  { font-size : 48px; }
.icon.xl   { font-size : 42px; }
.icon.l    { font-size : 36px; }
.icon.m    { font-size : 32px; }
.icon.s    { font-size : 28px; }
.icon.xs   { font-size : 24px; }
.icon.xxs  { font-size : 20px; }
.icon.xxxs { font-size : 16px; }

.icon.hover:hover {
    color  : var(--color-blue-500);
    cursor : pointer;
}

.with-icon {
    display : flex;
}
.with-icon::before {
    font-family             : 'Material Symbols Sharp';
    margin-right            : var(--spacer-xxs);
    text-rendering          : optimizeLegibility;
    -webkit-font-smoothing  : antialiased;
}
.icon.filled,
.with-icon.filled::before {
    font-variation-settings : 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48
}


/* Buttons with on/off toggles */
.button.with-toggle {
    display         : flex;
    justify-content : space-between;
}
.button.with-toggle::after {
    content                 : '\e9f5';
    font-family             : 'Material Symbols Sharp';
    font-size               : 24px;
    font-weight             : 200;
    line-height             : 19px;
    margin-left             : var(--spacer-s);
    text-rendering          : optimizeLegibility;
    -webkit-font-smoothing  : antialiased; 
}
.button.with-toggle.toggle-on::after {
    content                 : '\e9f6';
    font-variation-settings : 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48
}


/* Icons */
.icon-3d::before                { content : '\e9fe'; }
.icon-activity::before          { content : '\e53f'; }
.icon-arrow-right::before       { content : '\f81d'; }
.icon-attachment::before        { content : '\e226'; }
.icon-bar-chart::before         { content : '\e26b'; }
.icon-bar-chart-stack::before   { content : '\e9e6'; }
.icon-block::before             { content : '\e14b'; }
.icon-bookmark::before          { content : '\e838'; font-variation-settings: 'FILL' 1 }
.icon-bookmark-off::before      { content : '\e838'; }
.icon-bom::before               { content : '\e242'; }
.icon-bom-tree::before          { content : '\e94b'; }
.icon-calendar::before          { content : '\ebcc'; }
.icon-cart-add::before          { content : '\e854'; }
.icon-cart-remove::before       { content : '\e928'; }
.icon-cart-clear::before        { content : '\f4f7'; }
.icon-cart-checkout::before     { content : '\eb88'; }
.icon-check::before             { content : '\e86c'; }
.icon-checkmark::before         { content : '\e5ca'; }
.icon-check-box::before         { content : '\e835'; }
.icon-check-box-checked::before { content : '\e834'; }
.icon-check-circle-add::before  { content : '\f23a'; }
.icon-clear::before             { content : '\e14b'; }
.icon-clone::before             { content : '\e14d'; }
.icon-close::before             { content : '\e5cd'; }
.icon-collapse::before          { content : '\e5cf'; }
.icon-columns::before           { content : '\e8f3'; }
.icon-contains::before          { content : '\f525'; }
.icon-counter-1::before         { content : '\f784'; }
.icon-counter-2::before         { content : '\f783'; }
.icon-create::before            { content : '\e147'; }
.icon-dark::before              { content : '\f03d'; }
.icon-dashboard::before         { content : '\e871'; }
.icon-delete::before            { content : '\e872'; }
.icon-deselect::before          { content : '\f236'; }
.icon-deselect-all::before      { content : '\e9d3'; }
.icon-details::before           { content : '\e0ee'; }
.icon-disconnect::before        { content : '\e16f'; }
.icon-donut-chart::before       { content : '\e917'; }
.icon-ends-with::before         { content : '\e31c'; }
.icon-equals::before            { content : '\f77b'; }
.icon-expand::before            { content : '\e5cc'; }
.icon-factory::before           { content : '\ebbc'; }
.icon-file::before              { content : '\e66d'; }
.icon-filter::before            { content : '\e152'; }
.icon-filter-empty::before      { content : '\f703'; }
.icon-finish::before            { content : '\eaf8'; }
.icon-first::before             { content : '\e400'; font-variation-settings: 'FILL' 1 }
.icon-fold::before              { content : '\e5d6'; }
.icon-folder::before            { content : '\e2c7'; }
.icon-folder-open::before       { content : '\e2c8'; }
.icon-go-there::before          { content : '\e5da'; }
.icon-group::before             { content : '\e7ef'; }
.icon-help::before              { content : '\f1c0'; }
.icon-hide::before              { content : '\e8f5'; }
.icon-highlight::before         { content : '\e518'; }
.icon-history::before           { content : '\e889'; }
.icon-home::before              { content : '\e88a'; }
.icon-image::before             { content : '\e3f4'; }
.icon-important::before         { content : '\e82a'; }
.icon-info::before              { content : '\e88e'; }
.icon-item::before              { content : '\e8b8'; }
.icon-layers::before            { content : '\e53b'; }
.icon-library-script::before    { content : '\ef54'; }
.icon-line-chart::before        { content : '\e6e1'; }
.icon-line-chart-stack::before  { content : '\f22b'; }
.icon-link::before              { content : '\e157'; }
.icon-link-add::before          { content : '\e178'; }
.icon-link-update::before       { content : '\f6b9'; }
.icon-list::before              { content : '\e896'; }
.icon-list-edit::before         { content : '\e745'; }
.icon-list-add::before          { content : '\e03b'; }
.icon-list-remove::before       { content : '\eb80'; }
.icon-lock::before              { content : '\e897'; }
.icon-markup::before            { content : '\e560'; }
.icon-maximize::before          { content : '\f1ce'; }
.icon-menu::before              { content : '\e5d2'; }
.icon-minimize::before          { content : '\f1cf'; }
.icon-mow::before               { content : '\e85f'; }
.icon-new-window::before        { content : '\f710'; }
.icon-next::before              { content : '\eaaa'; }
.icon-no-data::before           { content : '\e88e'; }
.icon-open::before              { content : '\e89e'; }
.icon-order-in-work::before     { content : '\f811'; }
.icon-package::before           { content : '\f569'; }
.icon-panel::before             { content : '\f114'; }
.icon-pdf::before               { content : '\e415'; }
.icon-picklist::before          { content : '\e9bd'; }
.icon-pie-chart::before         { content : '\e79b'; }
.icon-prev::before              { content : '\eaa7'; }
.icon-printer::before           { content : '\e8ad'; }
.icon-problem::before           { content : '\e122'; }
.icon-product::before           { content : '\f720'; }
.icon-radio-checked::before     { content : '\e837'; }
.icon-radio-unchecked::before   { content : '\e836'; }
.icon-raw-material::before      { content : '\f86a'; }
.icon-refresh::before           { content : '\e627'; }
.icon-released::before          { content : '\e031'; }
.icon-remove::before            { content : '\e644'; }
.icon-reset::before             { content : '\f053'; }
.icon-resize::before            { content : '\ea10'; }
.icon-rules::before             { content : '\f1c2'; }
.icon-save::before              { content : '\e2c3'; }
.icon-screenshot::before        { content : '\e412'; }
.icon-script::before            { content : '\e86f'; }
.icon-search::before            { content : '\e8b6'; }
.icon-search-list::before       { content : '\f02f'; }
.icon-send::before              { content : '\e163'; }
.icon-select::before            { content : '\f718'; }
.icon-select-circle::before     { content : '\f511'; }
.icon-select-all::before        { content : '\e877'; }
.icon-service::before           { content : '\f10b'; }
.icon-settings::before          { content : '\e8b8'; }
.icon-shipping::before          { content : '\e558'; }
.icon-show::before              { content : '\e8f4'; }
.icon-sliders::before           { content : '\e429'; }
.icon-start::before             { content : '\e1c4'; }
.icon-starts-with::before       { content : '\ec73'; }
.icon-status::before            { content : '\ea50'; }
.icon-stock::before             { content : '\ebb8'; }
.icon-stop:before               { content : '\ef71'; }
.icon-summary:before            { content : '\f071'; }
.icon-table::before             { content : '\e3ec'; }
.icon-tabs::before              { content : '\e265'; }
.icon-tag::before               { content : '\f05b'; }
.icon-target::before            { content : '\f70c'; }
.icon-tiles::before             { content : '\e9b0'; }
.icon-tiles-list::before        { content : '\e875'; }
.icon-timeline::before          { content : '\eb85'; }
.icon-toggle-collapse::before   { content : '\e5c7'; }
.icon-toggle-expand::before     { content : '\e5c5'; }
.icon-toggle-off::before        { content : '\e9f5'; }
.icon-toggle-on::before         { content : '\e9f6'; }
.icon-toggle-layout::before     { content : '\e42a'; }
.icon-trend-chart::before       { content : '\f190'; }
.icon-type::before              { content : '\e574'; }
.icon-undelete::before          { content : '\e938'; }
.icon-undo::before              { content : '\e166'; }
.icon-unfold::before            { content : '\e5d7'; }
.icon-upload::before            { content : '\e2c3'; }
.icon-user::before              { content : '\e7fd'; }
.icon-viewer::before            { content : '\e9fe'; }
.icon-width::before             { content : '\f730'; }
.icon-workflow::before          { content : '\e4fd'; }
.icon-zoom-in::before           { content : '\e8ff'; }

.icon-chevron-up::before        { content : '\e316'; }
.icon-chevron-right::before     { content : '\e5cc'; }
.icon-chevron-down::before      { content : '\e313'; }
.icon-chevron-left::before      { content : '\e5cb'; }

.icon-north::before         { content : '\f1e0'; }
.icon-north-east::before    { content : '\f1e1'; }
.icon-east::before          { content : '\f1df'; }
.icon-south::before          { content : '\f1e3'; }
.icon-south-west::before    { content : '\f1e5'; }
.icon-west::before          { content : '\f1e6'; }