:root {
    --content-height : 740px;
    --content-width  : 850px;
}

#content {
    display         : flex;
    flex-direction : column;
    position        : absolute;
    top             : calc(50% - (var(--content-height) / 2) - 40px);
    right           : calc(50% - (var(--content-width) / 2));
    left            : calc(50% - (var(--content-width) / 2));
}
#title {
    background      : var(--color-surface-level-4);
    font-size       : 32px;
    font-weight     : 800;
    line-height     : 32px;
    padding         : 24px 0px;
    text-align      : center;
}
#applications {
    background      : var(--color-surface-level-2);
    display         : flex;
    justify-content : space-between;
    padding         : 24px 56px;
}
#applications-columns {
    display : flex;
    gap     : 24px;
}
.menu-title {
    border-bottom : 1px solid var(--color-surface-level-4);
}
.menu-command-icon {
    background : var(--color-surface-level-4);
}
.menu-command:hover {
    background : var(--color-blue-700);
}
.menu-command:hover .menu-command-icon {
    background : var(--color-blue-900);
}