:root {

    --width-border : 40px;

}


/* MASTER LAYOUT */
/* ----------------------------------------------------------------------------- */
#mow {
    border-width : var(--width-border);
    top          : 0px;
    right        : 0px;
    bottom       : 0px;
    left         : 0px;
}
