:root {

    --width-border : 30px;
    --width-bom    : 500px;
    --width-panels : 400px;
    --height-files : 220px;

}


/* MASTER LAYOUT */
/* ----------------------------------------------------------------------------- */
#bom {
    border-width : var(--width-border);
    top          : 0px;
    bottom       : 0px;
    left         : 0px;
    width        : var(--width-bom);
}
#viewer {
    border-width : var(--width-border);
    top          : 0px;
    right        : calc(var(--width-panels) + (2 * var(--width-border)));
    bottom       : 0px;
    left         : calc(var(--width-bom) + (2 * var(--width-border)));
}
#details {
    border-width : var(--width-border);
    top          : 0px;
    right        : 0px;
    bottom       : calc(var(--height-files) + (2 * var(--width-border)));
    width        : var(--width-panels);
}
#attachments {
    border-width : var(--width-border);
    right        : 0px;
    bottom       : 0px;
    width        : var(--width-panels);
    height       : var(--height-files);
}