extends ../framework/layout

block head
    
    link(rel='stylesheet', href='/stylesheets/dev/asset-editor.css')
    script(src='/javascripts/dev/asset-editor.js')
    script.
        config = !{JSON.stringify(config)};

block body

    body.surface-level-1

        #header.dark
            #header-logo
            #header-title= title
            #header-toolbar
                #bom-sync.button.default.with-icon.icon-refresh Sync with EBOM
                #export.button.with-icon.icon-download Download Excel
                #toggle-layout.button Toggle Layout
                #toggle-bom.button.with-toggle.toggle-on Display BOM
                #header-avatar
        
        #main.screen

            #bom.surface-level-2
            #viewer.surface-level-1.viewer
            #contents.surface-level-1
                #tabs.tabs
                #items