doctype html
html
   head
      title Print Control
      meta(name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=no")
      meta(charset="utf-8")
      link(rel='stylesheet', href='/stylesheets/common.css')
      link(rel='stylesheet', href='/stylesheets/apps/control.css')
      script(src='https://code.jquery.com/jquery-3.3.1.min.js')
      script(src='/javascripts/apps/control.js')

   body.printer
      #job-control
         #title PRINTER CONTROL
         #job-small.print-job Submit small print job
         #job-medium.print-job Submit medium print job
         #job-large.print-job Submit large print job
         #resupply Re-supply Printer
