extends layout

block head
    link(rel='stylesheet', href='/stylesheets/hubs.css')
    script.
        wsId="#{wsId}"
block content
    script(src='/javascripts/hubs.js')  
    #toolbar
        #toolbar-logo
            img(src='/images/forge-logo-white.png')
        .toolbar-separator
        #toolbar-label=title
        #toolbar-quit
            i(class="zmdi zmdi-power")
            span Logout
    #title=header
    #list