extends ../framework/layout

block head

    link(rel='stylesheet', href='/stylesheets/dev/resources.css')
    link(rel='stylesheet', href='/stylesheets/custom/resources.css')

    script(src='/javascripts/dev/resources.js')
    script.
        config = !{JSON.stringify(config)};

block body

    body.surface-level-1.no-details.mode-allocate
        
        #header.dark
            #header-logo
            #header-title= title
            //- #header-subtitle
            #header-toolbar
                select#select-group.button(name="select-group")
                    option(value="all") All Teams
                .button.with-toggle.toggle-off#toggle-review-assignments Review Assignments
                .button.with-icon.icon-create#button-create-project.hidden Project
                .button.with-icon.icon-create#button-create-plan.hidden Resource Plan
                .button.with-toggle.toggle-off#toggle-details Side Panel
                #header-avatar
        
        #main.screen

            .surface-level-1#activities-header.header 
                #activities-header-fixed.header-fixed.fixed-width
                    #activities-header-title.header-title
                    #activities-header-toolbar.header-toolbar 
                        .button.icon.icon-deselect-all#activities-deselect-all.hidden(title='Deselect All')
                        .button.icon.icon-maximize#activities-maximize(title='Maximize / minimize list of activities')
                        input.filter.button#activities-filter(type='text', placeholder='Type to search...')
                        .button.icon.icon-fold#activities-collapse
                        .button.icon.icon-unfold#activities-expand
            .surface-level-1#activities.header 
            .surface-level-2#resources-header.header 
                #resources-header-fixed.header-fixed.fixed-width
                    #resources-header-title.header-title
                    #resources-header-toolbar.header-toolbar 
                        .button.icon.icon-maximize#resources-maximize(title='Maximize / minimize list of resources')
                        input.filter.button#resources-filter(type='text', placeholder='Type to search...')
                        .button.icon.icon-fold#resources-collapse
                        .button.icon.icon-unfold#resources-expand            
            .surface-level-2#resources 

            .surface-level-3#details

            #create-project.dialog

            #create-plan.dialog