extends ../framework/layout

block head

    link(rel='stylesheet', href='/stylesheets/dev/sbom.css')
    script(src='/javascripts/dev/sbom.js')
    script.
        config = !{JSON.stringify(config)};

block body

    body.surface-level-1.text-selection-off.no-details

        #header.dark
            #header-logo
            #header-title= title
            #header-subtitle
            #header-toolbar
                .button#toggle-viewer.with-icon.icon-toggle-on Toggle Viewer
                .button#toggle-details.with-icon.icon-toggle-on Toggle Details
                .button#save.with-icon.default.icon-save Save Changes
                #header-avatar
        
        .screen

            #viewer.viewer.surface-level-1
            #bom.surface-level-1
            #panel.surface-level-2.panel-top 
                #panel-header.panel-header 
                    .panel-title 
                        .panel-title-main Service Offerings 
                    .panel-controls
                        #add-service-offering.button.default.with-icon.icon-create New
                .panel-content#serivce-offerings
            #details.surface-level-1

                //- #tabs 
                //-     .tab Service Offerings 
                //-     .tab Spare Parts List 
                
                //- #contents 
                //-     #services 
                //-     #spare-parts