extends ../framework/addins

block head
    
    link(rel='stylesheet', href='/stylesheets/addins/context.css')
    
    script(src='/javascripts/addins/context.js')

block body 

    body.addin

        .screen.no-header.surface-level-1  
            #item.surface-level-1