extends ../framework/addins

block head
    
    link(rel='stylesheet', href='/stylesheets/addins/item.css')
    script.
        config = !{JSON.stringify(config)};
    script(src='/javascripts/addins/item.js')

block body  

    body.embedded

        #header.dark
            #header-logo
            #header-title= title
            #header-toolbar
                #header-avatar

        .screen.surface-level-1  

            .tabs.surface-level-2(data-tab-group="tab-group-main")
                .tab Artikel
                .tab#tab-bom EFE 
                .tab Kolorierung 
                .tab Dateien 
            
            .panel.tab-group-main#details
                .panel-header   
                    .panel-title
                    .panel-toolbar 
                        .button.icon.icon-bookmark#bookmark
                        .button.icon.icon-open#open
                .panel-content.compact#details-sections

            .panel.tab-group-main#flat-bom
            
            .panel.tab-group-main#master-bom

            .panel.tab-group-main#attachments
                .panel-header   
                    .panel-title
                    .panel-toolbar 
                        .button.with-icon.icon-upload.default#upload Datei hochladen
                .panel-content#attachments-list.attachments.list


            .dialog#dialog-variants
                .dialog-header Farbwelten wählen
                .dialog-content.tiles.wide.s#dialog-variants-list 
                .dialog-footer
                    .button.clear Deselect All
                    .button.default#dialog-variants-apply Apply 
                    .button.cancel#dialog-variants-cancel Cancel