extends ../framework/addins

block head
    
    link(rel='stylesheet', href='/stylesheets/addins/item.css')
    script.
        config = !{JSON.stringify(config)};
    script(src='/javascripts/addins/item.js')

block body  

    body.addin

        //- #header.dark
        //-     #header-logo
        //-     #header-title= title
        //-     #header-subtitle
        //-     #header-toolbar
        //-         #header-avatar

        .screen.surface-level-1  

            .viewer#viewer

            .tabs.surface-level-2(data-tab-group="tab-group-main")
                .tab Item Details
                .tab#tab-bom BOM 
                //- .tab Kolorierung 
                .tab Files
                .tab Grid
                .tab Where Used
            
            .panel.tab-group-main#details

            .panel.tab-group-main#flat-bom
            
            //- .panel.tab-group-main#master-bom
            //-     .panel#item-variants 
            //-         .panel-header 
            //-             .panel-title#item-variants-header Item Variants
            //-             .panel-toolbar 
            //-                 .button.icon.icon-close#item-variants-close
            //-         .panel-content#item-variants-text Select from the variants of
            //-         .panel-content#item-variants-title
            //-         .panel-content.surface-level-3#item-variants-list-parent
            //-             #item-variants-list.list.tiles.m

            .panel.tab-group-main#attachments
            
            .panel.tab-group-main#grid
            
            .panel.tab-group-main#parents            