extends ../framework/addins

block head
    
    link(rel='stylesheet', href='/stylesheets/addins/item.css')
    script.
        config = !{JSON.stringify(config)};
    script(src='/javascripts/addins/item.js')

block body  

    body

        .screen.surface-level-1  

            .tabs.surface-level-2(data-tab-group="tab-group-main")
                .tab Artikel
                .tab#tab-bom EFE 
                .tab Kolorierung 
                .tab Dateien 
            
            .panel.tab-group-main#details
                .panel-header   
                    .panel-title
                    .panel-toolbar 
                        .button.icon.icon-bookmark#bookmark
                        .button.icon.icon-open#open
                .panel-content#details-sections

            .panel.tab-group-main#bom-flat
            
            .panel.tab-group-main#variants
                .panel-header 
                    .panel-title#item-variants-header 
                    .panel-toolbar 
                        .button.with-icon.icon-tiles#item-variants-select Farbwelten wählen
                .panel-content#item-variants-editor 
                    #master-bom

            .panel.tab-group-main#attachments
                .panel-header   
                    .panel-title
                    .panel-toolbar 
                        .button.with-icon.icon-upload.default#upload Datei hochladen
                .panel-content#attachments-list


            .dialog#dialog-variants
                .dialog-header Farbwelten wählen
                .dialog-content.tiles.wide.s#dialog-variants-list 
                .dialog-footer
                    .button.clear Deselect All
                    .button.default#dialog-variants-apply Apply 
                    .button.cancel#dialog-variants-cancel Cancel