extends ../framework/addins

block head

    link(rel='stylesheet', href='/stylesheets/addins/pdm-search.css')
    script(src='/javascripts/addins/pdm-search.js')
    script.
        config = !{JSON.stringify(config)};

block body 

    body.addin

        .screen.surface-level-1  

            .panel-top.surface-level-1#basic-search
                .panel-header.search-header
                    input#basic-input.search-input(placeholder='Type to begin search')
                    #basic-submit.button.default Search
                    #basic-reload.button.icon.icon-refresh(onclick="document.location.href = document.location.href")
                .panel-content#basic-list.list.tiles.m.search-result-list.surface-level-1.no-scrollbar
                .panel-content#basic-no-results.search-result-message No results
                .panel-footer.hidden#basic-footer 
                    #basic-total 
                    #basic-next.button.default Find Next