extends ../framework/addins

block head
    
    link(rel='stylesheet', href='/stylesheets/addins/products.css')
    script.
        config = !{JSON.stringify(config)};
    script(src='/javascripts/addins/products.js')

block body 

    body.surface-level-1.embedded
    
        #header.dark
            #header-logo
            #header-title= title
            #header-toolbar
                #header-avatar

            
        .screen#products.surface-level-1

        .screen#details.surface-level-2
            .panel-header   
                .panel-title
                .panel-toolbar 
                    .button.icon.icon-bookmark#bookmark
                    .button.icon.icon-open#open
                    .button.icon.icon-close#close
            .tabs(data-tab-group="tab-group-main").surface-level-2
                .tab EBOM
                .tab MBOM
                .tab#tab-bom Module 
                .tab Merkmalsoptionen 
            
            .panel-content.tab-group-main.surface-level-1
                #bom
            
            .panel-content.tab-group-main.surface-level-1    

            .panel-content.tab-group-main.surface-level-1
                #modules.tiles.list.xxxs

            .panel-content.tab-group-main.surface-level-1
                #features
                #configurations.surface-level-5
                    .configurations-line    
                        .configurations-label Konfiguration wählen: 
                        .configurations-control
                            select#select-configuration
                            .button.configuration-action.with-icon.icon-save#update-configuration Speichern
                            .button.configuration-action.icon.icon-delete.red#delete-configuration
                    .configurations-line 
                        .configurations-label Konfiguration erstellen:
                        .configurations-control     
                            input#input-configuration(type="text")
                            .button.with-icon.icon-create#save-configuration Erstellen

            .viewer#viewer