extends ../framework/addins

block head

    link(rel='stylesheet', href='/stylesheets/addins/search.css')
    script.
        config = !{JSON.stringify(config)};
    script(src='/javascripts/addins/search.js')

block body 

    body

        #header.dark
            #header-logo
            #header-title= title
            #header-toolbar
                #header-avatar

        .screen.surface-level-1  

            .tabs.surface-level-2#tabs(data-tab-group="tab-group-main")
                .tab#tab-search Artikel
                .tab#tab-materials Rohmaterialien
                .tab#tab-views Ansichten
                .tab#tab-recents Zuletzt Angesehen 
                .tab#tab-bookmarks Lesezeichen 

            .panel.tab-group-main#search
                .panel-header#search-header.search-header
                .panel-toolbar#search-actions.search-actions
                    input#search-input.search-input.surface-level-2(placeholder='Nummer / Bezeichnung des Artikels')
                    #search-submit.button.default Suche
                .panel-content#search-list.list.tiles.xxs.search-result-list.surface-level-1
                .panel-content#search-no-results.search-result-message Keine Ergebnisse gefunden

            .panel.tab-group-main#materials
                .panel-header#materials-header.search-header
                .panel-toolbar#materials-actions.search-actions
                    input#materials-input.search-input.surface-level-2(placeholder='Nummer / Bezeichnung des Rohmaterials')
                    #materials-submit.button.default Suche
                .panel-content#materials-list.list.tiles.xxs.search-result-list.surface-level-1
                .panel-content#materials-no-results.search-result-message Keine Ergebnisse gefunden

            .panel.tab-group-main#views

            .panel.tab-group-main#recents
                .panel-content#recents-recents.tiles.list.xxs.surface-level-1

            .panel.tab-group-main#bookmarks
                .panel-content#bookmarks-bookmarks.tiles.list.xxs.surface-level-1