extends ../framework/addins

block head

    link(rel='stylesheet', href='/stylesheets/addins/search.css')
    script.
        config = !{JSON.stringify(config)};
    script(src='/javascripts/addins/search.js')

block body 

    body.addin

        .screen.surface-level-1  

            .tabs.surface-level-2#tabs(data-tab-group="tab-group-main")
                .tab#tab-basic Basic Search
                .tab#tab-advanced Advanced Search

            .panel.tab-group-main#basic
                .panel-header.search-header
                .panel-toolbar.search-actions
                    input#basic-input.search-input.surface-level-2(placeholder='Type to begin search')
                    #basic-submit.button.default Search
                .panel-content#basic-list.list.tiles.xs.search-result-list.surface-level-1
                .panel-content#basic-no-results.search-result-message No results
                .panel-footer.hidden#basic-footer 
                    #basic-total 
                    #basic-next.button.default Continue

            .panel.tab-group-main#advanced
                .panel-header.search-header
                .panel-toolbar.search-actions
                    .search-entity.surface-level-2
                        .search-entity-header.with-icon.icon-check-box Search Files
                        .search-entity-filters.hidden#filters-file
                            //- .search-filter
                            //-     .search-filter-label Name 
                            //-     .search-filter-value
                            //-         input(placeholder='contains')
                            //- .search-filter
                            //-     .search-filter-label Status  
                            //-     .search-filter-value 
                            //-         input(placeholder='contains')
                            //- .search-filter.more
                            //-     .search-filter-label Creator  
                            //-     .search-filter-value 
                            //-         input(placeholder='contains')
                            //- .search-filter
                            //-     .search-filter-toggle.more Show More
                            //-     .search-filter-toggle.less Show Less
                    .search-entity.surface-level-2
                        .search-entity-header.with-icon.icon-check-box Search Folders
                        .search-entity-filters.hidden#filters-folder
                            //- .search-filter
                            //-     .search-filter-label Name 
                            //-     .search-filter-value
                            //-         input(placeholder='contains')
                            //- .search-filter
                            //-     .search-filter-label Status  
                            //-     .search-filter-value 
                            //-         input(placeholder='contains')
                            //- .search-filter.more
                            //-     .search-filter-label Creator  
                            //-     .search-filter-value 
                            //-         input(placeholder='contains')
                            //- .search-filter
                            //-     .search-filter-toggle.more Show More
                            //-     .search-filter-toggle.less Show Less
                    .search-entity.surface-level-2
                        .search-entity-header.with-icon.icon-check-box Search Items
                        .search-entity-filters.hidden#filters-item
                            //- .search-filter
                            //-     .search-filter-label Name 
                            //-     .search-filter-value
                            //-         input(placeholder='contains')
                            //- .search-filter
                            //-     .search-filter-label Status  
                            //-     .search-filter-value 
                            //-         input(placeholder='contains')
                            //- .search-filter.more
                            //-     .search-filter-label Creator  
                            //-     .search-filter-value 
                            //-         input(placeholder='contains')
                            //- .search-filter
                            //-     .search-filter-toggle.more Show More
                            //-     .search-filter-toggle.less Show Less
                    .search-toolbar 
                        .button.defaulth#advanced-submit Search
                .panel-content#advanced-list.list.tiles.xs.search-result-list.surface-level-1
                .panel-content#search-no-results.search-result-message No results