extends ../framework/addins

block head
    
    link(rel='stylesheet', href='/stylesheets/addins/similar.css')
    link(rel='stylesheet', href='/stylesheets/custom/addins.css')
    
    script(src='/javascripts/addins/similar.js')
    script(src='/javascripts/custom/addins.js')

block body 

    body.addin.no-filters.surface-level-1

        .screen
            .pos-abs-max.surface-level-1#similar