extends ../framework/addins

block head

    link(rel='stylesheet', href='/stylesheets/addins/tasks.css')
    script.
        config = !{JSON.stringify(config)};
    script(src='/javascripts/addins/tasks.js')

block body

    body.addin

        .screen.surface-level-2#scrmow
            #mow.surface-level-2  

        .screen.surface-level-2#scrtask
            #task.surface-level-1            
        
        //- .screen#task.surface-level-2.with-subtitle
        //-     .panel-header   
        //-         .panel-controls#task-toolbar 
        //-             select.button#workflow-actions(label='Workflow-Aktionen')
        //-             .button.icon.icon-open#open
        //-             .button.icon.icon-close#close-task
        //-         #task-descriptor
        //-             .panel-title#task-title
        //-             .panel-subtitle#task-status 
            
        //-     .tabs(data-tab-group="tab-group-main")
        //-         .tab#tabItemDetails Details 
        //-         .tab#tabManagedItems Items
        //-         .tab#tabAttachments Files
        //-             span#attachments-count i
        //-         .tab#tabWorkflow History

        //-     .panel-back.surface-level-1

        //-     .panel-content.tab-group-main.surface-level-1#details
        //-     .panel-content.tab-group-main.surface-level-1#managed-items
        //-         //- .panel-header   
        //-         //-     .panel-title#task-title
        //-         //-     .panel-toolbar 
        //-         //-         .button.with-icon.icon-link.default#add-affected-item Add Active Document
        //-         //- .panel-content#managed-items.tiles.list.xxxs
        //-     .panel-content.tab-group-main.surface-level-1#attachments
        //-     .panel-content.tab-group-main.surface-level-1#history

        .dialog#add.surface-level-1    
            .dialog-header.surface-level-2 Artikel hinzufügen
            .dialog-content#add-content
                p Der folgende Artikel wird der Änderungsaufgabe hinzufgefügt: 
                #add-root.tiles.list.xxxs.surface-level-1
                    //- span#add-title 
                p Wählen Sie aus der nachfolgenden Liste weitere Artikel, die geändert wurden oder noch freizugeben sind und auch an die Änderungsaufgabe angehängt werden sollen:
                #add-list.tiles.list.xxxs
            .dialog-footer
                #add-confirm.button.default Confirm
                #add-cancel.button Cancel
                #add-deselect.button Deselect All
                #add-select.button Select All   
