:root {

    --border-h : 28px;
    --border-v : 16px;

    --width-grid    : 500px;
    --width-panel   : 860px;
    --width-summary : 500px;

    --height-grid : 400px;

}


/*  MASTER LAYOUT */
/* ----------------------------------------------------------------------------- */
#viewer, .viewer {
    top    : 0px;
    right  : calc(var(--width-panel) + var(--width-summary) + (4 * var(--border-h)));
    bottom : 0px;
    left   : 0px;
}
.panel {
    display : none;
    border-width : var(--border-v) var(--border-h);
    top     : 0px;
    right   : calc(var(--width-summary) + (2 * var(--border-h)));
    bottom  : calc(var(--height-grid) + var(--border-h) + var(--border-v)); 
    width   : var(--width-panel);
}
#summary {
    border-width : var(--border-v) var(--border-h);
    top     : 0px;
    right   : 0px;
    bottom  : 0px;
    width   : var(--width-summary);
}

.no-summary #viewer, 
.no-summary .viewer  { right : calc(var(--width-panel) + (2 * var(--border-h))); }
.no-summary .panel   { right : 0px; }
.no-summary #summary { right : calc(0px - var(--width-panel) - (2 * var(--border-h))); }


/*  HEADER TOOLBAR */
/* ----------------------------------------------------------------------------- */
#toggle-summary { margin-left : 36px; }


/*  BOM */
/* ----------------------------------------------------------------------------- */
th { padding : 10px 6px; }
.bom-item.missing > td.column-id { padding : 0px !important; }
.bom-item.missing > .bom-color { background : var(--color-status-red); }
.bom-item.match   > .bom-color { background : var(--color-status-green); }
.bom-item.match .button.create-asset-item { display : none; }
.bom-first-col { 
    min-width : 200px; 
}
.bom-quantity { 
    padding-right : 22px !important;
    text-align    : right;  
    width         : 80px; 
}
.column-id { 
    border-left  : 2px solid var(--color-surface-level-1); 
    border-right : 2px solid var(--color-surface-level-1); 
    text-align   : center;
    max-width    : 90px; 
    min-width    : 90px; 
    width        : 90px; 
}
.column-end-item   { text-align : center; width : 62px; padding-left : 8px !important; padding-right : 4px !important; }
.column-spare-part { text-align : center; width : 40px; padding-left : 6px !important; padding-right : 6px !important; }
.column-purchased  { text-align : center; width : 76px; padding-left : 0px !important; padding-right : 0px !important; }
.column-serial     { text-align : center; width : 54px; padding-left : 6px !important; padding-right : 8px !important; border-right: 2px solid var(--color-surface-level-1); }
.column-process    { text-align : center; }
td.column-toggles .icon { 
    font-size   : 20px; 
    font-weight : 100;
    line-height : 26px;
}
td.column-id {
    color : var(--color-blue-500);
}

.button.create-asset-item { padding : 5px 0px !important; }

.bom-item > td.column-toggles > .icon::before { content:'\e835';  }
.bom-item.is-end-item   > td.column-end-item   > .icon::before, 
.bom-item.is-spare-part > td.column-spare-part > .icon::before, 
.bom-item.is-purchased  > td.column-purchased  > .icon::before, 
.bom-item.is-serial     > td.column-serial     > .icon::before { content :'\e834'; font-variation-settings : 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48 }

.column-process { display : none; width : 120px; }
.bom-item > td.column-process > .icon::before { content:'\e836';  }
.bom-item > td.column-process.is-managed > .icon::before { content :'\e837'; }

body.with-processes .column-end-item,
body.with-processes .column-spare-part,
body.with-processes .column-purchased,
body.with-processes .column-serial { display : none; }
body.with-processes .column-process { display : table-cell; }
.button.create-asset-item {
    height      : 18px;
    line-height : 18px;
}

#button-save-changes {
    display : none;
}
#bom.changed #button-save-changes { display : block; }



/*  SIDE PANEL */
/* ----------------------------------------------------------------------------- */
#summary-descriptor {
    font-size   : 18px;
    font-weight : 700;
    height      : 38px;
    line-height : 38px;
}


/*  SERIAL NUMBERS */
/* ----------------------------------------------------------------------------- */
td.column-LOCATION { 
    max-width : 80px; 
    min-width : 80px; 
    width     : 80px; 
    overflow  : hidden; 
}
td.column-LOCATION input,
td.column-ITEM select { 
    background     : var(--color-surface-3); 
    pointer-events : none; 
}
.column-VIEWER_DBID { 
    display : none; 
}
.content-item > td { 
    padding-bottom : 2px; 
    padding-top    : 2px; 
}