:root {
    
    --width-new             : 450px;
    --margin-main           : 40px;
    --padding-panel         : 40px;
    --margin-item           : 30px;
    --margin-item-panels    : 24px;
    --padding-item          : 30px;
    --width-workflow        : 200px;
    --width-details         : 360px;
    --width-attachments     : 300px;
    --height-markups        : 140px;
    --height-attachments    : 160px;

}

/* .processing { position: unset;} */



/* ADDITIONS */
/* ----------------------------------------------------------------------------- */
/* .panel { background : white; border-radius : 3px; padding : 20px var(--padding-panel) 28px; } */
.panel.collapsed { padding-bottom : 20px; }
.panel.expanded  .icon-expand { display : none; }
.panel.collapsed .icon-collapse { display : none; }
.panel.collapsed .panel-header { border: none; }
.panel.collapsed .panel-title { padding-bottom : 14px; }
.panel.collapsed .panel-content { display : none !important; }
/* .panel-title > .icon { margin-right : 8px; } */
.panel-content { position: unset; }
#attachments-upload { display : none; }
.attachments-list {
    top     : 76px;
    right   : var(--padding-item);
    bottom  : var(--padding-item);
    left    : var(--padding-item);
}

#progress .tile-status {
    display : none;
}


/* MASTER LAYOUT */
/* ----------------------------------------------------------------------------- */
body.no-viewer {
    --margin-item-panels : 24px;
    --width-workflow     : 240px;
    --width-details      : 650px;
    --width-attachments  : 420px;
}
#profiles { display : none; }
#new {
    width   : var(--width-new);
    top     : 0px;
    right   : 0px;
    bottom  : 0px;
}
#list {
    top     : var(--margin-main);
    right   : calc(var(--width-new) + (3 * var(--margin-main)) + 4px);
    bottom  : var(--margin-main);
    left    : var(--margin-main);
}
#item {
    display : none;
}
#workflow-history {
    left    : var(--margin-item);
    right   : unset;
    width   : var(--width-workflow);
}
#details {
    bottom  : calc(var(--height-attachments) + 40px + (2 * var(--margin-item))) !important;
    left    : calc(var(--width-workflow) + var(--margin-item) + var(--margin-item-panels) + (2 * var(--padding-item)));
    width   : var(--width-details);
}
#attachments {
    top : unset !important;
    left : calc(var(--width-workflow) + var(--margin-item) + var(--margin-item-panels) + (2 * var(--padding-item)));
    width : var(--width-details);
    height: var(--height-attachments);
}
#design {
    left : calc(var(--width-workflow) + var(--width-details) + var(--margin-item) + (2 * var(--margin-item-panels)) + (4 * var(--padding-item)));
    right : var(--margin-item);
    
}
#viewer {
    top     : 0px !important;
    right   : 0px !important;
    bottom  : var(--height-markups) !important;
    left    : 0px !important;
}
#markups {
    top     : unset !important;
    right   : 0px !important;
    bottom  : 0px !important;
    left    : 0px !important;
    height  : var(--height-markups);
}


body.no-viewer #workflow-history {
    left : unset;
    right : calc(50% + (var(--width-details) / 2) + var(--margin-item-panels) + var(--padding-item) + ((var(--width-attachments) - var(--width-workflow)) / 2));
}
body.no-viewer #details {
    left    : calc(50% - (var(--width-details) / 2) - var(--padding-item) - ((var(--width-attachments) - var(--width-workflow)) / 2));
    bottom  : var(--margin-item) !important;
}
body.no-viewer #attachments {
    height  : unset;
    top     : 0px !important;
    left    : calc(50% + (var(--width-details) / 2) + var(--margin-item-panels) + var(--padding-item) - ((var(--width-attachments) - var(--width-workflow)) / 2));
    width   : var(--width-attachments);
}
body.no-viewer #design {
    display : none;
}
#details-sections .section-fields .field-label {
    width : unset;
}
body.no-viewer #details-sections .section-fields .field {
    flex-direction : row;
}
body.no-viewer #details-sections .section-fields .field .field-label {
    text-align : right;
    width: var(--width-field-label);
}
body.no-viewer .attachment { height : 58px !important; }
body.no-viewer .attachment-details > div { display : block; }
body.no-viewer .attachment-graphic { width : 64px; }
body.no-viewer .tiles.list.files { gap: var(--spacer-xs); }

body.no-markup #viewer { bottom : 0px !important; }
body.no-markup #markups { display : none; }
body.no-new #new {    display: none;}
body.no-new #list {right : var(--margin-main);}

body.no-profile #header,
body.no-profile #main,
body.no-profile #item { display : none; }
body.no-profile #profiles { display : block; }


/* PROFILES */
/* ----------------------------------------------------------------------------- */
.screen-content {
    display         : flex;
    flex-direction  : column;
    gap             : 30px;
    text-align      : center;
    top             : calc(50% - 400px);
    right           : calc(50% - 475px);
    width           : 950px;
}
.screen-title {
    border-bottom   : 2px solid var(--color-surface-level-5);
    font-size       : 32px;
    font-weight     : 800;
    padding         : 0px 0px 24px;
}
.screen-list {
    display         : flex;
    gap             : 10px;
    padding         : 20px;
    justify-content : center;
    flex-wrap       : wrap;
}
.screen-list-tile {
    cursor      : pointer;
    min-width   : 160px;
    max-width   : 160px;
    padding     : 30px;
}
.screen-list-tile:hover {
    background : var(--color-surface-level-5);
}
.screen-list-tile-icon {
    font-size       : 60px;
    line-height     : 60px;
    font-weight     : 200;
    margin-bottom   : 10px;
}


/* NEW */
/* ----------------------------------------------------------------------------- */
#new {
    border-width : var(--margin-main) 
}
.panel-message {
    padding: 20px 14px;
    margin: 0px 0px;
    border-radius: 4px;
    line-height: 18px;
}
#new-sections {
    /* border-top : 16px solid #f5f5f5; */
    /* border-bottom : 16px solid #f5f5f5; */
    overflow-y: auto;
    padding: 16px;
    position : absolute;
    top: 140px;
    right : 0px;
    bottom: 54px;
    left: 0px;
}
#new-sections .section-fields {
    padding : 0px;
}
#new-sections .field {
    border : none;
    padding : 6px 0px;
}
#new-sections .field-label {
    color : var(--color-font) !important;
    width : 120px
}
#new-sections .field-value {
    width : calc(100% - var(--padding-field-label) - 120px);
}
#new-sections .section,
#new-sections .field {
    display : none;
}
#new .panel-toolbar {
    padding : 0px;
    position : absolute;
    right : 0px;
    bottom : 0px;
}
#continue {
    display : flex;
    margin : 0px;
    padding-left : 30px;
}
#continue::after {
    font-size: 24px;
    font-weight: 200;
    line-height: 20px;
    content: '\e5cc';
    font-family: 'Material Symbols Sharp';
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}



/* LIST */
/* ----------------------------------------------------------------------------- */
#list {
    display         : flex;
    flex-direction  : column;
    gap             : 16px;
    overflow-y      : auto;
}
#list > .panel-content > div {
    display : none;
}


/* PROGRESS COLUMNS */
/* ----------------------------------------------------------------------------- */
#progress {
    background      : var(--color-surface-level-2);
    display         : flex;
    flex-direction  : row;
    justify-content : space-between;
}
#progress > div {
    border-left     : 5px solid var(--color-surface-level-1);
    border-right    : 5px solid var(--color-surface-level-1);
    flex-grow       : 1;
    width           : 25%;
}
#progress > div:first-of-type {
    border-left : none;
}
#progress > div:last-of-type {
    border-right : none;
}
.progress-title {
    color : white;
    font-weight : bold;
    padding : var(--spacer-xxs);
    text-align : center;
}
.progress-column {
    margin-top : 8px;
    min-height : 36px;
}
.progress-column.tiles.list.l .tile-image {
    width : 36px;
}
.progress-column.tiles.list.l .tile-image > span {
    font-size : 24px;
}
.progress-column.tiles.list.l .tile-details {
    width : calc(100% - 74px);
}
.tile-title,
.tile-subtitle {
    white-space : nowrap;
    overflow : hidden;
    text-overflow: ellipsis;
}



/* CALENDAR */
/* ----------------------------------------------------------------------------- */
#calendar {
    display : flex;
    justify-content: space-between;
    gap : 40px;
}
#calendar > .panel-content {
    display : flex;
    gap: 20px;
    justify-content: space-between;
    width : 260px;
}
#calendar-months {
    display : flex;
    flex-direction: column;
    gap : 20px;
}
.calendar-month-name { 
    color       : var(--color-font) ;
    background  : var(--color-surface-level-5) !important; 
    padding     : 10px !important;
    text-align  : center !important; 
}
.calendar { width : 100%; }
.calendar th, 
.calendar td {
    border-bottom   : none;
    cursor          : pointer;
    font-size       : 12px;
    line-height     : 8px;
    padding         : 8px;
    text-align      : right;
    width           : 16px;
}
.calendar-week { 
    padding-left  : 12px;
    padding-right : 12px;
}
.calendar th,
td.calendar-week { 
    font-weight : bold;
    background  : var(--color-surface-level-4); 
}
td.calendar-day { 
    background : var(--color-surface-level-2); 
}
td.calendar-weekend { 
    background : var(--color-surface-level-3); 
}
.calendar-day:hover { background : var(--color-hover-background); }
.calendar-day-current { font-weight : 800; }
.calendar-week-current > td.calendar-day  { background : var(--color-selected-background); }

.calendar-highlight { background: var(--color-status-yellow) !important; color : white !important; }

#calendar-table-head th {
    background : black;
    color : white;
}
 .dark-theme #calendar-table-head th { background : var(--color-surface-level-5); }
.black-theme #calendar-table-head th { background : var(--color-surface-level-5); }
#calendar-table-body tr {
    cursor : pointer;
    display : none;
}
#calendar-table-body tr:hover td {
    background : var(--color-hover-background);
    border-color : var(--color-hover-border);
}
td.selected {
    background : var(--color-blue-500) !important;
    color : white !important;
}
#calendar-list {
    flex-grow : 1;
}



/* ITEM */
/* ----------------------------------------------------------------------------- */
#item-header {
    display : flex;
    justify-content: space-between;
    padding : 20px var(--margin-item);
    position : absolute;
    top : 0px;
    right : 0px;
    left : 0px;
}
#item-descriptor {
    font-size : 22px;
    font-weight : 800;
    margin : 6px 0px 10px 0px;
}
#item-details {
    display: flex;
    font-size : 14px;
    gap: 16px;
}
#item-summary > span {
    font-weight : bold;
}
#item-status {
    border-radius : 3px;
    color : white;
    font-size : 12px;
    padding : 0px 12px;
}
#item-toolbar {
    margin-top : 10px;
}
#workflow-actions {
    padding : 8px 12px;
}
#item-content {
    position : absolute;
    top      : 96px;
    right    : 0px;
    bottom   : 0px;
    left     : 0px;   
}
#item-content > div {
    padding         : 20px var(--padding-item);
    position        : absolute;
    top             : 0px;
    bottom          : var(--margin-item);
    transition      : all ease 0.25s;
}
#item-content > div > .panel-content {
    overflow-y  : auto;
    position    : absolute;
    top         : 76px;
    right       : var(--padding-item);
    bottom      : var(--padding-item);
    left        : var(--padding-item);
}
#details-sections .section-fields .field .field-label {
    text-align : left;
}
#details-sections .section-fields .field {
    border : none;
    flex-direction : column;
    padding : 8px 0px;
}
.field-value {
    width : 100%;
}
.workflow-history-action-icon::before {
    background : var(--color-surface-level-1)
}
.workflowh-history-event {
    border-color : var(--color-surface-level-4);
}


/* ATTACHMENTS */
/* ----------------------------------------------------------------------------- */
.attachment {
    height : 20px !important;
}
.attachment-graphic {
    width : 32px;
}
.attachment-user,
.attachment-date {
    display : none;
} 
.tiles.list.files {
    gap: var(--spacer-xxxs);
}


/* DESIGN */
/* ----------------------------------------------------------------------------- */
#design {
    padding : 0px;
} 


/* MAKRUPS */
/* ----------------------------------------------------------------------------- */
#markups {
    background  : var(--color-dark);
    color       : white;
    display     : flex;
}
#markups > div {
    padding : var(--padding-item) calc(2 * var(--padding-item));
}
#markup-panel {
    min-width : 240px;
    width : 240px;
}
#markup-title {
    font-size    : 18px;
    font-weight  : 800;
    line-height  : 30px;
}
#markup-subtitle {
    font-size : 12px;
    line-height : 16px;
}
#markup-list {
    display      : flex;
    gap          : 10px;
    padding-left : 0px !important;
    overflow-x   : auto;
    overflow-y   : hidden;
}
.markup {
    border-radius : 3px;
    border : 3px solid transparent;
    cursor : pointer;
    height : 80px;
}
.markup.placeholder {
    border : 2px dashed var(--color-gray-400);
    width : 80px;
}
.markup.selected {
    border-color : var(--color-blue-500);
};