/*  OVERRIDES */
/* ----------------------------------------------------------------------------- */
/* #item .panel-content { top : 482px; right : 330px; transition: all ease 0.25s; } */
.section-fields .field-value { background : none; width : calc(100% - 150px); }
.bom-item { display: revert; }
.panel-actions { justify-content: end; }
.tabs > .selected { font-weight : 700; }
.surface-level-2 td {
    background: var(--color-surface-level-3);
}


/*  MAIN LAYOUT */
/* ----------------------------------------------------------------------------- */
:root {

    --width-managed-items   : 600px;
    --width-side            : 340px;
    --padding-v             : 20px;
    --padding-h             : 26px;

}

#managed-items {
    border-width : var(--padding-v) var(--padding-h);
    top          : 0px;
    bottom       : 0px;
    left         : 0px;
    width        : var(--width-managed-items);   
}
#item {
    border-width : var(--padding-v) var(--padding-h);
    top          : 0px;
    right        : calc((2 * var(--padding-h)) + var(--width-side));
    bottom       : 0px;
    left         : calc((2 * var(--padding-h)) + var(--width-managed-items));
}
#side {
    border-width : var(--padding-v) var(--padding-h);
    top          : 0px;
    right        : 0px;
    bottom       : 0px;
    width        : var(--width-side);
}
.viewer {
    height   : var(--height-viewer);
    position : absolute;
    top      : 6px;
    right    : 0px;
    bottom   : 50%;
    left     : 0px;  
}
#tabs {
    position : absolute;
    top      : 50%;
    right    : 0px;
    left     : 0px;
}
#item-contents {
    position : absolute;
    top      : calc(50% + 40px);
    right    : 0px;
    bottom   : 0px;
    left     : 0px;
}

.no-nav #managed-items { left : calc(0px - var(--width-managed-items) - (2 * var(--padding-h))); }
.no-nav #item { left : var(--padding-h); }

.no-side #side { right :  calc(0px - var(--width-side) - (2 * var(--padding-h))); }
.no-side .viewer { right : 0px; }
.no-side #item { right : 0px; }

/* .no-viewer .viewer { display : none; }
.no-viewer #tabs { top : 150px; }
.no-viewer #item .panel-content { top : 191px; } */

.no-tabs .viewer { bottom : 0px; }
.no-tabs #tabs { top : calc(100% + 100px); }
.no-tabs #item .panel-content { top : calc(100% + 140px); }



/*  HEADER TOOLBAR */
/* ----------------------------------------------------------------------------- */
body.no-viewer #show-viewer { display : none; }
body.no-viewer #hide-viewer { display : none; }


/*  AFFECTED ITEMS */
/* ----------------------------------------------------------------------------- */
#managed-items-counters { 
    background : none; 
}
#managed-items-content .tile-details { 
    margin-right : 0px; 
}
#managed-items-content .tile-item-status {
    display     : flex;
    gap         : 1px;
    margin-top  : 8px;
    width       : 122px;
}
#managed-items-content .tile-item-status > div {
    display         : flex;
    flex-direction  : column;
    width           : 40px;
}
#managed-items-content .tile-item-status .icon {
    font-variation-settings : 'FILL' 1,  'wght' 200,   'GRAD' 0,  'opsz' 20;
    font-size               : 20px;
    font-weight             : 200;
    height                  : 24px;
    line-height             : 30px;
    text-align              : center;
    width                   : 100%;
}
#managed-items-content .tile-item-status .value {
    font-size     : 12px;
    line-height   : 22px;
    height        : 24px;
    text-align    : center;
}
#managed-items-content .highlight-stock, 
#managed-items-content .highlight-orders, 
#managed-items-content .highlight-suppliers {
    color : var(--color-status-red); 
}



/*  ITEM */
/* ----------------------------------------------------------------------------- */
#item > div { transition : all .25s ease; }
#save { display : none; }



/* APS VIEWER */
/* ----------------------------------------------------------------------------- */
#navTools,
/* #toolbar-modelStructureTool, */
#toolbar-propertiesTool {
    display : none;
}

/*  SIDE */
/* ----------------------------------------------------------------------------- */
.tab-group-side {
    position : absolute;
    top      : 58px;
    right    : 0px;
    bottom   : 0px;
    left     : 0px;
}
#change {
    display         : flex;
    flex-direction  : column;
    gap             : 16px;
    top             : 76px;
}
#change-actions {
    top : 0px;
}
#save { 
    display : none; 
}
#change > .field {
    display         : flex;
    flex-direction  : column;
    gap             : 2px;    
}
#change .field-label {
    padding     : 0px 0px 4px;
    text-align  : left;
}
#details-header {
    border : none;
    margin-top : 10px;
}
#details-content {
    top : 66px;
}



/*  CHANGE DETAILS */
/* ----------------------------------------------------------------------------- */

#item-change {
    display : flex;
    gap : 14px;
    height : 52px;
    overflow-y : auto;
    padding : 14px 24px 16px 24px;
}
#item-change > div {
    flex-grow : 1;
}
#item-change .field-label {
    font-size : 12px;
    font-weight : normal;
    line-height: 20px;
    padding : 0px 6px 2px;
    text-align : left;
    width : auto;
}
#item-change .field.with-text .field-value { width : auto; }
#item-change .field-value { font-size : 12px; width : auto; }
#item-change select.field-value { padding : 1px 2px;}
#item-change .checkbox.field-value { padding-left: 8px; }
#item-change textarea { height : 19px; }
.field-text { display : none; }
.no-panel #item { left : 110px; }




/*  TABS */
/* ----------------------------------------------------------------------------- */
#tabs {
    overflow-x : auto;
}
#tabs > div {
    display : flex;
    font-size : 14px;
    height : 26px;
    line-height : 20px;
    justify-content: center;
    min-width : 140px;
}
.counter {
    color: white;
    padding: 0px 8px;
    border-radius: 3px;
    margin-left: 6px;
    font-size: 10px;
    font-weight: 800;
    min-width: 18px;
    height: 20px;
}
/* .counter.none {
    background : var(--color-selected-bright);
    color : var(--color-selected);
} */
.count-done .counter { background : var(--color-blue-500); }
.count-none .counter { background : var(--color-dark); }
.count-work .counter { background : var(--color-status-yellow); }

.content-area {
    overflow : auto;
    position : absolute;
    top : 0px;
    right : 0px;
    bottom : 0px;
    left : 0px;
}
.content-area.with-header {
    top : 32px;
}
.content-area.with-actions {
    bottom : 50px;
}
#item-contents > div { 
    top : 0px; 
}
.panel-content-actions {
    padding : 10px 20px;
    position : absolute;
    right : 0px;
    bottom : 0px;
    left : 0px;
}
.panel-content-actions > .button {
    font-size : 12px;
    padding : 4px 16px;
}
/* .content-table > thead > tr > th {
    background : var(--color-gray-300);
} */



/*  BOM */
/* ----------------------------------------------------------------------------- */
#bom-status {
    display : flex;
    font-size : 11px;
    height : 20px;
    margin : 0px 10px;
    padding : 3px 0px;
    width : calc(100% - 260px);
}

.bom-status {
    width : 10px;
    background : white;
}
#bom-status-new ,
tr.new  .bom-status,
#bom-status-additional ,
tr.additional  .bom-status{
    background : var(--color-status-red);
}
#bom-status-different,
tr.different .bom-status {
    background : var(--color-status-yellow);
}
#bom-status-match,
tr.match .bom-status {
    background : var(--color-status-green);
}
#bom-status-removed,
tr.removed .bom-status {
    background : var(--color-gray-400);
}
#bom .panel-content-actions {
    display : flex;
    height : 50px;
}
#bom .panel-content-actions p {
    line-height : 26px;
    margin : 0px;
    padding : 0px 20px 0px 0px;
}
#bom-views {
    display: flex;
    margin: 0px 10px 0px 10px;
    width: calc(100% - 120px);
}
.bom-view {
    background  : var(--color-surface-level-2);
    color       : var(--color-font);
    font-size   : 11px !important;
    height      : 11px;
    line-height : 11px !important;
    padding     : 4px 6px;
    white-space : nowrap;
}
.bom-view.first {
    border-left : 1px solid var(--color-gray);
    border-radius : 6px 0px 0px 6px;
}
.bom-view.last {
    border-radius : 0px 6px 6px 0px;
}
.bom-view.selected {
    background : var(--color-selected);
    color : white;
}
#bom > .content-area { bottom : 70px; }
#bom th { padding : 3px; }
#bom td {  padding : 0px 3px; }
#bom th,
#bom td {
    font-size : 11px;
    white-space : nowrap;
}
#bom .panel-content-actions {
    flex-direction : column;
    justify-content: space-around;
    padding : 10px 0px;
}
#bom .panel-content-actions > div { display : flex; }
#bom .panel-content-actions > div  > span { 
    font-size : 12px;
    font-weight : bold;
    text-align : right;
    width : 100px;
}
#bom-color-toggle { font-size : 11px; width : 120px; }

.bar {
    border        : 5px solid var(--color-surface-level-2);
    border-radius : 3px;
    cursor        : pointer;
}
#bom-status-additional.selected, #bom-status-additional:hover {
    border-color : var(--color-status-red-brighter);
}
#bom-status-different.selected, #bom-status-different:hover {
    border-color : var(--color-status-yellow-brighter);
}
#bom-status-match.selected, #bom-status-match:hover {
    border-color : var(--color-status-green-brighter);
}
#bom-color-toggle {
    padding-left : 20px;
}
#bom-color-toggle label {
    margin-left : 3px;
    position : relative;
    top : -1px;
}
body.no-viewer #bom-color-toggle {
    display : none;
}




/*  END ITEMS */
/* ----------------------------------------------------------------------------- */
.roots-column-number {
    max-width   : 24px;
    text-align  : right;
    width       : 24px;
}
.parent {
    display : flex;
    line-height : 22px;
}
.parent.top {
    border-top : 1px solid var(--color-surface-level-1);
}
.parent.top:first-of-type {
    border-top : none; 
}
.parent-path {
    cursor : pointer;
    color : var(--color-blue-500);
    display : flex;
    margin-left : 8px;
    padding : 3px 12px;
}
.parent-path .icon {
    color        : var(--color-font);
    font-size    : 20px;
    line-height  : 21px;
    margin-right : 8px;
}
.parent-path .icon.transparent {
    color : transparent;
}
.parent-actions {
    padding-top : 1px;
    width : 40px;
}
.parent-actions .button {
    float : left;
    font-size : 12px;
    margin : 0px;
    min-width : 1px;
    padding : 2px 8px;
}


/*  IMPACTED */
/* ----------------------------------------------------------------------------- */
#impacted-tbody input {
    /* background: white; */
    border: none;
    font-size: 14px;
    line-height: 23px;
    padding: 0px 8px;
}
#impacted-tbody input:disabled { background : none; }
#impacted-tbody tr:hover td {
    background-color : var(--color-hover-background) !important;
    border-color     : var(--color-hover-border) !important;
}
/* #impacted-tbody tr.disconnected .material-symbols-sharp {
    display : none;
} */
.impacted-status {
    font-size : 24px;
    text-align : center;
    width : 20px;
}
#impacted-table input {
    width : calc(100% - 20px);
}
#impacted-table .button {
    float : left;
    margin-left : 0px;
    margin-right : 10px;
    padding : 3px 10px;
}
#impacted-table .button:last-of-type {
    margin-right : 0px;
}
.impacted-actions {
    width : 255px;
}
.disconnected > .impacted-status > .icon,
.disconnected .impacted-disconnect,
.disconnected .impacted-update {
    display : none;
}
.connected .impacted-connect {
    display : none;
}



/*  CHANGED */
/* ----------------------------------------------------------------------------- */
#related-list {
    padding : 10px;
}
.changed-item {
    border : 1px solid var(--color-surface-level-4);
    background : var(--color-surface-level-4);
    border-radius : 4px;
    cursor : pointer;
    float : left;
    margin : 10px;
    padding : 12px 24px;
    width : 300px;
}
.changed-item.selected {
    background-color : var(--color-selected-background) !important;
    border-color     : var(--color-selected-background) !important;
}
.changed-item > div {
    overflow : hidden;
    text-overflow: ellipsis;
    white-space : nowrap;
}
.changed-item-detail {
    font-size : 10px;
}
#related-actions { 
    display         : none; 
    gap             : 10px;
    justify-content : end;
}



/*  FILES */
/* ----------------------------------------------------------------------------- */
td.status-new     { background : var(--color-status-red);    color : white; }
td.status-changed { background : var(--color-status-yellow); color : white; }
td.status-match   { background : var(--color-status-green);  color : white; }
.attachment-graphic > img { height : 16px; }



/*  DETAILS */
/* ----------------------------------------------------------------------------- */
/* #details > .panel-header > .panel-title {
    font-size : 16px;
    padding   : 12px 14px 8px;
}
#details .panel-content {
    top : 0px;
} */
/* .section-fields .field-label {
    max-width : 120px;
    min-width : 120px;
    width : 120px;
}
#details .section {
    padding : 8px 12px;
} */
.field.different {
    border-bottom : none;
}
.field.difference > * {
    color : var(--color-status-red);
}



a,
a:visited {
    color : #0696d7;
    text-decoration : none;
}
tr.link {
    cursor : pointer;
}
th.tiny {
    white-space : nowrap;
    width : 1px;
}
td.tiny {
    white-space : nowrap;
    width : 1px;
}


#details-prev-sections {
    display : none;
}
.field.different .field-label {
    color : var(--color-red);
}
input.was {
    color : var(--color-red);
    font-style: italic;
}


.content-list {
    overflow : auto;
}

.content-list .processing > div {
    height : 15px;
    width : 15px;
}