:root {
    --screen-top    : 15px;
    --width-ebom    : 850px;
    --width-mbom    : 850px;
    --width-summary : 400px;
    --height-files  : 280px;
    --content-top   : 55px;
    --padding-panel : 20px;
}


/*  COMMON OVERRIDES */
/* ----------------------------------------------------------------------------- */
#main { top : 66px; }
.panel-title { text-align : center; }
/* .panel-content { 
    top : var(--content-top); 
    bottom : var(--padding-panel);
} */
.panel-nav { 
    display         : flex;
    height          : 48px;
    line-height     : 48px;
    margin          : 0px; 
}
.screen-divider.vertical {
    top : var(--padding-panel);
    bottom : var(--padding-panel);
}
#my-markup-button.highlight {
    background : var(--color-status-red);
}
#my-markup-button.highlight .adsk-button-icon.icon-markup::before { color : white !important; }
.viewcubeWrapper { display : none !important; }
#summary-close { display : none; }



/* MASTER LAYOUT */
/* ----------------------------------------------------------------------------- */
#tabs {
    top : var(--screen-top);
    right : calc(var(--width-mbom) + (3 * var(--padding-panel)));
    bottom : var(--padding-panel);
    left : var(--padding-panel);
}
.viewer {
    right : 0px;
    left : 0px;
    /* width : calc(100% - var(--width-ebom) - var(--width-mbom) - (5 * var(--padding-panel))); */
}
#ebom {
    right : 0px;
    left : unset;
    width : var(--width-ebom);
}
#divider-mbom { 
    right : calc(var(--width-mbom) + (2 * var(--padding-panel)) - 2px); 
}
#mbom {
    top     : var(--screen-top);
    right   : var(--padding-panel);
    bottom  : var(--padding-panel);
    width   : var(--width-mbom);
}

#summary {
    top             : 0px;
    border-width    : var(--screen-top) var(--padding-panel);
    right           : calc(0px - var(--width-summary) - (2 * var(--padding-panel)));
    bottom          : 0px;
    width           : var(--width-summary);
}
/* #details {
    top             : 0px;
    border-width    : var(--screen-top) var(--padding-panel);
    right           : calc(0px - var(--width-summary) - (2 * var(--padding-panel)));
    bottom          : var(--height-files);
    width           : var(--width-summary);
}
#attachments {
    border-width    : var(--screen-top) var(--padding-panel);
    right           : calc(0px - var(--width-summary) - (2 * var(--padding-panel)));
    bottom          : 0px;
    height          : var(--height-files);
    width           : var(--width-summary);
} */



/* MASTER LAYOUT ADJUSTMENTS */
/* ----------------------------------------------------------------------------- */
/* body.mode-disassemble #viewer, 
body.mode-instructions #viewer { 
    width : calc(100% - var(--width-mbom) - (4 * var(--padding-panel)));
} */
body.mode-disassemble #ebom, body.mode-disassemble #add { display : none; }
body.mode-ebom .viewer { right : calc(var(--width-ebom) + var(--padding-panel)); }
body.mode-ebom #viewer { display : block !important; }
body.mode-ebom #add, body.mode-ebom #instructions { display : none; }

body.mode-ebom.no-viewer .viewer { right : 100%; }
body.mode-ebom.no-viewer #tabs { right : 50%; }
body.mode-ebom.no-viewer #ebom { left : 0px; width : 100%; }
body.mode-ebom.no-viewer #divider-mbom { right : calc(50% - (1 * var(--padding-panel)) - 2px); }
body.mode-ebom.no-viewer #mbom { width : calc(50% - (3 * var(--padding-panel)) - 2px); }

body.mode-add .viewer, body.mode-add #ebom, body.mode-add #instructions { display : none !important; }

body.mode-instructions .viewer { display : block !important; right : 0px; }
body.mode-instructions #ebom, body.mode-instructions #add { display : none !important; }

body.details-on #tabs            { right : calc((5 * var(--padding-panel)) + var(--width-mbom) + var(--width-summary)); }
body.details-on #divider-mbom    { right : calc(var(--width-mbom) + var(--width-summary) + (4 * var(--padding-panel)) - 2px); }
body.details-on #mbom            { right : calc(var(--width-summary) + (3 * var(--padding-panel))); }
body.details-on #summary         { right : 0px; }

body.details-on.no-viewer #tabs         { right : calc(50% + (var(--width-summary) / 2) + (2 * var(--padding-panel)) ); }
body.details-on.no-viewer #divider-mbom { right : calc(50% + (var(--width-summary) / 2) + var(--padding-panel)); }
body.details-on.no-viewer #mbom         { width : calc(50% - (3 * var(--padding-panel)) - 2px - (var(--width-summary) / 2)); }



/* TAB CONTROLS */
/* ----------------------------------------------------------------------------- */
#tabs > .panel-header  {
    height : 38px;
}
#tabs > .panel-header > div {
    height : 34px;
}


/* VIEWER */
/* ----------------------------------------------------------------------------- */
#navTools, 
#toolbar-modelStructureTool, 
#toolbar-propertiesTool {
    display : none;
}
/* .adsk-viewing-viewer .adsk-toolbar {
    bottom : -9px;
} */



/* ADD Panel */
/* ----------------------------------------------------------------------------- */
.panel-left {
    border-right : 1px solid  var(--color-surface-level-5);
    display : flex;
    flex-direction: column;
    gap : 4px;
    position : absolute;
    top : var(--padding-panel);
    bottom : 0px;
    left : 0px;
    width : 200px;
}
.panel-right {
    overflow-y : auto;
    position : absolute;
    top : var(--padding-panel);
    right : 0px;
    bottom : 0px;
    left : 226px;
}
.panel-nav::before {
    font: normal normal normal 14px/1 'Material Symbols Sharp';
    font-size : 24px;
    font-weight : 300;
    line-height : 46px;
    /* margin-left : var(--spacer-m); */
    /* margin-right : var(--spacer-xs); */
    /* position: relative; */
    /* top : 6px; */
    text-align : center;
    width : 48px;
}
#nav-search-items::before           { content : '\e8b6'; }
.saved-search::before               { content : '\e875'; }
#nav-workspace-views-mbom::before   { content : '\ebbc'; }
#nav-workspace-views-ebom::before   { content : '\f720'; }
#nav-bookmark-items::before         { content : '\e8d0'; }
#nav-recent-items::before           { content : '\e889'; }
#nav-create-assembly::before        { content : '\e147'; }
#add-views > div {
    position : absolute;
    top : 0px;
    right : 0px;
    bottom : 0px;
    left : 0px;
}
#add-processing {
    display : none;
}
.panel-list-toolbar {
    padding: 0px 0px 20px 0px;
    display: flex;
    justify-content: center;
}
.panel-list-toolbar > span { padding : 6px 10px 6px 0px; }
.panel-list-toolbar > .icon {
    position : relative;
    left : -32px;
    top : 4px;
}
.panel-list-toolbar > input {
    max-width : 120px;
    padding: 6px 36px 6px 10px;
}
.additional-item {
    background : var(--color-surface-level-3);
    border : 1px solid transparent;
    cursor : pointer;
    float : left;
    height : 30px;
    line-height : 30px;
    margin : 0px 16px 4px 0px;
    overflow : hidden;
    padding : 2px 20px 2px 10px;
    text-overflow : ellipsis;
    white-space : nowrap;
    width : 400px;
}
.additional-item:hover { background : var(--color-hover-background); }
.additional-item.selected {
    background : var(--color-selected-background);
    border-color : var(--color-selected-border);
}
.additional-item::before {
    background: var(--color-surface-level-5);
    color: var(--color-font);
    content : '\e869';
    font: normal normal normal 14px/1 'Material Symbols Sharp';
    font-size: 24px;
    font-weight : 200;
    position: relative;
    top: 7px;
    padding: 5px;
    left: -10px;
    line-height: 16px;
}
.item.mbom > .item-head > .item-icon > span::before,
.additional-item.mbom::before { content: '\ebbc'; }
.item.ebom > .item-head > .item-icon > span::before,
.additional-item.ebom::before { content: '\f720'; }
.item.settings > .item-head > .item-icon > span::before,
.additional-item.settings::before { content: '\e8b8'; }
#search-input {
    background   : var(--color-surface-level-2);
    border-color : var(--color-surface-level-4);
    max-width    : 300px;
    width        : calc(100% - 152px);
}
select.view-selector {
    margin-right : 20px;
    white-space : nowrap;
    overflow : hidden;
    text-overflow: ellipsis;
}
#create-item-form {
    border-width : 24px 32px;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    overflow-y: auto;
    width: calc(100% - 470px);
}
#create-item-panel {
    display : flex;
    flex-direction: column;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    width: 380px;
}
#create-operation {
    margin: 0px;
    clear: both;
    margin-bottom: 8px;
}
#create-end-item {
    margin: 0px;
    clear: both;
    margin-bottom: 48px;
}
.list-header {
    border-bottom : 1px solid black;
    font-weight : bold;
    margin-bottom : 8px;
    padding : 8px 16px;
}
#create-item-list > div {
    margin-right : 0px;
}
#workspace-view-list {
    position: absolute;
    top: 80px;
    left: 40px;
    right: 0px;
    bottom: 0px;
    overflow-y: auto;
}
#bookmark-items,
#recent-items {
    top : 0px;
    bottom : 0px;
    left : 0px;
}
#search-items-list > div,
#bookmark-items-list > div,
#recent-items-list > div {
    width : calc(100% - 32px);
}
.list-filter { 
    background   : var(--color-surface-level-2);
    border-color : var(--color-surface-level-4);
}
#workspace-view-list-mbom > div,
#workspace-view-list-ebom > div {
    max-width : calc(50% - 50px);
}



/* ITEM */
/* ----------------------------------------------------------------------------- */
.item {
    display : block;
    margin-top : 2px;
}
.item-head {
    display : flex;
}
.item-head > div {
    line-height : 30px;
    height : 30px;
}
.item-toggle {
    font-size   : 20px;
    text-align  : center;
    width       : 31px;
}
.item-toggle > div {
    cursor : pointer;
    line-height : 28px;
}
.item-toggle .icon {
    line-height     : 32px;
    width       : 100%;
}
.item-toggle .icon:hover {
    color : var(--color-blue-500); 
}
.item-icon {
    background : var(--color-surface-level-2); 
    font-size: 22px;
    text-align: center;
    width: 30px;
    border-top : 1px solid transparent;
    border-bottom : 1px solid transparent;
    border-left : 1px solid transparent;
}
.item-icon > .icon {
    font-weight : 200;
    line-height: 30px;
    height: 30px;
}
.item-title {
    background      : var(--color-surface-level-3); 
    border-top      : 1px solid transparent;
    border-bottom   : 1px solid transparent;
    cursor          : pointer;
    display         : flex;
    flex-direction  : row;
    gap             : var(--spacer-xs);
    overflow        : hidden;
    padding         : 0px 8px;
    text-overflow   : ellipsis;
    white-space     : nowrap;
}
.item-head-descriptor {
    display         : inline-block;
    overflow        : hidden;
    text-overflow   : ellipsis;
    width           : 100%;
}
.item-link {
    cursor      : pointer;
    display     : none;
    line-height : 30px;
    font-size   : 24px;
    font-weight : 200;
}
.item-code {
    background      : var(--color-surface-level-3); 
    border-top      : 1px solid transparent;
    border-bottom   : 1px solid transparent;
    text-align      : center;
    width           : 40px;
    font-size       : 12px;
    font-weight     : 800;
}
.item-qty {
    background      : var(--color-surface-level-3); 
    border-top      : 1px solid transparent;
    border-right    : 1px solid transparent;
    border-bottom   : 1px solid transparent;
    width           : 48px;
}
.item-qty > input {
    border: none;
    text-align: right;
    height: 30px;
    line-height: 30px;
    border-radius: 0px;
    width: 48px;
    padding: 0px 0px;
}
.item-head-status {
    border-top      : 1px solid transparent;
    border-bottom   : 1px solid transparent;
    margin          : 0px 6px 0px 6px;
    width           : 10px;
}
.item-actions {
    border-top      : 1px solid transparent;
    border-bottom   : 1px solid transparent;
    display         : flex;
    gap             : var(--spacer-xxs);
    width           : 100px;
}
.item-action {
    height          : 30px !important;
    line-height     : 30px !important;
    min-width       : 28px;
    padding         : 0px;
    text-align      : center;
}
.item-action.icon {
    font-weight : 200;
    font-size   : 20px;
    padding     : 0px 0px;
}


.item.deployed_code > .item-head > .item-icon > span.icon::before { content : '\f720'; }

.item.selected > .item-head > .item-icon,
.item.selected.category-assembly > .item-head > .item-icon,
.item.selected.category-document > .item-head > .item-icon,
.item.selected.category-electrical > .item-head > .item-icon,
.item.selected.category-general > .item-head > .item-icon,
.item.selected.category-part > .item-head > .item-icon,
.item.selected.category-process > .item-head > .item-icon,
.item.selected.category-product > .item-head > .item-icon,
.item.selected.category-purchased > .item-head > .item-icon,
.item.selected.category-sheet-metal-part > .item-head > .item-icon {
    background   : var(--color-blue-500);
    border-color : var(--color-selected-border);
}
.item.selected > .item-head > .item-title,
.item.selected > .item-head > .item-code,
.item.selected > .item-head > .item-qty,
.item.selected > .item-head > .item-qty >input,
.item.selected > .item-head > .item-qty >input.item-qty-input {
    background   : var(--color-selected-background);
    border-color : var(--color-selected-border);
}
.item-head:hover > .item-icon {
    background : var(--color-blue-900) !important;
    color      : var(--color-font) !important;
}
.item-head:hover > .item-title,
.item-head:hover > .item-code,
.item-head:hover > .item-qty,
.item-head:hover > .item-qty >input,
.item-head:hover > .item-title >span,
.item-head.selected:hover > .item-icon ,
.item-head.selected:hover > .item-title,
.item-head.selected:hover > .item-code,
.item-head.selected:hover > .item-qty,
.item-head.selected:hover > .item-qty >input,
.item-head.selected:hover > .item-title >span  {
    background : var(--color-hover-background) !important;
    color      : var(--color-font) !important;
}
/* .item-head:hover > .item-title > .item-head-descriptor {
    width           : calc(100% - 150px);
} */
.item-head:hover > .item-title > .item-link { display : block; }
.item-bom {
    overflow    : auto;
    padding     : 8px 0px 8px 31px;
}
.item.root { border-top : none; }
.item.root > .item-head { background : var(--color-surface-level-3); }
.item.root > .item-head > .item-toggle,
.item.root > .item-head > .item-code, 
.item.root > .item-head > .item-qty, 
.item.root > .item-head > .item-actions,
.item.root > .item-head > .item-head-status {
    display : none;
}
.item.root > .item-bom { padding-left : 0px; }
.item.root > .item-head > .item-title {
    width : 100% !important;
}
.item.leaf.selected {
    border-left : none;
}



/* ITEM TYPES */
/* ----------------------------------------------------------------------------- */
.item                   > .item-head > .item-icon { background : var(--color-surface-level-5); color : var(--color-font); }
.item.type-software     > .item-head > .item-icon { background : #AD4E7E; color : #fff; }
.item.type-packaging    > .item-head > .item-icon { background : #8c714d; color : #fff; }
.item.type-electrical   > .item-head > .item-icon { background : #299BA6; color : #fff; }
.item.type-other        > .item-head > .item-icon { background : #A68932; color : #fff; }
.item.type-mechanical   > .item-head > .item-icon { background : #8256BF; color : #fff; }
.item.type-process      > .item-head > .item-icon { background : #23a597; color : #fff; }



/* ITEM STATUS COLORS */
/* ----------------------------------------------------------------------------- */
.item.neutral    > .item-head > .item-head-status { background : transparent; }
.item.additional > .item-head > .item-head-status { background : var(--color-status-red);    }
.item.different  > .item-head > .item-head-status { background : var(--color-status-yellow); }
.item.match      > .item-head > .item-head-status { background : var(--color-status-green);  }
.item.unique     > .item-head > .item-head-status { background : transparent; }



/* BOM PANEL */
/* ----------------------------------------------------------------------------- */
.bom-panel {
    background : #000;
    color : white;
    display : none;
    padding : 5px;
    position : absolute;
    right : 0px;
    bottom : 68px;
    left : 0px;
    text-align : center;
    transition: all 0.25s ease;
}
body.bom-panel-on .bom-panel {
    display : block;
}



/* EBOM  */
/* ----------------------------------------------------------------------------- */
#ebom-tree {
    overflow-y: auto;
    position: absolute;
    top : 0px;
    right: 0px;
    bottom : 74px;
    left: 0px;
}
#ebom-tree .item-title {
    width : calc(100% - 329px);
}
#ebom-tree .item-actions {
    width : 140px;
}
#ebom-status {
    display     : flex;
    position    : absolute;
    right       : 0px;
    bottom      : 42px;
    left        : 0px;
}
#ebom-actions {
    display : flex;
    gap : var(--spacer-s);
    height : 41px;
    justify-content: center;
    position : absolute;
    right : 5px;
    bottom : 0px;
    left : 5px;
}
#ebom .item-action {
    display   : none;
    min-width : unset;
    width     : 100%;
}
#ebom .additional > div > .item-actions > .item-action-add { display : block; }
#ebom .item.different.enable-update > div > .item-actions > .item-action-update { display : block; }
/* #ebom .item-has-bom > .item-head > .item-qty > input { display : none; } */
#ebom .item > .item-head > .iteqm-qty > input.item-qty-input { background : var(--color-gray-100); }
#ebom .item.selected > .item-head > .iteqm-qty > input.item-qty-input { background : var(--color-selected-background); }
#ebom .item-has-bom > .item-head > .item-actions > div { display : block; }
#ebom .item-has-bom > .item-head:hover .item-actions > div { display : block !important; }
.mbom-shortcut {
    border          : 1px solid var(--color-gray-600);
    border-radius   : 2px;
    cursor          : pointer;
    font-size       : 22px;
    font-weight     : 200;
    height          : 30px;
    line-height     : 30px !important;
    max-width       : 25px;
    margin          : 0px 4px 0px 0px;
    /* width: 28px; */
}
.mbom-shortcut::before { content : '\ebbc'; }
#ebom .bom-panel {
    left : 5px;
    right : 5px;
}
body.bom-panel-on #ebom-tree { bottom : 106px; }





/* STATUS BAR */
/* ----------------------------------------------------------------------------- */
.bar {
    border          : 5px solid var(--color-surface-level-1);
    border-radius   : 3px;
    cursor          : pointer;
    display         : none;
    flex            : 0;
    height          : 16px;
    transition      : all 0.25s ease;
}
#status-progress {
    background: linear-gradient(270deg, var(--color-surface-level-2) 45%, var(--color-surface-level-4) 50%, var(--color-surface-level-2) 55%);
    background-size: 200% 200%;
    display : block;
    flex : 1;
    width : 100%;
    -webkit-animation: animProcessing 3s ease infinite;
    -moz-animation: animProcessing 3s ease infinite;
    animation: animProcessing 3s ease infinite;

}
#status-additional  { background : var(--color-status-red);    }
#status-different   { background : var(--color-status-yellow); }
#status-match       { background : var(--color-status-green);  }
#status-additional.selected, #status-additional:hover   { border-color : var(--color-status-red-brighter);    }
#status-different.selected, #status-different:hover     { border-color : var(--color-status-yellow-brighter); }
#status-match.selected, #status-match:hover             { border-color: var(--color-status-green-brighter);   }
@-webkit-keyframes animProcessing   { 100%{background-position:0% 50%} 0%{background-position:100% 50%} }
@-moz-keyframes animProcessing      { 100%{background-position:0% 50%} 0%{background-position:100% 50%} }
@keyframes animProcessing           { 100%{background-position:0% 50%} 0%{background-position:100% 50%} }



/* MBOM  */
/* ----------------------------------------------------------------------------- */
#mbom .panel-title-main {
    font-weight : normal;
}
#mbom-tree {
    bottom : 75px;
}
.radio-checked { display : none; }
.selected-target > .item-head > .item-icon > .radio-unchecked { display : none; }
.selected-target > .item-head > .item-icon > .radio-checked { display : block !important; }
#mbom .item-title { 
    width: calc(100% - 299px); 
}
#mbom .item-qty {
    width : 58px; 
}
#mbom .item-qty-input {
    background      : var(--color-surface-level-1);
    border-bottom   : 1px solid var(--color-surface-level-5);
    height          : 20px;
    margin-left     : 6px;
    width           : 46px;
}
#mbom .item-qty-input:focus {
    outline: 0;
    border-color : var(--color-blue-500) !important;
    box-shadow : 0px 3px 0px 0px rgba(6, 150, 215, 0.35) !important;
}
#mbom input:hover {
    border-color : var(--color-font);
} 
 
.item.operation > .item-head > .item-qty > input { display : none; }
.item.operation > .item-head > .item-actions > .button-copy { display : none; }
#mbom .item-action {
    max-width : 28px;
    min-width : 28px;
    width     : 28px;
}
body.bom-panel-on #mbom-tree { bottom : 106px; }
.drop-hover,
.drop-hover > div {
    background : var(--color-blue-500) !important;
}
.sortable-placeholder { 
    background : var(--color-blue-500);  
    height : 4px; 
    margin : 16px 0px 16px 34px; 
}
.item.invisible > .item-head > .item-icon,
.item.invisible > .item-head > .item-title,
.item.invisible > .item-head > .item-code,
.item.invisible > .item-head > .item-qty {
    opacity : 0.2;
}
.button-remove {
    color : var(--color-status-red);
}
.adjacent-prev > .item-head > .item-icon {
    background : var(--color-status-green);
}
.current-mbom > .item-head > .item-icon {
    background : var(--color-blue-500) !important;
    color : white !important;
}
.adjacent-next > .item-head > .item-icon {
    background : var(--color-status-red);
}



/* MBOM ADD OPERATION CONTROLS */
/* ----------------------------------------------------------------------------- */
#mbom-add-operation {
    display     : flex;
    gap         : 12px;
    padding     : 15px 30px;
    position    : absolute;
    right       : 0px;
    bottom      : 0px;
    left        : 0px;
}
#mbom-add-operation > * {
    line-height    : 30px;
    padding-top    : 0px;
    padding-bottom : 0px;
}
#mbom-add-text {
    font-weight     : 800;
    padding-right   : 20px;
}
#mbom-add-name {
    flex-grow    : 1;
    margin-right : 10px;
}
#mbom-add-code {
    text-align  : center;
    max-width   : 50px;
    min-width   : 50px;
    width       : 50px;
}
#mbom-add-name,
#mbom-add-code {
    border-color : var(--color-surface-level-5);
    height       : 30px;
    padding      : 0px 15px;
}
select.button.view-selector { height : 36px; }



/* COPY / MOVE ITEM DIALOG */
/* ----------------------------------------------------------------------------- */
#dialog-copy {
    top : calc(50% - 180px);
    left : calc(50% - 275px);
    height : 360px;
    width : 550px;
}
#dialog-copy > .dialog-content {
    text-align : center;
}
#move-item-name, 
#move-target-name {
    display : block;
    font-weight : bold;
}
#copy-qty {
    background      : var(--color-surface-level-2);
    border-bottom   : 1px solid var(--color-surface-level-5);
    padding         : 10px;
    text-align      : center;
}


/* SET END ITEM DIALOG */
/* ----------------------------------------------------------------------------- */
#dialog-end-item {
    top    : calc(50% - 170px);
    left   : calc(50% - 300px);
    height : 340px;
    width  : 600px;
}
#end-item-name {
    display     : block;
    font-weight : bold;
}


/* INSERT TO MBOM DIALOG */
/* ----------------------------------------------------------------------------- */
#dialog-insert {
    top    : calc(50% - 200px);
    left   : calc(50% - 300px);
    height : 400px;
    width  : 600px;
}
#insert-item-name {
    display     : block;
    font-weight : bold;
}


/* CONVERT TO MBOM DIALOG */
/* ----------------------------------------------------------------------------- */
#dialog-convert {
    top : calc(50% - 220px);
    left : calc(50% - 270px);
    height : 440px;
    width : 540px;
}
#convert-item-name {
    display : block;
    font-weight : bold;
}
#convert-confirm {
    background : var(--color-status-red) !important;
}


/* ITEM SUMMARY */
/* ----------------------------------------------------------------------------- */
#summary-header {
    margin-top : 14px;
}
#summary-title {
    flex-direction: column;
    text-align: left;
    gap: 2px;
}


/* RESPONSIVE LAYOUT */
/* ----------------------------------------------------------------------------- */
@media only screen and (max-device-width : 1920px)  {

    :root {
        --width-ebom    : 650px;
        --width-mbom    : 650px;
        --width-summary : 360px;
    }

}
@media only screen and (max-device-width : 1760px)  {

    :root {
        --width-ebom    : 550px;
        --width-mbom    : 500px;
        --width-summary : 360px;
    }

}