:root {

    --width-summary : 680px;
    --width-edit    : 500px;
    --padding-panel : 28px;

}



/* ADDITIONS */
/* ----------------------------------------------------------------------------- */
#tableau-table { width : unset; }




/* MASTER LAYOUT */
/* ----------------------------------------------------------------------------- */
#workspaces {
    display : none;
}
#workspaces-panel {
    border-width : var(--padding-panel);
    top          : 0px;
    right        : 0px;
    bottom       : 0px;
    left         : 0px;
}
#tableau {
    border-width : var(--padding-panel);
    top          : 0px;
    right        : 0px;
    bottom       : 0px;
    left         : 0px;
}
#summary {
    /* border-width : var(--padding-panel); */
    top          : var(--padding-panel);
    right        : calc(0px - var(--width-summary) - (2 * var(--padding-panel))); 
    bottom       : 0px;
    width        : var(--width-summary);
}
#edit {
    border-width : var(--padding-panel);
    top          : 0px;
    right        : calc(0px - (2 * var(--padding-panel)) - var(--width-edit));
    bottom       : 0px;
    width        : var(--width-edit);
}
#create-dialog {
    top     : 80px;
    bottom  : 80px;
}
#clone-dialog {
    top     : 80px;
    bottom  : 80px;
}
#transitions {
    top     : 200px;
    bottom  : 200px;
    left    : calc(50% - 750px);
    width   : 1500px;
}

body.with-summary #tableau {  right : var(--width-summary); }
body.with-summary #summary { right : 0px; }

body.with-edit #tableau { padding-right : var(--padding-panel); right : calc((2 * var(--padding-panel)) + var(--width-edit)); }
body.with-edit #edit    { right : 0px; }

#button-toggle-create,
#deselect-all,
#edit-selected,
#archive,
#summary-subtitle {
    display : none;
}



/* TABLE TOOLBAR */
/* ----------------------------------------------------------------------------- */
#tableau-title {
    padding-top    : 0px;
    padding-bottom : 10px;
}
#tableau-title .panel-title-main {
    height : 38px;
}
#tableau-selector {
    font-weight     : normal;
    height          : 38px;
    line-height     : 38px;;
    overflow        : hidden;
    padding         : 0px 10px;
    text-overflow   : ellipsis;
    white-space     : nowrap;
}   
#archive {
    border-color     : var(--color-status-red);
    background-color : var(--color-status-red);
    color            : white;
}
#filter input {
    width : 68px;
}



/* TABLE */
/* ----------------------------------------------------------------------------- */
#tableau > .panel-spacer {
    position: absolute;
    top     : 50px;
    right   : 0px;
    left    : 0px;
    height  : 30px;
}
#tableau > .panel-content {
    top : 60px;
}
#tableau-empty {
    display     : none;
    color       : var(--color-blue-500);
    font-weight : 600;
    text-align  : center;
    top         : calc(50% - 24px);
    z-index     : 1;
    position    : absolute;
    right       : 0px;
    left        : 0px;
}
#tableau-empty .icon {
    font-size : 48px;
}
#tableau-empty p {
    margin  : 0px;
    padding : 0px;
}
#tableau-header > tr > th {
    line-height : 14px;
    padding     : 0px;
    position    : sticky;
    top         : 0;
    z-index     : 1;
}
#tableau-header > tr > th,
#tableau-body > tr > td {
    border      : none;
    max-width   : 200px;
    min-width   : 200px;
}
#tableau-body > tr > td {
    border-bottom : 1px solid var(--color-surface-level-1);
    height        : 16px;
    overflow-x    : auto;
    overflow-y    : hidden;
    padding       : 5px 12px;
}
#tableau-body > tr:last-of-type > td {
    border-bottom : none;
}
#tableau-body > tr.table-section > td {
    background  : var(--color-surface-level-3);
    border      : 8px solid var(--color-surface-level-1);
    font-size   : 14px;
    font-weight : 700;
    line-height : 20px;
    padding     : 8px 16px;
}
#tableau-body > tr.table-section:hover > td { 
    background : var(--color-surface-level-2); 
}
th.table-spacer,
td.table-spacer {
    background  : var(--color-surface-level-1);
    padding     : 0px !important;
    min-width   : 10px !important;
    width       : 10px;
}
.table-spacer:last-of-type {
    border-right : none !important;
}
th:first-child {
    left    : 0;
    z-index : 2 !important;
}



/* TABLE HEADER */
/* ----------------------------------------------------------------------------- */
.table-column-top {
    background      : var(--color-surface-level-5);
    cursor          : pointer;
    display         : flex;
    justify-content : space-between;
    height          : 46px;
}
.table-column-top.selected {
    background  : var(--color-selected);
    color       : var(--color-selected-border);
}
.table-column-top:hover {
    background : var(--color-surface-level-4);
}
.table-column-descriptor {
    line-height     : 26px;
    overflow        : hidden;
    text-overflow   : ellipsis;
    white-space     : nowrap;
}
.table-column-top.multiline {
    height : 56px;
}
.table-column-top.multiline .table-column-descriptor {
    line-height : 18px;
}
.table-column-selector .icon {
    font-weight : 200;
}
th.changed .table-column-top {
    background  : var(--color-status-red);
    color       : white;
}
.dark-theme  th.changed .table-column-toolbar { background : var(--color-status-red-bright); }
.black-theme th.changed .table-column-toolbar { background : var(--color-status-red-bright); }
.light-theme th.changed .table-column-toolbar { background : var(--color-status-red-brighter); }
.table-column-descriptor, 
.table-column-selector {
    padding : 10px;
}
.table-column .table-column-selector > .icon-check-box-checked {
    display : none;
}
.table-column.selected .table-column-selector > .icon-check-box-checked {
    display : block;
}
.table-column.selected .table-column-selector > .icon-check-box {
    display : none;
}
.table-column-toolbar {
    background      : var(--color-surface-level-4);
    border-bottom   : 1px solid var(--color-surface-level-1);
    display         : flex;
    height          : 24px;
    gap             : var(--spacer-xxs);
    padding         : 6px;
}
.table-column-toolbar > div.button {
    cursor : pointer;
    display : none;
    flex-grow : 1;
    flex-basis: 0;
    font-size : 18px;
    font-weight : 300;
    height : 18px;
    line-height : 18px;
    margin : unset;
    min-width : unset;
    padding : 2px 0px !important;
    width : unset;
}
.table-column:hover .table-column-toolbar > div {
    display : block;
}
.table-column > .table-column-toolbar > .icon-show {
    display : none !important;
}
.table-column.invisible:hover > .table-column-toolbar > .icon-show {
    display : block !important;
}
.table-column.invisible > .table-column-toolbar > .icon-hide {
    display : none !important; 
}
.selected .table-column-top,
.selected .table-column-top:hover {
    background : var(--color-selected-image);
}
.selected .table-column-toolbar,
.selected .table-column-toolbar:hover {
    background : var(--color-selected-background);
}



/* TABLE BODY */
/* ----------------------------------------------------------------------------- */
th.first-col,
td.first-col  {
    background    : var(--color-surface-level-1);
    font-weight   : bold;
    min-width     : 100px !important;
    padding-right : 20px !important;
    position      : sticky;
    left          : 0;
    z-index       : 1;
    text-align    : right;
}

#tableau .field-value {
    width : 100%;
}
#tableau select.field-value { 
    width : calc(100% - 0px);
}
#tableau input.field-value { 
    padding-top     : 6px;
    padding-bottom  : 6px;
}
#tableau .image > img {
    max-width : 240px;
}
#tableau-table,
#tableau .field-value,
#tableau .radio-option {
    font-size : 12px;
}
#tableau .radio-option > input {
    height : 14px;
    width  : 14px;
}
#tableau-table th.changed {
    background : var(--color-status-red-bright);
}
#tableau-table td.changed, 
#tableau-table td.changed > * {
    background : var(--color-status-red-bright) !important;
}
#tableau-table td.changed select {
    border-color : var(--color-status-red-bright) !important;
}
.light-theme #tableau-table th.changed {
    background : var(--color-status-red-brighter);
}
.light-theme #tableau-table td.changed, 
.light-theme #tableau-table td.changed > * {
    background : var(--color-status-red-brighter) !important;
}
.light-theme  #tableau-table td.changed select {
    border-color : var(--color-status-red-brighter) !important;
}
tr.match {
    display : none;
}
#tableau-body > tr > td.mismatch { border-left : 4px solid var(--color-status-red)          !important; }
#tableau-body > tr > td.match    { border-left : 4px solid var(--color-status-green-bright) !important; }
#tableau-body > tr > td.base     { border-left : 4px solid var(--color-gray-400)            !important; }

.table-field > .field-value > date,
.table-field > .field-value > input,
.table-field > .field-value > select,
.table-field > .field-value > textarea { 
    border-color : var(--color-gray-400);
    font-size       : 12px;
}
.field-value > textarea:disabled, .field-value > input:disabled {
    padding-right : 0px;
    padding-left  : 0px;
}
.radio-option,
.radio-label {
    top         : -3px;
    white-space : nowrap;
}
#tableau-body td.field-editable {
    padding : 0px;
}
#tableau-body td.field-editable input {
    background  : var(--color-surface-level-3);
    font-size   : 12px;
    height      : 20px;
    line-height : 20px;
    padding     : 4px 12px;
    max-height  : 20px;
    min-height  : 20px;
    max-width   : calc(100% - 24px);
    min-width   : calc(100% - 24px);
    width       : calc(100% - 24px);
}
#tableau-body .field-editable.field-type-checkbox {
    background   : var(--color-surface-level-3);
    padding-left : 9px !important;
    text-align   : left;
}
#tableau-body .field-type-checkbox .icon::before {
    font-size   : 20px;
    font-weight : 300;
}
td.field-editable .picklist-actions,
#tableau-body .field-editable > .button, .field-editable > .picklist-controls > .picklist-actions > .button {
    font-size   : 20px;
    line-height : 27px;
    max-height  : 27px;
    min-height  : 27px;
    height      : 27px;
    max-width   : 27px;
    min-width   : 27px;
    width       : 27px;
}
td.field-editable .picklist-actions {
    right : 27px;
}
#tableau-body .picklist {
    margin-top : 30px;
}


/* VISIBILITY CONTROLS */
/* ----------------------------------------------------------------------------- */
body.hidden-layer #hide-items {
    display : none;
}
body #show-items {
    display : none;
}
body.hidden-layer #show-items {
    display : block;
}
body.hidden-layer #show-hidden-layer {
    display : none;
}
#hide-hidden-layer {
    background  : var(--color-status-red);
    color       : white;
    display     : none;
}
body.hidden-layer #hide-hidden-layer {
    display : block;
}
th.invisible, td.invisible {
    display : none;
}
body.hidden-layer th.table-column,
body.hidden-layer th.table-spacer,
body.hidden-layer td {
    display : none;
}
body.hidden-layer th.first-col,
body.hidden-layer tr.table-section td, 
body.hidden-layer td.first-col,
body.hidden-layer th.invisible,
body.hidden-layer td.invisible {
    display : table-cell;
}



/* WORKFLOW ACTIONS DIALOG */
/* ----------------------------------------------------------------------------- */
#transitions .dialog-content {
    display : flex;
    gap     : 40px;
}
.col-left {
    width : 250px;
}
.col-right {
    width : calc(100% - 250px);
}
.col-header {
    margin-bottom : 16px;
}
#transitions-comment {
    background  : var(--color-surface-level-2);
    border      : none;
    height      : calc(100% - 24px);
    padding     : 8px 16px;
    width       : calc(100% - 32px);
}
#transitions-list {
    flex-grow   : 1;
    height      : 370px;
}
#transitions-list > div {
    background      : var(--color-surface-level-2);
    display         : flex;
    justify-content : space-between;
    padding         : 8px 12px 8px 24px;
    line-height     : 38px;
    margin-bottom   : 8px;
}
#transitions-list > div > div {
    display : flex;
    gap     : var(--spacer-m);
}
.transition-actions > *:first-child {
    min-width  : 220px;
    max-width  : 220px;
    text-align : center;
}
select.select-transition {
    height          : 38px;
    overflow        : hidden;
    text-align      : left;
    text-overflow   : ellipsis;
    white-space     : nowrap;
}


/* SUMMARY */
/* ----------------------------------------------------------------------------- */
#summary { display : block; }
#summary-descriptor {
    height      : 38px;
    line-height : 38px;
}
#summary-header  { padding-right : 24px; }
#summary-content { border-width  : 24px; }