/*  ADDITIONS */
/* ----------------------------------------------------------------------------- */
.dashboard {
    padding : 10px 30px 30px;
}
.report.chart {
    width: calc(33% - 78px);
}

/*  DIALOG */
/* ----------------------------------------------------------------------------- */
.dialog {
    top     : 120px;
    right   : 180px;
    bottom  : 120px;
    left    : 180px;
}
.button.clear {
    float : left;
    margin-left : 0px;
}