:root {

    --width-requests         : 650px;
    --padding-landing-top    : 24px;
    --padding-landing-side   : 40px;
    --padding-landing-bottom : 16px;
    --width-bom              : 550px;
    --width-details          : 350px;
    --width-panel            : 560px;
    --height-attachments     : 176px;
    --width-request-history  : 300px;
    --width-request-details  : 500px;
    --padding-panel          :  32px;

}
.screen { display : none; }
#panel .icon::before { font-weight : 200; }


/* MASTER LAYOUT */
/* ----------------------------------------------------------------------------- */
#products {
    border-width : var(--padding-landing-top) var(--padding-landing-side) var(--padding-landing-bottom);
    top          : 0px;
    right        : calc(var(--width-requests) + (2 * var(--padding-landing-side)));
    bottom       : 0px;
    left         : 0px;
}
#requests {
    border-width : var(--padding-landing-top) var(--padding-landing-side) var(--padding-landing-bottom);
    top          : 0px;
    right        : 0px;
    bottom       : 0px;
    width        : var(--width-requests);
}

#item {
    border-width : var(--padding-panel);
}
#request-workflow-history {
    top     : 0px;
    bottom  : 0px;
    left    : 0px;
    width   : var(--width-request-history);
}
#request-details {
    top     : 0px;
    bottom  : 0px;
    left    : calc(var(--width-request-history) + (2 * var(--item-content-border-h)) + var(--item-content-gap));
    width   : var(--width-request-details);
}
#request-grid {
    top     : 0px;
    right   : 0px;
    bottom  : calc(var(--height-attachments) + (2 * var(--item-content-border-v)) + var(--item-content-gap));
    left    : calc(var(--width-request-history) + var(--width-request-details) + (4 * var(--item-content-border-h)) + (2 * var(--item-content-gap)));
}
#request-attachments {
    bottom  : 0px;
    right   : 0px;
    left    : calc(var(--width-request-history) + var(--width-request-details) + (4 * var(--item-content-border-h)) + (2 * var(--item-content-gap)));
    height  : var(--height-attachments);
}

#bom, .viewer, #panel, #details {
    top     : 0px;
    bottom  : 0px;
}
#bom {
    border-width : var(--padding-panel);
    left         : 0px;
    width        : var(--width-bom);
}
.viewer {
    bottom : calc(var(--height-attachments) + (2 * var(--padding-panel)));
}
.viewer,
#attachments {
    right  :  calc(var(--width-panel) + var(--width-details) + (4 * var(--padding-panel)));
    left   :  calc(var(--width-bom)   + (2 * var(--padding-panel)));
}
#attachments {
    border-width : var(--padding-panel);
    bottom       : 0px;
    height       : var(--height-attachments);
}
#panel {
    border-width : var(--padding-panel) 0px var(--padding-panel) var(--padding-panel);
    right        : calc(var(--width-details) + (2 * var(--padding-panel)));;
    width        : var(--width-panel);
}
#details {
    border-width : var(--padding-panel);
    right        : 0px;
    width        : var(--width-details); 
    z-index      : 4;
}

.screen-landing #landing { display : block; }
.screen-landing #header-subtitle,
.screen-landing #header-toolbar .button { display : none; }
.screen-main     #main { display : block; }

.no-panel.no-details .viewer,
.no-panel.no-details #attachments      { right : 0px !important; }
.no-panel #details          { right : 0px; } 
.no-panel #panel            { right : calc(0px - var(--width-panel) - (2 * var(--padding-panel))) !important; }

.no-panel .viewer,
.no-panel #attachments { right  :  calc(var(--width-details) + (2 * var(--padding-panel))); }

.no-details .viewer,
.no-details #attachments { right  :  calc(var(--width-panel) + (2 * var(--padding-panel))); }
.no-details #panel { right : 0px; border-width : var(--padding-panel); }
.no-details #details { right : calc(0px - var(--width-details) - (2 * var(--padding-panel))); }

.no-bom #bom         { left : calc(0px - var(--width-bom) - (2 * var(--padding-panel))); }
.no-bom .viewer      { left : 0px; }
.no-bom #attachments { left : 0px; }

.no-attachments .viewer      { bottom : 0px; }
.no-attachments #attachments { bottom : calc(2 * var(--height-attachments) * -1); }



/* REQUEST DETAILS */
/* ----------------------------------------------------------------------------- */
#request-details .section-fields .field {
    padding : 0px 0px;
}
#request-details .section-fields .field-label {
    padding-right : 10px;
}



/* BOM */
/* ----------------------------------------------------------------------------- */
.spare-part-custom .bom-column-icon { 
    color : var(--color-blue-500);
 }
.bom-column-spare-parts {
    padding-right : 6px !important;
}



/* ATTACHMENTS */
/* ----------------------------------------------------------------------------- */
#attachments {
    text-align : center;
}
#attachments-content {
    justify-content: center;
}



/* SPARE PARTS LIST */
/* ----------------------------------------------------------------------------- */
#tabs {
    position    : absolute;
    top         : 0px;
    right       : 0px;
    left        : 0px;
}
#items-toolbar {
    padding : 10px;
    top     : 0px;
    right   : 0px;
    bottom  : unset;
}
#spare-parts-search-input {
    width : 60px;
}
#items-content { 
    position        : absolute;
    top             : 58px;
    right           : 0px;
    bottom          : 0px;
    left            : 0px;
}
.custom-message {
    display         : none;
    border-radius   : 8px;
    margin-bottom   : 10px;
    padding         : 16px 24px;
}
.custom-message-text {
    margin-bottom : 10px;
}
#items-content.tiles.list.l .tile-details {
    gap          : var(--spacer-xxs);
    margin-top   : 10px;
    margin-right : 0px;
    /* width   : 270px */
}
.spare-part-identifier {
    display : flex;
    gap     : 12px;
}
.spare-part-quantity {
    background  : black;
    color       : white;
    font-size   : 12px;
    height      : 22px;
    line-height : 22px;
    margin      : 2px 0px;
    text-align  : center;
    width       : 42px;
}
.spare-part-number {
    line-height : 26px !important
}
.spare-part-data {
    flex-direction : row;
    gap : 8px;
}
.spare-part-material,
.spare-part-dimensions {
    display : flex;
    gap     : 4px;
}
.spare-part-side {
    display         : flex;
    flex-direction  : column;
    gap             : 2px;
    padding         : 12px 12px 0px 0px;
    width           : 130px;
}
.spare-part-side .button {
    gap         : 4px;
    height      : 18px;
    line-height : 18px;
}
.spare-part-side .icon {
    font-size : 18px;
}
.spare-part-stock {
    display     : flex;
    font-size   : 12px;
    gap         : 6px;
    line-height : 14px;
    padding     : 6px;
    text-align  : center;
}
.spare-part-stock-icon {
    border-radius   : 50%;
    height          : 14px;
    width           : 14px;
}
.spare-part.spare-part-stock-normal .spare-part-stock-icon { background : var(--color-status-green ); }
.spare-part.spare-part-stock-low    .spare-part-stock-icon { background : var(--color-status-yellow); }
.spare-part.spare-part-stock-none   .spare-part-stock-icon { background : var(--color-status-red   ); }
.spare-part.spare-part-stock-custom .spare-part-stock-icon { background : var(--color-blue-500     ); }

/* Adjustments for lists with 15+ entries */
#items-content.m .spare-part-details {
    gap          : 2px;
    margin-top   : 10px;
    margin-right : 0px;
}
#items-content.m .spare-part-data {
    display : none;
}
#items-content.m .spare-part-side {
    flex-direction : row;
    gap            : 8px;
    width          : 160px;
}
#items-content.m .cart-add { 
    min-width   : 24px;
    width       : 24px;
    padding     : 8px;
    text-align  : center;
    display     : block;

}
#items-content.m .cart-add > div:nth-child(2) { 
    display : none;
}
#items-content.m .spare-part-stock {
    padding : 12px 6px;
}

#items-content .cart-quantity,
#items-content .cart-remove { display : none; }
#cart-list .cart-add,
#request-list .cart-add { display : none; }
#cart-list .spare-part-stock { 
    min-width : unset !important;
    max-width : 14px;
 }



/* CART */
/* ----------------------------------------------------------------------------- */
#cart {
    display     : none;
    font-size   : 16px;
    padding     : 20px 30px 20px 30px;
    position    : absolute;
    top         : 0px;
    right       : 0px;
    left        : 0px;
    height      : 400px;
}
#cart.collapsed #cart-list {
    display : none;
}
#cart-header {
    display         : flex;
    justify-content : space-between;
}
#cart-title {
    cursor      : pointer;
    font-size   : 18px;
    font-weight : 800;
    line-height : 38px;
}
#cart-title::before {
    content : '\e5cf';
}
#cart.collapsed #cart-title::before {
    content : '\e5cc';
}
#cart-toolbar {
    display : flex;
    gap     : 6px;
}
#filter-cart,
#clear-cart {
    background : var(--color-surface-level-1) !important;
}
#cart-counter {
    background      : var(--color-status-red);
    border-radius   : 50%;
    color           : white;
    display         : none;
    font-size       : 12px;
    font-weight     : 600;
    height          : 24px;
    line-height     : 24px;
    text-align      : center;
    position        : absolute;
    top             : 10px;
    right           : 20px;
    width           : 24px;
}
#cart-list {
    position    : absolute;
    top         : 80px;
    left        : 30px;
    right       : 30px;
}
#cart-list .tile-details {
    margin   : 12px 0px;
    overflow : hidden;
    width    : 260px;
}
.cart-quantity {
    display : flex;
}
.cart-quantity-label {
    font-size: 14px;
    margin-right : 10px;
}
.cart-quantity-input { 
    background           : var(--color-surface-level-2);
    border              : 1px solid var(--color-surface-level-2);
    border-bottom-color : var(--color-surface-level-5);
    height              : 40px;
    line-height         : 40px;
    padding             : 0px;
    text-align          : center;
    width               : 40px;
}
.cart-add {
    display : flex;
}
#cart-list .spare-part-side {
    flex-direction : row;
    width          : 162px;
}
#cart-list .spare-part-stock-icon {
    margin-top : 8px;
}
#cart-list .spare-part-stock-label {
    display : none;
}
#cart,
#cart-list,
#tabs,
.tab-group-main,
#items-toolbar,
#items-content {
    transition  : all ease 0.3s;
}



/* REQUEST CREATON DIALOG */
/* ----------------------------------------------------------------------------- */
#request-creation {
    height  : 760px;
    top     : calc(50% - 400px);
    left    : calc(50% - 800px);
    width   : 1600px;
}
#request-creation .dialog-header { 
    padding-left : 56px; 
}
#request-creation .dialog-content {
    display         : flex;
    gap             : 40px;
    overflow        : hidden;
    padding-bottom  : 0px;
}
.col-header {
    border-bottom   : 2px solid var(--color-surface-level-5);
    padding         : 0px 0px 8px 16px;
    font-weight     : 700;
    font-size       : 16px;
}
.col-left {
    width : 580px;
}
.col-right {
    width : calc(100% - 580px);
}
#contact-details .field {
    display         : flex;
    margin-bottom   : 8px;
}
#contact-details .field-label {
    font-weight : normal;
    min-width   : 100px;
    padding-top : 8px;
    width       : 100px;
}
#contact-details .field input {
    background      : var(--color-surface-level-2);
    border-color    : var(--color-surface-level-5);
    font-size       : 14px;
    max-width       : calc(100% - 108px);
    padding         : 8px 16px;
}
.col-left textarea {
    background  : var(--color-surface-level-2);
    padding     : 10px 20px;
    resize      : none;
    width       : calc(100% - 40px);
}
#contact-details {
    margin : 24px 0px 36px;
}
#contact-comments {
    display : flex;
    gap : 20px;
}
#contact-comments > div {
    flex-grow : 1;
}
#request-shipping-address { height : 116px; }
#reqeust-comments         { height : 116px; }
#request-list {
    display         : flex;
    flex-direction  : column;
    overflow-y      : auto;
    gap             : 2px;
    overflow-y      : auto;
    position        : absolute;
    top             : 68px;
    right           : 40px;
    bottom          : 0px;
    left            : 646px;
}
#request-list > div {
    background      : var(--color-surface-level-3);
    display         : flex;
    height          : 60px;
    line-height     : 28px;
    min-height      : 60px;
}
#request-list .spare-part .tile-details {
    flex-direction  : row;
    gap             : 20px;
    line-height     : 30px;
    margin          : 10px 20px;
    width           : calc(100% - 366px);
}
#request-list .spare-part-quantity,
#request-list .spare-part-number,
#request-list .spare-part-title,
#request-list .spare-part-material,
#request-list .spare-part-dimensions {
    line-height : 40px !important;
    padding     : 0px;
}
#request-list .spare-part-quantity {
    height : 40px;
}
#request-list .spare-part-details *::before {
    line-height : 38px;
}
#request-list .spare-part-side {
    flex-direction  : row;
    gap             : 10px;
    padding         : 9px 20px;
    width           : 260px;
}
#cart .spare-part-side > div,
#request-list .spare-part-side > div {
    line-height : 40px;
    height      : 40px;
    min-width   : 40px;
}
#cart-list .icon-cart-remove,
#request-list .icon-cart-remove {
    height : 39px !important;
}
#request-list .spare-part-stock {
    padding : 0px 6px;
}
#request-list .spare-part-stock-icon {
    margin-top : 12px;
}



/* PROCESSES */
/* ----------------------------------------------------------------------------- */
/* #processes-header { border : none; }
.process-workspace {
    height : 18px;
}
.process-descriptor {
    font-size: 16px;
    font-weight: bold;
    height : 24px;
    margin: 2px 0px;
}
.process-footer {
    display : flex;
    line-height : 22px;
    margin-top : 4px;
}
.process-priority {
    height : 22px;
    margin-left : 10px;
    min-width : 25px;
}
.process-status {
    height : 22px;
    min-width : 120px;
}
#processes-sections select,
#processes-sections textarea,
#processes-sections input {
    background : var(--color-surface-level-2);
} */
#processes-actions { justify-content: end; }
#processes-reload { order : 10; }

/* 
.process.animation .tile-image,
.process.animation .tile-title,
.process.animation .tile-subtitle,
.process.animation .process-description,
.process.animation .process-priority,
.process.animation .process-status {
    background: linear-gradient(270deg, var(--color-gray-300) 40%, var(--color-gray-200) 50%, var(--color-gray-300) 60%);
    background-size: 200% 200%;
    -webkit-animation: AnimationName 1s ease infinite;
    -moz-animation: AnimationName 1s ease infinite;
    animation: AnimationName 1s ease infinite;
}
@-webkit-keyframes AnimationName {
    1000%{background-position:0% 50%}
    0%{background-position:100% 50%}
}
@-moz-keyframes AnimationName {
    100%{background-position:0% 50%}
    0%{background-position:100% 50%}
}
@keyframes AnimationName { 
    100%{background-position:0% 50%}
    0%{background-position:100% 50%}
}
#processes {
    overflow : hidden;
}
#processes-toolbar {
    /* display : flex; */
    /* margin  : 10px; */
    /* gap     : 10px; */
    /* justify-content : flex-end; */
/* }
#processes-sections {
    display     : none;
    overflow-y  : auto;
    position    : absolute;
    top         : 64px;
    right       : 0px;
    bottom      : 0px;
    left        : 0px;
}
.process-dialog { display : none; } */ 



/* Responsive Layout */
@media (max-width : 1900px)  {

    #header-toolbar .button.with-icon {
        min-width : unset;
        max-width : 22px;
        overflow : hidden;
    }

    #header-toolbar .button.with-icon::before {
        margin-right : 20px;
    }

}