/* OVERRIDES */
/* ----------------------------------------------------------------------------- */
.content-item > td { padding : 3px 3px; }
th.bom-first-col { z-index : 6 !important; }
.bom-first-col { left : 0; }
.content-item:hover td { background : var(--color-hover-border) !important; border-color : transparent !important; }


:root {
    --padding-v         : 24px;
    --padding-h         : 36px;
    --height-viewer     : 400px;
    --width-summary     : 550px;
    --width-bom-spacer  : 12px;
    --width-viewer      : 600px;
}


/* MASTER LAYOUT */
/* ----------------------------------------------------------------------------- */
.viewer { 
    top     : 0px;
    right   : 0px;
    left    : 0px;
    height  : var(--height-viewer);
}
#bom {
    border-width : var(--padding-v) var(--padding-h);
    top          : var(--height-viewer);
    right        : 0px;
    bottom       : 0px;
    left         : 0px;
}
#item {
    border-width : var(--padding-v) var(--padding-h) var(--padding-h) var(--padding-h);
    top          : 0px;
    right        : calc(0px - (2 * var(--padding-h)) - var(--width-summary) - 10px);
    bottom       : 0px;
    width        : var(--width-summary);
}
#selector {
    right : calc(50% - 600px);
    left  : calc(50% - 600px);
}


.with-summary .viewer,
.with-summary #bom  { right : calc((2 * var(--padding-h)) + var(--width-summary)); }
.with-summary #item { right : 0px; }

.viewer-left .viewer { bottom : 0px; width : var(--width-viewer); height : unset; }
.viewer-left #bom    { top    : 0px; left  : var(--width-viewer); }

.viewer-off .viewer { left : calc(0px - var(--width-viewer)); height : unset; }
.viewer-off #bom    { top  : 0px; }



/* BOM */
/* ----------------------------------------------------------------------------- */
#bom-table {
    width : auto;
}
#bom-table .sticky {
    position: sticky;
    left: 0;
    z-index : 5;
}
#bom-table th {
    padding : 6px 6px;
}
#bom-table th,
#bom-table td {
    font-size   : 12px;
    white-space : nowrap;
}
.top-left-table-cell {
    background  : var(--color-surface-level-1) !important;
    left        : 0;
    z-index     : 6 !important;
}
.variant-head:hover {
    background : var(--color-hover-border);
}
.variant-spacer {
    background  : var(--color-surface-level-1) !important;
    padding     : 0px !important;
    max-width   : var(--width-bom-spacer);
    min-width   : var(--width-bom-spacer);
    width       : var(--width-bom-spacer);
}
.variant-column {
    background : var(--color-gray-300);
}
.variant-column, .variant-label, .variant-item {
    border-right : 2px solid transparent !important;
}
.variant-item {
    cursor : pointer;
}
.variant-item.new {
    cursor : default;
}

th.variant-head { 
    background  : var(--color-dark);
    color       : white;
    cursor      : pointer;
    text-align  : center;
}
th.variant-item { cursor : pointer; }
td.variant-item { font-size : 12px; }
td.variant-item.status-icon { 
    color       : var(--color-font);
    display     : table-cell; 
    font-size   : 16px !important;
    text-align  : center; 
}

td.variant-item.status-new       { color      : var(--color-status-red);                     }
td.variant-item.status-match     { background : var(--color-status-green)        !important; }
td.variant-item.status-missing   { background : var(--color-status-red)          !important; }
td.variant-item.status-changed   { background : var(--color-status-yellow)       !important; }
td.variant-item.status-replaced  { background : var(--color-status-yellow)       !important; }
td.variant-item.status-update    { background : var(--color-status-yellow)       !important; }
td.variant-item.processing-item  { color      : var(--color-selected-background) !important; }


td.variant-item.change-bom,
td.variant-item.change-properties,
td.variant-item.change-item {
    background : var(--color-status-yellow-bright) !important;
}


#bom-table input {
    background  : var(--color-surface-level-2);
    border      : none;
    font-size   : 12px;
    max-width   : 100px !important;
    min-width   : 60px;
    padding     : 4px;
    width       : calc(100% - 8px);
}
#bom-table select {
    background  : var(--color-surface-level-2);
    border      : none;
    font-size   : 12px;
    max-width   : 100px !important;
    min-width   : 60px;
    padding     : 3px;
    width       : 100%;
}


/* SELECTOR */
/* ----------------------------------------------------------------------------- */
#selector-table th {
    padding : 6px 3px;
}

/* CREATE VARIANT DIALOG */
/* ----------------------------------------------------------------------------- */
#create {
    top    : calc(50% - 200px);
    bottom : calc(50% - 200px);
}