/* ADDITIONS */
/* ----------------------------------------------------------------------------- */
.viewcubeWrapper { display : none !important; }


:root {
    --width-viewer      : 600px;
    --width-bom         : 500px;
    --width-panel       : 500px;
    --width-item-variants : 400px;
    --padding-panel     : 25px;
    --width-bom-spacer  : 6px;
}


/* MASTER LAYOUT */
/* ----------------------------------------------------------------------------- */
#viewer { 
    top     : var(--padding-panel);
    bottom  : 0px;
    left    : var(--padding-panel);
    width   : var(--width-viewer);
}
#bom {
    top     : var(--padding-panel);
    right   : var(--padding-panel);
    bottom  : var(--padding-panel);
    left    : calc(var(--width-viewer) + var(--padding-panel));
}
#details {
    border-width : var(--padding-panel);
    top          : 0px;
    right        : calc(0px - (2 * var(--padding-panel)) - var(--width-panel) - 10px);
    bottom       : 0px;
    width        : var(--width-panel);
}
#item-variants {
    border-width : var(--padding-panel);
    top          : 0px;
    right        : calc(0px - (2 * var(--padding-panel)) - var(--width-panel) - 10px);
    bottom       : 0px;
    width        : var(--width-item-variants);
}


#main.no-viewer #viewer { left : calc(0px - var(--width-viewer)); }
#main.no-viewer #bom  { left : var(--padding-panel); }

#main.large-viewer #viewer  { width : 50%; }
#main.large-viewer #bom  { left : calc(50% + var(--padding-panel)); }

#main.wide-viewer #viewer  { 
    bottom : unset;
    height : 415px;
    right  : var(--padding-panel);
    width  : auto; 
}
#main.wide-viewer #bom  {
    top     : calc(440px + var(--padding-panel));
    left    : var(--padding-panel); 
}


/* #main.with-details.wide-viewer #viewer { right : calc(var(--width-panel) + (3 * var(--padding-panel))); }
#main.with-details #bom { right : calc(var(--width-panel) + (3 * var(--padding-panel))); }
#main.with-details #details { right : 0px; } */


#main.with-create.wide-viewer #viewer,
#main.with-details.wide-viewer #viewer,
#main.with-item-variants.wide-viewer #viewer,
#main.with-create #bom,
#main.with-details #bom,
#main.with-item-variants #bom { right : calc(var(--width-panel) + (3 * var(--padding-panel))); }
#main.with-details #details, 
#main.with-create #create { right : 0px; }

#main.with-item-variants #item-variants  { right : var(--padding-panel); }




/* .variant-filter.field-value {
    background : var(--color-gray-100);
} */
.field-value > textarea,
.field-value > select,
.field-value > input {
    border-bottom: 1px solid var(--color-gray-300);
}
tr.selected > .variant-spacer { background: var(--color-selected) !important; }

/* BOM */
/* ----------------------------------------------------------------------------- */
#bom-table {
    width : auto;
}
#bom-table .sticky {
    position: sticky;
    left: 0;
    z-index : 5;
}
#bom-table td {
    white-space : nowrap;
}
.variant-spacer {
    background  : var(--color-surface-level-1) !important;
    width       : var(--width-bom-spacer);
}
.variant-column {
    background : var(--color-gray-300);
}
.variant-column, .variant-label, .variant-item {
    border-right : 2px solid transparent !important;
}
.variant-item {
    cursor : pointer;
}
.variant-item.new {
    cursor : default;
}
.bom-tree-color { display : inline-block; height : 16px; width :  16px; border-radius : 50%; top : 4px; position: relative; line-height : 12px; }
tr.complete .bom-tree-color { background : var(--color-status-green); }
tr.existing .bom-tree-color { background : var(--color-status-yellow); }
tr.missing  .bom-tree-color { background : var(--color-status-red); }

th.variant-head { 
    /* background : black; */
    /* border-bottom : 1px solid white; */
    background  : var(--color-dark);
    color       : white;
    cursor      : pointer;
    text-align  : center;
}
th.variant-item { cursor : pointer;}
td.variant-item.status-icon { color: white; display : table-cell; text-align : center; font-size: 16px !important; }
td.variant-item.status-identical { color : var(--color-font); }
td.variant-item.status-match     { background : var(--color-status-green-bright) !important; }
td.variant-item.status-missing   { background : var(--color-status-red-bright) !important; }
td.variant-item.processing-item {
    background : var(--color-selected) !important;
}

/* td.variant-item.new-item, */
/* td.variant-item.changed-item, */
/* td.variant-item.replaced-item, */
td.variant-item.change-bom,
td.variant-item.change-properties,
td.variant-item.change-item {
    background : var(--color-status-yellow-bright) !important;
}

#bom-table select {
    /* border: 1px solid #808080; */
    background : var(--color-surface-level-2);
    font-size: 12px;
    min-width : 100px;
    padding: 4px;
    width: 100%;
}
#bom-table input {
    /* background : white; */
    /* border : 1px solid #808080; */
    background : var(--color-surface-level-2);
    font-size: 12px;
    min-width : 100px;
    padding: 5px;
    width: calc(100% - 12px);
}


/* LIST OF ITEM VARIANTS */
/* ----------------------------------------------------------------------------- */
#item-variants-text,
#item-variants-title {
    overflow: hidden;
    padding : 16px;
    white-space: nowrap;
}
#item-variants-title {
    font-weight : 700;
    top : 74px;
}
#item-variants-list-parent {
    top : 130px;
}
#item-variants-list .tile table {
    width : auto;
}
#item-variants-list td {
    border : none;
    padding : 2px 0px;
}
.tile-key-label {
    padding-right : 10px !important;
}
#item-variants-list .tile,
#item-variants-list .tile-image {
    height : auto;
}
#item-variants-list .tile-image > span {
    line-height : initial;
}