/* OVERRIDES */
/* ----------------------------------------------------------------------------- */
.content-item > td { padding : 3px 3px; }
th.bom-first-col { z-index : 6 !important; }
.bom-first-col { left : 0; }
.panel-content.xs thead th { height: 26px; line-height: 26px; padding: 0px 4px; }
.surface-level-1 > table > tbody > tr > td.field-editable { border-left : 1px solid var(--color-surface-level-1); }
td > .picklist-controls > .picklist { min-width: 320px; }


:root {
    --padding-v         : 24px;
    --padding-h         : 36px;
    --height-viewer     : 400px;
    --height-row        : 26px;
    --width-summary     : 550px;
    --width-bom-spacer  : 12px;
    --width-viewer      : 600px;
}


/* MASTER LAYOUT */
/* ----------------------------------------------------------------------------- */
.viewer { 
    top     : 0px;
    right   : 0px;
    left    : 0px;
    height  : var(--height-viewer);
}
#bom {
    border-width : var(--padding-v) var(--padding-h);
    top          : var(--height-viewer);
    right        : 0px;
    bottom       : 0px;
    left         : 0px;
}
#item {
    border-width : var(--padding-v) var(--padding-h) var(--padding-h) var(--padding-h);
    top          : 0px;
    right        : calc(0px - (2 * var(--padding-h)) - var(--width-summary) - 10px);
    bottom       : 0px;
    width        : var(--width-summary);
}
#selector {
    right : calc(50% - 600px);
    left  : calc(50% - 600px);
}


.with-summary .viewer,
.with-summary #bom  { right : calc((2 * var(--padding-h)) + var(--width-summary)); }
.with-summary #item { right : 0px; }

.viewer-left .viewer { bottom : 0px; width : var(--width-viewer); height : unset; }
.viewer-left #bom    { top    : 0px; left  : var(--width-viewer); }

.viewer-off .viewer { left : calc(0px - var(--width-viewer)); height : unset; }
.viewer-off #bom    { top  : 0px; }



/* BOM */
/* ----------------------------------------------------------------------------- */
#bom-table {
    width : auto;
}
#bom-table .sticky {
    position: sticky;
    left: 0;
    z-index : 5;
}
#bom-table th,
#bom-table td {
    padding     : 0px 4px;
    white-space : nowrap;
}
.top-left-table-cell {
    background  : var(--color-surface-level-1) !important;
    left        : 0;
    z-index     : 6 !important;
}

#table-head-row-titles th {
    top : 26px;
}

.surface-level-1 > .bom-table th.variant-spacer,
.surface-level-1 > .bom-table td.variant-spacer {
    background  : var(--color-surface-level-1);
}
td.variant-spacer {
    background  : var(--color-surface-level-1);
    padding     : 0px !important;
    max-width   : var(--width-bom-spacer);
    min-width   : var(--width-bom-spacer);
    width       : var(--width-bom-spacer);
}

.surface-level-1 > .bom-table th.variant-head { 
    background  : var(--color-surface-level-4);
    color       : white;
    cursor      : pointer;
    text-align  : center;
}
.surface-level-1 > .bom-table th.variant-head:hover {
    background  : var(--color-surface-level-5);
}

.variant-column {
    background : var(--color-gray-300);
}
.variant-column, .variant-label, .variant-item {
    border-right : 2px solid transparent !important;
}
.variant-item {
    cursor : pointer;
}
.variant-item.new {
    cursor : default;
}

tr.content-item > td {
    padding : 0px 4px;
}
tr.content-item > td,
td.field-editable input,
td.field-editable .picklist-actions,
td.field-editable .picklist-actions > div {
    max-height  : var(--height-row) !important;
    min-height  : var(--height-row)  !important;
    height      : var(--height-row)  !important;
    line-height : var(--height-row)  !important;

}
td.field-editable .picklist-actions {
    display: none !important;
}

th.bom-color,
td.bom-color { display : none; }

.content-item:hover td.bom-color, 
.content-item:hover td.bom-first-col, 
.content-item:hover td.bom-column-quantity,
.content-item:hover td.field-value,
.content-item:hover td.variant-item {
    background   : var(--color-hover-border) !important; 
    border-color : transparent !important; 
}
.content-item:hover td.variant-spacer {
    background   : var(--color-hover-border) !important; 
    border-color : var(--color-hover-border) !important; 
}

tr.selected > td.bbom-color,
tr.selected > td.bom-first-col,
tr.selected > td.bom-column-quantity {
    background : var(--color-selected-background) !important;
}

th.variant-item { cursor : pointer; }
td.variant-item { font-size : 12px; }
td.variant-item.status-icon { 
    color       : var(--color-font);
    display     : table-cell; 
    font-size   : 16px !important;
    text-align  : center; 
}

td.variant-item.status-new       { color      : var(--color-status-red);                     }
td.variant-item.status-match     { background : var(--color-status-green)        !important; }
td.variant-item.status-missing   { background : var(--color-status-red)          !important; }
td.variant-item.status-changed   { background : var(--color-status-yellow)       !important; }
td.variant-item.status-replaced  { background : var(--color-status-yellow)       !important; }
td.variant-item.status-update    { background : var(--color-status-yellow)       !important; }
td.variant-item.processing-item  { color      : var(--color-selected-background) !important; }

td.variant-item.change-bom,
td.variant-item.change-properties,
td.variant-item.change-item {
    background : var(--color-status-yellow-bright) !important;
}
tr.content-item.selected > td {
    border-color : var(--color-selected-background);
}
tr.content-item.selected > td.variant-spacer {
    background : var(--color-selected-background);
}


#bom-table input {
    background  : var(--color-surface-level-2);
    border      : none;
    font-size   : 12px;
    max-width   : 100px !important;
    min-width   : 60px;
    padding     : 0px 4px;
    width       : calc(100% - 8px);
}
#bom-table select {
    background  : var(--color-surface-level-2);
    border      : none;
    font-size   : 12px;
    max-width   : 100px !important;
    min-width   : 60px;
    padding     : 3px;
    width       : 100%;
}

.picklist { 
    margin-top : calc(var(--height-row) + 2px); 
}


/* SELECTOR */
/* ----------------------------------------------------------------------------- */
#selector-table th {
    padding : 6px 3px;
}

/* CREATE VARIANT DIALOG */
/* ----------------------------------------------------------------------------- */
#create {
    top    : calc(50% - 200px);
    bottom : calc(50% - 200px);
}