/*  Insert your custom CSS settings here to override the standard styling        */
/* ----------------------------------------------------------------------------- */
#header.dark,
#/*header.dark #header-toolbar {
    background : red;
}
#header.dark #header-logo {
    background-image: url(https://th.bing.com/th/id/OIP.qZA7x3i21KVgI8uCsGOmIwHaHa?rs=1&pid=ImgDetMain);
    background-size : 42px;
    height : 32px;
    width : 40px;
}
#header-title {
    margin-left : 20px;
}*/