/*  Insert your custom CSS settings here to override the standard styling        */
/* ----------------------------------------------------------------------------- */
/* #header.dark,
#header.dark #header-toolbar {
    background : red;
}
#header.dark #header-logo {
    background-image: url(https://www.autodesk.com/logo.png);
    background-size : 138px;
    left : 18px;
    top : 20px;
    width : 138px;
}
#header-title {
    margin-left : 140px;
}*/