/*  ATTACHMENTS */
/* ----------------------------------------------------------------------------- */
.attachment {
    border-bottom : 1px solid var(--color-gray-100) !important;
    cursor : pointer;
    padding : 8px 20px 8px 10px;
}
.attachment:last-of-type { border-bottom : none !important; }
.attachment:hover {
    background-color : var(--color-hover) !important;
}
.attachment-graphic { 
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 64px;
}
.attachment-graphic > img { 
    height : 80%;
    object-fit: contain;
    width : 80%;
}
.attachment-details {
    width : calc(100% - 64px);
}
.attachment-name {
    font-weight : 800;
    line-height : 22px;
}
.attachment-user, 
.attachment-date {
    font-size: 12px;
    line-height: 16px;
}
#frame-download {
    display : none;
}


/*  WORKFLOW */
/* ----------------------------------------------------------------------------- */
.workflowh-history-event {
    border-bottom : none;
    border-left : 2px solid var(--color-gray-300);
    margin-bottom : -4px;
    margin-left : 24px;
    padding-bottom : 24px;
    padding-left : 14px;
}
.workflow-history-action {
    color : var(--color-blue-500);
    display : flex;
    font-weight : 800;
    gap : 4px;
    line-height : 24px;
    margin : 3px 0px 1px;
    position : relative;
    left : -27px;
}
.workflow-history-action-icon::before {
    background : white;
}
.workflow-history-comment {
    margin-bottom : 8px;
}
.workflow-history-date::before, 
.workflow-history-user::before {
    font: normal normal normal 14px/1 'Material Symbols Sharp';
    font-variation-settings: 'FILL' 1, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}
.workflow-history-date::before {
    content: '\ebcc';
    font-size : 14px;
    margin-right : 8px;
    position: relative;
    top : 2px;  
}
.workflow-history-user::before {
    content: '\e851';
    margin-left : 0px;
    font-size : 14px;
    margin-right : 8px;
    position: relative;
    top : 2px;  
}
.workflow-next {
    background : #eee;
    border: none;
    padding: 20px;
    border-radius: 4px;
    margin: 0px 0px 20px 0px;
}
.workflow-next-title {
    font-weight : bold;
    margin-bottom : 10px;
}