.tile(data-name='Class Browser')
    .tile-image(style="background: url('images/app-class-browser.png') no-repeat;background-size:contain;")
    .tile-details
        .tile-title Classification Browser
        .tile-subtitle Engineers can use classification data to easily browse for similar components or browse contents of all classes in easy manner. This helps increasing reuse of existing items and thus reducing development efforts.
        .tile-access 
            .tile-endpoint /classes
            .tile-button.button.default(href="classes" target="_blank") Open
    .instructions
        h1 Features
        p You can use this solution with any workspace that has the 
            strong Classification 
            |section enabled. When opened as standalone application, users can browse the classification tree and search within the classes. On the other hand, when the Chrome Extensions are installed, users can also open the browser from an item that has been classified and see all items that share the same class as the source item.
        h1 Prerequisites 
        p The browser can be used as standalone application without any further setup. Once the Chrome Extensions are installed, the browser also is automatically preconfigured to be launched from the Items workspace. Only if the browser also should be accessible from other workspaces, you will have to add the given button for your workspace using the settings file.
        p In such cases, locate the workspaces definition of 
            span.code exports.chrome
            |. Ensure that your workspace ID is listed and correct. Validate that the configuration of the 
            strong Class Browser 
            |button in 
            span.code buttons 
            |has the given workspace name in the list of workspaces.
        img(src='images/apps/class-browser-1.png' style='width:100%;max-width:938px;margin:10px 0px;')
    .log 
        h1 Class Browser Change Log 
        table 
            tr 
                td 28. November 2025
                td Enhancement
                td Enable Class Browser as standalone solution
            tr 
                td 
                td Enhancement
                td Reduce implementation efforts and increase flexibility by supporting the Chrome Extension
            tr 
                td 7. July 2023
                td Enhancement
                td New default tenant now contains required fields of this extension to reduce implementation efforts and provide value for all users