.tile(data-name='Variant Manager')
    .tile-image(style="background: url('images/app-variant-manager.png') no-repeat;background-size:contain;")
    .tile-details
        .tile-title Variants BOM Manager
        .tile-subtitle Engineers and Product Managers can define variants of an existing product design. This helps creating BOM variants based on color, material or other properties with ease.
        .tile-access 
            .tile-endpoint /variants
            .tile-button.button.default(href="https://youtu.be/v6ZZN3Xo-BM" target="_blank") Play Video
    .instructions
        h1 Features 
        ul 
            li Manage variant items that inherit master data from the base item
            li 3D viewer helps to identify the right items
            li Keep multiple BOM structures in sync
            li Manage multiple variants at the same time or focus a single variant only
            li Dynamically define the properties that define a variant
        h1 New Workspace Item Variants 
        p A new workspace is required to manage the item variants and their BOMs. These item variants in this new workspace will refer to the given base item to allow for data reuse by using derived fields, but will also have additional fields that define a variant (i.e. color, material, dimeions, serial #, ...). Customers can choose any properties they like for these variant specific properties, the application will adjust accordingly.
        h2 Create new workspace
        p Use the 
            strong Workspace Manager 
            |to create new workspace 
            strong Item Variants 
            |as revision controlled workspace. 
            img.border(src='images/apps/variant-manager-1.png' style='max-width:1092px;')
        h2 Set Item Details of new workspace
        p Create the following 3 sections in tab 
            strong Item Details 
            |: 
        ul
            li Basic
            li Variant Definition
            li Base Item Details
        p Add the following fields to section 
            strong Basic
            |:
            table   
                tr 
                    th Field name
                    th Field ID
                    th Data Type
                    th Field length
                    th Visibility
                    th Editable
                tr 
                    td Base Item
                    td BASE_ITEM
                    td Picklist to [WS] Items
                    td Single Selection
                    td Always
                    td True
                tr 
                    td Base Item Number 
                    td BASE_ITEM_NUMBER
                    td Single Line Text
                    td 100
                    td Always
                    td False
                tr 
                    td Index
                    td VARIANT_INDEX
                    td Single Line Text
                    td 20
                    td Always
                    td True
                tr 
                    td Title
                    td TITLE
                    td Single Line Text
                    td 200
                    td Always
                    td True
                tr 
                    td Number
                    td NUMBER
                    td Single Line Text
                    td 20
                    td Always
                    td Creation Only
                tr 
                    td ROOT_ITEM_DMS_ID
                    td ROOT_ITEM_DMS_ID
                    td Single Line Text
                    td 20
                    td Never
                    td True
        p In section 
            strong Variant Definition
            |, add all the fields that will be used to define a variant, for example Colour and Material. This section may include any type of field, including pick lists (with single selection).
        p All data that should be derived from the 
            strong Base Item 
            | must be defined in section 
            strong Base Item Details
            |. Make use of derived fields to copy data from the given base item. This may for example include Type and Description. Note that Image fields are not supported.
        img.border(src='images/apps/variant-manager-4.png' style='max-width:737px;')
        h2 Descriptor
        p Set the workspace's 
            strong Descriptor 
            | to display the fields Base Item Number, Index and Title:
        img.border(src='images/apps/variant-manager-5.png' style='max-width:502px;')
        h2 Workspace Relationships
        p Enable required relationships in the BOM and Relationships tabs:
        img.border(src='images/apps/variant-manager-2.png' style='max-width:895px;')
        p As 
            strong Item Variants 
            |are revision controlled, add this new workspace to the 
            strong Managed Items 
            | tab of the following workspaces: 
            ul 
                li Problem Reports
                li Change Requests
                li Change Orders
        h2 Tab Names 
        p Adjust the names of some tabs as shown below.
        p   
            table 
                tr 
                    th Tab 
                    th New Label 
                tr 
                    td Item Details 
                    td Item Variant 
                tr 
                    td Workflow Actions 
                    td Related Change Processes
        h2 Access Permissions
        p Create a role for the new workspace enabling creation of new records, BOM management and attachments. 
            br
            |Make sure that users also can access the working versions of records.
        img.border(src='images/apps/variant-manager-3.png' style='max-width:351px;')
        h2 Bill of Materials tab
        p Create a new view 
            strong Variant Manager 
            |with the following columns (sequence does not matter):
            table   
                tr 
                    th Field ID
                    th Field Source 
                tr 
                    td Descriptor
                    td System Fields
                tr 
                    td Quantity
                    td BOM Fields
                tr 
                    td Base Item Number 
                    td Item Details Fields
                tr 
                    td ROOT_ITEM_DMS_ID
                    td Item Details Fields
        p In addition, add all fields of section 
            strong Variant Definition 
            |to this table (for example Colour and Material).
        img.border(src='images/apps/variant-manager-10.png' style='max-width:1200px;')
        h2 Scripts
        p As the variant items should receive some key information from the base item (like the number), a script is required to coopy given information. 
            br
            |Create a new action script 
            strong Item Variants onCreate 
            | and attach this script to the create event of workspace 
            strong Item Variants
            |:
        p.code
            span setNumber();
            span setBaseItemDetails();
            br
            span function setNumber() {
            span.indent var seq     = new Sequencer("Item Variants");
            span.indent var num = ('000000' + seq.nextValue().toString()).slice(-6);
            span.indent item.NUMBER = "VAR-" + num;
            span.indent if(item.VARIANT_INDEX === null) item.VARIANT_INDEX = num;
            span }
            br
            span function setBaseItemDetails() {
            span.indent var elemBase = item.BASE_ITEM;
            span.indent if(elemBase === null) return;
            span.indent item.BASE_ITEM_NUMBER = elemBase.NUMBER;
            span.indent if(item.TITLE === null) item.TITLE = elemBase.TITLE;
            span.indent item.relationships.addRelated(elemBase, 'Cross-Reference', 'Bi-Directional', 'Variant Management');
            span }
        img.border(src='images/apps/variant-manager-7.png' style='max-width:1073px;')
        h2 Server Settings File 
        p The Workspace ID of this new workspace 
            strong Item Variants 
            |must be provided in the server settings file. Locate the property 
            span.code config.variants.wsIdItemVariants 
            |and update the given value. Default value is 274.
        img.border(src='images/apps/variant-manager-9.png' style='max-width:523px;')
        h1 Adjust Items Workspace
        h2 Add field to store dmsID
        p The items workspace (from where the app will be launched) must have a field containing the item's dmsID. If not present yet, add a new single line text field with id 
            strong DMS_ID 
            | in the items workspace (hidden). Let this field be set automatically at item creation by script as shown below. 
            br
            |Tenants created mid 2023 or later have this field and script already.
        p.code  
            span item.DMS_ID = dmsID;
        h2 Add Computed Field with Action Button 
        p Enable access to the 
            strong Variants Manager 
            | app by adding a new computed field to your 
            strong Items 
            | workspace. Use the following formula for the new field: 
        p.code '&lt;a style="border: 1px solid #bec8d2;border-radius:3px;color: #0a131c;font-weight:600;line-height:32px;padding:4px 20px;text-align:center;text-decoration:none !important;white-space:nowrap;" target="_blank" href ="LOCATIONvariants?wsId=57&dmsId='||DMS_ID||'"&gt;Variant Manager&lt;/a&gt;'
        h2 Configure BOM View 
        p The application requires a BOM view with the following columns: 
            table   
                tr 
                    th Field
                    th Field Source 
                tr 
                    td Descriptor
                    td System Fields
                tr 
                    td Quantity
                    td BOM Fields
                tr 
                    td Number
                    td Item Details Fields
        p You may add a new view 
            strong Variant Manager 
            | with these columns or reuse an existing BOM view containing these columns (the view may also contain further columns of course). If you prefer to use a BOM view that is not named 
            strong Variant Manager
            | , you have to speficfy this view's name in the server's settings file in parameter.
        p.code 
            span config.variants.bomViewNameItems : 'Variant Manager'
        p See next chapter 
            strong Server Settings File 
            |for details.
        h1 Optional: Integrate With Products Workspace
        p Instead of starting the Variant Manager from an EBOM, you can also start it from a product. In this case, the product's 
            strong Engineering BOM 
            |will be used as a basis and all variants will be stored within the product's list of variants (the grid tab). Perform the following steps to enable this integrated feature.
        h2 Adjust grid tab of workspace Products
        p Add a column BOM to the grid based on a pick list for workspace Item Variants: 
        img.border(src='images/apps/variant-manager-8.png' style='max-width:1422px;')
        h2 Add field to store dmsID
        p Workspace Products must have a field containing the dmsID of each record. If not present yet, add a new Single Line Text field with id 
            strong DMS_ID 
            | in the Products workspace (hidden). Let this field be set automatically at first workflow transition by script using this code: 
        p.code  
            span item.DMS_ID = dmsID;
        h2 Add Computed Field with Action Button 
        p Enable access to the 
            strong Variants Manager 
            | app by using the following computed field formula:
        p.code '&lt;a style="border: 1px solid #bec8d2;border-radius:3px;color: #0a131c;font-weight:600;line-height:32px;padding:4px 20px;text-align:center;text-decoration:none !important;white-space:nowrap;" target="_blank" href ="LOCATIONvariants?wsId=95&dmsId='||DMS_ID||'&options=fieldIdEBOM:ENGINEERING_BOM"&gt;Variant Manager&lt;/a&gt;'
        p You can either add a new field with this formula or add this formula to the existing field 
            strong Actions
            |. In any case, please update the wsId reference (95) and fieldId (ENGINEERING_BOM) of this formula if needed.
        h1 Server Settings File Details
        p If you require usage of different field names, table names etc, please have a look at the settings.js file and locate section variants, listing all possible configurable settings as shown below. Review the first option 
            strong wsIdItemVariants 
            |which must contain the workspace ID of your newly created workspace. You can retrieve this ID from your browser's URL when navigating to this workspace using the workspaces menu.
        p.code  
            span export.config = {
            span.indent variants : {
            span.indent-2 wsIdItemVariants : 274
            span.indent-2 sectionLabelVariantDefinition : 'Variant Definition',
            span.indent-2 fieldIdBaseItem : 'BASE_ITEM',
            span.indent-2 fieldIdBaseItemNumber : 'BASE_ITEM_NUMBER',
            span.indent-2 fieldIdRootItemDmsId : 'ROOT_ITEM_DMS_ID',
            span.indent-2 bomViewNameItems : 'Variant Manager',
            span.indent-2 bomViewNameVariants : 'Variant Manager'
            span.indent-2 maxBOMLevels : 4
            span.indent-2 viewerFeatures : {..}
            span.indent }
            span }
        p Adjust these settings if needed and restart your server afterwards to apply the given changes.
            table 
                tr 
                    th Setting 
                    th Default Value 
                    th Description  
                tr
                    td wsIdItemVariants
                    td -
                    td Workspace ID of your new 
                        strong Item Variants 
                        |workspace
                tr  
                    td sectionLabelVariantDefinition
                    td Variant Definition 
                    td Name of section in the Item Variants workspace which contians all the fields that define a variant. 
                        br
                        |This section will drive the columns of the Variant Manager display.
                tr 
                    td fieldIdBaseItem
                    td BASE_ITEM 
                    td Field ID of the Item Variants workspace that links to the matching base item (single select picklist)
                tr 
                    td fieldIdBaseItemNumber
                    td BASE_ITEM_NUMBER 
                    td Field ID of the Item Variants workspace that stores the part number of the matching base item
                tr 
                    td fieldIdRootItemDmsId
                    td ROOT_ITEM_DMS_ID 
                    td Field ID of your Item Variants workspace that stores the dmsId of the matching base item's root item
                tr 
                    td bomViewNameItems
                    td Variant Manager 
                    td BOM view of Items workspace which contains the required fields
                tr 
                    td bomViewNameVariants
                    td Variant Manager 
                    td BOM view of Item Variants workspace which contains the required fields
                tr 
                    td maxBOMLevels
                    td 4
                    td This integer defines the maximum levels to be expanded in the BOM
        h2 Configuring Viewer Features
        include ../framework/viewer.pug
    .log 
        h1 Variant Manager Change Log 
        table 
            tr 
                td 7. May 2025
                td Quality
                td The quality and reliability of this solutions has been enhanced. Please follow the revised setup instructions before using this solution.
            tr 
                td 28. June 2024
                td Viewer Features Configuration
                td Additional settings were added to settings.js enabling to select the features available in the viewer
            tr 
                td 7. July 2023
                td Initial Release
                td This is the very first version of this application