.tile(data-name='Service Portal')
    .tile-image(style='background: url("images/app-services-portal.png") no-repeat;background-size:contain;')
    .tile-details
        .tile-title Service Portal
        .tile-subtitle Service teams get online access to latest product data and spare parts information. Users can navigate the BOM, download documentation and create Spare Part Requests &amp; Problem Reports in PLM.
        .tile-access 
            .tile-endpoint /service
            .tile-button.button.default(href="service" target="_blank") Open
            .tile-button.button.icon.icon-start.default(href="https://youtu.be/gYAyASE3vAU" target="_blank")
    .instructions
        h1 Features 
        p Provide an online interface for service technicians to have latest product information at hand at anytime, anywhere.
        ul
            li View the 3D design in context of the BOM
            li Browse and filter the product BOM
            li Select BOM items to retrieve all details 
            li Download item documentation
            li Access list of defined Spare Parts
            li Submit Spare Part Requests 
            li Capture Problem Reports
            li Browse catalog of serviceable products 
            li Track progression of and update formerly create spare part requests
        a(href='https://youtu.be/gYAyASE3vAU') See introduction video
        h1 Prerequisites
        ul
            li This solution is based on the standard 
                strong Items 
                | workspace and its standard properties.
            li Spare parts get identified by the standard field 
                strong Spare Wear Part 
                | of workspace 
                strong Items
                |. If this property's value is set to 
                strong Spare Part 
                | or 
                strong Wear Part 
                | for an item, it will be treated as spare part in this portal.
            li In order to create and manage the 
                strong Spare Part Requests 
                | processes, you have to add the given workspace to your tenant as described below.
        h1 Limitations 
        p Note that there is no capability to track the progress of 
            strong Spare Part Requests 
            | in this application. The given button 
            strong Pending Requests 
            | has no function. Tracking of requests in only possible in the standard user interface of PLM for now. This might change in future releases of this application.
            br
            | The application indicates the stock availability of each spare part using colors. As this solution does not have a real time connection to an ERP, the given information is generated randomly.
        h1 Create BOM View 'Service' for workspace Items
        p Create a new BOM view 
            strong Service 
            | for workspace 
            strong Items 
            |and add at least the columns shown below. The sequence of columns does not matter. You may add further fields if needed, but this may impact performance / load times of the portal.
        table(style='margin:10px 0px 30px')
            tr
                th Source
                th Source Field 
                th Display Name 
            tr  
                td System
                td Descriptor
                td Descriptor
            tr  
                td Item Details / Basic
                td Image
                td Image
            tr  
                td Item Details / Basic
                td Number 
                td Number 
            tr  
                td Item Details / Basic
                td Title
                td Title
            tr  
                td Item Details / Technical Details
                td Dimensions (LxWxH) 
                td Dimensions (LxWxH) 
            tr  
                td Item Details / Technical Details
                td Material
                td Material
            tr  
                td Item Details / Technical Details
                td Spare / Wear Part
                td Spare / Wear Part
            tr  
                td Item Details / Technical Details
                td Weight [grams]
                td Weight [grams]
            tr  
                td BOM Fields
                td Quantity
                td Quantity
        h1 Configure Workspace Relationships of Problem Reports
        p Open the 
            strong Workspace Relationships 
            | control for workspace 
            strong Problem Reports 
            | in the 
            strong Workspace Manager
            |. In here, enable connections to workspace 
            strong Items 
            | in 
            strong Managed Items Tab 
            | in order to support creation of new PRs.
        img(src='images/apps/services-portal-1.png' style='max-width:960px;')
        h1 Add button to launch the portal 
        p Users can access the service portal by passing the dmsId and wsId of a given record, allowing to encode this information in a qr-code for example (see the end of this page for the given URL). 
            br
            |In addition, you may want to provide a button within the details page of an item to open the given portal from there. For this, add a new field 
            strong Actions 
            | which contains the computed formula shown below. In case your tenant has the given field already, please add this button to the existing 
            strong Actions 
            | field.
        p Note that this computed field requires the field 
            strong DMS_ID 
            | which must contain the dmsId of the current record. As the other solutions of this package require this field as well, it is assumed that the given field exists already. If not, please add the field as single line text and let it be set upon item creation.
        p Keep in mind to update the workspace id contained in the formula below if needed. It refers to workspace ID 57 which matches the standard 
            strong Items 
            | workspace. If you are using another id, please adjust the value of parameter wsId.
        p.code CASE 
            span WHEN (DMS_ID is null) THEN ''
            span ELSE '&lt;a style="color: #0a131c;border: 1px solid #bec8d2;border-radius:3px;text-align:center;text-decoration:none !important;line-height:26px;white-space:nowrap;padding:4px 20px;width:140px;font-weight:600;" target="_blank" href ="LOCATIONservice?wsId=57&dmsId='||DMS_ID||'"&gt;Service Portal&lt;/a&gt;'
            span END       
        h1 Add New Workspace Spare Parts Requests
        p The Service Portal can be used to initiate spare parts requests processes with reference to the currently selected spare parts. Howeever, this feature requires the given workspace to manage these requests. If you do not want to manage these requests in PLM, you may skip this chapter. 
        p If you are using a trial or demo tenant, you can take benefit of the preview version of a Spare Parts Requests solution in the template library. Simply download this given template to your tenant and make sure that you replace the placeholder text fields with the given linking picklists (i.e. field LNKED_ITEM in the details tab and ITEM in the grid tab). Afterwards, you can proceed with the next chapter, too.
        p In any other case perform the following steps to manually create a new workspaces for management of the spare parts requests.
        h2 Add Workspace
        p Add a new workspace named 
            strong Spare Parts Requests 
            | using the settings shown in the following screenshot:
        img(src='images/apps/services-portal-2.png' style='width:100%;max-width:900px;margin:10px 0px;border: 10px solid white')
        h2 Item Details Tab
        p Add the following fields to the new workspace. You may add further fields (non-mandatory) and sections when needed. You may also omit 'Requestor' in all the field labels, they are just used to keep the internal Field ID identical to the label to make the setup easier.
        img(src='images/apps/services-portal-3.png' style='width:100%;max-width:547px;margin:10px 0px 30px;')
        table(style='margin:10px 0px 30px')
            tr
                th Label 
                th Field ID 
                th Type 
                th Details 
                th Editable
            tr  
                td ID 
                td ID 
                td Auto Number
                td Formula: AUTONUMBER('', ID__AUTO_INC, 6) 
                td false
            tr  
                td Linked Item 
                td LINKED_ITEM 
                td Pick List ([WS] Items, Single Selection)
                td length: 200
                td Creation Only
            tr  
                td Request Date 
                td REQUEST_DATE
                td Date
                td -
                td false
            tr  
                td Requestor Name 
                td REQUESTOR_NAME 
                td Single Line Text
                td length: 200
                td true
            tr  
                td Requestor Company 
                td REQUESTOR_COMPANY
                td Single Line Text
                td length: 200
                td true
            tr  
                td Requestor E-Mail
                td REQUESTOR_EMAIL
                td Single Line Text
                td length: 200
                td true
            tr  
                td Requestor Address
                td REQUESTOR_ADDRESS
                td Single Line Text
                td length: 200
                td true
            tr  
                td Requestor City 
                td REQUESTOR_CITY
                td Single Line Text
                td length: 200
                td true
            tr  
                td Requestor Postal Code
                td REQUESTOR_POSTAL_CODE
                td Single Line Text
                td length: 200
                td true
            tr  
                td Requestor Country Code
                td REQUESTOR_COUNTRY_CODE
                td Single Line Text
                td length: 200
                td true
            tr  
                td Request Shipping Address
                td REQUEST_SHIPPING_ADDRESS
                td Paragraph
                td Length: 100000
                td true
            tr  
                td Request Comments 
                td REQUEST_COMMENTS
                td Paragraph
                td Length: 100000
                td true
            tr  
                td Total Cost 
                td TOTAL_COST
                td Money
                td Length: 10, Field Precision: 0
                td true
            tr  
                td Shipment Date 
                td SHIPMENT_DATE
                td Date
                td -
                td true
            tr  
                td Tracking # 
                td TRACKING
                td Single Line Text
                td Length : 200
                td true
            tr  
                td Notes 
                td NOTES
                td Paragraph
                td Length: 100000
                td true
        h2 Descriptor
        p Set the descriptor for this workspace as you like (i.e. ID - Requestor Company)
        h2 Grid Tab
        p Add the following fields to the grid tab
        img(src='images/apps/services-portal-4.png' style='width:100%;max-width:855px;margin:10px 0px 30px;')
        table(style='margin:10px 0px 30px')
            tr
                th Label 
                th Field ID 
                th Type 
                th Details 
                th Editable
            tr  
                td Item 
                td ITEM
                td Pick List
                td Pick List [WS] Items (Single Selection)
                td Creation Only
            tr  
                td Quantity
                td QUANTITY 
                td Integer
                td length: 10
                td Creation Only
            tr  
                td Unit Cost
                td UNIT_COST 
                td Money
                td Length: 10, Field Precision: 2
                td true
            tr  
                td Total Cost
                td TOTAL_COST 
                td Money
                td Formula: QUANTITY * UNIT_COST; Add aggregation type 'Sum'
                td false
            tr  
                td Availability at request
                td AVAILABILITY_AT_REQUEST 
                td Single Line Text
                td Length: 50
                td true
            tr  
                td Remarks 
                td REMARKS
                td Single Line Text
                td Length: 200
                td true
        h2 Tab Names 
        p Adjust the tab names for ease of use:
        ul 
            li Item Details &gt; Request
            li Grid &gt; Part List
            li Workflow Actions &gt; Workflow
        h2 Scripts
        p Create a new Action script 
            strong Spare Parts Requests WF Actions 
            | with the code shown below. Make sure to select library script 
            strong getUserName 
            | in the script's imports.
        p.code item.REQUESTOR_NAME = getUserName(); 
            br
            span item.REQUEST_DATE = new Date();
        h2 Workflow
        p Provide a workflow for this new workspace. While the workflow logic does not matter for this solution, make sure to attach the script 
            strong Spare Parts Requests WF Actions 
            | as action script to the initial transition.
        img(src='images/apps/services-portal-5.png' style='width:100%;max-width:768px;margin:10px 0px;')
        h2 Access Permission 
        p Add a role for this new workspace and assign this given role to your users to enable access. Grant full access (add, delete, edit and view) to the tabs Attachments, Grid, and Workflow.
        img(src='images/apps/services-portal-6.png' style='width:100%;max-width:368px;margin:10px 0px;')
        h1 Landing Page Configuration
        p You may provide a landing page as part of the Service Portal, enabling users to navigate to the product of interest. If this is configured properly, users do no longer require direct access to a given BOM using the workspace ID and dms ID. Instead, they can click on a given product and with this open the matching service information of the related BOM.
        img(src='images/apps/services-portal-8.png' style='width:100%;max-height:722px;margin:10px 0px;')
        p In addition, they can track their formerly created spare parts requests.
        img(src='images/apps/services-portal-9.png' style='width:100%;max-height:915px;margin:10px 0px;')
        p With the default configuration, this capability involves the Products workspace. All products matching a defined search critieria will be displayed on the Landing Page. In addition, these products must link to the matching EBOM which will be used to open the given serivce information for the selected product.
        p Various configuration settings drive this landing page: productsFilter, productsSortBy, productsGroupBy, productsFieldImage, ... wsIdProducts. See their description in the next chapter.
        p The default configuration of the landing page uses the following settings: 
            ol 
                li All products of workspace 95 will be shown (settings wsIdProducts and productsFilter)
                li These products will be sorted by Title and grouped by Product Line (settings proudctsSortBy and productsGroupBy)
                li Each product tile will show the image of field IMAGE as well as the products' TITLE and DESCRIPTION property values (settings productsFieldIdImage, productsFieldIdTitle, productsFieldIdSubtitle)
                li When users click a product, its field ENGINEERING_BOM will be used to open the related EBOM and to open the matching Service Portal for this item (setting productsFieldIdBOM)
                li The header of the landing page's list of products is set to 'Serviceable Products' (settings productsListHeader)
        p You can disable access to this landing page with the home button by setting 'features.homeButton = false'. See chapter 
            strong Feature Availability 
            |for details.
        h1 Configuration Settings
        p Once the previous steps have been completed, you should review the solution's settings in file 
            strong settings.js 
            | before using the application:
        p.code
            span export.config = {
            span.indent 'service' : {
            span.indent-2 'bomViewName' : 'Service',
            span.indent-2 'enableCustomRequests' : true,
            span.indent-2 'endItemFilter' : { 'fieldId' : 'SBOM_END_ITEM', 'value' : true },
            span.indent-2 'fieldId' : 'SPARE_WEAR_PART',
            span.indent-2 'fieldValues' : ['spare part', 'yes', 'x', 'y', 'wear part'],
            span.indent-2 'fieldIdSparePartImage'  : 'IMAGE',
            span.indent-2 'spartPartDetails' : ['MATERIAL', 'ITEM_WEIGHT', 'DIMENSIONS'],
            span.indent-2 'fieldIdPRImage' : 'IMAGE_1',
            span.indent-2 'productsFilter' : '',
            span.indent-2 'productsSortBy' : 'TITLE',
            span.indent-2 'productsGroupBy' : 'PRODUCT_LINE',
            span.indent-2 'productsFieldIdImage' : 'IMAGE',
            span.indent-2 'productsFieldIdTitle' : 'TITLE',
            span.indent-2 'productsFieldIdSubtitle' : 'DESCRIPTION',
            span.indent-2 'productsFieldIdBOM' : 'ENGINEERING_BOM',
            span.indent-2 'productsListHeader' : 'Serviceable Products',
            span.indent-2 'wsIdProducts' : 95,
            span.indent-2 'wsIdProblemReports' : 82,
            span.indent-2 'wsIdSparePartsRequests' : 208,
            span.indent-2 'requestSectionsExcluded': ['Workflow Activity'],
            span.indent-2 'requestColumnsExcluded' : ['UNIT_COST', 'TOTAL_COST', 'MAKE_OR_BUY', 'MANUFACTURER', 'MANUFACTURER_PN', 'LEAD_TIME', 'LONG_LEAD_TIME'],
            span.indent-2 'applicationFeatures' : {
            span.indent-3     'homeButton'            : true,
            span.indent-3     'toggleItemAttachments' : true,
            span.indent-3     'toggleItemDetails'     : true,
            span.indent-3     'manageProblemReports'  : true,
            span.indent-3     'showStock'             : true,
            span.indent-3     'requestWorkflowActions': true
            span.indent-2 },
            span.indent-2 'viewerFeatures' : {
            span.indent-3 'cube'          : false,
            span.indent-3 'orbit'         : false,
            span.indent-3 ..
            span.indent-2 } 
            span.indent }
            span }                         
        h2 Basic Settings
        p 
            table 
                tr
                    th Setting 
                    th Default Value 
                    th Description  
                tr 
                    td bomViewName
                    td Service
                    td Provide name of the BOM view that has been created in the previous steps (a change should not be required)
                tr 
                    td enableCustomRequests
                    td true
                    td When set to true, users can add non-spare-parts to service requests as well
                tr 
                    td endItemFilter
                    td { 'fieldId' : 'SBOM_END_ITEM', 'value' : true }
                    td BOM items having the given value in the defined field will be considered as end nodes. Users will not be able to see the items below.
                        br
                        |This filter only applies if the given fieldId is present in your Items workspace. 
                        br
                        |If the field does not exist, this setting will be ignored automatically.
                        br
                        |Of course you can change this setting to make use of another field. 
                        br
                        |In any case, this field must be included in the BOM view being used by the Service Portal (default is 'Service').
                tr 
                    td fieldId
                    td SPARE_WEAR_PART
                    td ID of field being used to identify spare parts (the next setting defines the possible values of this field)
                tr 
                    td fieldValues
                    td ['spare part', 'yes', 'x', 'y', 'wear part']
                    td List of values (for the previous field) which are used to identify spare parts 
                tr 
                    td fieldIdSparePartImage
                    td IMAGE
                    td ID of field containing the item image
                tr 
                    td sparePartDetails
                    td ['MATERIAL', 'ITEM_WEIGHT', 'DIMENSIONS']
                    td Each spare part tile can show 3 additional fields. If other fields than the default fields are relevent, change this list. However, make sure that there are exactly 3 entries and these fields also must be contained in the given BOM view.
                tr 
                    td fieldIdPRImage
                    td IMAGE_1
                    td Provide image field ID to be use for storing the markup image of new Problem Reports
                tr 
                    td productsFilter
                    td (empty)
                    td Provide a query string to filter the list of products being shown in the landing page. Only products matching this search criteria will be display.
                        br
                        |For example, you could add a checkbox field 'SERVICES_PORTAL' and provide the following filter to only show products where this given checkbox is enabled: ITEM_DETAILS:SERVICES_PORTAL=TRUE
                tr 
                    td productsSortBy
                    td TITLE
                    td Set the field being used to sort the products in the landing page
                tr 
                    td productsGroupBy
                    td PRODUCT_LINE
                    td This optional setting enables to group the prdoducts in the landing page based on the given field's values
                tr 
                    td productsFieldIdImage
                    td IMAGE
                    td Field being used to render the image for the product tiles in the landing page
                tr 
                    td productsFieldIdTitle
                    td TITLE
                    td Field being used as primary name for the product tiles in the landing page
                tr 
                    td productsFieldIdSubtitle
                    td DESCRIPTION
                    td Field being used as subtitle for the product tiles in the landing page
                tr 
                    td productsFieldIdBOM
                    td ENGINEERING_BOM
                    td Field of Products workspace that links the given EBOM that will be used to retrive product information once a user clicks on a product tile
                tr 
                    td productsListHeader
                    td Serviceable Products
                    td Defines the header being shown on top of the products list in the landing page
                tr 
                    td revisionBias
                    td 'release'
                    td Select the revision bias when expanding the BOM. Select 'working' or 'release'.
                tr 
                    td wsIdProducts
                    td 82
                    td Provide the workspace ID of 
                        strong Problem Reports 
                        | to enable creation of new processes from within the application (82 matches the default tenant configuration)
                tr 
                    td wsIdProblemReports
                    td 82
                    td Provide the workspace ID of 
                        strong Problem Reports 
                        | to enable creation of new processes from within the application (82 matches the default tenant configuration)
                tr 
                    td wsIdSparePartsRequests
                    td ?
                    td Provide ID of the new workspace 
                        strong Spare Parts Requests 
                        | to enable creation of new requests from within the application
                tr 
                    td requestSectionsExcluded
                    td ['Workflow Activity']
                    td Defines sections to be hidden from Spare Part Request details display.
                tr 
                    td requestColumnsExcluded
                    td ['UNIT_COST', 'TOTAL_COST', 'MAKE_OR_BUY', 'MANUFACTURER', 'MANUFACTURER_PN', 'LEAD_TIME', 'LONG_LEAD_TIME']
                    td Defines columns to be hidden from Part List when users open a given request within the portal to track its progression.
        h2 Configuring Application Features
        p Selected application features can be restricted using the applicationFeatures property in settings.js. In general, if a property equals true, the given feature will be available for the user. You can use basic boolean values, but also make use of groups to grant access for defined user groups only. Examples: 
            ul 
                li applicationFeatures.homeButton = true &gt; The home button is available for all users
                li applicationFeatures.homeButton = false &gt; The home button is not visible for any user
                li applicationFeatures.homeButton = ['Employees','Service Technician'] &gt; The home button will only be shown for users in group Employees or Service Technician
        p The following settings control features within the application:
        p 
            table 
                tr 
                    th Setting 
                    th Description 
                    th Default Value
                tr 
                    td features.homeButton 
                    td Enables Home button in global toolbar to close a given product's spare parts view and to return to the landing page 
                    td true
                tr 
                    td features.toggleItemAttachments 
                    td Enables button 'Toggle Files' in global toolbar to toggle the selected item's attachments on/off
                    td true
                tr 
                    td features.toggleItemDetails 
                    td Enables button 'Toggle Details' in global toolbar to toggle the selected item's details on/off
                    td true
                tr 
                    td features.productDocumentation 
                    td Enables tab 'Documentation' next to the tab 'Spare Parts', enabling users to download files attached to the context product. Note that this list will be empty if users access the Service Portal with a defined item dmsId. Only if users click on a product in the landing page of the Service Portal, this tab will contain data.
                    td true
                tr 
                    td features.manageProblemReports 
                    td Enables tab 'Problem Reports' next to the tab 'Spare Parts', enabling users to reveal related PRs and also to create new ones
                    td true
                tr 
                    td features.showStock 
                    td Enables display of stock information in spare parts list
                    td true
                tr 
                    td features.requestWorkflowActions 
                    td Enables display of workflow actions menu when opening a spare part request from the landing page
                    td true

        h2 Configuring Viewer Features
        include ../framework/viewer.pug
        h1 Access the Services Portal
        p You can access the Services Portal portal with the /service endpoint:
        a(href='service' target='_blank')
        p To open the portal for a given item directly, provide the wsId dmsId of the 
            strong Items 
            |record as URL parameters. The following links will work for default demo tenants containing the default demo data. Please note that none of the demo items has been set as spare part yet:
        a(href='service?wsId=57&dmsId=14669' target='_blank')
        a(href='service?wsId=57&dmsId=14849' target='_blank' style='margin-left:20px;')
    .log 
        h1 Services Portal Change Log 
        table 
            tr 
                td April 16, 2025
                td Enhancement 
                td Added configuration setting 'revisionBias' to allow for expansion of the BOM with working or release configuration
            tr 
                td 10. September 2024
                td Enhancement 
                td When components get hidden in the viewer, advanced controls now enable to unhide selected components or the last one
            tr 
                td 1. July 2024
                td Enhancement 
                td This solution is now compatible with the Spare Parts Requests template being available as preview for trial and demo tenants.
                    br
                    |This required adjustment of some fieldIDs, please review the installation instructions for the new Spare Parts Requests workspace and align with your setup if you used this solution before already.
            tr 
                td 5. June 2024
                td Enhancement 
                td When opening the Service Portal from the landing page by selecting a product, a new Documentation tab provides access to the given product's attachments next to the list of Spare Parts. This tab can be disabled using the setting applicationFeatures.productDocumentation.
            tr 
                td 2. May 2024
                td Enhancement 
                td The configuration of viewer features has been aligned with other apps using the dedicated settings 
                    span.code viewerFeatures
            tr 
                td 26. April 2024
                td Enhancement 
                td Added setting features.viewer.hide to support easy hiding of components in viewer
            tr 
                td 
                td Enhancement
                td When there is no spare part for the current selected BOM item, the portal will now validate if any of the parents is defined as spare part. If so, the first given parent will be shown in the list of available spare parts.
            tr 
                td 11. April 2024
                td Enhancement
                td New setting 
                    strong requestSectionsExcluded 
                    |enables hiding defined sections from the Spare Part Request Details. The details display is still driven by the user permissions and sections can be hidden based on their access permissions defined in the Workspace Manager. 
            tr 
                td 
                td Enhancement
                td New setting 
                    strong requestColumnsExcluded 
                    |enables hiding defined columns from the Parts List of a Spare Part Request shown in the portal.
            tr 
                td 
                td Quallity
                td Change some CSS setting to improve display of given requests witin the portal
            tr 
                td 8. April 2024
                td Enhancement
                td Behavior for item selection in viewer has been changed. When users click in item, remaining geometry will no longer be ghosted to allow for follow-up seleciton. The selected item still gets highlighted in BOM and matching spare part list as well as Item Details and Item Attachments get refreshed to match the selection.
            tr 
                td 
                td Enhancement
                td Added new controls in viewer to reframe visible items and to fit only first visible instance in viewer. Both can be disabled by new options in settings.js.
            tr 
                td 20. March 2024
                td Enhancement
                td Selected spare parts will be moved to a new cart panel now and not only be highlighted in blue. From this cart, users can filter the viewer for cart items and also trigger the spare part request creation.
            tr 
                td 
                td Enhancement
                td Option endItemFilter has been added to settings file to prevent expansion of defined BOM nodes.
            tr 
                td 
                td Enhancement
                td The request creation dialog has been enhanced to capture more information, including contact details 
                    br
                    |These contact details will be filled auotmatically based on the user's Autodesk Account data.
            tr 
                td 
                td Enhancement
                td New feature toggle has been added to prevent display of stock information for spare parts : features.showStock
            tr 
                td 
                td Enhancement
                td New feature toggle has been added to prevent workflow actions for spare parts requests : features.requestWorkflowActions
            tr 
                td 
                td Enhancement
                td A new function has been added to set the stock information for all spare parts. Override this function setSparePartStockStatus in file /javascripts/custom/service.js to implement your custom logic.
            tr 
                td 19. March 2024
                td Enhancement
                td Feature control: Restrict access to application features for all users or specific user groups using the settings file
            tr 
                td 
                td Enhancement
                td Routing has been enabled : Browser URL gets updated when users switch between landing page and item context to enable refresh of the current screen
            tr 
                td 14. March 2024
                td Enhancement
                td When users open an existing spare parts request in the landing page, this request will no longer be shown in PLM, but the portal instead. Users can still perform workflow actions and upload additional files in this view.
            tr 
                td 
                td Bugfix
                td When users closed the dialog for creation of a new spare parts request and reopened the dialog afterwards, the quantities were reset for each line. Now, these quantities are preserved.
            tr 
                td 
                td Bugfix
                td Users can no longer submit an empty request
            tr 
                td 
                td Enhancement
                td A new icon is used for the button to submit the spare parts request
            tr 
                td 29. February 2024
                td Enhancement
                td The BOM display will be collapsed at startup automatically
            tr 
                td 
                td Enhancement
                td Spare parts in the BOM tree will no longer be highlighted by bold / orange font, but with a dedicated icon and matching tooltip
            tr 
                td 
                td Enhancement
                td If BOM items are not accessible due to access permission restrictions, this will be indicated by red lock icons in the BOM tree
            tr 
                td 9. February 2024
                td Enhancement
                td A new toolbar on top of the Spare Parts list enables searches, filtering and deselection
            tr 
                td 
                td Enhancement
                td Viewer behavior upon BOM item selection and Spare Part Zoom has been adjusted for better usability
            tr 
                td 
                td Enhancement
                td A new button in the viewer toolbar enables toggling ghosting on and off
            tr 
                td 
                td Enhancement
                td Additional options now can be configured in settings.js (i.e. enabling a filter for the products in the landing)
            tr 
                td 
                td Quality
                td Global toolbar icon sequence has been adjusted
            tr 
                td 26. January 2024
                td Enhancement
                td The following buttons got removed from the viewer toolbar: Model Structure, Properties and Settings 
            tr 
                td 
                td Enhancement
                td The BOM tree now highlights spare parts with orange text
            tr 
                td 10. January 2024
                td New Feature 
                td The portal can be opened without context item to let users browse for the product of interest
            tr 
                td 
                td New Feature 
                td Users now can track previously created spare part requests from within the portal
            tr 
                td 
                td New Feature 
                td Users can submit requests for items which are not flagged as spart part. This feature can be disabled with new option 'enableCustomRequests' in settings file.
            tr 
                td 26. September 2023
                td Enhancement 
                td Display root item name in web page title
            tr 
                td 3. August 2023
                td Bugfix 
                td Improved behavior of markup toolbar at lower resolutions
            tr 
                td 
                td Bugfix 
                td Width of markups and font size of markup text can now be set properly
            tr 
                td 7. July 2023
                td Enhancement 
                td When spare parts get zoomed in, they will be highlighted in red within the viewer
            tr 
                td 
                td New Feature
                td Users can click items in the viewer to get it selected in the spare parts list and to retrieve item details as well as attachments
            tr 
                td 
                td Enhancement
                td The Options button in main toolbar has been replaced by dedicated toggles
            tr 
                td 
                td Enhancement
                td All spare parts selected in the panel to the right will now be highlighted in blue within the viewer to continuously indicate the selection
            tr 
                td 
                td Enhancement
                td The (fake) stock information now is also shown with a colored border in the spare parts list
            tr 
                td 
                td Enhancement
                td When users click on BOM entries, geometry not being in context will be hidden (before, it was still shown transparently)
            tr 
                td 30. June 2023
                td New Feature 
                td The spare parts list now indicates the total quantity of the given component (qty is shown in white with black background)
            tr 
                td 
                td New Feature
                td The entries in the spare parts list will automatically adjust its style in case of longer lists (tile height get reduced)