.tile(data-name='MBOM Editor')
    .tile-image(style="background: url('images/app-mbom-editor.png') no-repeat;background-size:contain;")
    .tile-details
        .tile-title Manufacturing BOM Editor
        .tile-subtitle Process engineers can transform an Engineering BOM to a Manufacturing BOM with ease using this editor. It enables restructuring and addition of components even for multiple, site-specific MBOMs.
        .tile-access 
            .tile-endpoint /mbom
            .tile-button.button.default(href="https://youtu.be/5s9080mmYLo" target="_blank") Play Video
    .instructions
        h1 Features 
        ul 
            li Add EBOM items to the MBOM easily with clicks
            li Add further items to the MBOM using drag &amp; drop 
            li Use the Disassemble mode to quickly define the MBOM by reversing the order
            li Use color codes to identify mismatches in EBOM and MBOM 
            li Access details of selected items in right hand side panel whenever needed
            li Manage multiple MBOMs per EBOM item (i.e. site specific BOMs)
        h1 Important - Read before proceeding
        p This editor helps in transitioning an Engineering BOM to a Manufacturing BOM. This may involve one or two item workspaces, depending on your tenant configuration and preference. If your tenant has been created before Mid 2023, your tenant will most likelly have two workspaces to manage items: 
            strong Items and BOMs 
            |as well as 
            strong Vault Items and BOMs
            |. If your tenant is more recent, it will only contain the new workspace named 
            strong Items 
            |(unless you installed the Vault Items and BOMs from the template library).
        p If your tenant only has the single 
            strong Items 
            |workspace, this workspace will be used to manage both the EBOMs and the MBOMs. In this case, all installation steps referring to both EBOM and MBOM must be applied to this workspace. You can skip all steps referring to the 
            strong 2 Workspaces 
            |setup.
        p On the other hand, if you have two workspaces, you can use the one for the EBOM and the other one for the MBOM. In this case, you will most likely use 
            strong Vault Items and BOMs 
            |as the EBOM workspace and 
            strong Items and BOMs 
            |as the MBOM workspace. This setup is referred to as the 
            strong 2 Workspaces 
            |setup in the instructions below. Of course, you can also choose one of these workpaces and use it for both EBOM and MBOM at the same time.
        p Note that the viewer inside the MBOM Editor will only work if the base EBOM item has a dwf file attached.
        h1 Configuration Changes for EBOM Workspace
        h2 Extend Item Details
        p Add a new section 
            strong Manufacturing BOM 
            | with the following fields to this workspace:

        table   
            tr 
                th Field Name 
                th Field ID    
                th Data Type
                th Options
                th Visibility
                th Editable
            tr 
                td DMS_ID 
                td DMS_ID
                td Single Line Text 
                td Length : 20
                td Never
                td False
            tr 
                td End Item 
                td END_ITEM
                td Check Box 
                td 
                td Always
                td True
            tr 
                td Matches MBOM 
                td MATCHES_MBOM
                td Check Box 
                td 
                td Always
                td True
            tr 
                td Ignore in MBOM
                td IGNORE_IN_MBOM
                td Check Box 
                td 
                td Always
                td True
            tr 
                td Process Code 
                td PROCESS_CODE
                td Single Line Text 
                td Length : 10
                td Always
                td True
            tr 
                td Last MBOM User 
                td LAST_MBOM_USER
                td Single Line Text  
                td Length : 100
                td Always
                td True
            tr 
                td Last MBOM Sync
                td LAST_MBOM_SYNC
                td Date
                td 
                td Always
                td True
            tr 
                td MBOM
                td MBOM
                td Pick List
                td To MBOM workspace ([WS] Items), Single Selection
                td Always
                td True
        p Finally, add a  computed field 'MBOM_EDITOR' with the following formula. Make sure to provide the right workspace ID (...?wsId=57...). It has to match the EBOM workspace ID (57 matches the standard Items workspace).
        p.code CASE 
            span WHEN (DMS_ID is null) THEN '<span style="white-space:nowrap;color:#bbb;font-style:italic;">Item ID is not set</span>'
            span WHEN (END_ITEM = true) THEN '<span style="white-space:nowrap;color:#bbb;font-style:italic;">Not available for end items</span>'
            span WHEN (MATCHES_MBOM = true) THEN '<span style="white-space:nowrap;color:#bbb;font-style:italic;">EBOM matches MBOM</span>'
            span ELSE '&lt;a style="color: #0a131c;border: 1px solid #bec8d2;border-radius:3px;text-align:center;text-decoration:none !important;line-height:32px;white-space:nowrap;padding:4px 20px;width:140px;font-weight:600;" target="_blank" href ="LOCATIONmbom?wsId=57&dmsId='||DMS_ID||'"&gt;Edit MBOM&lt;/a&gt;'
            span END                         
        p While the layout does not matter, it is recommended to combine the given fields in a Matrix within this section as shown below.
        img.border(src='images/apps/mbom-editor-1.png' style='width:100%;max-width:1105px')
        h2 New BOM View 
        p Add a new BOM view 
            strong MBOM Transition 
            | to the EBOM workspace. Add all the fields that were created in the step before to this view - plus a few others. You may also add any further column as you like. The sequence of columns does not matter.
        ol  
            li Descriptor
            li PDM Category
            li Quantity
            li Number
            li MBOM
            li Last MBOM Sync
            li Process Code
            li End Item
            li Matches MBOM
            li Ignore in MBOM
            li Revision
        h1 Configuration Changes for MBOM Workspace
        p The following steps must be performed in the workspace to manage the MBOMs - which could be the same one as for the previous steps or a second one in case of a 2 workspaces setup.
        h2 Adjust Item Details
        p Make sure that the NUMBER field of your MBOM workspace is editable (always or at item creation).
        h2 Extend Item Details
        p If you use the same workspace for both the EBOM and MBOM, simply add the following fields to this EBOM &amp; MBOM workspace. You may add these fields to the matrix created before:
        ol 
            li Add field EBOM as linking pick list to the EBOM workspace (EBOM, Single Selection, editable)
            li Add checkbox 'Is Process' (IS_PROCESS, hidden, editable)
        p If instead you will use two different workspaces (i.e. manage the EBOM in 
            strong Vault Items and BOMs 
            | and the MBOM in 
            strong Items and BOMs 
            | workspace), you also have to add the following fields to the MBOM workspace in addition: 
        ol 
            li If it does not exist yet, add Single Line Text field 'DMS_ID' (DMS_ID, length 20, not editable, hidden)
            li Add date field  'Last MBOM Sync' (LAST_MBOM_SYNC, visible, editable)
            li Add Single Line Text field 'Process Code' (PROCESS_CODE, length 10, visible, editable)
            li Add computed field 'MBOM_EDITOR' with the following formula. Make sure to provide the right workspace ID (...?wsId=57...). It has to match the MBOM workspace ID (57 matches the standard Items workspace).
                p.code CASE 
                    span WHEN (DMS_ID is null) THEN '<span style="white-space:nowrap;color:#bbb;font-style:italic;">Item ID is not set</span>'
                    span WHEN (END_ITEM = true) THEN '<span style="white-space:nowrap;color:#bbb;font-style:italic;">Not available for end items</span>'
                    span ELSE '&lt;a style="color: #0a131c;border: 1px solid #bec8d2;border-radius:3px;text-align:center;text-decoration:none !important;line-height:32px;white-space:nowrap;padding:4px 20px;width:140px;font-weight:600;" target="_blank" href ="LOCATIONmbom?wsId=57&dmsId='||DMS_ID||'"&gt;Edit MBOM&lt;/a&gt;'
                    span END   
        p These fields once again can be managed in a dedicated section and matrix when using two distinct workspaces: 
        img.border(src='images/apps/mbom-editor-2.png' style='width:100%;max-width:1223;')
        h2 Add new fields to Bill of Materials tab
        p Add two new fields to the Bill of Materials tab in your MBOM workspace. These fields will be required for the next step and added to the given BOM view.
        ul 
            li Add Checkbox field 'Is EBOM Item' (IS_EBOM_ITEM, hidden, editable)
            li Add Single Line Text field 'EBOM Root Item' (EBOM_ROOT_ITEM, length 50, hidden, editable)
        img.border(src='images/apps/mbom-editor-10.png' style='width:100%;max-width:1260px')
        h2 BOM View
        p If you use the same workspace for both the EBOM and MBOM, add the following fields to the existing BOM view 
            strong MBOM Transition
            |:
        ol 
            li EBOM 
            li Is Process
            li Is EBOM Item 
            li EBOM Root Item
        p If instead you will use two different workspaces, you have to add a new BOM view 
            strong MBOM Transition 
            |with at least the following columnns:
        ol  
            li EBOM
            li Is Process
            li Process Code
            li Descriptor
            li Revision
            li Quantity
            li Is EBOM Item 
            li EBOM Root Item
        h1 Additional step for 2 workspaces setup 
        p Make sure that the MBOM workspace allows for BOM connections to the EBOM workspace:
        img.border(src='images/apps/mbom-editor-4.jpg' style='width:100%;max-width:900px;')
        h1 Scripts
        p For both the EBOM and MBOM workspace, the system has to store the dmsID for new records in field DMS_ID. Add the following script code to the creation event of both workspaces. If your tenant is based on the template released in April 2023, this field exists in your tenant and will be set by script already.
        p.code
            span item.DMS_ID = dmsID;
        h1 Default Values for new items 
        p When users add operations and MBOM items, these new items may receive default values for defined fields, like a specific type. Such defaults can be defined in the file settings.js - see next chapter for details. The default settings file provides a placeholder example:
        img.border(src='images/apps/mbom-editor-9.png' style='width:100%;max-width:725px;')
        p You can provide an array of all the fields to be populated with default values. As shown in the example above, this requires the field's ID (TYPE) and value. In addition, the setting 
            strong fieldsToCopy 
            |enables definition of a list of fields which will be copied from the given related EBOM item to the new MBOM item.
        h1 Server Settings File
        p Review the following contents in file 
            strong settings.js
            |. The default configuration matches the standard tenant template and makes use of the 
            strong Items 
            | workspace only. If you change this file, a restart of your server is required.
        p.code  
            span export.config = {
            span.indent 'mbom' : {
            span.indent-2 'wsIdEBOM' : '57',
            span.indent-2 'wsIdMBOM' : '57',
            span.indent-2 'bomViewNameEBOM' : 'MBOM Transition'
            span.indent-2 'bomViewNameMBOM' : 'MBOM Transition'
            span.indent-2 'fieldIdEBOM' : 'EBOM'
            span.indent-2 ...
            span.indent }
            span }  
        h2 Field Mapping 
        p This area within settings.js contains a couple of parameters to adjust the field IDs being used whenever needed. You may want to review this list, but if you followed the setup instructions, this mapping should be fine already.
            table   
                tr 
                    td fieldIdEBOM
                    td Field of MBOM workspace to refer to given EBOM item
                tr 
                    td fieldIdMBOM
                    td Field of EBOM workspace to refer to given MBOM item
                tr 
                    td fieldIdNumber
                    td Number field of both EBOM and MBOM Workspace
                tr 
                    td fieldIdTitle
                    td Title field of MBOM Workspace that will be used when creating new processes
                tr 
                    td fieldIdCategory
                    td Category field of EBOM Workspace (being used to highlight certain categories)
                tr 
                    td fieldIdProcessCode
                    td Process Code field of both EBOM and MBOM Workspace
                tr 
                    td fieldIdEndItem
                    td End Item field of EBOM Workspace
                tr 
                    td fieldIdMatchesMBOM
                    td Matches MBOM field of EBOM Workspace
                tr 
                    td fieldIdIgnoreInMBOM
                    td Ignore in MBOM field of EBOM Workspace
                tr 
                    td fieldIdIsProcess
                    td Is Process field of MBOM Workspace
                tr 
                    td fieldIdLastSync
                    td Last MBOM Sync field of EBOM and MBOM Workspace
                tr 
                    td fieldIdLastUser
                    td Last MBOM User field of EBOM Workspace
                tr 
                    td fieldIdEBOMItem
                    td Field 'Is EBOM Item' in MBOM Workspace BOM
                tr 
                    td fieldIdEBOMRootItem
                    td Field 'EBOM Root Item' in MBOM Workspace BOM
        h2 Application Options
        p Following settings are much more important. They impact the mechanism of the MBOM Editor. Please review these settings carefully.
            table   
                tr 
                    th Setting 
                    th Default Value    
                    th Description
                tr 
                    td wsIdEBOM 
                    td 57
                    td Workspace ID of your EBOM Workspace 
                tr 
                    td wsIDMBOM 
                    td 57
                    td Workspaces ID of your MBOM Workspace (can be the same as EBOM or a different one)
                tr 
                    td bomViewNameEBOM
                    td MBOM Transition
                    td BOM View being used to expand the EBOM
                tr 
                    td bomViewNameMBOM
                    td MBOM Transition
                    td BOM View being used to expand the MBOM
                tr 
                    td fieldsToCopy
                    td ['TITLE', 'DESCRIPTION']
                    td Defines a list of fields to be copied from EBOM to MBOM when the editor creates the MBOM root node. This is happening when the editor is launched for the first time for a given EBOM item. These fields must be available in both the EBOM and MBOM workspace with the same id.
                tr  
                    td revisionBias
                    td working 
                    td Defines the BOM expansion bias, ensuring to use working versions of all items automatically. Change this to release if you want to work with released data instead. Note that if set to working, the MBOM Editor will automatically navigate to the latest working version of an EBOM item, even if it gets opened from a released item.
                tr  
                    td pinMBOMItems
                    td false 
                    td Determines if relationship in MBOM should be pinned to the given revision
                tr  
                    td suffixItemNumber
                    td -M
                    td When the editor is opened for an EBOM item that does not have matching MBOM item yet, this given MBOM root item will be created automatically. If this parameter is set, this MBOM root item will be created with the same part number as the matching EBOM item plus the given suffix. With this standard value, EBOM item 00812 will be connected to MBOM item 00812-M for example.
                tr 
                    td newDefaults
                    td ['ITEM_TYPE' , { 'link' : '/api/v3/lookups/CUSTOM_LOOKUP_ITEM_TYPES/options/34' }]
                    td Provide default values for new items being created by the MBOM Editor (i.e. the Processes). Provide an array of pairs containing fieldId and given value. The default value sets the item to 'Process' (works with latest tenant template only).
                tr 
                    td searches
                    td [{ 'title' : 'Purchased Parts', 'query' : 'ITEM_DETAILS:CATEGORY%3DPurchased' }, { 'title' : 'Packaging Parts', 'query' : 'ITEM_DETAILS:CATEGORY%3DPackaging' }]
                    td The Add Items tab may provide preconfigured queries for quick access to relevant MBOM items, right underneath the generic Search view. This list of predefined views can be adjusted here. Provide a list of views, defined by a title to be displayed in the editor and the given query string to execute. If you are not sure about the query string, please have a look at the standard search dialog and review the Network tab in your browser to grab the matching search filters.
        include ../framework/viewer.pug
        h2 Viewer Part Number Mapping
        p The MBOM Editor will load the selected EBOM item's viewable in the viewer and allow for interactions between the BOMs and the viewer. However, this requires a mappging of your item numbers and the property within the dwf which holds the item number as well. 
        p For a proper match, see the 'viewer' parameters at the end of settings.js. Provide the field ID of your Number field in EBOM workspace as 'fieldIdPartNumber'. Additionally, provide a list of possible property names in 'partNumberProperties' that might be present in your dwf files and contain the matching number too - the first occurence will be taken into account.
        p.code  
            span export.config = {
            span.indent 'viewer' : {
            span.indent-2 'fieldIdPartNumber' : 'NUMBER'
            span.indent-2 'partNumberProperties' : ['Part Number', 'Name', 'label', 'Artikelnummer', 'Bauteilnummer'],
            span.indent-2 'backgroundColor' : 255,
            span.indent-2 'groundReflection' : false,
            span.indent-2 'groundShadow' : true
            span.indent-2 ...
            span.indent }
            span }  
        h1 Support for multiple sites
        p With the standard configuration steps above, there will be only one MBOM per EBOM. However, the setup can be changed to support multiple MBOMs, for example to have site specific MBOMs. To achieve this setup, the fields that were created formerly must be cloned for each site.
        p By following the steps below, the existing fields will be kept in order to have a 'standard' base MBOM. In addition, further fields will be added to capture the MBOM for 'Site 1' and 'Site 2'. 
            br
            |Each site requires a unique id that you can define yourself. This id must be used to name the new fields and it will be passed to the MBOM editor to define the site context. In this setup, 'G' will be used for the generic MBOM while '1' and '2' are used for the site specific MBOMs. Keep in mind that these suffixes will get appended to all site specific MBOM item numbers.
        ol 
            li In the EBOM workspace, adjust the layout of the MBOM transition section as shown below, by adding a second matrixes to hold all the site specific contents: 
                img.border(src='images/apps/mbom-editor-6.png' style='max-width:1158px;')
            li Create new fields for the 2nd matrix. You have to create the same fields multiple times, one for each site. Always append the site index (G, 1, 2) to each field while keeping the field base name identical. Here are the fields for the Generic MBOM:
                ul 
                    li MBOM_G: Linking picklist to MBOM item workspace (single selection, editable)
                    li LAST_MBOM_SYNC_G: Date field (editable)
                    li LAST_MBOM_USER_G: Single Line Text (length 100, editable)
                    li MBOM_EDITOR_G: Computed field with the following formula. Note that the URL contains a parameter to identify the site (G)
                p.code CASE 
                    span WHEN (DMS_ID is null) THEN '<span style="white-space:nowrap;color:#bbb;font-style:italic;">Item ID is not set</span>'
                    span WHEN (END_ITEM = true) THEN '<span style="white-space:nowrap;color:#bbb;font-style:italic;">Not available for end items</span>'
                    span WHEN (MATCHES_MBOM = true) THEN '<span style="white-space:nowrap;color:#bbb;font-style:italic;">EBOM matches MBOM</span>'
                    span ELSE '&lt;a style="color: #0a131c;border: 1px solid #bec8d2;border-radius:3px;text-align:center;text-decoration:none !important;line-height:32px;white-space:nowrap;padding:4px 20px;width:140px;font-weight:600;" target="_blank" href ="LOCATIONmbom?wsId=57&dmsId='||DMS_ID||'&options=site:G"&gt;Edit MBOM&lt;/a&gt;'
                    span END   
                p Repeat these steps for site 1 and 2 accordingly. 
            li If you followed the setup instructions for a single MBOM before, remove the following fields as they are no longer required:
                ul  
                    li MBOM 
                    li Last MBOM Sync 
                    li Last MBOM User
                    li MBOM Editor
            li In the end, the MBOM section should look like this: 
                img.border(src='images/apps/mbom-editor-5.png' style='max-width:1158px;')
                p Note that you can choose other field labels of course. This documentation only reuses the field ID to better describe the setup process.           
            li In the EBOM workspace's BOM view 
                strong MBOM Transition 
                |add the following columns:    
                ul 
                    li MBOM_G
                    li MBOM_1
                    li MBOM_2 
                img.border(src='images/apps/mbom-editor-7.png' style='max-width:1080px;')
                p Note that your bom view might be named differently. Check for the name in use by validating setting mbom.bomViewNameEBOM in settings.js
        p Users are now able to open the editor for a specific site. Each site will receive a specific MBOM with a dedicated part number (the site suffix gets appended at the end):
            img.border(src='images/apps/mbom-editor-8.png' style='max-width:1188px;')
    .log 
        h1 MBOM Editor Change Log 
        table 
            tr 
                td September 27, 2024
                td Bugfix
                td The setting 
                    span.code newDefaults 
                    |only got applied to new processes, not the MBOM root item. This has been fixed.
            tr 
                td September 26, 2024
                td Bugfix
                td If pick list fields were defined in fieldsToCopy, the MBOM editor failed to load. Now the given field values get copied properly.
            tr 
                td September 11, 2024
                td New Feature 
                td Add new button to EBOM actions enabling to set given assembly as end item
            tr 
                td 
                td New Feature 
                td A new button in EBOM Alignment can be used to hide the viewer
            tr 
                td 
                td New Feature 
                td In tab EBOM Alignment, users can now hide components in the viewer
            tr 
                td 11. June 2023
                td Enhancement 
                td Enabled configuration of viewer features using the settings file and parameter
                    span.code viewerFeatures
            tr 
                td 13. Dezember 2023
                td Bugfix
                td When clicking button Add All, only visible items were taken into account. Subcomponents of assemblies that were collapsed were not added to the MBOM.
            tr 
                td 21. September 2023
                td New Feature
                td When items in MBOM get selected, the adjacent items get highlighted in the viewer as well (red and green)
            tr 
                td 3. August 2023
                td Bugfix
                td Switch to latest version automatically (i.e. if editor is opened from Rev A, the editor will locate matching working version first and then open data for this working version item)
            tr 
                td 21. July 2023
                td New Feature
                td Insert EBOM as is to MBOM (supported by checkbox Matches MBOM)
            tr 
                td 
                td New Feature
                td Insert EBOM as MBOM node (this creates the matching MBOM for the given EBOM in the editor and inserts the node)
            tr 
                td 7. July 2023
                td New Feature
                td Support of multiple Manufacturing BOMs per item
            tr 
                td 
                td Enhancements
                td Better alignment with new default client: ready-to-use settings and replacement of 'operations' with 'processes' reflected by a dedicated item type
            tr 
                td 
                td Bugfix
                td Items that are added from outside the EBOM will no longer be taken into account in item matching / coloring
            tr 
                td 
                td Bugfix
                td When items get added to a location twice, its quantity will be increased accordingly; there will be no second node in the BOM any