.tile(data-name='Variant Manager')
    .tile-image(style="background: url('images/app-variant-manager.png') no-repeat;background-size:contain;")
    .tile-details
        .tile-title Variants Manager
        .tile-subtitle Engineers and Product Managers can define variants of an existing product design. This helps creating BOM variants based on color, material or other properties with ease.
        .tile-access 
            .tile-endpoint /variants
            .tile-button.button.default(href="https://youtu.be/v6ZZN3Xo-BM" target="_blank") Play Video
    .instructions
        h1 Features 
        ul 
            li Manage variant items that inherit master data from the base item
            li 3D viewer helps to identify the right items
            li Keep multiple BOM structures in sync
            li Manage multiple variants at the same time or focus a single variant only
            li Dynamically define the properties that define a variant
        h1 New Workspace Item Variants 
        p A new workspace is required to manage items and BOMs that are specific for a given variant. These item variants will refer to the given base item to allow for data reuse by using derived fields, but will also have additional fields that define a variant (i.e. color, material, dimeions, serial #, ...). Customers can choose any properties they like for these variant specific properties, the application will adjust accordingly.
        h2 Create new workspace
        p Use the 
            strong Workspace Manager 
            |to create new workspace 
            strong Item Variants 
            |as revision controlled workspace. 
            img.border(src='images/apps/variant-manager-1.png' style='max-width:1092px;')
        h2 Set Item Details of new workspace
        p Create 3 sections in 
            strong Item Details 
            | tab: 
        ul
            li  Basic
            li Variant Definition
            li Base Item 
        p Add the following fields to section 
            strong Basic
            |:
            ol  
                li Number (id: NUMBER, Single Line Text, length : 20, Visibility : Always, Editable: false)
                li Index (id: VARIANT_INDEX, Single Line Text, length : 5, Visibility : Always, Editable: false)
                li Title (id: TITLE, Single Line Text, length: 200, Editable: true)
                li Base Item (id: BASE_ITEM, Picklist to [WS] Items, single selection, Editable: false)
                li DMS_ID_BASE_ITEM (id: DMS_ID_BASE_ITEM, Single Line Text, length : 20, Visibility : Never, Editable: true)
        p In section 
            strong Variant Definition
            |, add all the fields that will be used to define a variant, for example Colour and Material. This section may include any type of field, including pick lists (with single selection).
        p All data that should be derived from the 
            strong Base Item 
            | must be defined in section 
            strong Base Item Data
            |. Make use of derived fields to copy data from the given base item. This may for example include Type, Description, Image and further fields of your items workspace.
        img.border(src='images/apps/variant-manager-4.png' style='max-width:737px;')
        h2 Descriptor
        p Set the workspace's 
            strong Descriptor 
            | to display the fields Number, Index and Title:
        img.border(src='images/apps/variant-manager-5.png' style='max-width:493px;')
        h2 Workspace Relationships
        p Enable required relationships in the BOM tab:
        img.border(src='images/apps/variant-manager-2.png' style='max-width:862px;')
        p As 
            strong Item Variants 
            |are revision controlled, add this new workspace to the 
            strong Managed Items 
            | tab of the following workspaces: 
            ul 
                li Problem Reports
                li Change Requests
                li Change Orders
        h2 Tab Names 
        p Adjust the names of some tabs as shown below.
        p   
            table 
                tr 
                    th Tab 
                    th New Label 
                tr 
                    td Item Details 
                    td Item Variant 
                tr 
                    td Workflow Actions 
                    td Related Change Processes
        h2 Access Permissions
        p Create a role for the new workspace enabling creation of new records, BOM management and attachments. 
            br
            |Make sure that users also can access the working versions of records.
        img.border(src='images/apps/variant-manager-3.png' style='max-width:351px;')
        h2 Bill of Materials tab
        p Add the following BOM field in workspace 
            strong Item Variants
            |:
            br
        table 
            tr 
                th Field ID 
                th Field Type 
                th Field Settings
                th Editable
            tr 
                td EDGE_ID_BASE_ITEM
                td Single Line Text
                td Length : 20, Visibility: Never
                td true
        p Add the following columns to the 
            strong Default View 
            | (sequence does not matter):
            table   
                tr 
                    th Field ID
                    th Field Source 
                tr 
                    td EDGE_ID_BASE_ITEM
                    td BOM Fields
                tr 
                    td DMS_ID_BASE_ITEM
                    td Item Details Fields
        p In addition, add all fields of section 
            strong Variant Definition 
            |to this table (for example Colour and Material).
        h2 Scripts
        p In order to link the variant items with the given base items, a script is required. Create a new action script 
            strong Item Variants onCreate onEdit 
            | and attach this script to the create and edit event of workspace 
            strong Item Variants
            |:
        p.code
            span linkBaseItem();
            br
            span function linkBaseItem() {
            span.indent if(item.BASE_ITEM !== null) return;
            span.indent if(item.DMS_ID_BASE_ITEM === null) return;
            span.indent var elemBase = loadItem(item.DMS_ID_BASE_ITEM);
            span.indent var listVariants = elemBase.VARIANTS;
            span.indent if(listVariants === null) {
            span.indent-2 listVariants = []; 
            span.indent-2 elemBase.VARIANTS = item; 
            span.indent } else  elemBase.VARIANTS.add(item);
            span.indent item.NUMBER         = elemBase.NUMBER;
            span.indent item.VARIANT_INDEX  = ('00' + listVariants.length).toString().slice(-2);
            span.indent item.BASE_ITEM = elemBase;
            span }
        img.border(src='images/apps/variant-manager-7.png' style='max-width:1082px;')
        h1 Action Button 
        p Enable access to the 
            strong Variants Manager 
            | app by adding a new computed field to your 
            strong Items 
            | workspace. Use the following formula for the new field: 
        p.code '&lt;a style="border: 1px solid #bec8d2;border-radius:3px;color: #0a131c;font-weight:600;line-height:32px;padding:4px 20px;text-align:center;text-decoration:none !important;white-space:nowrap;" target="_blank" href ="LOCATIONvariants?wsId=57&dmsId='||DMS_ID||'"&gt;Variant Manager&lt;/a&gt;'
        h1 Adjust Items Workspace
        h2 Add field Variants
        p In the 
            strong Item Details 
            | tab of workspace Items, add a linking picklist field 
            strong Variants 
            | allowing multiple selection. This field should link to the new 
            strong Item Variants 
            | workspace created before. Set this field visible and editable.
        img.border(src='images/apps/variant-manager-6.png' style='max-width:851px;')
        h2 Add field to store dmsID
        p The items workspace (from where the app will be launched) also must have a field containing the item's dmsID. If not present yet, add a new single line text field with id 
            strong DMS_ID 
            | in the items workspace (hidden). Let this field be set automatically at item creation by script as shown below. 
            br
            |Tenants created mid 2023 or later have this field and script already.
        p.code  
            span item.DMS_ID = dmsID;
        h2 Configure BOM View 
        p The application requires a BOM view with the following columns: 
            table   
                tr 
                    th Field
                    th Field Source 
                tr 
                    td Descriptor
                    td System Fields
                tr 
                    td Quantity
                    td BOM Fields
                tr 
                    td Number
                    td Item Details Fields
        p You may add a new view 
            strong Variant Management 
            | with these columns or reuse an existing BOM view containing these columns (the view may also contain further columns of course). If you prefer to use a BOM view that is not named 
            strong Variant Management
            | , you have to speficfy this view's name in the server's settings file in parameter.
        p.code 
            span config.variants.bomViewNameVariants : 'Variant Management'
        p See next chapter 
            strong Server Settings File 
            |for details.
        h1 Optional: Enable Product Variants 
        p To better integrate the new workspace for the item variants with the Products workspace, you may adjust the grid tab of workspace Products. The BOM column now can be changed to allow for selection of the given variant BOM: 
        img.border(src='images/apps/variant-manager-8.png' style='max-width:1422px;')
        h1 Server Settings File 
        p If you require usage of different field names, table names etc, please have a look at the settings.js file and locate section variants, listing all possible configurable settings as shown below. Review the first option 
            strong wsIdItemVariants 
            |which must contain the workspace ID of your newly created workspace. You can retrieve this ID from your browser's URL when navigating to this workspace using the workspaces menu.
        p.code  
            span export.config = {
            span.indent 'variants' : {
            span.indent-2 'wsIdItemVariants' : 208
            span.indent-2 'variantsSectionLabel' : 'Variant Definition',
            span.indent-2 'fieldIdVariantBaseItem' : 'DMS_ID_BASE_ITEM',
            span.indent-2 'fieldIdItemVariants' : 'VARIANTS',
            span.indent-2 'bomViewNameItems' : 'Variant Management',
            span.indent-2 'bomViewNameVariants' : 'Default View'
            span.indent }
            span }
        p Adjust these settings if needed and restart your server afterwards to apply the given changes.
            table 
                tr 
                    th Setting 
                    th Default Value 
                    th Description  
                tr
                    td wsIdItemVariants
                    td -
                    td Workspace ID of your new 
                        strong Item Variants 
                        |workspace
                tr  
                    td variantsSectionLabel
                    td Variant Definition 
                    td Name of section in the Item Variants workspace which contians all the fields that define a variant. This section will drive the columns of the manager dialog.
                tr 
                    td fieldIdItemVariants
                    td VARIANTS 
                    td Field ID of your Items workspaces which contians the linking picklist to item variants, to allow for retrieval of existing variants.
                tr 
                    td bomViewNameItems
                    td Variant Management 
                    td BOM view of items workspace which contains the required fields
                tr 
                    td bomViewNameVariants
                    td Default View 
                    td BOM view of item variants workspace which contains the required fields
        h2 Configuring Viewer Features
        include ../framework/viewer.pug
    .log 
        h1 Variant Manager Change Log 
        table 
            tr 
                td 28. June 2024
                td Viewer Features Configuration
                td Additional settings were added to settings.js enabling to select the features available in the viewer
            tr 
                td 7. July 2023
                td Initial Release
                td This is the very first version of this application