.tile(data-name='Process Dashboard')
    .tile-image(style="background: url('images/app-process-dashboard.png') no-repeat;background-size:contain;")
    .tile-details
        .tile-title Process Dashboard
        .tile-subtitle Manufacturing, Services, Suppliers and Customers can be involved in business processes easily with this application focussing on management of one defined business process only (i.e. to capture PRs)
        .tile-access 
            .tile-endpoint /dashboard
            .tile-button.button.default(href="dashboard" target="_blank") Open
    .instructions
        h1 Features
        p Users can track progression of processes, update existing processes and create new processes with ease using this dashboard. The dashboard provides access to a single workspace only to reduce complexity.
        ul  
            li Create new processes by providing basic data only (only if create permission is granted)
            li Review history of selected processes 
            li Update status of a given process 
            li Download and upload process attachments
            li Use 3D markups to document process
            li Access bookmarked and recent processes 
            li Track proces progression in Kanban 
            li Review process updates in a chart
            li Access defined dashboard directly (by providing valid wsId as parameter) or select from configured profiles
        h1 Configuration Settings
        p This dashboard can be used with any workspace but requires the matching configuration in file 
            strong settings.js
            |. This application is preconfigured for the workspaces 
            strong Problem Reports 
            |, 
            strong Change Requests 
            | and 
            strong Project Tasks 
            |of default tenants. Additional workspace configuration profiles can be added by copying one of the existing configurations shown below.
        p.code
            span 'dashboard' : [{
            span.indent 'title'             : 'Problem Reporting Dashboard',
            span.indent 'wsId'              : 82,
            span.indent 'icon'              : 'account_tree', // Use https://fonts.google.com/icons to search for icons
            span.indent 'fieldIdSubtitle'   : 'DESCRIPTION',
            span.indent 'fieldIdItem'       : 'AFFECTED_ITEM',
            span.indent 'imageFieldsPrefix' : 'IMAGE_',
            span.indent 'workflowHistory'   : {
            span.indent-2 'showNextActions'       : true,
            span.indent-2 'excludedTransitions'   : ['Close Report'],
            span.indent-2 'finalStates'           : ['Completed']
            span.indent  },
            span.indent 'progress' : [
            span.indent-2 { 'label' : 'New',         'color' : colors.red,    'states' : ['Create'] },
            span.indent-2 { 'label' : 'Analysis',    'color' : colors.yellow, 'states' : ['Review', 'Technical Analysis'] },
            span.indent-2 { 'label' : 'Improvement', 'color' : colors.yellow, 'states' : ['CAPA in progress', 'Change Request in progress'] },
            span.indent-2 { 'label' : 'Completed',   'color' : colors.green,  'states' : ['Completed'] }
            span.indent ]
            span },{
            span.indent 'title' : 'Change Requests Management',
            span.indent 'wsId'  : 83,
            span.indent 'icon'  : 'rebase_edit',
            span.indent 'progress' : [
            span.indent-2 { 'label' : 'Planning',    'color' : '#000000',     'states' : ['Create']  },
            span.indent-2 { 'label' : 'Review',      'color' : colors.red,    'states' : ['Review & Impact Analysis', 'Peform Tasks', 'Change Control Board Review']  },
            span.indent-2 { 'label' : 'In Work',     'color' : colors.yellow, 'states' : ['Change Order in progress']   },
            span.indent-2 { 'label' : 'Completed',   'color' : colors.green,  'states' : ['Completed'] }
            span.indent ]
            span },{
            span.indent 'title' : 'Project Actitivity Management',
            span.indent 'wsId'  : 90,
            span.indent 'icon'  : 'account_tree',
            span.indent 'progress' : [
            span.indent-2 { 'label' : 'Planning',    'color' : colors.red,    'states' : ['Planning']  },
            span.indent-2 { 'label' : 'Assigned',    'color' : colors.red,    'states' : ['Assigned']  },
            span.indent-2 { 'label' : 'In Work',     'color' : colors.yellow, 'states' : ['In Work']   },
            span.indent-2 { 'label' : 'Review',      'color' : colors.green,  'states' : ['Review']    },
            span.indent-2 { 'label' : 'Completed',   'color' : colors.green,  'states' : ['Completed'] }
            span.indent ]
            span }]
        p Each profile requires the settings listed below.
            table   
                tr 
                    th Setting 
                    th Example Value    
                    th Description
                tr 
                    td title 
                    td Problem Reporting Dashboard
                    td Sets the application title shown in the main toolbar and tab name 
                tr 
                    td wsId 
                    td 82
                    td ID of PLM workspace to use for the dashboard
                tr 
                    td icon 
                    td account_tree
                    td Google font icon to use for the business process type (Use https://fonts.google.com/icons to search for icons)
                tr 
                    td fieldIdSubtitle 
                    td DESCRIPTION
                    td Use this setting to select the field which will be used as subtitle for the tiles of business processes
                tr 
                    td fieldIdItem 
                    td AFFECTED_ITEM
                    td Provide ID of the field that is used to connect the business process to a context item. If this optional field is defined and has a value, the given item's viewable will be shown to the right.
                tr 
                    td imageFieldsPrefix 
                    td IMAGE_
                    td Provide the prefix of Image fields to be used to store markups. If this setting is omitted, the markup feature will not be enabled when opening a selected process.
                tr 
                    td progress 
                    td [..]
                    td Maps the business process workflow states to a linear sequene of steps to provide a better overview of the process progression. Each entry of this array must contain a label that will be used in the applcation, a color code to use for this state as well as the list of workflow 'states' that match to this step.
                tr 
                    td workflowHistory 
                    td {..}
                    td These optional parameters can be used to suppress the workflow history display. It also enables to hide certain transitions and to define the final states (which will be shown with a different icon).
                
        h1 Access the Dashboard
        p You can access the process dashboard with the 
            strong /dashboard
            |  endpoint by providing the workspace profile to use. The value of parameter wsId has to match the wsId property value of the configuration profile to use. If you're connected to a default tenant of 2023 or later, you can use these links:
        div(style='display:flex;gap:10px;') 
            a(href='dashboard?wsId=82' target='_blank') Problem Reporting Dashboard (wsId 82)
            a(href='dashboard?wsId=98' target='_blank') Non Conformances Dashboard (wsId 98)
        p You can also omit the workspaceId and select from the list of configured profiles instead:
        a(href='dashboard?' target='_blank') Process Dashboard Profiles
    .log 
        h1 Process Dashboard Change Log 
        table 
            tr 
                td 8. March 2024
                td Extension
                td Users now can access a landing page with all available dashboard configurations by omitting the wsId parameter
            tr 
                td 6. March 2024
                td Extension
                td The dashboard now validates the user's access permissions and only shows the create panel if the 'Add Items' permission is granted to the user in PLM
            tr 
                td 
                td Extension
                td Added a new configuration profile in settings.js to support the 'Supplier Deliverables' workspace of the 2023 default tenants
            tr 
                td 16. November 2023
                td Extension
                td Added configuration profile for management of Non Conformances (incl. given button in documentation)
            tr 
                td 6. October 2023
                td Release
                td Initial release of this new app