#icons.doc-content 
    h1 Icons
    .definition Use predefined icons provided by fonts.google.com. All icons shown below can be inserted easily using predefined css settings defined in 
        span.path /public/stylesheets/fonts.css
    table   
        tr 
            th Icon Only 
            th Icon With Text 
            th Button &amp; Icon
            th Button with Icon &amp; Text
        tr 
            td Add class 'icon' to your div element to insert an icon only
            td Add class 'with-icon' to your div element to insert an icon followed by text
            td Add class 'icon' to your div element having class 'button' also
            td Add class 'with-icon' to your div element having class 'button' also
        tr  
            td.code &lt;div class="icon icon-help"&gt;&lt;/div&gt;
            td.code &lt;div class="with-icon icon-help"&gt;Help&lt;/div&gt;
            td.code &lt;div class="button icon icon-help"&gt;&lt;/div&gt;
            td.code &lt;div class="button with-icon icon-help"&gt;Help&lt;/div&gt;
        tr  
            td  
                .icon.icon-help
            td  
                .with-icon.icon-help Help
            td  
                .icon.icon-help.button
            td  
                .with-icon.icon-help.button Help
    h2 Alerts
    .icon-grid
        .with-icon.icon-help .icon-help
        .with-icon.icon-important .icon-important
        .with-icon.icon-info .icon-info
        .with-icon.icon-problem .icon-problem
        .with-icon.icon-no-data .icon-no-data
    h2 Arrows
    .icon-grid
        .with-icon.icon-arrow-right .icon-arrow-right
        .with-icon.icon-chevron-up .icon-chevron-up
        .with-icon.icon-chevron-right .icon-chevron-right
        .with-icon.icon-chevron-down .icon-chevron-down
        .with-icon.icon-chevron-left .icon-chevron-left
        .with-icon.icon-north .icon-north
        .with-icon.icon-north-east .icon-north-east
        .with-icon.icon-east .icon-east
        .with-icon.icon-south .icon-south
        .with-icon.icon-south-west .icon-south-west
        .with-icon.icon-west .icon-west
        .with-icon.icon-maximize .icon-maximize
        .with-icon.icon-minimize .icon-minimize
    h2 Charts
    .icon-grid
        .with-icon.icon-bar-chart .icon-bar-chart
        .with-icon.icon-bar-chart-stack .icon-bar-chart-stack
        .with-icon.icon-donut-chart .icon-donut-chart
        .with-icon.icon-pie-chart .icon-pie-chart
        .with-icon.icon-line-chart .icon-line-chart
        .with-icon.icon-line-chart-stack .icon-line-chart-stack
        .with-icon.icon-trend-chart .icon-trend-chart
    h2 Controls
    .icon-grid
        .with-icon.icon-block .icon-block
        .with-icon.icon-check .icon-check
        .with-icon.icon-checkmark .icon-checkmark
        .with-icon.icon-create .icon-create
        .with-icon.icon-remove .icon-remove
        .with-icon.icon-check-circle-add .icon-check-circle-add
        .with-icon.icon-clear .icon-clear
        .with-icon.icon-check-box .icon-check-box
        .with-icon.icon-check-box-checked .icon-check-box-checked
        .with-icon.icon-close .icon-close
        .with-icon.icon-clone .icon-clone
        .with-icon.icon-radio-checked .icon-radio-checked
        .with-icon.icon-radio-unchecked .icon-radio-unchecked
        .with-icon.icon-collapse .icon-collapse
        .with-icon.icon-expand .icon-expand
        .with-icon.icon-fold .icon-fold
        .with-icon.icon-unfold .icon-unfold
        .with-icon.icon-toggle-collapse .icon-toggle-collapse
        .with-icon.icon-toggle-expand .icon-toggle-expand
        .with-icon.icon-refresh .icon-refresh
        .with-icon.icon-select .icon-select
        .with-icon.icon-select-circle .icon-select-circle
        .with-icon.icon-deselect .icon-deselect
        .with-icon.icon-select-all .icon-select-all
        .with-icon.icon-deselect-all .icon-deselect-all
        .with-icon.icon-reset .icon-reset
        .with-icon.icon-toggle-off .icon-toggle-off
        .with-icon.icon-toggle-on .icon-toggle-on
        .with-icon.icon-search .icon-search
        .with-icon.icon-search-list .icon-search-list
        .with-icon.icon-zoom-in .icon-zoom-in
        .with-icon.icon-resize .icon-resize
    h2 Edits
    .icon-grid
        .with-icon.icon-link .icon-link
        .with-icon.icon-link-add .icon-link-add
        .with-icon.icon-disconnect .icon-disconnect
        .with-icon.icon-link-update .icon-link-update
        .with-icon.icon-list-edit .icon-list-edit
        .with-icon.icon-list-add .icon-list-add
        .with-icon.icon-list-remove .icon-list-remove
        .with-icon.icon-upload .icon-upload
        .with-icon.icon-save .icon-save
        .with-icon.icon-undo .icon-undo
        .with-icon.icon-delete .icon-delete
        .with-icon.icon-undelete .icon-undelete
        .with-icon.icon-screenshot .icon-screenshot
    h2 Navigation
    .icon-grid
        .with-icon.icon-home .icon-home
        .with-icon.icon-menu .icon-menu
        .with-icon.icon-table .icon-table
        .with-icon.icon-columns .icon-columns
        .with-icon.icon-tabs .icon-tabs
        .with-icon.icon-dashboard .icon-dashboard
        .with-icon.icon-tiles .icon-tiles
        .with-icon.icon-tiles-list .icon-tiles-list
        .with-icon.icon-panel .icon-panel
        .with-icon.icon-toggle-layout .icon-toggle-layout
        .with-icon.icon-folder .icon-folder
        .with-icon.icon-folder-open .icon-folder-open
        .with-icon.icon-file .icon-file
        .with-icon.icon-new-window .icon-new-window
        .with-icon.icon-open .icon-open
        .with-icon.icon-go-there .icon-go-there
    h2 PLM
    .icon-grid
        .with-icon.icon-bookmark .icon-bookmark
        .with-icon.icon-bookmark-off .icon-bookmark-off
        .with-icon.icon-history .icon-history
        .with-icon.icon-mow .icon-mow
        .with-icon.icon-status .icon-status
        .with-icon.icon-viewer .icon-viewer
        .with-icon.icon-workflow .icon-workflow
        .with-icon.icon-released .icon-released
        .with-icon.icon-group .icon-group
        .with-icon.icon-user .icon-user
        .with-icon.icon-markup .icon-markup
        .with-icon.icon-picklist .icon-picklist
        .with-icon.icon-script .icon-script
        .with-icon.icon-library-script .icon-library-script
    h2 Comparison
    .icon-grid
        .with-icon.icon-contains .icon-contains
        .with-icon.icon-equals .icon-equals
        .with-icon.icon-starts-with .icon-starts-with
        .with-icon.icon-ends-with .icon-ends-with
    h2 Others
    .icon-grid
        .with-icon.icon-3d .icon-3d
        .with-icon.icon-activity .icon-activity
        .with-icon.icon-attachment .icon-attachment
        .with-icon.icon-bom .icon-bom
        .with-icon.icon-bom-tree .icon-bom-tree
        .with-icon.icon-calendar .icon-calendar
        .with-icon.icon-cart-add .icon-cart-add
        .with-icon.icon-cart-remove .icon-cart-remove
        .with-icon.icon-cart-clear .icon-cart-clear
        .with-icon.icon-cart-checkout .icon-cart-checkout
        .with-icon.icon-counter-1 .icon-counter-1
        .with-icon.icon-counter-2 .icon-counter-2
        .with-icon.icon-prev .icon-prev
        .with-icon.icon-next .icon-next
        .with-icon.icon-dark .icon-dark
        .with-icon.icon-details .icon-details
        .with-icon.icon-factory .icon-factory
        .with-icon.icon-filter .icon-filter
        .with-icon.icon-filter-empty .icon-filter-empty
        .with-icon.icon-finish .icon-finish
        .with-icon.icon-hide .icon-hide
        .with-icon.icon-highlight .icon-highlight
        .with-icon.icon-image .icon-image
        .with-icon.icon-item .icon-item
        .with-icon.icon-layers .icon-layers
        .with-icon.icon-list .icon-list
        .with-icon.icon-lock .icon-lock

        .with-icon.icon-order-in-work .icon-order-in-work
        .with-icon.icon-package .icon-package
        .with-icon.icon-pdf .icon-pdf
        .with-icon.icon-printer .icon-printer
        .with-icon.icon-product .icon-product
        .with-icon.icon-raw-material .icon-raw-material

        .with-icon.icon-rules .icon-rules

        .with-icon.icon-send .icon-send
        .with-icon.icon-settings .icon-settings
        .with-icon.icon-shipping .icon-shipping
        .with-icon.icon-show .icon-show
        .with-icon.icon-service .icon-service
        .with-icon.icon-sliders .icon-sliders
        .with-icon.icon-start .icon-start
        .with-icon.icon-stop .icon-stop
        .with-icon.icon-stock .icon-stock
        .with-icon.icon-summary .icon-summary
        .with-icon.icon-tag .icon-tag
        .with-icon.icon-target .icon-target
        .with-icon.icon-timeline .icon-timeline
        .with-icon.icon-type .icon-type        
        .with-icon.icon-width .icon-width

