tr 
    td header 
    td Can be used to suppress addition of the panel header element. This must be set to true if toolbar actions (i.e. reload) should be shown.
    td Boolean
    td No
    td true
tr 
    td headerToggle 
    td Enables collapsing and expanding the panel
    td Boolean
    td No 
    td false
tr 
    td compactDisplay 
    td Enables a compact display using additional css settings
    td Boolean
    td No 
    td false
tr 
    td search 
    td Adds quick filtering using search input on top of list
    td Boolean
    td No
    td true
tr 
    td placeholder 
    td Set placeholder text for quick filtering input
    td String
    td No
    td Type to search
tr 
    td reload 
    td Enables / disables the reload button 
    td Boolean
    td No
    td true    